Repository microsoft/terminal, pull requests merged in 2019-11, with the labels that each got.

#3256 Fix scrollbar update after terminal close
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Issue-Bug, Needs-Second, Product-Terminal, Severity-Crash

#3060 Indicate which pane is focused with the Accent color on the pan…
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
Labels: Area-User Interface, Product-Terminal

#3350 Introduce a WinRT utils library and "checked resources"
  OpenConsole.sln
  src/cascadia/TerminalApp/App.cpp
  src/cascadia/TerminalApp/App.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/init.cpp
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/lib/pch.h
  src/cascadia/WinRTUtils/LibraryResources.cpp
  src/cascadia/WinRTUtils/ScopedResourceLoader.cpp
  src/cascadia/WinRTUtils/ScopedResourceLoader.h
  src/cascadia/WinRTUtils/WinRTUtils.vcxproj
  src/cascadia/WinRTUtils/inc/LibraryResources.h
  src/cascadia/WinRTUtils/packages.config
  src/cascadia/WinRTUtils/pch.cpp
  src/cascadia/WinRTUtils/pch.h
  src/cppwinrt.build.pre.props
Labels: Area-CodeHealth, Issue-Task, Product-Terminal

#3262 Break if an early exit can not be found in InsertAttrRuns
  src/buffer/out/AttrRow.cpp
Labels: Area-Performance, Product-Conhost

#3394 Use standard 1px window borders on NC Island Window
  src/cascadia/TerminalApp/App.cpp
  src/cascadia/TerminalApp/App.h
  src/cascadia/TerminalApp/App.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/BaseWindow.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/types/ThemeUtils.cpp
  src/types/inc/ThemeUtils.h
  src/types/lib/types.vcxproj
  src/types/lib/types.vcxproj.filters
  src/types/sources.inc
Labels: Area-User Interface, Product-Terminal

#3436 Fix a problem with `bcz.cmd`
  tools/bcz.cmd
Labels: Area-Build, Product-Meta

#3408 Enable fullscreen mode
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/App.cpp
  src/cascadia/TerminalApp/App.h
  src/cascadia/TerminalApp/App.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppKeyBindings.cpp
  src/cascadia/TerminalApp/AppKeyBindings.h
  src/cascadia/TerminalApp/AppKeyBindings.idl
  src/cascadia/TerminalApp/AppKeyBindingsSerialization.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/defaults.json
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
  src/cascadia/inc/cppwinrt_utils.h
Labels: Area-User Interface, Product-Terminal

#3160 Improve the DECSC/DECRC implementation
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Area-VT, Product-Conhost

#3414 Prevent cleanup of object given to handle that failed access check
  src/host/ft_host/API_BufferTests.cpp
  src/host/ft_host/Common.cpp
  src/host/ft_host/Common.hpp
  src/host/ft_host/InitTests.cpp
  src/host/ut_host/Host.UnitTests.vcxproj
  src/host/ut_host/Host.UnitTests.vcxproj.filters
  src/host/ut_host/ObjectTests.cpp
  src/host/ut_host/sources
  src/server/ObjectHandle.cpp
  src/server/ObjectHandle.h
  src/server/ObjectHeader.cpp
  src/server/ObjectHeader.h
Labels: Needs-Second, Priority-1

#3460 Prevents DWM crashing from also crashing us
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
Labels: Area-User Interface, Needs-Second, Product-Terminal, Severity-Crash

#3353 Create a doc for adding common third-party tools
  doc/user-docs/ThirdPartyToolProfiles.md
Labels: Issue-Docs

#3463 Move AzureConnection's strings into localizable resources
  src/cascadia/TerminalConnection/AzureConnection.cpp
  src/cascadia/TerminalConnection/AzureConnection.h
  src/cascadia/TerminalConnection/AzureConnectionStrings.h
  src/cascadia/TerminalConnection/Resources/en-US/Resources.resw
  src/cascadia/TerminalConnection/TerminalConnection.vcxproj
  src/cascadia/TerminalConnection/TerminalConnection.vcxproj.filters
  src/cascadia/TerminalConnection/init.cpp
Labels: Area-AzureShell

#3478 Add support for tab drag and drop
  src/cascadia/TerminalApp/TabRowControl.xaml
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-User Interface, Product-Terminal

#3470 wpf: Add .NET Core target to WPF control
  src/cascadia/WpfTerminalControl/WpfTerminalControl.csproj
Labels: Area-WPFControl

#3506 Don't ever try to pass "" as a starting directory, no way
  src/cascadia/TerminalConnection/ConptyConnection.cpp
Labels: AutoMerge

#3527 doc: allow null for foreground/background in schema
  doc/cascadia/profiles.schema.json
Labels: Area-Schema, Issue-Docs

#3521 SnapOnInput on Paste
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/ITerminalInput.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
Labels: Area-TerminalControl, AutoMerge, Product-Terminal

#3117 Fixed #3101: Alt+Arrow-Keys print extra characters
  src/cascadia/TerminalCore/Terminal.cpp
Labels: Needs-Second

#3471 Add Selection Background Color as a setting to Profiles and Col…
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/ColorSchemeTests.cpp
  src/cascadia/LocalTests_TerminalApp/ProfileTests.cpp
  src/cascadia/TerminalApp/ColorScheme.cpp
  src/cascadia/TerminalApp/ColorScheme.h
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettings/IControlSettings.idl
  src/cascadia/TerminalSettings/TerminalSettings.cpp
  src/cascadia/TerminalSettings/terminalsettings.h
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
  src/cascadia/ut_app/JsonTests.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
Labels: Area-Rendering, Area-Settings, Product-Terminal

#3535 Copy RTF data to the clipboard
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
Labels: Product-Terminal

#3391 Add support for arbitrary args in keybindings
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/KeyBindingsTests.cpp
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/ActionAndArgs.h
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppKeyBindings.cpp
  src/cascadia/TerminalApp/AppKeyBindings.h
  src/cascadia/TerminalApp/AppKeyBindings.idl
  src/cascadia/TerminalApp/AppKeyBindingsSerialization.cpp
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/defaults.json
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/ut_app/precomp.h
Labels: Area-Settings, Product-Terminal

#3204 Expand env. vars in backgroundImage
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/inc/LibraryIncludes.h
Labels: Area-Settings, Issue-Task, Product-Terminal

#3540 Decouple "Active Terminal" and "Focused Control"
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/inc/cppwinrt_utils.h
Labels: Area-User Interface, Needs-Second, Product-Terminal

#3530 Add "format : color" to Profiles Schema color items
  doc/cascadia/profiles.schema.json
Labels: Area-Schema, Issue-Docs

#2039 spec: propose an evolution of closeOnExit
  doc/specs/#2563 - closeOnExit and TerminalConnection evolution.md
Labels: Area-TerminalConnection, Issue-Feature, Product-Terminal

#3618 Re-add keybindings to new tab dropdown
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppKeyBindings.cpp
  src/cascadia/TerminalApp/AppKeyBindings.h
  src/cascadia/TerminalApp/AppKeyBindings.idl
  src/cascadia/TerminalApp/AppKeyBindingsSerialization.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, Needs-Second, Product-Terminal

#3051 Upgrade UiaProviders to WRL::ComPtr
  src/cascadia/TerminalApp/App.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControlAutomationPeer.cpp
  src/cascadia/TerminalControl/TermControlAutomationPeer.h
  src/cascadia/TerminalControl/TermControlUiaProvider.cpp
  src/cascadia/TerminalControl/TermControlUiaProvider.hpp
  src/cascadia/TerminalControl/UiaTextRange.cpp
  src/cascadia/TerminalControl/UiaTextRange.hpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/WindowUiaProvider.cpp
  src/cascadia/WindowsTerminal/WindowUiaProvider.hpp
  src/inc/LibraryIncludes.h
  src/interactivity/win32/screenInfoUiaProvider.cpp
  src/interactivity/win32/screenInfoUiaProvider.hpp
  src/interactivity/win32/uiaTextRange.cpp
  src/interactivity/win32/uiaTextRange.hpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/interactivity/win32/window.cpp
  src/interactivity/win32/window.hpp
  src/interactivity/win32/windowUiaProvider.cpp
  src/interactivity/win32/windowUiaProvider.hpp
  src/types/ScreenInfoUiaProviderBase.cpp
  src/types/ScreenInfoUiaProviderBase.h
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
  src/types/WindowUiaProviderBase.cpp
  src/types/WindowUiaProviderBase.hpp
Labels: Area-CodeHealth

#2814 Add suppressApplicationTitle as boolean
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalSettings/IControlSettings.idl
  src/cascadia/TerminalSettings/ICoreSettings.idl
  src/cascadia/TerminalSettings/TerminalSettings.cpp
  src/cascadia/TerminalSettings/terminalsettings.h
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
Labels: Area-Settings, Product-Terminal

#1919 #459 IME UI does not follow the cursor in Windows Terminal
  src/cascadia/TerminalControl/TSFInputControl.cpp
  src/cascadia/TerminalControl/TSFInputControl.h
  src/cascadia/TerminalControl/TSFInputControl.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TerminalControl.vcxproj
  src/cascadia/TerminalControl/pch.h
  src/cascadia/WinRTUtils/WinRTUtils.vcxproj
  src/cascadia/WinRTUtils/inc/Utils.h
Labels: Area-Input, Area-TerminalControl, Product-Terminal

#3669 Make sure to set an alpha channel during ColorRefToColor
  src/cascadia/WinRTUtils/inc/Utils.h
Labels: AutoMerge

#3695 Restore ability to set window title from commandline
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, Needs-Second, Product-Terminal

#3716 Enable signing and ARM64 for Universal Terminal
  OpenConsole.sln
  build/config/SignConfig.WindowsTerminal.xml
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
Labels: Area-Build, Issue-Task, Product-Terminal

#3658 Encapsulate dispatching `ShortcutActions` in it's own class
  src/cascadia/TerminalApp/AppKeyBindings.cpp
  src/cascadia/TerminalApp/AppKeyBindings.h
  src/cascadia/TerminalApp/AppKeyBindings.idl
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
Labels: Area-CodeHealth, Product-Terminal

#3722 Add a 'splitPane' ShortcutAction
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/KeyBindingsTests.cpp
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppKeyBindingsSerialization.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/defaults.json
Labels: Area-Settings, Product-Terminal
