Repository microsoft/terminal, pull requests merged in 2019-12, with the labels that each got.

#3777 Updated TitleBar Buttons to be consistent with other Windows ap…
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
Labels: Needs-Second

#3784 Fixed throwing floating point cast
  src/cascadia/WinRTUtils/inc/Utils.h
Labels: Needs-Second

#3806 GetGuid noexcept Fix
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
Labels: AutoMerge, Needs-Second

#3807 Fix LocalTests that were working before
  src/cascadia/LocalTests_TerminalApp/ColorSchemeTests.cpp
  src/cascadia/LocalTests_TerminalApp/KeyBindingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/ProfileTests.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.AppxManifest.prototype.xml
Labels: Area-CodeHealth, AutoMerge, Needs-Second, Product-Terminal

#3681 doc: Disambiguate "Keybindings" reference; add example keys
  doc/cascadia/SettingsSchema.md
Labels: Area-Settings, Issue-Docs, Product-Terminal

#3832 Update to the latest MUX prerelease
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/packages.config
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
Labels: AutoMerge, Product-Terminal

#3197 Prevent the horizontal tab character wrapping at the end of a line
  src/host/_stream.cpp
  src/host/getset.cpp
  src/host/screenInfo.cpp
  src/host/ut_host/ScreenBufferTests.cpp
Labels: Area-VT, Needs-Second, Product-Conhost

#3837 suppressApplicationTitle will suppress initial application title
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/TerminalApi.cpp
Labels: Needs-Second

#3595 Conhost: copy RTF to clipboard
  src/interactivity/win32/Clipboard.cpp
  src/interactivity/win32/clipboard.hpp
  src/interactivity/win32/windowio.cpp
Labels: AutoMerge, Needs-Second

#3835 Fixed self reference capture in Tab and TerminalPage
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: AutoMerge, Needs-Second, Product-Terminal, Severity-Crash

#3852 Organize AppLib into folders in Visual Studio
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj.filters
Labels: Area-CodeHealth, Product-Terminal

#3872 Initialize the selectionBackground to a `D2D1_COLOR_F`
  src/renderer/dx/DxRenderer.cpp
Labels: AutoMerge

#3833 Fix the TabTests!
  src/cascadia/LocalTests_TerminalApp/ColorSchemeTests.cpp
  src/cascadia/LocalTests_TerminalApp/CppWinrtTailored.h
  src/cascadia/LocalTests_TerminalApp/KeyBindingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/LocalTests_TerminalApp.def
  src/cascadia/LocalTests_TerminalApp/ProfileTests.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.AppxManifest.prototype.xml
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/LocalTests_TerminalApp/pch.cpp
  src/cascadia/LocalTests_TerminalApp/pch.h
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/lib/pch.h
  src/cascadia/TerminalConnection/EchoConnection.cpp
Labels: Area-Build, Area-CodeHealth, AutoMerge, Needs-Second, Product-Terminal

#3825 Add support for new panes with specifc profiles and other settings overrides
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/KeyBindingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/TestUtils.h
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppKeyBindings.h
  src/cascadia/TerminalApp/AppKeyBindingsSerialization.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-Settings, AutoMerge, Product-Terminal

#3100 Correct fill attributes when scrolling and erasing
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/host/_output.cpp
  src/host/_stream.cpp
  src/host/getset.cpp
  src/host/getset.h
  src/host/output.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/screenInfo.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Area-VT, AutoMerge, Needs-Second, Product-Conhost

#3892 Add support for "User Default" settings II
  doc/cascadia/profiles.schema.json
  doc/user-docs/UsingJsonSettings.md
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
Labels: Area-Settings, AutoMerge, Needs-Second, Product-Terminal

#3901 Fix a crash when opening a new tab with args
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-User Interface, AutoMerge, Needs-Second, Product-Terminal, Severity-Crash

#3903 Re-add the keychords to the new tab flyout
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
Labels: Area-User Interface, AutoMerge, Needs-Second, Product-Terminal

#3569 Spec for Default Profile Settings
  doc/specs/#2325 - Default Profile Settings.md
Labels: Area-Settings, Issue-Docs

#2989 Attach UiaRenderer and Fire Selection Changed Events
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControlAutomationPeer.cpp
  src/cascadia/TerminalControl/TermControlAutomationPeer.h
  src/cascadia/TerminalControl/TermControlAutomationPeer.idl
  src/cascadia/TerminalControl/TerminalControl.vcxproj
  src/renderer/uia/UiaRenderer.cpp
  src/renderer/uia/UiaRenderer.hpp
  src/types/IUiaEventDispatcher.h
  src/types/lib/types.vcxproj
  src/types/lib/types.vcxproj.filters
Labels: Area-Accessibility

#3704 Don't allow a linefeed to scroll when outside DECSTBM margins
  src/host/_stream.cpp
  src/host/ut_host/ScreenBufferTests.cpp
Labels: AutoMerge

#3923 Enable Audit Mode for WinRTUtils
  OpenConsole.sln
  src/cascadia/WinRTUtils/LibraryResources.cpp
  src/cascadia/WinRTUtils/ScopedResourceLoader.cpp
  src/cascadia/WinRTUtils/ScopedResourceLoader.h
  src/cascadia/WinRTUtils/inc/LibraryResources.h
  src/common.build.pre.props
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Product-Terminal

#3468 Add experimental retro terminal effects
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/PublicTerminalCore/PublicTerminalCore.vcxproj
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettings/IControlSettings.idl
  src/cascadia/TerminalSettings/TerminalSettings.cpp
  src/cascadia/TerminalSettings/terminalsettings.h
  src/common.build.post.props
  src/host/exe/Host.EXE.vcxproj
  src/host/exe/Host.EXE.vcxproj.filters
  src/host/ut_host/Host.UnitTests.vcxproj
  src/interactivity/win32/ut_interactivity_win32/Interactivity.Win32.UnitTests.vcxproj
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/dx/ScreenPixelShader.h
  src/renderer/dx/ScreenVertexShader.h
  src/renderer/dx/lib/dx.vcxproj
  src/renderer/dx/lib/dx.vcxproj.filters
Labels: Area-Extensibility, Area-Rendering, AutoMerge, Product-Terminal

#3932 add `src/cascadia/` to `ORGANIZATION.md`
  doc/ORGANIZATION.md
Labels: Issue-Docs, Product-Meta

#3931 Add some issue numbers for TODOs from #3468
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalControl/TermControl.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/ScreenPixelShader.h
Labels: Area-CodeHealth, Area-TerminalControl, AutoMerge, Product-Terminal

#3933 Update the version in master to 0.8
  custom.props
Labels: AutoMerge

#3659 Enable Word Navigation in UiaTextRange
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalControl/TermControlUiaProvider.cpp
  src/cascadia/TerminalControl/TermControlUiaProvider.hpp
  src/cascadia/TerminalControl/UiaTextRange.cpp
  src/cascadia/TerminalControl/UiaTextRange.hpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/interactivity/win32/screenInfoUiaProvider.cpp
  src/interactivity/win32/screenInfoUiaProvider.hpp
  src/interactivity/win32/uiaTextRange.cpp
  src/interactivity/win32/uiaTextRange.hpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/types/ScreenInfoUiaProviderBase.cpp
  src/types/ScreenInfoUiaProviderBase.h
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
Labels: Needs-Second

#3908 Fixed self capture in TermControl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: AutoMerge

#3938 Fix SetColorTableEntry off-by-one error
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalApiTest.cpp
  src/cascadia/UnitTests_TerminalCore/UnitTests.vcxproj
Labels: Area-VT, AutoMerge, Needs-Second, Product-Terminal

#3721 Fix fullscreen after maximize
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
Labels: Area-User Interface, AutoMerge, Needs-Second, Product-Terminal

#3958 Fix move focus between grouped panes (#3045)
  src/cascadia/TerminalApp/Pane.cpp
Labels: Area-User Interface, AutoMerge, Needs-Second, Product-Terminal

#3590 Search - add search box control and implement search experience
  doc/cascadia/SettingsSchema.md
  src/buffer/out/search.cpp
  src/buffer/out/search.h
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppKeyBindingsSerialization.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/defaults.json
  src/cascadia/TerminalControl/SearchBoxControl.cpp
  src/cascadia/TerminalControl/SearchBoxControl.h
  src/cascadia/TerminalControl/SearchBoxControl.idl
  src/cascadia/TerminalControl/SearchBoxControl.xaml
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalControl/TerminalControl.vcxproj
  src/cascadia/TerminalControl/TerminalControl.vcxproj.filters
  src/cascadia/TerminalControl/pch.h
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/host/renderData.cpp
  src/host/renderData.hpp
  src/types/IBaseData.h
Labels: Area-TerminalControl, AutoMerge, Product-Terminal

#3968 Add support for the DECALN escape sequence
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/telemetry.cpp
  src/terminal/parser/telemetry.hpp
Labels: Area-VT, AutoMerge, Needs-Second, Product-Conhost

#3980 doc: fix a typo in the default settings discussion
  doc/user-docs/UsingJsonSettings.md
Labels: Area-Settings, AutoMerge, Issue-Docs, Needs-Second, Product-Terminal

#3983 Hey look the TermControl needs to depend on the UIA renderer
  OpenConsole.sln
Labels: Area-Build, AutoMerge, Product-Terminal

#4004 Fix columns in SettingsSchema.md Profiles section
  doc/cascadia/SettingsSchema.md
Labels: Area-Settings, Issue-Docs

#4024 Update to the latest MUX prerelease (2.3.191217003)
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/packages.config
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
Labels: Area-User Interface, AutoMerge, Product-Terminal

#4025 Add support for "Automatic" splits
  src/cascadia/LocalTests_TerminalApp/KeyBindingsTests.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
Labels: Area-Settings, Area-User Interface, AutoMerge, Needs-Second, Product-Terminal

#3956 Make the terminal parser/adapter and related classes use modern, safe structures
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/cascadia/TerminalCore/TerminalDispatchGraphics.cpp
  src/host/VtInputThread.cpp
  src/host/_stream.cpp
  src/host/getset.cpp
  src/host/getset.h
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/screenInfo.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/inc/ITerminalOutputConnection.hpp
  src/inc/LibraryIncludes.h
  src/renderer/vt/WinTelnetEngine.cpp
  src/renderer/vt/WinTelnetEngine.hpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/XtermEngine.hpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
  src/terminal/adapter/DispatchCommon.cpp
  src/terminal/adapter/DispatchCommon.hpp
  src/terminal/adapter/IInteractDispatch.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/adapter/InteractDispatch.hpp
  src/terminal/adapter/adaptDefaults.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/IStateMachineEngine.hpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/ft_fuzzwrapper/echoDispatch.cpp
  src/terminal/parser/ft_fuzzwrapper/echoDispatch.hpp
  src/terminal/parser/ft_fuzzwrapper/main.cpp
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/stateMachine.hpp
  src/terminal/parser/tracing.cpp
  src/terminal/parser/tracing.hpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
  src/terminal/parser/ut_parser/StateMachineTest.cpp
Labels: Area-CodeHealth, Area-VT, Issue-Task, Needs-Second, Product-Conhost

#4044 Remove the VT52 cursor movement operations
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: AutoMerge

#4032 Immediately show the cursor on terminal focus
  src/cascadia/TerminalControl/TermControl.cpp
Labels: AutoMerge

#4085 Add notes concerning running WT directly from VS
  README.md
Labels: Area-Build, Issue-Docs, Needs-Second, Product-Terminal

#4084 Add a note regarding unbinding keys
  doc/user-docs/UsingJsonSettings.md
Labels: Area-Settings, Issue-Docs, Needs-Second, Product-Terminal

#4021 Fix a crash when calling SetConsoleScreenBufferSize in conpty
  src/host/getset.cpp
Labels: AutoMerge, Needs-Second, Product-Conpty, Severity-Crash
