Repository microsoft/terminal, pull requests merged in 2020-12, with the labels that each got.

#8445 Always create and link profiles.defaults object
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: AutoMerge

#8388 Bind Profile Color Schemes
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsModel/ColorScheme.idl
Labels: Area-Settings UI, AutoMerge

#8376 Add a template for discussing a settings change
  doc/specs/settings-spec-template.md
Labels: Area-Settings, Issue-Docs, Needs-Second, Product-Terminal

#8348 Hook up the Save and Reset buttons
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/SettingsTab.h
  src/cascadia/TerminalApp/SettingsTab.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.idl
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
Labels: Area-Settings UI, AutoMerge

#8422 Fix crash in SelectNextItem when list is empty or no item selected
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: Area-CmdPal, Area-User Interface, AutoMerge, Issue-Bug, Product-Terminal, Severity-Crash

#8147 Raise warning on invalid color scheme in commands
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/TerminalWarnings.idl
Labels: Area-Settings, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#8468 Represent BackgroundImageAlignment as ConvergedAlignment
  src/cascadia/TerminalApp/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: AutoMerge

#8461 Improve clipboard handling in "drag and drop" scenario
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-2, Product-Terminal, Severity-Crash

#8219 Bind Launch Mode/Size, BI Opacity, Opacity, and FontWeight
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/FontWeightConverter.cpp
  src/cascadia/TerminalSettingsEditor/FontWeightConverter.h
  src/cascadia/TerminalSettingsEditor/FontWeightConverter.idl
  src/cascadia/TerminalSettingsEditor/Launch.cpp
  src/cascadia/TerminalSettingsEditor/Launch.h
  src/cascadia/TerminalSettingsEditor/Launch.idl
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/PercentageConverter.cpp
  src/cascadia/TerminalSettingsEditor/PercentageConverter.h
  src/cascadia/TerminalSettingsEditor/PercentageConverter.idl
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/pch.h
  src/cascadia/TerminalSettingsModel/EnumMappings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.h
  src/cascadia/TerminalSettingsModel/EnumMappings.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: Area-Settings UI, AutoMerge

#7962 Improve OSC 8 Hyperlink parsing logic
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
  src/types/inc/utils.hpp
  src/types/ut_types/UtilsTests.cpp
  src/types/utils.cpp
Labels: Area-CodeHealth, Area-VT, AutoMerge

#8382 Add launchMode parameter to ToggleCommandPalette action
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_SettingsModel/KeyBindingsTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.idl
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#8488 Correct paths in the the runut and runft test scripts
  tools/runft.cmd
  tools/runut.cmd
Labels: Area-Build, AutoMerge, Issue-Bug, Needs-Second, Product-Meta

#8487 Add a bunch of my specs to the roadmap
  doc/terminal-v2-roadmap.md
Labels: Issue-Docs, Product-Meta, Product-Terminal

#8469 Refactor DEC/ANSI modes to avoid duplication when we add SM/RM
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Area-VT, AutoMerge, Issue-Task, Product-Conhost

#8456 Correct horizontal coordinates in viewport overflow test
  src/host/getset.cpp
  src/types/inc/viewport.hpp
  src/types/viewport.cpp
Labels: Area-Server, AutoMerge, Issue-Bug, Product-Conhost, Severity-Crash

#8438 Fix rendering of DBCS characters when partially off screen
  src/renderer/base/renderer.cpp
Labels: Area-Rendering, AutoMerge, Impact-Compatibility, Impact-Correctness, Issue-Bug, Product-Conhost

#7972 doc: Add a spec for Application State
  doc/specs/#8324 - Application State (TSM).md
Labels: Area-Settings, Issue-Docs, Issue-Feature, Needs-Second, Product-Terminal

#8499 Fix the path to the local unittests in `runut`
  tools/runut.cmd
Labels: Area-Build, Issue-Bug, Product-Meta

#8491 wpf: target netcoreapp3.1, clean up test project path
  OpenConsole.sln
  src/cascadia/WpfTerminalControl/WpfTerminalControl.csproj
  src/cascadia/WpfTerminalTestNetCore/App.xaml
  src/cascadia/WpfTerminalTestNetCore/App.xaml.cs
  src/cascadia/WpfTerminalTestNetCore/AssemblyInfo.cs
  src/cascadia/WpfTerminalTestNetCore/MainWindow.xaml
  src/cascadia/WpfTerminalTestNetCore/MainWindow.xaml.cs
  src/cascadia/WpfTerminalTestNetCore/Properties/launchSettings.json
  src/cascadia/WpfTerminalTestNetCore/WpfTerminalTestNetCore.csproj
  src/cascadia/WpfTerminalTestNetCore/app.manifest
Labels: AutoMerge

#8500 Update to Microsoft.UI.Xaml 2.5 "stable"
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/LocalTests_SettingsModel/SettingsModel.LocalTests.vcxproj
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/dll/TerminalApp.vcxproj
  src/cascadia/TerminalApp/packages.config
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/dll/Microsoft.Terminal.Settings.Model.vcxproj
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
Labels: AutoMerge

#8498 Add a keybinding to break straight into the debugger
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/KeyMapping.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
Labels: Issue-Task, Product-Terminal

#8459 Add ScrollHome and ScrollEnd
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/KeyMapping.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-Settings, Area-TerminalControl, AutoMerge, Issue-Task, Product-Terminal

#8313 Bind BackgroundImageAlignment to Settings UI
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: Area-Settings UI

#8534 Fix the feature tests with a retry
  src/host/ft_host/InitTests.cpp
Labels: Area-Build, Issue-Bug, Priority-1, Product-Meta

#8377 Make command palette ephemeral
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-CmdPal, Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#8420 Teach CommandPalette model to natively support tabs and command lines
  src/cascadia/LocalTests_TerminalApp/FilteredCommandTests.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/ActionPaletteItem.cpp
  src/cascadia/TerminalApp/ActionPaletteItem.h
  src/cascadia/TerminalApp/ActionPaletteItem.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/CommandLinePaletteItem.cpp
  src/cascadia/TerminalApp/CommandLinePaletteItem.h
  src/cascadia/TerminalApp/CommandLinePaletteItem.idl
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.idl
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/FilteredCommand.cpp
  src/cascadia/TerminalApp/FilteredCommand.h
  src/cascadia/TerminalApp/FilteredCommand.idl
  src/cascadia/TerminalApp/HasNestedCommandsVisibilityConverter.cpp
  src/cascadia/TerminalApp/PaletteItem.cpp
  src/cascadia/TerminalApp/PaletteItem.h
  src/cascadia/TerminalApp/PaletteItem.idl
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TabBase.idl
  src/cascadia/TerminalApp/TabPaletteItem.cpp
  src/cascadia/TerminalApp/TabPaletteItem.h
  src/cascadia/TerminalApp/TabPaletteItem.idl
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Area-CmdPal, Area-CodeHealth, AutoMerge, Product-Terminal

#8521 Teach Find command to populate the search box with selected text
  src/cascadia/TerminalControl/SearchBoxControl.cpp
  src/cascadia/TerminalControl/SearchBoxControl.h
  src/cascadia/TerminalControl/SearchBoxControl.idl
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Interaction, AutoMerge, Issue-Task, Product-Terminal

#8424 Change tab close and rename icons to better fit the UI
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Area-User Interface, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#8501 Update Win32 Toolkit (6.1.2) and VCRT Forwarders (1.0.4)
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/dll/TerminalApp.vcxproj
  src/cascadia/TerminalApp/packages.config
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/cascadia/WindowsTerminalUniversal/packages.config
Labels: AutoMerge

#8520 Add some logging around tab renamer usage
  src/cascadia/TerminalApp/TabHeaderControl.cpp
Labels: AutoMerge, Gathering-Data, Needs-Second, Product-Terminal

#8545 Fix SwitchToTab build break
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-User Interface, Issue-Bug, Priority-1, Product-Terminal, Severity-Blocking

#8547 Make schema compliant by fixing CloseTab* index definitions
  doc/cascadia/profiles.schema.json
Labels: Area-Schema, AutoMerge, Issue-Docs, Product-Terminal

#8551 Fix SA for Visual Studio 16.8
  src/StaticAnalysis.ruleset
  src/buffer/out/AttrRowIterator.cpp
  src/buffer/out/AttrRowIterator.hpp
  src/buffer/out/CharRow.cpp
  src/buffer/out/CharRow.hpp
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/buffer/out/textBufferCellIterator.cpp
  src/buffer/out/textBufferCellIterator.hpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/renderer/dx/DxRenderer.cpp
  src/types/KeyEvent.cpp
  src/types/inc/IInputEvent.hpp
Labels: AutoMerge

#8183 Support for navigating panes by MRU
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#8269 Settings UI inheritance spec
  doc/specs/#1564 - Settings UI/add-new-profile.png
  doc/specs/#1564 - Settings UI/cascading-settings.md
  doc/specs/#1564 - Settings UI/copy-settings-1.png
  doc/specs/#1564 - Settings UI/copy-settings-2.png
  doc/specs/#1564 - Settings UI/inheritance-dropdown.png
  doc/specs/#1564 - Settings UI/inheritance-locks.png
  doc/specs/#1564 - Settings UI/inheritance-text.png
Labels: Area-Settings UI, AutoMerge, Issue-Docs

#8549 Fix next tab activation in focus mode upon tab closing
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-1, Product-Terminal

#8513 Exclude more rarely-used stuff from Windows headers
  .github/actions/spell-check/expect/expect.txt
  src/buffer/out/precomp.h
  src/buffer/out/ut_textbuffer/precomp.h
  src/cascadia/PublicTerminalCore/pch.h
  src/cascadia/ShellExtension/pch.h
  src/cascadia/TerminalApp/pch.h
  src/cascadia/TerminalAzBridge/pch.h
  src/cascadia/TerminalConnection/pch.h
  src/cascadia/TerminalControl/pch.h
  src/cascadia/TerminalSettingsModel/pch.h
  src/cascadia/WinRTUtils/pch.h
  src/cascadia/WindowsTerminal/pch.h
Labels: Area-CodeHealth, AutoMerge, Product-Meta

#8044 Enable shortcut while CommandPalette is open
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: Area-CmdPal, Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Priority-2, Product-Terminal

#8524 Replace the KB Dialog with a InfoBar
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-Input, AutoMerge, Issue-Bug, Needs-Second, Priority-2, Product-Terminal

#8577 Fix color selection operations in conhost
  src/host/selectionInput.cpp
Labels: AutoMerge

#8579 Fix Copy to Clipboard to preserve visual structure of block selection
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/host/ut_host/TextBufferTests.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#8584 Calculate initial height properly
  src/cascadia/TerminalApp/AppLogic.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Issue-Docs, Product-Terminal

#8367 Convert DeviceComm into an interface and add handle exchange
  .github/actions/spell-check/expect/expect.txt
  src/host/globals.h
  src/host/srvinit.cpp
  src/server/ApiMessage.cpp
  src/server/ApiMessage.h
  src/server/ConDrvDeviceComm.cpp
  src/server/ConDrvDeviceComm.h
  src/server/DeviceComm.h
  src/server/IoDispatchers.cpp
  src/server/ProcessHandle.cpp
  src/server/ProcessHandle.h
  src/server/lib/server.vcxproj
  src/server/lib/server.vcxproj.filters
  src/server/sources.inc
Labels: AutoMerge

#8515 Introduce parsed command line text to command palette
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.idl
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-CmdPal, Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#8133 Add a progress ring indicator to the tab header
  src/cascadia/TerminalApp/TabHeaderControl.h
  src/cascadia/TerminalApp/TabHeaderControl.idl
  src/cascadia/TerminalApp/TabHeaderControl.xaml
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: AutoMerge, Needs-Second

#8489 Greatly reduce allocations in the conhost/OpenConsole startup path
  doc/TAEF.md
  src/buffer/out/AttrRow.cpp
  src/buffer/out/AttrRow.hpp
  src/buffer/out/AttrRowIterator.cpp
  src/buffer/out/AttrRowIterator.hpp
  src/buffer/out/CharRow.cpp
  src/buffer/out/CharRow.hpp
  src/buffer/out/CharRowCell.cpp
  src/buffer/out/CharRowCell.hpp
  src/buffer/out/CharRowCellReference.hpp
  src/buffer/out/Row.cpp
  src/buffer/out/Row.hpp
  src/buffer/out/TextAttributeRun.cpp
  src/buffer/out/TextAttributeRun.hpp
  src/buffer/out/lib/bufferout.vcxproj
  src/buffer/out/sources.inc
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/common.build.pre.props
  src/host/precomp.h
  src/host/ut_host/AttrRowTests.cpp
  src/propslib/RegistrySerialization.hpp
Labels: Area-Performance, Product-Conhost

#8298 Set Tab tooltip explicitly
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#8605 Cleanup extraneous local leftover from #8194
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: AutoMerge

#8403 Add UI for adding, renaming, and deleting a color scheme
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemes.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.idl
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/InvertedBooleanToVisibilityConverter.cpp
  src/cascadia/TerminalSettingsEditor/InvertedBooleanToVisibilityConverter.h
  src/cascadia/TerminalSettingsEditor/InvertedBooleanToVisibilityConverter.idl
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/ColorScheme.cpp
  src/cascadia/TerminalSettingsModel/ColorScheme.h
  src/cascadia/TerminalSettingsModel/ColorScheme.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/types/colorTable.cpp
  src/types/inc/colorTable.hpp
Labels: Area-Settings UI, AutoMerge

#8543 Add `size` param to `splitPane` action, `split-pane` subcommand
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_SettingsModel/CommandTests.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/TerminalWarnings.idl
  tools/runut.cmd
Labels: Area-Commandline, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#8609 Prevent tab icon from blinking upon tab gaining focus
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: AutoMerge

#8610 Teach terminal page to go to the last used tab in MRU mode
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#8586 Enable shortcut while CommandPalette is open
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-CmdPal, Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Priority-2, Product-Terminal

#8611 Allow single cell selection with Shift+Click
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#8580 Add support for the "italic" graphic rendition attribute
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/CustomTextLayout.h
  src/renderer/dx/CustomTextRenderer.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/gdi/gdirenderer.hpp
  src/renderer/gdi/state.cpp
Labels: Area-Rendering, AutoMerge, Issue-Task, Product-Terminal

#8616 Fix margins and box width in SUI
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
Labels: AutoMerge
