Repository microsoft/terminal, pull requests merged in 2020-08, with the labels that each got.

#7143 Add support for the "crossed-out" graphic rendition attribute
  src/renderer/base/renderer.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Area-Rendering, AutoMerge, Issue-Task, Product-Terminal

#7148 Render the SGR "underlined" attribute in the style of the font
  src/buffer/out/TextAttribute.cpp
  src/host/ft_uia/VirtualTerminalTests.cs
  src/host/ut_host/TextBufferTests.cpp
  src/inc/conattrs.hpp
  src/renderer/base/renderer.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/tools/vtapp/Program.cs
Labels: Area-VT, AutoMerge, Issue-Task, Product-Conhost

#7134 Add a spec for per-profile tab colors
  doc/specs/#1337 - Per-Profile Tab Colors/#1337 - Per-Profile Tab Colors.md
  doc/specs/#1337 - Per-Profile Tab Colors/profile-tabColor-000.gif
Labels: Area-Settings, Issue-Docs, Product-Terminal

#7164 Update TAEF to 10.57.200731005-develop
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
  src/common.build.tests.props
  src/host/ft_uia/Host.Tests.UIA.csproj
  src/host/ft_uia/app.config
  src/host/ft_uia/packages.config
  src/terminal/parser/ut_parser/Parser.UnitTests.vcxproj
  src/terminal/parser/ut_parser/Parser.UnitTests.vcxproj.filters
  src/terminal/parser/ut_parser/packages.config
  tools/OpenConsole.psm1
  tools/razzle.cmd
Labels: AutoMerge

#7165 Research how many characters users are typing before dismissing the cmdpal
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: AutoMerge, Gathering-Data, Needs-Second, Product-Terminal

#7163 Move TerminalSettings object to TermApp Project
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/ColorScheme.cpp
  src/cascadia/TerminalApp/ColorScheme.h
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalSettings.cpp
  src/cascadia/TerminalApp/TerminalSettings.h
  src/cascadia/TerminalApp/TerminalSettings.idl
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettings/TerminalSettings.vcxproj
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#7166 Fix VT mouse capture issues in Terminal and conhost
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/interactivity/win32/windowio.cpp
Labels: Area-Input, Area-VT, AutoMerge, Issue-Bug, Product-Conhost, Product-Terminal

#7168 wpf: fixup mouse wheel events from screen coords
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
Labels: Area-WPFControl, AutoMerge, Issue-Bug, Needs-Second

#7145 Fix #7064: Ignore key events without scan code
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/UnitTests_TerminalCore/InputTest.cpp
Labels: Area-Input, AutoMerge, Issue-Bug, Needs-Second, Priority-2, Product-Terminal

#7176 Add `closeOtherTabs`, `closeTabsAfter` actions
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-Settings, Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#7203 Disable MinimalCoreWin when OpenConsoleUniversalApp is false
  src/cppwinrt.build.pre.props
Labels: AutoMerge

#7190 Batch RTL runs to ensure proper draw order
  .github/actions/spell-check/expect/af1ff90dc512c83c902762b02f284c1c61603b4a.txt
  .github/actions/spell-check/expect/expect.txt
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/CustomTextLayout.h
Labels: Area-Rendering, Issue-Bug, Needs-Second, Product-Terminal

#7162 Add support for per-profile tab colors
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalSettings.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/ICoreSettings.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/pch.h
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
  src/cascadia/UnitTests_TerminalCore/pch.h
  src/inc/test/CommonState.hpp
  src/inc/til.h
  src/inc/til/coalesce.h
  src/til/ut_til/CoalesceTests.cpp
  src/til/ut_til/til.unit.tests.vcxproj
  src/types/inc/utils.hpp
Labels: Area-Settings, Issue-Feature, Product-Terminal

#6989 Add a `togglePaneZoom` action for zooming a pane
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-User Interface, Issue-Feature, Product-Terminal

#6765 Pass mouse button state into HandleMouse instead of asking win32
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/TerminalControl/IMouseWheelListener.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalCore/ITerminalInput.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/interactivity/win32/windowio.cpp
  src/terminal/adapter/ut_adapter/MouseInputTest.cpp
  src/terminal/input/mouseInput.cpp
  src/terminal/input/terminalInput.hpp
Labels: Area-CodeHealth, Area-Input, AutoMerge, Issue-Task, Needs-Second, Product-Conpty

#6993 Add support for changing the active color scheme with an action
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/ColorScheme.cpp
  src/cascadia/TerminalApp/ColorScheme.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
Labels: Area-Settings, Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#7223 Add support for the "doubly underlined" graphic rendition attribute
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/cascadia/TerminalCore/TerminalDispatchGraphics.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/VtRendererTests.cpp
  src/inc/conattrs.hpp
  src/renderer/base/renderer.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/gdi/gdirenderer.hpp
  src/renderer/gdi/paint.cpp
  src/renderer/gdi/state.cpp
  src/renderer/inc/IRenderEngine.hpp
  src/renderer/vt/VtSequences.cpp
  src/renderer/vt/Xterm256Engine.cpp
  src/renderer/vt/vtrenderer.hpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Area-VT, AutoMerge, Issue-Task, Product-Conhost

#7235 Allow profile.padding to be an int (or any other type :|)
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/JsonUtils.h
  src/cascadia/TerminalApp/Profile.cpp
Labels: Area-Settings, AutoMerge, Issue-Bug, Needs-Second, Priority-0, Product-Terminal, Severity-Blocking

#7237 Resolve the default profile during defaults load, don't crash on launch
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
Labels: Area-Settings, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Crash

#6732 Advanced Tab Switcher
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Command.h
  src/cascadia/TerminalApp/Command.idl
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.idl
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/Tab.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalSettingsSerializationHelpers.h
  src/cascadia/inc/cppwinrt_utils.h
Labels: Area-Extensibility, Area-User Interface, AutoMerge, Issue-Feature, Product-Terminal

#7241 Display meaningful errors when JSON types don't match
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalApp/JsonUtils.h
  src/cascadia/TerminalApp/TerminalSettingsSerializationHelpers.h
  src/cascadia/ut_app/JsonUtilsTests.cpp
Labels: Area-Settings, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#7247 Fix viewport moving when we've scrolled up and circled the buffer
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalBufferTests.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#7250 tools: add Get-OSSConhostLog
  .github/actions/spell-check/expect/expect.txt
  tools/Get-OSSConhostLog.ps1
Labels: AutoMerge

#7248 Enable partial rebuilds of the TerminalControl project again
  src/cascadia/TerminalCore/lib/terminalcore-lib.vcxproj
Labels: Area-Build, AutoMerge, Issue-Bug, Product-Terminal

#7243 Always create a new environment block before we spawn a process
  .github/actions/spell-check/dictionary/apis.txt
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/types/Environment.cpp
  src/types/inc/Environment.hpp
  src/types/precomp.h
Labels: Area-TerminalConnection, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#7175 Spec for global action IDs
  doc/specs/#6899 - Action IDs/#6899 - Action IDs.md
  doc/specs/#6899 - Action IDs/data-mockup-002.png
  doc/specs/#6899 - Action IDs/data-mockup-actions-and-ids-and-keys.png
  doc/specs/#6899 - Action IDs/data-mockup-actions-and-ids.png
  doc/specs/#6899 - Action IDs/data-mockup-actions.png
  doc/specs/#6899 - Action IDs/data-mockup.png
Labels: Area-Settings, Issue-Docs, Product-Terminal

#5888 Mini-spec for New Tab Menu Customization
  doc/specs/#1571 - New Tab Menu Customization/#1571 - New Tab Menu Customization.md
  doc/specs/#1571 - New Tab Menu Customization/Menu-Customization-000.png
Labels: Area-User Interface, Issue-Docs, Needs-Second, Product-Terminal

#7249 Fixed #3799: Introduce sendInput command
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/DebugTapConnection.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/Utils.cpp
  src/cascadia/TerminalApp/Utils.h
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
Labels: Area-Input, Area-TerminalControl, AutoMerge, Issue-Feature, Product-Terminal

#7263 Default initialize a CmdPal mode
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Product-Terminal, Severity-Blocking

#7273 Don't zoom when there's only one pane
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#7280 Remove unnecessary check when updating ATS indices
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Blocking

#6856 Add support for iterable, nested commands
  src/cascadia/LocalTests_TerminalApp/CommandTests.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/AppKeyBindings.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalApp/Command.cpp
  src/cascadia/TerminalApp/Command.h
  src/cascadia/TerminalApp/Command.idl
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalWarnings.h
  src/cascadia/TerminalApp/lib/pch.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/inc/til.h
  src/inc/til/replace.h
  src/til/ut_til/ReplaceTests.cpp
  src/til/ut_til/til.unit.tests.vcxproj
Labels: Area-Settings, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#7298 Pass the scancode in our tunneled DirectKey event
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/IDirectKeyListener.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/main.cpp
Labels: Area-Input, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Blocking

#7238 Make ColorScheme a WinRT object
  src/cascadia/LocalTests_TerminalApp/ColorSchemeTests.cpp
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalApp/ColorScheme.cpp
  src/cascadia/TerminalApp/ColorScheme.h
  src/cascadia/TerminalApp/ColorScheme.idl
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj.filters
  src/cascadia/ut_app/JsonTests.cpp
  src/cascadia/ut_app/precomp.h
Labels: Area-CodeHealth, Issue-Task, Product-Terminal

#6004 Add copyFormatting keybinding arg and array support
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/JsonUtils.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
Labels: Area-Settings, Area-User Interface, Issue-Feature, Issue-Task, Product-Terminal

#7322 Disable parallel build (again) and keep TerminalApp PCHs
  build/pipelines/templates/build-console-steps.yml
  src/common.build.post.props
Labels: AutoMerge

#7305 Update colour picker buttons with round edges.
  src/cascadia/TerminalApp/ColorPickupFlyout.xaml
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#7300 Add startOnUserLogin & fullscreen launchMode to schema
  doc/cascadia/profiles.schema.json
Labels: Issue-Docs, Product-Terminal

#7319 Compensate for new warnings and STL changes in VS 16.7
  src/buffer/out/UnicodeStorage.cpp
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/TerminalConnection/init.cpp
  src/inc/til/bitmap.h
  src/renderer/dx/DxRenderer.cpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/terminalOutput.cpp
  src/terminal/input/mouseInput.cpp
  src/terminal/input/terminalInput.cpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/base64.cpp
Labels: Area-Build, AutoMerge, Issue-Bug, Product-Conhost, Product-Terminal

#7328 Add menu (also known as "app") as a bindable key
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/KeyChordSerialization.cpp
Labels: Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#7323 Add til::static_map, a constexpr key-value store
  src/inc/til/static_map.h
  src/til/ut_til/StaticMapTests.cpp
  src/til/ut_til/til.unit.tests.vcxproj
  src/til/ut_til/til.unit.tests.vcxproj.filters
Labels: AutoMerge

#7303 Add Scoop (unofficial) installation method
  README.md
Labels: Issue-Docs, Product-Terminal

#6992 Helix Testing
  .github/actions/spell-check/dictionary/apis.txt
  .github/actions/spell-check/dictionary/microsoft.txt
  .github/actions/spell-check/expect/af1ff90dc512c83c902762b02f284c1c61603b4a.txt
  .github/actions/spell-check/expect/alphabet.txt
  .github/actions/spell-check/expect/expect.txt
  NuGet.Config
  build/Helix/AzurePipelinesHelperScripts.ps1
  build/Helix/ConvertWttLogToXUnit.ps1
  build/Helix/EnsureMachineState.ps1
  build/Helix/GenerateTestProjFile.ps1
  build/Helix/HelixTestHelpers.cs
  build/Helix/InstallTestAppDependencies.ps1
  build/Helix/OutputFailedTestQuery.ps1
  build/Helix/OutputSubResultsJsonFiles.ps1
  build/Helix/OutputTestResults.ps1
  build/Helix/PrepareHelixPayload.ps1
  build/Helix/ProcessHelixFiles.ps1
  build/Helix/RunTestsInHelix.proj
  build/Helix/UpdateUnreliableTests.ps1
  build/Helix/global.json
  build/Helix/packages.config
  build/Helix/readme.md
  build/Helix/runtests.cmd
  build/packages.config
  build/pipelines/templates/build-console-ci.yml
  build/pipelines/templates/build-console-steps.yml
  build/pipelines/templates/helix-createprojfile-steps.yml
  build/pipelines/templates/helix-processtestresults-job.yml
  build/pipelines/templates/helix-runtests-job.yml
  build/scripts/Get-WttLog.ps1
  build/scripts/Run-Tests.ps1
  src/cascadia/LocalTests_TerminalApp/CommandTests.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/host/ft_uia/AccessibilityTests.cs
  src/host/ft_uia/CloseTests.cs
  src/host/ft_uia/Common/Globals.cs
  src/host/ft_uia/ExperimentalTabTests.cs
  src/host/ft_uia/KeyPressTests.cs
  src/host/ft_uia/WinEventTests.cs
Labels: Area-Build, Area-CodeHealth, AutoMerge, Issue-Task, Product-Terminal

#7304 Refactor VT control sequence identification
  .github/actions/spell-check/expect/expect.txt
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/terminalOutput.cpp
  src/terminal/adapter/terminalOutput.hpp
  src/terminal/parser/IStateMachineEngine.hpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/stateMachine.hpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
  src/terminal/parser/ut_parser/StateMachineTest.cpp
Labels: Area-VT, AutoMerge, Issue-Task, Product-Conhost

#7333 Fix broken localtests
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
Labels: Area-CodeHealth, Area-User Interface, AutoMerge, Issue-Bug, Issue-Task, Priority-2, Product-Terminal

#7329 Add support for commands iterable on color schemes
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/Command.cpp
  src/cascadia/TerminalApp/Command.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/SettingsTypes.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalApp/defaults.json
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#7347 Set ProcessTestResults job to use conditions specified in parent
  build/pipelines/templates/build-console-ci.yml
  build/pipelines/templates/helix-processtestresults-job.yml
Labels: Area-Build, AutoMerge, Issue-Bug, Product-Meta

#7346 Add `togglePaneZoom` to schema, defaults, and sort action names
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/defaults.json
Labels: Area-Schema, AutoMerge, Issue-Docs, Issue-Task, Product-Terminal

#7332 Replace "bindings" with "actions"
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/defaults-universal.json
  src/cascadia/TerminalApp/defaults.json
Labels: Area-CodeHealth, Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#7344 Make sure we check to profile shortcuts with an index >9
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-Settings, Issue-Bug, Priority-2

#7383 Compensate for VS 16.7, part 2
  src/buffer/out/UnicodeStorage.cpp
  src/buffer/out/UnicodeStorage.hpp
Labels: AutoMerge, Needs-Second

#7293 Add support for Commandline Mode to the CmdPal
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
Labels: Area-User Interface, AutoMerge, Issue-Task, Priority-1, Product-Terminal

#7385 TermControl: set the scrollbar jump distance to one screenful
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, Issue-Bug, Priority-3, Product-Terminal

#7386 schema: swap `closeTabsAfter` and `closeOtherTabs`
  doc/cascadia/profiles.schema.json
Labels: AutoMerge

#7389 Update clang-format to 10.0
  .clang-format
  dep/llvm/clang-format.exe
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/inc/til/static_map.h
  src/propsheet/PropSheetHandler.cpp
  src/renderer/dx/DxRenderer.cpp
  src/terminal/input/terminalInput.cpp
  tools/OpenConsole.psm1
  tools/packages.config
Labels: AutoMerge

#7391 Clear the last error before calling Mb2Wc in ConvertToW
  src/types/convert.cpp
Labels: AutoMerge

#7400 Fixed #7372: Setting "altGrAliasing" to "false" disables AltGr
  src/cascadia/TerminalCore/Terminal.cpp
Labels: Area-Input, Area-TerminalControl, AutoMerge, Issue-Bug, Product-Terminal

#7401 Fix environment block creation
  src/types/Environment.cpp
Labels: Area-TerminalConnection, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Blocking

#7390 Make index in closeOtherTabs and closeTabsAfter optional
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/defaults.json
Labels: Area-Settings, Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#7283 Make Profile a WinRT object
  src/cascadia/LocalTests_TerminalApp/ProfileTests.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/pch.h
  src/cascadia/TerminalApp/AzureCloudShellGenerator.cpp
  src/cascadia/TerminalApp/AzureCloudShellGenerator.h
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalApp/Command.cpp
  src/cascadia/TerminalApp/Command.h
  src/cascadia/TerminalApp/DefaultProfileUtils.cpp
  src/cascadia/TerminalApp/DefaultProfileUtils.h
  src/cascadia/TerminalApp/IDynamicProfileGenerator.h
  src/cascadia/TerminalApp/JsonUtils.h
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/PowershellCoreProfileGenerator.cpp
  src/cascadia/TerminalApp/PowershellCoreProfileGenerator.h
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalApp/Profile.idl
  src/cascadia/TerminalApp/SettingsTypes.h
  src/cascadia/TerminalApp/TelnetGenerator.h
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalApp/WslDistroGenerator.cpp
  src/cascadia/TerminalApp/WslDistroGenerator.h
  src/cascadia/ut_app/DynamicProfileTests.cpp
  src/cascadia/ut_app/JsonTests.cpp
  src/cascadia/ut_app/TestDynamicProfileGenerator.h
  src/cascadia/ut_app/precomp.h
Labels: Area-CodeHealth, Area-Settings, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#7349 Make GlobalAppSettings a WinRT object
  src/cascadia/LocalTests_TerminalApp/ColorSchemeTests.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalApp/Command.h
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/GlobalAppSettings.idl
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalApp/SettingsTypes.h
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalSettingsSerializationHelpers.h
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Product-Terminal
