Repository microsoft/terminal, pull requests merged in 2020-11, with the labels that each got.

#8125 7996: Always on Top setting does not persist
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Area-Settings, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#8140 7012: top margin disappears upon resize in focus mode
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#8134 Remove code to navigate to home page on SUI launch
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
Labels: AutoMerge

#8086 Introduce a way to bind an Enum setting for the Settings UI
  src/cascadia/TerminalSettingsEditor/EnumEntry.h
  src/cascadia/TerminalSettingsEditor/EnumEntry.idl
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.cpp
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.idl
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/Utils.cpp
  src/cascadia/TerminalSettingsEditor/Utils.h
  src/cascadia/TerminalSettingsModel/EnumMappings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.h
  src/cascadia/TerminalSettingsModel/EnumMappings.idl
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj.filters
Labels: AutoMerge

#8124 Consider the GlyphWidth when calculate the postion of matched word in URL detecting
  src/buffer/out/textBuffer.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-1, Product-Terminal

#8152 Gank the linter
  .github/workflows/linter.yml
Labels: Needs-Second

#8150 Use LanguageStandard over explicit compiler flag for C++17
  .github/actions/spell-check/expect/expect.txt
  src/common.build.pre.props
Labels: Area-Build, Issue-Task, Product-Meta

#8148 Make the link underline less obtrusive; don't use it for pattern
  src/renderer/base/renderer.cpp
  src/renderer/dx/DxRenderer.cpp
Labels: Area-Rendering, Issue-Task, Product-Terminal

#8153 Make Tab an unsealed runtimeclass (and rename it to TabBase)
  .github/actions/spell-check/dictionary/apis.txt
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/Tab.idl
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TabBase.idl
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalApp/TerminalTab.idl
  src/cascadia/TerminalApp/dll/TerminalApp.vcxproj
  src/cascadia/inc/cppwinrt_utils.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-1, Product-Terminal

#8162 Gank the linter harder
  .github/workflows/linter.yml
Labels: Area-Build, Product-Meta

#8136 Bind default profile global setting
  src/cascadia/TerminalSettingsEditor/Launch.cpp
  src/cascadia/TerminalSettingsEditor/Launch.h
  src/cascadia/TerminalSettingsEditor/Launch.idl
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.idl
Labels: AutoMerge

#8095 Warn the user if the keyboard service is disabled
  .github/actions/spell-check/dictionary/apis.txt
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-User Interface, AutoMerge, Issue-Task, Priority-3, Product-Terminal

#8156 Update active profiles when loading defaults
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Area-Settings, AutoMerge, Issue-Bug, Needs-Second, Priority-0, Product-Terminal, Severity-Blocking

#8051 Enable moving back to the root level in the command palette
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
Labels: Area-User Interface, AutoMerge, Impact-Compliance, Issue-Task, Product-Terminal, hacktoberfest-accepted

#8149 List all profiles in the SUI Navigation View
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.idl
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
  src/cascadia/TerminalSettingsModel/IconPathConverter.cpp
  src/cascadia/TerminalSettingsModel/IconPathConverter.h
  src/cascadia/TerminalSettingsModel/IconPathConverter.idl
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj.filters
  src/cascadia/TerminalSettingsModel/dll/Microsoft.Terminal.Settings.Model.vcxproj
  src/cascadia/TerminalSettingsModel/pch.h
Labels: AutoMerge

#8114 Configure the options available in the issue list
  .github/ISSUE_TEMPLATE/config.yml
Labels: Issue-Docs, Product-Meta

#8076 Allow the user to use the tab switcher with in-order tab switching
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-Settings, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#8168 8167: Fix TabTests - use tab 0 rather than value 0
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
Labels: AutoMerge, Needs-Second

#8173 Prevent leftover cursor fragments when scrolling in PowerShell
  src/renderer/gdi/paint.cpp
Labels: Area-Rendering, AutoMerge, Issue-Bug, Product-Conhost

#7977 Bold matching text in the command palette
  .github/actions/spell-check/expect/expect.txt
  src/cascadia/LocalTests_TerminalApp/FilteredCommandTests.cpp
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.idl
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/FilteredCommand.cpp
  src/cascadia/TerminalApp/FilteredCommand.h
  src/cascadia/TerminalApp/FilteredCommand.idl
  src/cascadia/TerminalApp/HighlightedText.cpp
  src/cascadia/TerminalApp/HighlightedText.h
  src/cascadia/TerminalApp/HighlightedText.idl
  src/cascadia/TerminalApp/HighlightedTextControl.cpp
  src/cascadia/TerminalApp/HighlightedTextControl.h
  src/cascadia/TerminalApp/HighlightedTextControl.idl
  src/cascadia/TerminalApp/HighlightedTextControl.xaml
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj.filters
Labels: Area-User Interface, Issue-Task, Needs-Second, Priority-3, Product-Terminal

#8165 Introduce Page parameters to SUI
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemes.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.idl
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.cpp
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.idl
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Interaction.cpp
  src/cascadia/TerminalSettingsEditor/Interaction.h
  src/cascadia/TerminalSettingsEditor/Interaction.idl
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Launch.cpp
  src/cascadia/TerminalSettingsEditor/Launch.h
  src/cascadia/TerminalSettingsEditor/Launch.idl
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.idl
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Rendering.cpp
  src/cascadia/TerminalSettingsEditor/Rendering.h
  src/cascadia/TerminalSettingsEditor/Rendering.idl
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
Labels: AutoMerge

#8174 Include icons in SUI DefaultProfile dropdown
  src/cascadia/TerminalSettingsEditor/Launch.xaml
Labels: AutoMerge

#8184 Express dependencies in TestHostApp to help rebuild
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
Labels: AutoMerge

#8188 8185: do not sort commands by name in tabswitcher mode
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Blocking

#8190 Teach the command palette to clamp its indices on page up/down
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#8206 Fix desktopWallpaper background image casing
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalSettingsModel/Profile.cpp
Labels: AutoMerge

#8197 Azure: fall back to powershell when no preferred shell is set
  src/cascadia/TerminalConnection/AzureConnection.cpp
  src/cascadia/TerminalConnection/AzureConnection.h
Labels: Area-AzureShell, AutoMerge, Issue-Bug, Product-Terminal

#8208 Fix test for desktopWallpaper
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
Labels: AutoMerge

#8218 Avoid an access violation in pane animation if the child is closed
  src/cascadia/TerminalApp/Pane.cpp
Labels: AutoMerge

#8081 Fix potential over/underflow as noted by "TODO:" comment
  src/host/selectionInput.cpp
Labels: AutoMerge, Needs-Second, hacktoberfest-accepted

#8207 Warn when font isn't found and another is chosen
  .github/actions/spell-check/expect/5757ec679b03a4240130c3c53766c91bbc5cd6a7.txt
  .github/actions/spell-check/expect/expect.txt
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
Labels: Area-User Interface, Issue-Bug, Priority-3, Product-Terminal

#8202 Combine the parsing & dispatch blocks for OSC actions
  src/terminal/parser/OutputStateMachineEngine.cpp
Labels: Area-CodeHealth, Area-VT, AutoMerge

#8250 8247: Custom key bindings are broken for tab navigation
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: AutoMerge, zPreview-Service-Consider, zStable-Service-Consider

#8237 Make sure to disable pane entrance animation if user requests
  src/cascadia/TerminalApp/Pane.cpp
Labels: Area-User Interface, Issue-Bug, Priority-3, Product-Terminal, zPreview-Service-Consider

#8066 Prevent resizing terminal to a lower-than-minimum width
  .github/actions/spell-check/expect/expect.txt
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/pch.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal, hacktoberfest-accepted

#1884 initial draft of VT function support spec
  doc/reference/Build-SupportedSequenceIndex.ps1
  doc/reference/master-sequence-list.csv
  doc/reference/windows-terminal-logo.ans
Labels: Area-VT, Issue-Docs, Product-Meta

#8257 8249: Remove trailing commas in profiles.schema.json
  doc/cascadia/profiles.schema.json
Labels: Area-Schema, Issue-Bug, Issue-Docs, Needs-Second, Product-Terminal

#8279 align command palette prefix > to left when visible
  src/cascadia/TerminalApp/CommandPalette.xaml
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal, zPreview-Service-Consider

#8280 Fix default backgroundImageStretch to be `uniformToFill`
  src/cascadia/TerminalSettingsModel/Profile.h
Labels: Area-Settings, AutoMerge, Issue-Bug, Priority-2, Product-Terminal, zPreview-Service-Consider, zStable-Service-Consider

#8309 Fix out-of-bounds exceptions in Set...{Buffer,Screen}Size
  src/host/getset.cpp
  src/host/renderData.cpp
  src/host/renderData.hpp
  src/host/screenInfo.cpp
Labels: Area-Server, Issue-Bug, Priority-1, Product-Conhost, Severity-Crash

#8209 Fix close button not using the tab's text color (#8046)
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#8315 Fix combining wt args and "wt new-tab" args in implicit context
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
Labels: Area-Commandline, Issue-Bug, Priority-2, Product-Terminal

#8241 Fix a race condition in pane animation completion that broke sizing
  src/cascadia/TerminalApp/Pane.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-1, Product-Terminal

#8266 Polish layout for Settings UI
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: AutoMerge

#8055 Implement ConEmu's OSC 9;4 to set the taskbar progress indicator
  .github/actions/spell-check/dictionary/apis.txt
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/cascadia/UnitTests_TerminalCore/TerminalApiTest.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/pch.h
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Area-VT, Issue-Feature, Issue-Task, Needs-Second, Product-Conhost, Product-Terminal

#8102 Add support for setting tabColor on the command line
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_SettingsModel/KeyBindingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalSettings.cpp
  src/cascadia/TerminalApp/TerminalSettings.h
  src/cascadia/TerminalCore/ICoreSettings.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
Labels: Area-Commandline, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#8227 Make tab header a custom control
  src/cascadia/TerminalApp/TabHeaderControl.cpp
  src/cascadia/TerminalApp/TabHeaderControl.h
  src/cascadia/TerminalApp/TabHeaderControl.idl
  src/cascadia/TerminalApp/TabHeaderControl.xaml
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Product-Terminal

#8335 tools: update bcz.cmd to use the progress bar VT sequence
  tools/bcz.cmd
Labels: Area-Build, Needs-Second

#8117 Make CloseWarningDialog async
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#8347 Remove dead code; Add default icon; Rename Base Layer
  src/cascadia/TerminalSettingsEditor/Keybindings.h
  src/cascadia/TerminalSettingsEditor/Keybindings.idl
  src/cascadia/TerminalSettingsEditor/Keybindings.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/NewTabOptionPanelControl.cpp
  src/cascadia/TerminalSettingsEditor/NewTabOptionPanelControl.h
  src/cascadia/TerminalSettingsEditor/NewTabOptionPanelControl.idl
  src/cascadia/TerminalSettingsEditor/NewTabOptionPanelControl.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/SplitPaneOptionPanelControl.cpp
  src/cascadia/TerminalSettingsEditor/SplitPaneOptionPanelControl.h
  src/cascadia/TerminalSettingsEditor/SplitPaneOptionPanelControl.idl
  src/cascadia/TerminalSettingsEditor/SplitPaneOptionPanelControl.xaml
  src/cascadia/TerminalSettingsModel/Profile.h
Labels: AutoMerge

#8317 Add "recent commands" to Command Palette in commandline mode
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#8338 Teach Terminal to move tabs with key bindings
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_SettingsModel/KeyBindingsTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/KeyMapping.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#8393 Fix sending a title change event when the renamer is dismissed
  src/cascadia/TerminalApp/TabHeaderControl.cpp
  src/cascadia/TerminalApp/TabHeaderControl.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Product-Terminal

#8379 Fix the xterm and SGR mouse encodings for CTRL, ALT, SHIFT
  src/interactivity/win32/windowio.cpp
  src/terminal/adapter/ut_adapter/MouseInputTest.cpp
  src/terminal/input/mouseInput.cpp
Labels: Area-VT, AutoMerge, Impact-Correctness, Issue-Bug, Priority-2, Product-Conhost, Product-Terminal

#8439 schema: make rowsToScroll deprecation message mention bindings
  doc/cascadia/profiles.schema.json
Labels: Area-Schema, AutoMerge, Issue-Docs, Needs-Second, Product-Terminal

#8433 Teach tab renamer to truncate tab title input
  src/cascadia/TerminalApp/TabHeaderControl.xaml
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#8434 Retain horizontal viewport offset when moving to bottom
  src/host/screenInfo.cpp
  src/host/ut_host/ScreenBufferTests.cpp
Labels: Area-Rendering, AutoMerge, Issue-Bug, Priority-3, Product-Conhost

#8432 Teach command palette to ignore case when sorting items
  .github/actions/spell-check/expect/expect.txt
  src/cascadia/LocalTests_TerminalApp/FilteredCommandTests.cpp
  src/cascadia/TerminalApp/FilteredCommand.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Issue-Feature, Product-Terminal
