Repository microsoft/terminal, pull requests merged in 2020-03, with the labels that each got.

#4747 Improve glyph scaling correction
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/CustomTextLayout.h
  src/renderer/dx/DxRenderer.cpp
Labels: Area-Rendering, AutoMerge, Issue-Bug, Product-Terminal

#4777 Clear Selection on Viewport/Font Resize
  src/cascadia/TerminalControl/TermControl.cpp
Labels: AutoMerge

#4781 Stop padding text columns for fullwidth characters
  src/renderer/dx/CustomTextLayout.cpp
Labels: Area-Rendering, AutoMerge, Issue-Bug, Product-Terminal

#4798 ensure u8u16 handles lead & continuation bytes in separate txns
  src/inc/til/u8u16convert.h
  src/til/ut_til/u8u16convertTests.cpp
Labels: Area-Output, Issue-Bug, Needs-Second, Product-Conhost, Product-Terminal

#4756 AzCon: improve input, usability, reliability (4 commits)
  src/cascadia/TerminalConnection/AzureConnection.cpp
  src/cascadia/TerminalConnection/AzureConnection.h
  src/cascadia/TerminalConnection/Resources/Resources.language-en.resw
Labels: Area-AzureShell

#4796 Make Korean IME input more consistent
  src/cascadia/TerminalControl/TSFInputControl.cpp
  src/cascadia/TerminalControl/TSFInputControl.h
  src/cascadia/TerminalControl/TSFInputControl.idl
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Input, Area-TerminalControl, AutoMerge, Issue-Bug, Needs-Second, Priority-1, Product-Terminal

#4797 Improve Word Navigation/Selection Performance
  src/buffer/out/CharRow.cpp
  src/buffer/out/CharRow.hpp
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/types/ScreenInfoUiaProviderBase.cpp
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTracing.cpp
  src/types/UiaTracing.h
Labels: Area-Accessibility, AutoMerge, Product-Terminal

#4807 Tunnel F7 keypresses directly into special handlers in TermControl
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/IF7Listener.idl
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/main.cpp
Labels: AutoMerge

#4746 Add warning messages for bad keybindings
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/AppKeyBindings.h
  src/cascadia/TerminalApp/AppKeyBindingsSerialization.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/Resources/Resources.language-en.resw
  src/cascadia/TerminalApp/TerminalWarnings.h
Labels: Area-User Interface, AutoMerge, Product-Terminal

#4817 Apply dark window borders to NonClientIslandWindow using ThemeHelpers
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
Labels: AutoMerge

#4821 Avoid bailing on arg-free bindings
  src/cascadia/TerminalApp/AppKeyBindingsSerialization.cpp
Labels: AutoMerge

#4829 Resize the drag bar on `WM_DISPLAYCHANGE`
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
Labels: AutoMerge

#4683 Add a splitPane option to duplicate current profile
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-Settings, Area-User Interface, AutoMerge, Needs-Second, Product-Terminal

#4830 Fix a rampant crash in `TSFInputControl` when opening new tabs
  src/cascadia/TerminalControl/TermControl.cpp
Labels: AutoMerge

#4838 translate German message into English
  src/tools/U8U16Test/U8U16Test.vcxproj
Labels: AutoMerge, Needs-Second

#4578 Abstract GetTextForClipboard() for UIA
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/host/ut_host/ClipboardTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/interactivity/win32/Clipboard.cpp
  src/interactivity/win32/clipboard.hpp
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
Labels: Area-Accessibility, Needs-Second, Product-Conhost, Product-Terminal

#4836 Allow Emoji composition to be seen in the TSF TextBlock
  src/cascadia/TerminalControl/TSFInputControl.cpp
Labels: Area-TerminalControl, AutoMerge

#4845 Update the dragbar when the titlebar content size changes
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
Labels: Area-User Interface, Product-Terminal

#4860 doc: update roadmap with proper v1 release date
  doc/terminal-v1-roadmap.md
Labels: Needs-Second

#4108 add til::color, a universal-converting color type
  src/inc/LibraryIncludes.h
  src/inc/til.h
  src/inc/til/color.h
  src/til/ut_til/ColorTests.cpp
  src/til/ut_til/sources
  src/til/ut_til/til.unit.tests.vcxproj
  tools/ConsoleTypes.natvis
Labels: AutoMerge

#4819 Ignore right-click copy when copy on select is enabled
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: Area-TerminalControl, AutoMerge

#4857 Reveal the taskbar when the user has the Terminal maximized or fullscreen
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
Labels: AutoMerge, Needs-Second, Product-Terminal

#4867 Show InputPanel on focus and pointer press
  src/cascadia/TerminalControl/TSFInputControl.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/pch.h
Labels: Area-TerminalControl, AutoMerge, Needs-Second, Product-Terminal

#4861 Suppress run breaking for abs. differences < 0.001 in advance
  src/renderer/dx/CustomTextLayout.cpp
Labels: Area-Rendering

#4854 Move dirty interface to N rectangles, not just one
  src/interactivity/onecore/BgfxEngine.cpp
  src/interactivity/onecore/BgfxEngine.hpp
  src/renderer/base/renderer.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/gdi/gdirenderer.hpp
  src/renderer/gdi/math.cpp
  src/renderer/inc/IRenderEngine.hpp
  src/renderer/uia/UiaRenderer.cpp
  src/renderer/uia/UiaRenderer.hpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/math.cpp
  src/renderer/vt/vtrenderer.hpp
  src/renderer/wddmcon/WddmConRenderer.cpp
  src/renderer/wddmcon/WddmConRenderer.hpp
Labels: Area-Rendering, AutoMerge, Needs-Second, Product-Meta

#4850 til::size
  src/inc/til.h
  src/inc/til/size.h
  src/til/precomp.h
  src/til/ut_til/SizeTests.cpp
  src/til/ut_til/SomeTests.cpp
  src/til/ut_til/til.unit.tests.vcxproj
  src/til/ut_til/til.unit.tests.vcxproj.filters
  tools/ConsoleTypes.natvis
Labels: Area-CodeHealth, AutoMerge, Product-Meta

#4856 Enable Passthrough for VT Input Mode in ConPty
  src/host/VtInputThread.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/terminal/adapter/IInteractDispatch.hpp
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/adapter/InteractDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
Labels: Area-VT, AutoMerge, Product-Conpty

#4874 Prevent tab reordering while elevated
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: AutoMerge, Product-Terminal

#4853 Make ctrl+shift+scroll toggle acrylic on/off at extrema
  doc/user-docs/index.md
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, Needs-Second, Product-Terminal

#4888 doc: remove unimplemented `-t` arg from `split-pane`
  doc/user-docs/UsingCommandlineArguments.md
Labels: Area-Commandline, Issue-Docs, Product-Terminal

#4825 Correct for the size of the tabs when calculating our initial window size
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
Labels: Area-User Interface, AutoMerge, Needs-Second, Product-Terminal

#4890 Use estimated formatted lengths to optimize performance of VT rendering
  src/host/ut_host/VtRendererTests.cpp
  src/renderer/vt/VtSequences.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
Labels: Area-Performance, AutoMerge, Issue-Task, Product-Conpty

#4870 vt: make sure to Flush the entire parsed sequence
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/stateMachine.hpp
  src/terminal/parser/ut_parser/StateMachineTest.cpp
Labels: Area-VT, Needs-Second, Product-Meta

#4848 Move MouseInput from TermAdapter to TermInput
  src/host/consoleInformation.cpp
  src/host/getset.cpp
  src/host/inputBuffer.cpp
  src/host/inputBuffer.hpp
  src/host/screenInfo.cpp
  src/host/server.h
  src/interactivity/win32/windowio.cpp
  src/terminal/adapter/MouseInput.hpp
  src/terminal/adapter/lib/adapter.vcxproj
  src/terminal/adapter/lib/adapter.vcxproj.filters
  src/terminal/adapter/sources.inc
  src/terminal/adapter/ut_adapter/MouseInputTest.cpp
  src/terminal/input/lib/terminalinput.vcxproj
  src/terminal/input/mouseInput.cpp
  src/terminal/input/mouseInputState.cpp
  src/terminal/input/sources.inc
  src/terminal/input/terminalInput.cpp
  src/terminal/input/terminalInput.hpp
Labels: Area-Input, AutoMerge, Needs-Second, Product-Meta

#4896 When Conpty encounters an unknown string, flush immediately
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/renderer/vt/WinTelnetEngine.cpp
  src/renderer/vt/XtermEngine.cpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: Area-VT, Product-Conpty

#4897 til::point
  src/inc/til.h
  src/inc/til/point.h
  src/til/ut_til/PointTests.cpp
  src/til/ut_til/til.unit.tests.vcxproj
  src/til/ut_til/til.unit.tests.vcxproj.filters
  tools/ConsoleTypes.natvis
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Product-Meta

#4741 Add support for "reflow"ing the Terminal buffer
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/ConsoleArguments.cpp
  src/host/ConsoleArguments.hpp
  src/host/VtIo.cpp
  src/host/VtIo.hpp
  src/host/getset.cpp
  src/host/screenInfo.cpp
  src/host/ut_host/VtRendererTests.cpp
  src/inc/conpty-static.h
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/tracing.cpp
  src/renderer/vt/vtrenderer.hpp
  src/winconpty/winconpty.cpp
  src/winconpty/winconpty.h
Labels: Area-Output, AutoMerge, Product-Terminal

#4859 Synthesize VT mouse events and add mouse support to Terminal
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/ITerminalInput.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/terminal/input/mouseInput.cpp
  src/terminal/input/terminalInput.hpp
Labels: Area-TerminalControl, AutoMerge, Product-Terminal

#4877 Optimize rendering runs of spaces when there is no visual change
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/host/renderData.cpp
  src/host/renderData.hpp
  src/renderer/base/renderer.cpp
  src/renderer/inc/IRenderData.hpp
Labels: Area-Rendering, AutoMerge, Needs-Second, Product-Terminal

#4901 Don't draw the cursor if it's outside the viewport
  src/renderer/base/renderer.cpp
Labels: Area-Rendering, AutoMerge, Product-Conhost

#4902 Add support for setting the cursor visibility in Terminal
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/cascadia/UnitTests_TerminalCore/TerminalApiTest.cpp
Labels: Area-TerminalControl, Area-VT, AutoMerge, Product-Terminal

#4904 Always remove the drag bar when entering fullscreen
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
Labels: Area-User Interface, AutoMerge, Product-Terminal

#4913 Only passthrough input changes if the client's in VT input mode
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Area-VT, Product-Conpty

#4912 til::rectangle
  src/inc/til.h
  src/inc/til/point.h
  src/inc/til/rectangle.h
  src/inc/til/size.h
  src/inc/til/some.h
  src/til/ut_til/RectangleTests.cpp
  src/til/ut_til/SomeTests.cpp
  src/til/ut_til/til.unit.tests.vcxproj
  src/til/ut_til/til.unit.tests.vcxproj.filters
  tools/ConsoleTypes.natvis
Labels: AutoMerge

#4903 Maintain scrollbar position during a resize operation
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/host/screenInfo.cpp
Labels: Area-TerminalControl, AutoMerge, Needs-Second, Product-Terminal

#4909 Implement Hard Reset for Terminal
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
Labels: Area-VT, AutoMerge, Product-Terminal

#4934 Always use the system's locale to render text
  src/renderer/dx/DxRenderer.cpp
Labels: Area-Fonts, Area-Rendering, AutoMerge, Needs-Second, Product-Terminal

#4933 Make commands in doc appear as code
  doc/cascadia/SettingsSchema.md
Labels: Issue-Docs, Needs-Second

#4940 Fix C-M-z, C-M-x in Conpty
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
Labels: Area-Input, Area-VT, AutoMerge, Product-Conpty

#4905 Force WslDistroGenerator to timeout after 10s and return Profiles
  src/cascadia/TerminalApp/WslDistroGenerator.cpp
Labels: AutoMerge

#4752 Update comments to better indicate the supported VT functions
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
Labels: Area-VT, AutoMerge, Issue-Docs

#4953 Make panes use XAML star sizing
  src/cascadia/TerminalApp/Pane.cpp
Labels: Area-User Interface, AutoMerge

#4959 Make loop in IInputEvent more consistent and modern
  src/types/IInputEvent.cpp
Labels: Area-CodeHealth, AutoMerge

#4651 Add cursorColor to color scheme
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/ColorSchemeTests.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/ColorScheme.cpp
  src/cascadia/TerminalApp/ColorScheme.h
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalApp/defaults.json
  src/cascadia/ut_app/JsonTests.cpp
Labels: Area-Settings, AutoMerge, Needs-Second, Product-Terminal

#4988 Fix unbinding keys in v0.10
  src/cascadia/TerminalApp/AppKeyBindingsSerialization.cpp
Labels: Area-Settings, Product-Terminal

#4965 Ignore KeyDown events during Alt-Numpad Input
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Input, Area-TerminalControl, AutoMerge, Needs-Second, Product-Terminal

#4826 Fire UIA Events for Output and Cursor Movement
  src/cascadia/TerminalControl/TermControlAutomationPeer.cpp
  src/renderer/uia/UiaRenderer.cpp
  src/renderer/uia/UiaRenderer.hpp
  src/types/UiaTracing.cpp
  src/types/UiaTracing.h
Labels: Area-Accessibility, Area-TerminalControl, AutoMerge, Product-Terminal

#4994 Fix an off-by-one that made us use EL instead of ECH
  src/host/ut_host/ConptyOutputTests.cpp
  src/renderer/vt/paint.cpp
Labels: Area-Rendering, Product-Conpty

#4991 Properly represent block selections in UIA
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/host/renderData.cpp
  src/host/renderData.hpp
  src/interactivity/win32/screenInfoUiaProvider.cpp
  src/interactivity/win32/uiaTextRange.cpp
  src/interactivity/win32/uiaTextRange.hpp
  src/types/IUiaData.h
  src/types/TermControlUiaProvider.cpp
  src/types/TermControlUiaTextRange.cpp
  src/types/TermControlUiaTextRange.hpp
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
Labels: Area-Accessibility, AutoMerge

#4964 Clamp the terminal buffer to `SHRT_MAX` on resize
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/UnitTests_TerminalCore/ScreenSizeLimitsTest.cpp
Labels: Area-Output, Area-TerminalControl, AutoMerge, Needs-Second, Product-Terminal

#4947 Fix VT sequences for Ctrl+Alt+? input
  src/terminal/adapter/ut_adapter/inputTest.cpp
  src/terminal/input/terminalInput.cpp
Labels: Area-Input, Area-VT, AutoMerge, Product-Conhost

#4938 Add support for Ctrl+# keys
  src/terminal/adapter/ut_adapter/inputTest.cpp
  src/terminal/input/terminalInput.cpp
Labels: Area-Input, Area-VT, AutoMerge, Product-Conhost

#4995 Pin the DisplayName to Windows Terminal to fix the UAC prompt
  src/cascadia/CascadiaPackage/Package.appxmanifest
Labels: AutoMerge, Needs-Second

#4962 hygiene: change default specifiers of some functions to delete
  src/buffer/out/RowCellIterator.hpp
  src/buffer/out/cursor.h
  src/types/ScreenInfoUiaProviderBase.h
  src/types/UiaTextRangeBase.hpp
  src/types/WindowUiaProviderBase.hpp
Labels: Area-CodeHealth

#4967 til::bitmap
  src/inc/til.h
  src/inc/til/bitmap.h
  src/inc/til/rectangle.h
  src/inc/til/some.h
  src/til/ut_til/BitmapTests.cpp
  src/til/ut_til/RectangleTests.cpp
  src/til/ut_til/SomeTests.cpp
  src/til/ut_til/til.unit.tests.vcxproj
  src/til/ut_til/til.unit.tests.vcxproj.filters
Labels: Area-CodeHealth, Area-Rendering, AutoMerge, Issue-Task, Product-Meta

#4948 Add explicit to bool operators of Point and Rect
  src/inc/til/point.h
  src/inc/til/rectangle.h
  src/inc/til/size.h
  src/til/ut_til/PointTests.cpp
  src/til/ut_til/SizeTests.cpp
Labels: Area-CodeHealth, AutoMerge

#4996 doc: add docs for updating nuget packages and using .nupkgs
  doc/building.md
Labels: Area-Build, Issue-Docs, Product-Meta

#5005 Allow IME Text Wrapping
  src/cascadia/TerminalControl/TSFInputControl.cpp
  src/cascadia/TerminalControl/TSFInputControl.xaml
Labels: Area-Input, Area-TerminalControl, AutoMerge

#5031 Set the ComponentResourceLocation for our DLL projects
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalControl/TerminalControl.vcxproj
Labels: Area-Build, Product-Terminal

#4960 hygiene: replace NULL/0 with nullptr where appropriate
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalApp/PowershellCoreProfileGenerator.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/host/CursorBlinker.cpp
  src/host/exemain.cpp
  src/host/ft_host/API_AliasTestsHelpers.hpp
  src/host/ft_host/API_BufferTests.cpp
  src/host/ft_host/API_FileTests.cpp
  src/host/ft_host/API_InputTests.cpp
  src/host/ft_host/Common.cpp
  src/host/ntprivapi.cpp
  src/host/srvinit.cpp
  src/host/ut_host/CommandLineTests.cpp
  src/host/ut_host/CommandListPopupTests.cpp
  src/host/ut_host/CommandNumberPopupTests.cpp
  src/host/ut_host/ConsoleArgumentsTests.cpp
  src/host/ut_host/UtilsTests.cpp
  src/interactivity/base/InteractivityFactory.cpp
  src/interactivity/base/ServiceLocator.cpp
  src/interactivity/win32/consoleKeyInfo.cpp
  src/interactivity/win32/menu.cpp
  src/interactivity/win32/window.cpp
  src/interactivity/win32/windowproc.cpp
  src/propsheet/ColorControl.cpp
  src/propsheet/ColorsPage.cpp
  src/propsheet/OptionsPage.cpp
  src/propsheet/PropSheetHandler.cpp
  src/propsheet/TerminalPage.cpp
  src/propsheet/console.cpp
  src/propsheet/dbcs.cpp
  src/propsheet/fontdlg.cpp
  src/propsheet/globals.cpp
  src/propsheet/init.cpp
  src/propsheet/misc.cpp
  src/propsheet/preview.cpp
  src/propsheet/registry.cpp
  src/propslib/ShortcutSerialization.cpp
  src/propslib/precomp.h
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/gdi/paint.cpp
  src/renderer/gdi/state.cpp
  src/server/Entrypoints.cpp
  src/terminal/parser/ft_fuzzer/VTCommandFuzzer.cpp
  src/tools/vtpipeterm/VtConsole.cpp
  src/tools/vtpipeterm/main.cpp
  src/tsf/ConsoleTSF.cpp
  src/tsf/ConsoleTSF.h
  src/tsf/TfDispAttr.cpp
  src/tsf/TfEditses.cpp
  src/tsf/TfEditses.h
  src/tsf/TfTxtevCb.cpp
  src/tsf/contsf.cpp
  src/winconpty/ft_pty/ConPtyTests.cpp
Labels: Area-CodeHealth, AutoMerge

#4961 Gracefully handle json data with the wrong value types
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/JsonUtils.cpp
  src/cascadia/TerminalApp/JsonUtils.h
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/ut_app/JsonTests.cpp
Labels: Area-Settings, AutoMerge, Needs-Second, Product-Terminal

#5046 Make sure to InvalidateAll on a resize
  src/cascadia/TerminalCore/Terminal.cpp
Labels: AutoMerge, Product-Terminal

#5081 Fix the Alternate Scroll Mode when DECCKM enabled
  src/terminal/adapter/ut_adapter/MouseInputTest.cpp
  src/terminal/input/mouseInput.cpp
Labels: Area-VT, AutoMerge, Product-Conhost

#5024 Move ConPTY to use til::bitmap
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/common.build.tests.props
  src/host/ut_host/ConptyOutputTests.cpp
  src/host/ut_host/VtRendererTests.cpp
  src/inc/LibraryIncludes.h
  src/inc/til.h
  src/inc/til/bitmap.h
  src/inc/til/operators.h
  src/inc/til/point.h
  src/inc/til/rectangle.h
  src/inc/til/size.h
  src/inc/til/some.h
  src/interactivity/onecore/BgfxEngine.cpp
  src/interactivity/onecore/BgfxEngine.hpp
  src/renderer/base/renderer.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/gdi/gdirenderer.hpp
  src/renderer/gdi/math.cpp
  src/renderer/inc/IRenderEngine.hpp
  src/renderer/uia/UiaRenderer.cpp
  src/renderer/uia/UiaRenderer.hpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/invalidate.cpp
  src/renderer/vt/math.cpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/tracing.cpp
  src/renderer/vt/tracing.hpp
  src/renderer/vt/ut_lib/vt.unittest.vcxproj
  src/renderer/vt/vtrenderer.hpp
  src/renderer/wddmcon/WddmConRenderer.cpp
  src/renderer/wddmcon/WddmConRenderer.hpp
  src/til/ut_til/BitmapTests.cpp
  src/til/ut_til/OperatorTests.cpp
  src/til/ut_til/RectangleTests.cpp
  src/til/ut_til/sources
  src/til/ut_til/til.unit.tests.vcxproj
  src/til/ut_til/til.unit.tests.vcxproj.filters
Labels: Area-Performance, AutoMerge, Issue-Bug, Product-Conpty

#5062 Replace casting 0 to a pointer with nullptr.
  src/host/ut_host/CommandListPopupTests.cpp
  src/host/ut_host/CopyToCharPopupTests.cpp
Labels: Area-CodeHealth

#5077 doc: add MSYS2 profile to ThirdPartyToolProfiles.md
  doc/user-docs/ThirdPartyToolProfiles.md
Labels: Area-Settings, Issue-Docs, Product-Terminal

#5091 Make sure to account for the size the padding _will be_ scaled to
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Settings, Area-TerminalControl, AutoMerge, Needs-Second

#4946 Improve wide glyph support in UIA
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/host/ut_host/TextBufferTests.cpp
  src/types/ScreenInfoUiaProviderBase.cpp
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
  src/types/UiaTracing.cpp
Labels: Area-Accessibility, AutoMerge, Product-Conhost, Product-Terminal

#5021 Add enhanced key support for ConPty
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
Labels: Area-Input, AutoMerge, Product-Conpty

#5105 Make the window border actually follow the user's theme
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
Labels: AutoMerge

#3904 Improve keybinding JSON schema
  doc/cascadia/profiles.schema.json
Labels: Area-Schema, Issue-Docs, Product-Terminal

#5109 Fix broken Chinese IME when deleting composition
  src/cascadia/TerminalControl/TSFInputControl.cpp
Labels: AutoMerge

#5092 Update til::bitmap to use dynamic_bitset<> + libpopcnt
  NOTICE.md
  dep/dynamic_bitset/LICENSE
  dep/dynamic_bitset/MAINTAINER_README.md
  dep/dynamic_bitset/cgmanifest.json
  dep/dynamic_bitset/dynamic_bitset.hpp
  dep/libpopcnt/LICENSE
  dep/libpopcnt/MAINTAINER_README.md
  dep/libpopcnt/cgmanifest.json
  dep/libpopcnt/libpopcnt.h
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/common.build.pre.props
  src/inc/LibraryIncludes.h
  src/inc/til/bitmap.h
  src/til/ut_til/BitmapTests.cpp
Labels: Area-CodeHealth, Area-Performance, AutoMerge, Issue-Task, Needs-Second, Product-Meta

#4956 Switch to the x64 hosted tools when building on x64
  src/common.build.pre.props
Labels: Area-Build, AutoMerge, Product-Meta

#5119 Prepare for automated localization
  build/config/LocConfig.xml
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/CascadiaPackage/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalConnection/Resources/en-US/Resources.resw
  src/cascadia/TerminalConnection/TerminalConnection.vcxproj
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/TerminalControl.vcxproj
  src/cascadia/TerminalControl/TerminalControl.vcxproj.filters
  src/cascadia/WindowsTerminalUniversal/Resources/en-US/Resources.resw
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj.filters
Labels: AutoMerge

#5096 Rework and simplify selection in TermControl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalSettings/IControlSettings.idl
  src/cascadia/TerminalSettings/ICoreSettings.idl
  src/cascadia/UnitTests_TerminalCore/SelectionTest.cpp
Labels: AutoMerge

#5121 Set Cascadia Code as default font
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/TerminalApp/defaults-universal.json
  src/cascadia/TerminalApp/defaults.json
  src/inc/DefaultSettings.h
Labels: AutoMerge

#5090 Process actions sync. on startup; don't dupe nonexistent profile
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalControl/TSFInputControl.cpp
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-User Interface, Product-Terminal

#5127 Add a "debug tap" that lets you see the VT behind a connection
  src/cascadia/TerminalApp/DebugTapConnection.cpp
  src/cascadia/TerminalApp/DebugTapConnection.h
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
Labels: Needs-Second, Product-Terminal

#5051 Rework TermControl's initialization
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: Area-TerminalControl, Needs-Second, Product-Terminal

#5015 Add a note about binding multiple keys
  doc/user-docs/UsingJsonSettings.md
Labels: Area-Settings, Issue-Docs, Product-Terminal

#5142 Doc: add Developer Command Prompt for VS profile
  doc/user-docs/ThirdPartyToolProfiles.md
Labels: Area-Settings, Issue-Docs, Needs-Second, Product-Terminal

#5140 Convert the About and Close All Tabs dialogs to xaml
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-CodeHealth, AutoMerge, Needs-Second, Product-Terminal

#5122 Correct scrolling invalidation region for tmux in pty w/ bitmap
  .github/actions/spell-check/whitelist/whitelist.txt
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/_stream.cpp
  src/host/ut_host/ConptyOutputTests.cpp
  src/inc/til/point.h
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/invalidate.cpp
  src/renderer/vt/math.cpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/tracing.cpp
  src/renderer/vt/tracing.hpp
  src/renderer/vt/vtrenderer.hpp
  src/til/ut_til/PointTests.cpp
Labels: Area-Rendering, AutoMerge, Product-Conpty

#5150 add til::math, use it for float conversions to point, size
  .github/actions/spell-check/dictionary/math.txt
  .github/actions/spell-check/whitelist/whitelist.txt
  src/inc/til.h
  src/inc/til/math.h
  src/inc/til/point.h
  src/inc/til/size.h
  src/til/ut_til/MathTests.cpp
  src/til/ut_til/PointTests.cpp
  src/til/ut_til/SizeTests.cpp
  src/til/ut_til/sources
  src/til/ut_til/til.unit.tests.vcxproj
Labels: AutoMerge

#5141 doc: add Git Bash(WOW64) to ThirdPartyToolProfiles
  doc/user-docs/ThirdPartyToolProfiles.md
Labels: Area-Settings, Issue-Docs, Needs-Second, Product-Terminal

#5149 Set DxRenderer non-text alias mode
  src/renderer/dx/CustomTextRenderer.cpp
  src/renderer/dx/DxRenderer.cpp
Labels: Area-Rendering, AutoMerge, Product-Terminal

#5162 Remove unneeded whitespace to remove compiler warnings about whitespace
  src/cascadia/WpfTerminalControl/NativeMethods.cs
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
  src/cascadia/WpfTerminalControl/TerminalControl.xaml.cs
  src/host/ft_uia/AccessibilityTests.cs
  src/host/ft_uia/Common/ShortcutHelper.cs
  src/host/ft_uia/Elements/TabBase.cs
  src/host/ft_uia/Elements/Tabs.cs
  src/host/ft_uia/Elements/ViewportArea.cs
  src/host/ft_uia/MouseWheelTests.cs
  src/host/ft_uia/VirtualTerminalTests.cs
  src/host/ft_uia/WinEventTests.cs
  src/tools/vtapp/Program.cs
Labels: Area-CodeHealth, AutoMerge

#5148 Make `conechokey` use ReadConsoleInputW by default
  src/tools/echokey/main.cpp
Labels: AutoMerge, Needs-Second

#5135 Redraw TSFInputControl when Terminal cursor updates
  src/cascadia/TerminalControl/TSFInputControl.cpp
  src/cascadia/TerminalControl/TSFInputControl.h
  src/cascadia/TerminalControl/TSFInputControl.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
Labels: Area-Input, Area-TerminalControl, AutoMerge, Product-Terminal
