Repository microsoft/terminal, pull requests merged in 2020-04, with the labels that each got.

#5194 Use an Automatic split for splitPane by default
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/LocalTests_TerminalApp/KeyBindingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
Labels: AutoMerge

#5173 Reimplement the VT tab stop functionality
  src/host/getset.cpp
  src/host/getset.h
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: AutoMerge, Needs-Second

#5200 Clamp VT parameter values to 32767
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/stateMachine.hpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Area-VT, AutoMerge

#5196 Reduce CursorChanged Events for Accessibility
  src/renderer/uia/UiaRenderer.cpp
  src/renderer/uia/UiaRenderer.hpp
Labels: Area-Accessibility, AutoMerge

#5131 Manually pass mouse wheel messages to TermControls
  .github/actions/spell-check/whitelist/whitelist.txt
  src/cascadia/TerminalApp/lib/pch.h
  src/cascadia/TerminalConnection/pch.h
  src/cascadia/TerminalControl/IMouseWheelListener.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalControl/TerminalControl.vcxproj
  src/cascadia/TerminalControl/pch.h
  src/cascadia/TerminalCore/ControlKeyStates.hpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/pch.h
  src/inc/til/point.h
  src/til/ut_til/PointTests.cpp
Labels: AutoMerge, Product-Terminal

#5206 Fix a typo in this doc
  doc/user-docs/UsingJsonSettings.md
Labels: Area-Settings, Issue-Docs, Product-Terminal

#5199 rename profiles.json to settings.json, clean up the defaults
  doc/user-docs/ThirdPartyToolProfiles.md
  doc/user-docs/UsingJsonSettings.md
  doc/user-docs/index.md
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalApp/defaults-universal.json
  src/cascadia/TerminalApp/defaults.json
  tools/GenerateHeaderForJson.ps1
Labels: Area-Settings, AutoMerge, Needs-Second, Product-Terminal

#5213 Restore from minimized properly when "auto-hide taskbar" is enabled
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
Labels: Area-User Interface, AutoMerge, Product-Terminal

#5208 Passthrough Alt+C0 sequences in conpty
  src/terminal/parser/InputStateMachineEngine.cpp
Labels: AutoMerge

#5221 Add `null`, `unbound` to schema for keybindings
  doc/cascadia/profiles.schema.json
Labels: Area-Settings, Issue-Docs, Product-Terminal

#5216 Rename copy keybinding arg
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/KeyBindingsTests.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
Labels: Area-Settings, AutoMerge

#5223 Change aka.ms links to fwlinks
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-CodeHealth, Product-Terminal

#5123 Add splitMode to JSON schema
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
Labels: Area-Schema, Area-Settings, AutoMerge, Issue-Docs, Product-Terminal

#5224 Force all our dialogs into the application theme, forcibly
  src/cascadia/TerminalApp/AppLogic.cpp
Labels: Area-User Interface, AutoMerge, Product-Terminal

#5215 Add more object ID tracing for Accessibility
  src/types/IUiaTraceable.h
  src/types/ScreenInfoUiaProviderBase.cpp
  src/types/ScreenInfoUiaProviderBase.h
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
  src/types/UiaTracing.cpp
  src/types/UiaTracing.h
  src/types/lib/types.vcxproj
  src/types/lib/types.vcxproj.filters
Labels: Area-CodeHealth, AutoMerge

#5229 doc: remove "globals" from schema
  doc/cascadia/profiles.schema.json
Labels: Area-Schema

#3727 Make CodepointWidthDetector::GetWidth faster
  src/types/CodepointWidthDetector.cpp
  src/types/inc/CodepointWidthDetector.hpp
Labels: Area-Performance, AutoMerge, Needs-Second

#5256 Split rolling and PR builds. Drop ARM64, X86 from PR.
  build/pipelines/ci.yml
Labels: Area-Build, AutoMerge, Product-Meta

#5248 Make RIS switch back to the main buffer
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: AutoMerge

#5232 Patch the default profile and version into the settings template
  .github/actions/spell-check/dictionary/apis.txt
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalApp/DefaultProfileUtils.cpp
  src/cascadia/TerminalApp/PowershellCoreProfileGenerator.cpp
  src/cascadia/TerminalApp/PowershellCoreProfileGenerator.h
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/userDefaults.json
Labels: Area-Settings, Product-Terminal

#4192 Delegate all character input to the character event handler
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/PublicTerminalCore/HwndTerminal.hpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/ITerminalInput.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/UnitTests_TerminalCore/InputTest.cpp
  src/cascadia/WpfTerminalControl/NativeMethods.cs
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
  src/terminal/adapter/ut_adapter/inputTest.cpp
  src/terminal/input/terminalInput.cpp
  src/terminal/input/terminalInput.hpp
Labels: Area-Input, Area-VT, AutoMerge, Needs-Second, Product-Conhost, Product-Terminal

#5265 Rename 'requestedTheme' to 'theme'
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/defaults-universal.json
  src/cascadia/TerminalApp/defaults.json
Labels: Area-Settings, AutoMerge, Product-Terminal

#5181 Fix copying wrapped lines by implementing better scrolling
  .github/actions/spell-check/patterns/patterns.txt
  .github/actions/spell-check/whitelist/alphabet.txt
  .github/actions/spell-check/whitelist/whitelist.txt
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/ut_host/ConptyOutputTests.cpp
  src/inc/consoletaeftemplates.hpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/tracing.cpp
  src/renderer/vt/tracing.hpp
  src/renderer/vt/vtrenderer.hpp
Labels: AutoMerge, Needs-Second, Product-Conpty

#5263 Add 'copyFormatting' global setting
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-Settings, AutoMerge, Product-Terminal

#5292 Control: make sure we actually have a dispatcher in 100ms
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Needs-Second

#5300 Add support for the DSR-OS operating status report
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Area-VT, Product-Conhost

#5274 Fall back to TerminalApp.dll's version when we're unpackaged
  .github/actions/spell-check/dictionary/apis.txt
  src/cascadia/TerminalApp/AppLogic.cpp
Labels: Product-Terminal

#5231 Add default values to defaults.json
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalApp/defaults-universal.json
  src/cascadia/TerminalApp/defaults.json
Labels: Area-Settings, AutoMerge

#5217 Update default settings.json experience
  src/cascadia/TerminalApp/userDefaults.json
Labels: Area-Settings, AutoMerge

#5303 Don't wait for a connection to finish when a control is closed
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: AutoMerge

#5212 doc: add a spec for the change to formatted copying
  doc/specs/#4191 - Formatted Copy/spec.md
  doc/specs/#4191 - Formatted Copy/twitter-poll.png
Labels: Needs-Second

#5299 Add 'copyFormatting' global setting
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: AutoMerge

#2193 Add a spec for the Command Palette
  doc/specs/drafts/#2046 - Command Palette.md
Labels: Issue-Docs, Needs-Second, Product-Terminal

#5185 Render row-by-row instead of invalidating entire screen
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/inc/til.h
  src/inc/til/bitmap.h
  src/inc/til/operators.h
  src/inc/til/point.h
  src/inc/til/rectangle.h
  src/inc/til/size.h
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/dx/precomp.h
  src/til/ut_til/BitmapTests.cpp
  src/til/ut_til/PointTests.cpp
  src/til/ut_til/RectangleTests.cpp
  src/til/ut_til/SizeTests.cpp
Labels: Area-Performance, Area-Rendering, AutoMerge, Issue-Bug, Product-Terminal

#5305 Add the Tango color schemes for Terminal and ColorTool
  src/cascadia/TerminalApp/defaults.json
  src/tools/ColorTool/ThirdPartyNotices.md
  src/tools/ColorTool/schemes/tango_dark.itermcolors
  src/tools/ColorTool/schemes/tango_light.itermcolors
Labels: Area-Settings, Product-Terminal

#5336 Import fmtlib/fmt@6.2.0, a C++20-style format library
  NOTICE.md
  OpenConsole.sln
  dep/fmt/LICENSE.rst
  dep/fmt/MAINTAINER_README.md
  dep/fmt/cgmanifest.json
  dep/fmt/include/fmt/chrono.h
  dep/fmt/include/fmt/color.h
  dep/fmt/include/fmt/compile.h
  dep/fmt/include/fmt/core.h
  dep/fmt/include/fmt/format-inl.h
  dep/fmt/include/fmt/format.h
  dep/fmt/include/fmt/locale.h
  dep/fmt/include/fmt/os.h
  dep/fmt/include/fmt/ostream.h
  dep/fmt/include/fmt/posix.h
  dep/fmt/include/fmt/printf.h
  dep/fmt/include/fmt/ranges.h
  dep/fmt/src/format.cc
  dep/fmt/src/os.cc
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/common.build.pre.props
  src/dep/fmt/fmt.vcxproj
  src/inc/LibraryIncludes.h
  src/types/lib/types.vcxproj
Labels: Area-CodeHealth

#5353 Add support for renderer backoff, don't FAIL_FAST on 3x failures, add UI
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.xaml
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/base/thread.cpp
  src/renderer/base/thread.hpp
  src/renderer/inc/IRenderThread.hpp
Labels: Area-Rendering, Area-TerminalControl, AutoMerge, Product-Terminal

#5350 specs: draft spec for adding profiles to the Windows jumplist
  .github/actions/spell-check/dictionary/apis.txt
  .github/actions/spell-check/dictionary/names.txt
  .github/actions/spell-check/patterns/patterns.txt
  .github/actions/spell-check/whitelist/whitelist.txt
  doc/specs/drafts/576-ProfilesJumplistSpec.md
Labels: Issue-Docs, Product-Terminal

#5346 Remove singleLine copy from Shift+Click, CopyOnSelect
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: Area-TerminalControl

#5339 Fix localizability issues in Windows Terminal
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalConnection/AzureConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
Labels: AutoMerge

#5319 Show a double width cursor for double width characters
  src/buffer/out/textBuffer.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalApiTest.cpp
  src/host/screenInfo.cpp
  src/renderer/inc/IRenderData.hpp
Labels: Area-TerminalControl, AutoMerge, Product-Terminal

#5356 Rework error handling and state flow in the Azure connection
  src/cascadia/TerminalConnection/AzureClient.h
  src/cascadia/TerminalConnection/AzureConnection.cpp
  src/cascadia/TerminalConnection/AzureConnection.h
  src/cascadia/TerminalConnection/Resources/en-US/Resources.resw
Labels: Area-AzureShell, Product-Terminal

#5373 wpf: fix two crashes and some fallout from the new key event handler
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
Labels: Area-Input, Area-WPFControl, AutoMerge

#5374 wpf: port selection changes from TermControl, add multi-click selection
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/PublicTerminalCore/HwndTerminal.hpp
  src/cascadia/TerminalCore/Terminal.cpp
Labels: Area-Input, Area-WPFControl, AutoMerge

#5375 wpf: add support for VT mouse mode
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/PublicTerminalCore/HwndTerminal.hpp
  src/cascadia/WpfTerminalControl/NativeMethods.cs
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
Labels: Area-Input, Area-WPFControl, AutoMerge

#5383 Add SS3 cursor key encoding to ConPty
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
Labels: Area-Input, AutoMerge, Product-Conpty

#5385 Fix a deadlock and a bounding rects issue in UIA
  src/types/UiaTextRangeBase.cpp
Labels: Area-Accessibility, AutoMerge, Product-Terminal, Severity-Blocking

#4852 Add WT_PROFILE_ID to the environment of the spawned process
  .github/actions/spell-check/dictionary/apis.txt
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalConnection/ConptyConnection.idl
Labels: AutoMerge, Needs-Second, Product-Terminal

#5388 wpf: only dismiss selection for real chars, not modifiers
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/PublicTerminalCore/HwndTerminal.hpp
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
Labels: Area-WPFControl

#5424 Add a git submodules sanity check step to the build
  src/common.build.pre.props
Labels: Area-Build, AutoMerge, Product-Meta

#5398 Don't duplicate spaces from potentially-wrapped EOL-deferred lines
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/renderer/vt/paint.cpp
Labels: Area-Rendering, AutoMerge, Needs-Second, Product-Conpty

#5404 Add copyFormatting setting to all settings json files
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/defaults-universal.json
  src/cascadia/TerminalApp/defaults.json
  src/cascadia/TerminalApp/userDefaults.json
Labels: Area-Settings, AutoMerge, Product-Terminal

#5399 UIA: Prevent crash from invalid UTR endpoint comparison
  src/types/UiaTextRangeBase.cpp
Labels: Area-Accessibility, AutoMerge, Product-Conhost, Product-Terminal

#5432 Change Windows Powershell default scheme to Campbell
  src/cascadia/TerminalApp/defaults.json
Labels: Area-Accessibility, Product-Terminal

#5448 doc: add a note about running `wt` in the current instance
  doc/user-docs/UsingCommandlineArguments.md
Labels: Area-Commandline, Issue-Docs

#5451 build: move oss required to build conhost out of dep/
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/whitelist/whitelist.txt
  oss/README.md
  oss/chromium/LICENSE
  oss/chromium/MAINTAINER_README.md
  oss/chromium/base/numerics/BUILD.gn
  oss/chromium/base/numerics/DEPS
  oss/chromium/base/numerics/OWNERS
  oss/chromium/base/numerics/README.md
  oss/chromium/base/numerics/checked_math.h
  oss/chromium/base/numerics/checked_math_impl.h
  oss/chromium/base/numerics/clamped_math.h
  oss/chromium/base/numerics/clamped_math_impl.h
  oss/chromium/base/numerics/math_constants.h
  oss/chromium/base/numerics/ranges.h
  oss/chromium/base/numerics/safe_conversions.h
  oss/chromium/base/numerics/safe_conversions_arm_impl.h
  oss/chromium/base/numerics/safe_conversions_impl.h
  oss/chromium/base/numerics/safe_math.h
  oss/chromium/base/numerics/safe_math_arm_impl.h
  oss/chromium/base/numerics/safe_math_clang_gcc_impl.h
  oss/chromium/base/numerics/safe_math_shared_impl.h
  oss/chromium/cgmanifest.json
  oss/dynamic_bitset/LICENSE
  oss/dynamic_bitset/MAINTAINER_README.md
  oss/dynamic_bitset/cgmanifest.json
  oss/dynamic_bitset/dynamic_bitset.hpp
  oss/fmt/LICENSE.rst
  oss/fmt/MAINTAINER_README.md
  oss/fmt/cgmanifest.json
  oss/fmt/include/fmt/chrono.h
  oss/fmt/include/fmt/color.h
  oss/fmt/include/fmt/compile.h
  oss/fmt/include/fmt/core.h
  oss/fmt/include/fmt/format-inl.h
  oss/fmt/include/fmt/format.h
  oss/fmt/include/fmt/locale.h
  oss/fmt/include/fmt/os.h
  oss/fmt/include/fmt/ostream.h
  oss/fmt/include/fmt/posix.h
  oss/fmt/include/fmt/printf.h
  oss/fmt/include/fmt/ranges.h
  oss/fmt/src/format.cc
  oss/fmt/src/os.cc
  oss/libpopcnt/LICENSE
  oss/libpopcnt/MAINTAINER_README.md
  oss/libpopcnt/cgmanifest.json
  oss/libpopcnt/libpopcnt.h
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/common.build.pre.props
  src/dep/dirs
  src/dep/fmt/fmt.vcxproj
  src/dep/fmt/sources
  src/dirs
  src/project.inc
  src/terminal/parser/ft_fuzzer/sources
Labels: Area-CodeHealth

#5361 doc: Add note about using `;` as a separator in PowerShell
  doc/user-docs/UsingCommandlineArguments.md
Labels: Area-Commandline, Issue-Docs

#5449 Add a test to cover #5428
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
Labels: Area-CodeHealth, AutoMerge

#5431 Send a Ctrl-C KeyUp event
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
Labels: AutoMerge

#5453 Enable Control Flow Guard in the common build props
  src/common.build.pre.props
Labels: Area-CodeHealth, Needs-Second

#5345 Adjusts High DPI scaling to enable differential rendering
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/TerminalControl/TSFInputControl.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/host/screenInfo.cpp
  src/inc/til/bitmap.h
  src/inc/til/point.h
  src/inc/til/rectangle.h
  src/inc/til/size.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/til/precomp.h
  src/til/ut_til/BitmapTests.cpp
  src/til/ut_til/PointTests.cpp
  src/til/ut_til/RectangleTests.cpp
  src/til/ut_til/SizeTests.cpp
  src/types/TermControlUiaTextRange.cpp
Labels: Area-Performance, Area-Rendering, Issue-Bug, Product-Terminal

#5505 Include Cascadia Mono in-package, switch to it by default
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  res/CascadiaMono.ttf
  res/README.md
  src/cascadia/CascadiaPackage/Package.appxmanifest
  src/cascadia/CascadiaResources.build.items
  src/cascadia/TerminalApp/defaults-universal.json
  src/cascadia/TerminalApp/defaults.json
  src/inc/DefaultSettings.h
Labels: Area-Settings, AutoMerge, Product-Terminal

#5533 Add descriptions for `backgroundImageAlignment`, `backgroundImageOpacity`
  doc/cascadia/profiles.schema.json
Labels: Area-Settings, Issue-Docs, Product-Terminal

#5277 Use grayscale AA always on non-opaque backgrounds
  src/cascadia/TerminalControl/TermControl.cpp
  src/renderer/dx/CustomTextRenderer.cpp
  src/renderer/dx/CustomTextRenderer.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
Labels: Area-Rendering, AutoMerge, Product-Terminal

#5534 Remove last lingering references to profiles.json
  doc/cascadia/SettingsSchema.md
  doc/user-docs/UsingJsonSettings.md
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/tools/ColorTool/ColorTool/ConsoleTargets/TerminalSchemeConsoleTarget.cs
Labels: Area-Settings, AutoMerge, Issue-Docs, Product-Terminal

#5551 Lock when changing selection endpoint on wheel/auto-scroll
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Rendering, Area-TerminalControl, Issue-Bug, Product-Terminal

#5549 doc: add `disabledProfileSources` to the schema
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
Labels: Area-Schema, Area-Settings, Issue-Docs

#5542 Actually check the elevation status when disabling tab rearrange
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Needs-Second

#5598 Improve default foregrounds for Tango schemes
  src/cascadia/TerminalApp/defaults.json
  src/tools/ColorTool/schemes/tango_dark.itermcolors
  src/tools/ColorTool/schemes/tango_light.itermcolors
Labels: Area-Settings, Product-Terminal

#5597 Add a warning about using the `globals` property
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalWarnings.h
Labels: AutoMerge

#5584 Improve cluster construction performance
  src/renderer/base/renderer.cpp
Labels: Area-Performance, Area-Rendering, AutoMerge, Product-Terminal

#5609 Adjust TSFInputControl alignment
  src/cascadia/TerminalControl/TSFInputControl.cpp
  src/cascadia/TerminalControl/TSFInputControl.h
Labels: Area-Input, Area-TerminalControl, AutoMerge, Product-Terminal

#5304 doc: clean up the schema
  doc/cascadia/profiles.schema.json
Labels: Area-Schema, Needs-Second

#5508 Add a Third-Party notices link to the about dialog
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  tools/GenerateCommitHashHeader.ps1
Labels: Area-Build, AutoMerge, Product-Terminal

#5552 Fix Ctrl+Alt not being treated as a substitute for AltGr anymore
  src/terminal/adapter/ut_adapter/inputTest.cpp
  src/terminal/input/terminalInput.cpp
Labels: Area-Input, Area-VT

#5599 Add and enforce minimum width
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
Labels: Area-Accessibility, Area-User Interface, AutoMerge, Product-Terminal

#5478 Notify UIA when Search finds something
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Accessibility, AutoMerge, Needs-Second, Product-Terminal

#5630 Clamp the new rows scrolling value to a positive number
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/UnitTests_TerminalCore/TerminalAndRendererTests.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalBufferTests.cpp
  src/cascadia/UnitTests_TerminalCore/UnitTests.vcxproj
Labels: AutoMerge, Product-Terminal

#5644 Added even more quick exit in InsertAttrRuns
  .github/actions/spell-check/whitelist/whitelist.txt
  src/buffer/out/AttrRow.cpp
Labels: Area-Output, Area-Performance, AutoMerge

#5595 Remove the title tag from the generated HTML
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/interactivity/win32/Clipboard.cpp
Labels: Needs-Second, Product-Terminal

#5620 Hide the commandline on a resize to prevent a crash when snapping the window
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/getset.cpp
  src/inc/test/CommonState.hpp
Labels: AutoMerge, Product-Conhost, Product-Conpty

#5652 Add explicit identifier to some constructors
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/DebugTapConnection.h
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalApp/TerminalWarnings.h
  src/cascadia/TerminalAzBridge/ConsoleInputReader.h
  src/host/CommandNumberPopup.hpp
  src/host/CopyFromCharPopup.hpp
  src/host/conareainfo.h
  src/host/conattrs.cpp
Labels: Area-CodeHealth

#5654 Grab the write lock before updating the font
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: Area-Rendering, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Crash

#5661 Bundle the entire CRT with our branded Release packages
  .github/actions/spell-check/dictionary/microsoft.txt
  .github/actions/spell-check/whitelist/whitelist.txt
  build/scripts/Test-WindowsTerminalPackage.ps1
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
Labels: Area-Build, AutoMerge, Issue-Question, Product-Terminal

#5550 Don't remove spaces when printing a new bottom line with a background color
  .github/actions/spell-check/whitelist/alphabet.txt
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/cascadia/UnitTests_TerminalCore/TestUtils.h
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/vtrenderer.hpp
Labels: Area-Rendering, AutoMerge, Issue-Bug, Needs-Second, Product-Conpty

#5629 Intentionally leak our Application, so that we DON'T crash on exit
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Needs-Second, Product-Terminal

#5627 Implement a pair of shims for `cls`, `Clear-Host` in conpty mode
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/ApiRoutines.h
  src/host/VtIo.cpp
  src/host/VtIo.hpp
  src/host/_output.cpp
  src/host/getset.cpp
  src/host/globals.cpp
  src/host/globals.h
  src/host/ut_host/ConptyOutputTests.cpp
  src/inc/til/size.h
  src/renderer/vt/VtSequences.cpp
  src/renderer/vt/Xterm256Engine.cpp
  src/renderer/vt/Xterm256Engine.hpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
  src/server/ApiDispatchers.cpp
  src/server/ConsoleShimPolicy.cpp
  src/server/ConsoleShimPolicy.h
  src/server/IApiRoutines.h
  src/server/ProcessHandle.cpp
  src/server/ProcessHandle.h
  src/server/lib/server.vcxproj
  src/server/sources.inc
  src/til/ut_til/SizeTests.cpp
Labels: Area-Output, Area-Server, Area-VT, AutoMerge, Issue-Bug, Issue-Question, Priority-2, Product-Cmd.exe, Product-Conpty

#5484 Add tooltip text to New Tab/Min/Max/Close
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
Labels: Area-User Interface, Issue-Task, Product-Terminal
