Repository microsoft/terminal, pull requests merged in 2020-07, with the labels that each got.

#5080 Replace old C headers (xxx.h) with modern ones (cxxx)
  .github/actions/spell-check/expect/expect.txt
  samples/ConPTY/EchoCon/EchoCon/stdafx.h
  src/cascadia/TerminalConnection/AzureConnection.cpp
  src/cascadia/WindowsTerminal/pch.h
  src/host/conattrs.cpp
  src/host/precomp.h
  src/host/screenInfo.cpp
  src/host/telemetry.cpp
  src/host/ut_host/UtilsTests.cpp
  src/inc/LibraryIncludes.h
  src/propsheet/precomp.h
  src/renderer/dx/precomp.h
  src/renderer/gdi/precomp.h
  src/renderer/gdi/tool/main.cpp
  src/renderer/vt/precomp.h
  src/renderer/vt/state.cpp
  src/renderer/wddmcon/precomp.h
  src/terminal/adapter/precomp.h
  src/terminal/parser/ft_fuzzer/fuzzing_directed.h
  src/terminal/parser/ft_fuzzer/stdafx.h
  src/terminal/parser/ft_fuzzwrapper/precomp.h
  src/terminal/parser/telemetry.hpp
  src/tools/buffersize/main.cpp
  src/tools/closetest/closetest.cpp
  src/tools/echokey/main.cpp
  src/tools/integrity/exeuwp/consoleuwp.cpp
  src/tools/lnkd/precomp.h
  src/tools/pixels/precomp.h
  src/tools/test/precomp.h
  src/tools/vtpipeterm/VtConsole.cpp
  src/tools/vtpipeterm/main.cpp
  src/tsf/precomp.h
Labels: Area-CodeHealth

#6698 Improve conpty rendering of default colors in legacy apps
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/buffer/out/ut_textbuffer/TextAttributeTests.cpp
  src/host/consoleInformation.cpp
  src/host/getset.cpp
  src/host/output.cpp
  src/host/screenInfo.cpp
  src/host/settings.cpp
  src/host/settings.hpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/inc/test/CommonState.hpp
  src/interactivity/win32/menu.cpp
Labels: Area-Server, Area-User Interface, Impact-Correctness, Issue-Bug, Priority-3, Product-Conhost

#6728 Refactor TerminalDispatch (graphics) to match AdaptDispatch
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/cascadia/TerminalCore/TerminalDispatchGraphics.cpp
Labels: Issue-Feature

#6631 Add settings to warn about large or multiline pastes
  .github/actions/spell-check/dictionary/apis.txt
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-Settings, Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#5327 fix scheme name resolution, and schema load on WSL
  src/tools/ColorTool/ColorTool/SchemeManager.cs
  src/tools/ColorTool/ColorTool/SchemeParsers/ISchemeParser.cs
  src/tools/ColorTool/ColorTool/SchemeParsers/IniSchemeParser.cs
  src/tools/ColorTool/ColorTool/SchemeParsers/JsonParser.cs
  src/tools/ColorTool/ColorTool/SchemeParsers/SchemeParserBase.cs
  src/tools/ColorTool/ColorTool/SchemeParsers/XmlSchemeParser.cs
Labels: Area-CodeHealth, Area-Settings, AutoMerge, Issue-Bug, Needs-Author-Feedback, Needs-Second, Priority-3, Product-Colortool

#6691 Add a ShortcutAction for toggling retro terminal effect
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
Labels: Area-TerminalControl, AutoMerge, Issue-Task, Product-Terminal

#6763 Don't abort early in VT reset operations if one of the steps fails
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: Area-VT, AutoMerge, Issue-Bug, Product-Conpty

#6766 Update the shape of our custom NewTab button to match MUX's TabView button
  src/cascadia/TerminalApp/TabRowControl.xaml
Labels: Area-User Interface, AutoMerge, Product-Terminal

#6803 Add some trace logging concerning which schemes are in use
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-Settings, AutoMerge, Gathering-Data, Issue-Task, Product-Terminal

#6812 Update colors of our custom NewTab button to match MUX's TabView
  src/cascadia/TerminalApp/TabRowControl.xaml
Labels: Area-User Interface, Product-Terminal

#2529 Add a spec for output snapping
  .github/actions/spell-check/expect/expect.txt
  doc/specs/#980 - SnapOnOutput.md
Labels: Area-Settings, AutoMerge, Issue-Docs, Product-Terminal

#6806 Add actions missing in schema, descriptions for `toggleRetroEffect`
  .github/actions/spell-check/expect/expect.txt
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/CommandKeyChordVisibilityConverter.cpp
  src/cascadia/TerminalApp/CommandKeyChordVisibilityConverter.h
  src/cascadia/TerminalApp/CommandKeyChordVisibilityConverter.idl
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/defaults.json
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
Labels: Area-Schema, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#6819 Update MUX to 2.5.0-prerelease.200609001
  doc/building.md
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
  src/cascadia/TerminalApp/TerminalApp.vcxproj
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/packages.config
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#6821 Add some logging regarding command palette usage
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
Labels: Area-User Interface, AutoMerge, Gathering-Data, Issue-Task, Needs-Second, Product-Terminal

#6343 Allow starting selections from padding area
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.xaml
Labels: Area-Input, Area-TerminalControl, AutoMerge, Issue-Bug, Issue-Task, Needs-Second, Product-Terminal

#6833 Make Terminal look great in High Contrast
  .github/actions/spell-check/dictionary/microsoft.txt
  src/cascadia/TerminalApp/App.cpp
  src/cascadia/TerminalControl/SearchBoxControl.xaml
Labels: Area-User Interface, Issue-Bug, Priority-3, Product-Terminal

#6839 Avoid copying the bitmap on the way into the tracing function
  src/renderer/vt/tracing.cpp
  src/renderer/vt/tracing.hpp
Labels: Area-Performance, AutoMerge, Issue-Task, Product-Conhost

#6840 Cache VT buffer line string to avoid (de)alloc on every paint
  src/renderer/vt/paint.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
Labels: Area-Accessibility, Issue-Task, Product-Conpty

#6838 Fix the build in VS 2019 16.7
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
  src/cascadia/TerminalAzBridge/TerminalAzBridge.vcxproj
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/cppwinrt.build.pre.props
Labels: Area-Build, AutoMerge, Product-Terminal

#6841 Cache the size viewport structure inside TextBuffer
  src/buffer/out/search.cpp
  src/buffer/out/search.h
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/types/ScreenInfoUiaProviderBase.cpp
  src/types/ScreenInfoUiaProviderBase.h
Labels: Area-Performance, AutoMerge, Issue-Task, Product-Conhost, Product-Conpty, Product-Terminal

#6062 Implement preventing auto-scroll on new output
  src/cascadia/TerminalCore/Terminal.cpp
Labels: Area-Settings, Area-TerminalControl, AutoMerge, Issue-Feature, Issue-Task, Needs-Second, Priority-1, Product-Terminal

#6809 Add support for DECSCNM in Windows Terminal
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: Area-VT, AutoMerge, Issue-Task, Product-Terminal

#6843 Account for WHEEL_DELTA when dispatching VT mouse wheel events
  src/interactivity/win32/windowio.cpp
  src/terminal/adapter/ut_adapter/MouseInputTest.cpp
  src/terminal/input/mouseInput.cpp
  src/terminal/input/terminalInput.hpp
  src/types/inc/utils.hpp
Labels: Area-Input, Area-TerminalControl, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#6810 Reintroduce a color compatibility hack, but only for PowerShells
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/host/ApiRoutines.h
  src/host/_stream.cpp
  src/host/_stream.h
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/host/ut_host/ApiRoutinesTests.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/host/writeData.cpp
  src/host/writeData.hpp
  src/server/ApiDispatchers.cpp
  src/server/ConsoleShimPolicy.cpp
  src/server/ConsoleShimPolicy.h
  src/server/IApiRoutines.h
Labels: Area-VT, Issue-Bug, Product-Conhost

#6853 Refactor the renderer color calculations
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/buffer/out/TextColor.h
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/buffer/out/ut_textbuffer/TextAttributeTests.cpp
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/host/renderData.cpp
  src/host/renderData.hpp
  src/host/settings.cpp
  src/host/settings.hpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/interactivity/win32/Clipboard.cpp
  src/renderer/base/renderer.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/gdi/paint.cpp
  src/renderer/gdi/state.cpp
  src/renderer/inc/IRenderData.hpp
Labels: AutoMerge, Needs-Second

#6850 Add support for DA2 and DA3 device attributes reports
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/telemetry.cpp
  src/terminal/parser/telemetry.hpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Area-VT, AutoMerge, Issue-Task, Needs-Second, Product-Conhost

#6860 Build and ship an actual binary named wt that just launches WT
  OpenConsole.sln
  build/scripts/Test-WindowsTerminalPackage.ps1
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
  src/cascadia/wt/resource.h
  src/cascadia/wt/shim.cpp
  src/cascadia/wt/wt.rc
  src/cascadia/wt/wt.vcxproj
Labels: Area-Commandline, AutoMerge, Issue-Feature, Issue-Task, Priority-2, Product-Terminal

#6890 Update JsonNew for IReference+cleaner optionals, and better Mappers
  src/cascadia/TerminalApp/JsonUtilsNew.h
Labels: AutoMerge

#6804 Add support for focus mode
  .github/actions/spell-check/expect/expect.txt
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/defaults.json
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
Labels: Area-User Interface, AutoMerge, Issue-Feature, Product-Terminal

#6873 Add support for the "faint" graphic rendition attribute
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/buffer/out/ut_textbuffer/TextAttributeTests.cpp
  src/cascadia/TerminalCore/TerminalDispatchGraphics.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/VtRendererTests.cpp
  src/inc/conattrs.hpp
  src/renderer/vt/VtSequences.cpp
  src/renderer/vt/Xterm256Engine.cpp
  src/renderer/vt/vtrenderer.hpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Area-Rendering, Area-VT, AutoMerge, Issue-Task, Product-Conhost

#6891 Remove the rowsToScroll setting and just always use the system setting
  .github/actions/spell-check/dictionary/apis.txt
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/defaults-universal.json
  src/cascadia/TerminalApp/defaults.json
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalSettings/ICoreSettings.idl
  src/cascadia/TerminalSettings/TerminalSettings.cpp
  src/cascadia/TerminalSettings/terminalsettings.h
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
  src/inc/DefaultSettings.h
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#6907 Add support for the "concealed" graphic rendition attribute
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/ut_textbuffer/TextAttributeTests.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Area-VT, AutoMerge, Issue-Task, Needs-Second, Priority-2, Product-Conhost, Product-Terminal

#6906 Update {fmt} to 7.0.1
  oss/fmt/cgmanifest.json
  oss/fmt/include/fmt/chrono.h
  oss/fmt/include/fmt/color.h
  oss/fmt/include/fmt/compile.h
  oss/fmt/include/fmt/core.h
  oss/fmt/include/fmt/format-inl.h
  oss/fmt/include/fmt/format.h
  oss/fmt/include/fmt/locale.h
  oss/fmt/include/fmt/os.h
  oss/fmt/include/fmt/ostream.h
  oss/fmt/include/fmt/posix.h
  oss/fmt/include/fmt/printf.h
  oss/fmt/include/fmt/ranges.h
  oss/fmt/src/format.cc
  oss/fmt/src/os.cc
Labels: Area-Build, Area-CodeHealth, AutoMerge, Issue-Task, Needs-Second, Product-Meta

#6910 Tweak the Palette's KeyChord for High Contrast mode
  src/cascadia/TerminalApp/CommandPalette.xaml
Labels: Area-Accessibility, Area-User Interface, AutoMerge, Issue-Bug, Priority-1, Product-Terminal

#6576 `wt.exe`: Add support for "short" sub-commands
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
Labels: Area-Commandline, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#6903 Add support for "Always on top" mode
  .github/actions/spell-check/expect/expect.txt
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/defaults.json
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
Labels: Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#6913 Replace the color table init code with two const arrays
  src/types/utils.cpp
Labels: Area-CodeHealth, AutoMerge

#6925 Replace gsl::at with a new til::at(span) for pre-checked bounds
  src/buffer/out/AttrRow.cpp
  src/buffer/out/OutputCellIterator.cpp
  src/buffer/out/TextColor.cpp
  src/host/alias.cpp
  src/host/dbcs.cpp
  src/host/getset.cpp
  src/host/history.cpp
  src/inc/til/at.h
  src/renderer/gdi/paint.cpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
  src/types/utils.cpp
Labels: Area-CodeHealth

#6751 Added til::spsc, a lock-free, single-producer/-consumer FIFO queue
  .github/actions/spell-check/dictionary/apis.txt
  src/inc/til.h
  src/inc/til/spsc.h
  src/til/ut_til/SPSCTests.cpp
  src/til/ut_til/til.unit.tests.vcxproj
  src/til/ut_til/til.unit.tests.vcxproj.filters
Labels: Area-Performance, AutoMerge, Product-Meta

#6918 Cache the viewport to make invalidation faster
  src/host/ut_host/VtIoTests.cpp
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
Labels: Area-Performance, AutoMerge, Issue-Task, Product-Terminal

#6939 Smooth animation of command palette filtering
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
Labels: Area-User Interface, Issue-Task, Product-Terminal

#6954 Move to the TerminalDependencies NuGet feed
  NuGet.Config
Labels: Area-Build, Issue-Task, Needs-Second, Product-Meta

#6590 Convert most of our JSON deserializers to use type-based conversion
  src/cascadia/LocalTests_TerminalApp/CommandTests.cpp
  src/cascadia/LocalTests_TerminalApp/KeyBindingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalApp/ColorScheme.cpp
  src/cascadia/TerminalApp/Command.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/JsonUtils.cpp
  src/cascadia/TerminalApp/JsonUtils.h
  src/cascadia/TerminalApp/JsonUtilsNew.h
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalApp/SettingsTypes.h
  src/cascadia/TerminalApp/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalApp/Utils.cpp
  src/cascadia/TerminalApp/Utils.h
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj.filters
  src/cascadia/ut_app/JsonTests.cpp
  src/cascadia/ut_app/JsonUtilsTests.cpp
Labels: Area-CodeHealth, Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#6951 Tweaks: normalize TextAttribute method names (adjective form)
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalCore/TerminalDispatchGraphics.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/VtRendererTests.cpp
  src/renderer/vt/VtSequences.cpp
  src/renderer/vt/Xterm256Engine.cpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/vtrenderer.hpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: AutoMerge

#6920 Set memory order on slow atomics
  .github/actions/spell-check/patterns/patterns.txt
  src/cascadia/TerminalControl/ThrottledFunc.cpp
  src/renderer/base/thread.cpp
Labels: Area-Performance, AutoMerge, Issue-Task, Product-Conhost, Product-Conpty, Product-Terminal

#6919 Commit attr runs less frequently by accumulating length of color run
  src/buffer/out/Row.cpp
Labels: Area-Performance, AutoMerge, Issue-Task, Product-Conpty, Product-Terminal

#6965 Add gutter to Command Palette to avoid overlapping with scrollbar
  src/cascadia/TerminalApp/CommandPalette.xaml
Labels: AutoMerge

#6922 Skip DX invalidation if we've already scrolled an entire screen worth of height
  .github/actions/spell-check/dictionary/apis.txt
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
Labels: Area-Performance, Area-Rendering, AutoMerge, Issue-Task, Product-Terminal

#6537 Add support for running a `wt` commandline in the curent window WITH A KEYBINDING
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/lib/pch.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Area-Settings, AutoMerge, Issue-Feature, Product-Terminal

#6985 Swap brightBlack/black in the Solarized color schemes
  src/cascadia/TerminalApp/defaults.json
Labels: Issue-Question, Product-Terminal

#6447 UIA: use full buffer comparison in rects and endpoint setter
  src/types/UiaTextRangeBase.cpp
Labels: Area-Accessibility, AutoMerge, Issue-Bug, Product-Terminal, Severity-Crash

#6983 wpf: fix a handful of issues with the wpf control
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/PublicTerminalCore/HwndTerminal.hpp
  src/cascadia/WpfTerminalControl/NativeMethods.cs
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
Labels: Area-WPFControl, AutoMerge, Issue-Bug, Priority-1, Product-Terminal

#7119 Fixed window title not updating with tab rename
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, Issue-Bug, Priority-3, Product-Terminal

#7123 Implement SetCursorColor in Terminal
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
Labels: Area-VT, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#7107 Refactor grid line renderers with support for more line types
  .github/actions/spell-check/dictionary/apis.txt
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/gdi/gdirenderer.hpp
  src/renderer/gdi/paint.cpp
  src/renderer/gdi/state.cpp
  src/renderer/inc/IRenderEngine.hpp
Labels: Area-Rendering, AutoMerge, Issue-Task, Product-Conhost, Product-Terminal

#7117 Implement split pane with new tab button
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, AutoMerge, Issue-Task, Priority-2, Product-Terminal

#7106 Send ENHANCED_KEY in Win32 input mode in the wpf/uwp controls
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/PublicTerminalCore/HwndTerminal.hpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/WpfTerminalControl/NativeMethods.cs
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-2, Product-Terminal
