Repository microsoft/terminal, pull requests merged in 2020-05, with the labels that each got.

#5679 Remove the (Preview) tag from the primary App Name
  src/cascadia/CascadiaPackage/Resources/Resources.resw
Labels: AutoMerge

#5734 Fix RTL regression (fixes #4779)
  src/renderer/dx/CustomTextRenderer.cpp
Labels: Area-Rendering, AutoMerge, Issue-Bug, Product-Terminal

#5684 Add a note that the user needs to hide dynamic profiles
  doc/user-docs/UsingJsonSettings.md
Labels: Area-Settings, Issue-Docs, Product-Terminal

#5501 Add support for displaying the version with `wt --version`
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Area-Commandline, AutoMerge, Product-Terminal

#3789 Add support for setting a tab's color at runtime w/ context menu
  .github/actions/spell-check/dictionary/apis.txt
  .github/actions/spell-check/patterns/patterns.txt
  .github/actions/spell-check/whitelist/web.txt
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/LocalTests_TerminalApp/pch.h
  src/cascadia/TerminalApp/ColorHelper.cpp
  src/cascadia/TerminalApp/ColorHelper.h
  src/cascadia/TerminalApp/ColorPickupFlyout.cpp
  src/cascadia/TerminalApp/ColorPickupFlyout.h
  src/cascadia/TerminalApp/ColorPickupFlyout.idl
  src/cascadia/TerminalApp/ColorPickupFlyout.xaml
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TitlebarControl.cpp
  src/cascadia/TerminalApp/TitlebarControl.h
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalApp/lib/pch.h
  src/cascadia/ut_app/ColorHelperTests.cpp
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
  src/cascadia/ut_app/precomp.h
Labels: Area-User Interface, AutoMerge, Needs-Second, Product-Terminal

#5740 Fix a few minor typos from #3789
  .github/actions/spell-check/patterns/patterns.txt
  .github/actions/spell-check/whitelist/web.txt
  src/cascadia/TerminalApp/ColorHelper.cpp
Labels: AutoMerge

#5683 Make sure that EraseAll moves the Terminal viewport
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/getset.cpp
  src/host/getset.h
  src/host/outputStream.cpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: Area-VT, AutoMerge, Issue-Task, Priority-0, Product-Terminal

#5742 Make sure we don't try to remove tabs when they don't exist
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, Issue-Bug, Priority-1, Product-Terminal, Severity-Crash

#5752 Add File Explorer tip to User Docs
  doc/user-docs/index.md
Labels: Issue-Docs, Product-Terminal

#5749 Don't set the new tab button colors for now
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, Issue-Bug, Priority-1, Product-Terminal

#5765 Update docs to mention commandline args
  doc/user-docs/index.md
Labels: Issue-Docs, Product-Terminal

#5774 Add a new appxmanifest for preview
  build/pipelines/release.yml
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Resources/Resources.resw
  src/cascadia/CascadiaResources.build.items
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
Labels: Area-Build, AutoMerge, Needs-Second, Product-Terminal

#5794 Add an AppDescription for the Preview package
  src/cascadia/CascadiaPackage/Resources/en-US/Resources.resw
Labels: Area-Build, Product-Terminal

#5809 Manually select a new tab when we're in fullscreen mode
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, Issue-Bug, Priority-1, Product-Terminal, Severity-DataLoss

#5743 Scale box drawing glyphs to fit cells for visual bliss
  .github/actions/spell-check/dictionary/apis.txt
  .gitignore
  doc/reference/customtextlayout.xlsx
  src/renderer/dx/BoxDrawingEffect.cpp
  src/renderer/dx/BoxDrawingEffect.h
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/CustomTextLayout.h
  src/renderer/dx/CustomTextRenderer.cpp
  src/renderer/dx/CustomTextRenderer.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/dx/IBoxDrawingEffect.idl
  src/renderer/dx/lib/dx.vcxproj
  src/renderer/dx/lib/dx.vcxproj.filters
Labels: Area-Output, Area-Rendering, Issue-Bug, Priority-2, Product-Terminal

#5771 Fix wrapped lines in `less` in Git for Windows
  .github/actions/spell-check/whitelist/alphabet.txt
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/cascadia/UnitTests_TerminalCore/TestUtils.h
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/paint.cpp
Labels: Area-Server, Area-VT, AutoMerge, Issue-Bug, Needs-Second, Priority-1, Product-Conpty

#5798 Trigger scroll on scrolled selection
  src/cascadia/TerminalCore/terminalrenderdata.cpp
Labels: Area-Rendering, Area-TerminalControl, Issue-Bug, Product-Terminal

#5795 Make most emojis full-width
  .github/actions/spell-check/whitelist/whitelist.txt
  src/types/CodepointWidthDetector.cpp
  src/types/convert.cpp
Labels: Area-Rendering, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#5758 Refactor the SGR implementation in AdaptDispatch
  .github/actions/spell-check/dictionary/apis.txt
  src/buffer/out/AttrRow.cpp
  src/buffer/out/AttrRow.hpp
  src/buffer/out/OutputCell.cpp
  src/buffer/out/OutputCell.hpp
  src/buffer/out/OutputCellIterator.cpp
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/buffer/out/TextAttributeRun.cpp
  src/buffer/out/TextAttributeRun.hpp
  src/buffer/out/ut_textbuffer/TextAttributeTests.cpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/getset.cpp
  src/host/getset.h
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/ut_host/AttrRowTests.cpp
  src/host/ut_host/OutputCellIteratorTests.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/ut_adapter/Adapter.UnitTests.vcxproj
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Area-VT, Issue-Bug, Priority-2, Product-Conhost

#5853 Add renderer settings to mitigate blurry text for some graphics devices
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettings/IControlSettings.idl
  src/cascadia/TerminalSettings/TerminalSettings.cpp
  src/cascadia/TerminalSettings/terminalsettings.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
Labels: Area-Rendering, Issue-Bug, Priority-0, Product-Terminal

#5851 InteractivityWin32: Add a dependency on Dx
  src/interactivity/win32/lib/win32.LIB.vcxproj
Labels: Area-Build, Area-CodeHealth, Area-Rendering, Issue-Bug, Priority-2, Product-Meta

#5856 Teach TerminalPage to handle exceptions that happen during paste
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, Issue-Bug, Priority-2, Product-Terminal, Severity-Crash

#5866 Revert some emoji back to narrow width
  .github/actions/spell-check/whitelist/whitelist.txt
  src/types/CodepointWidthDetector.cpp
Labels: Area-Server, AutoMerge, Impact-Compatibility, Impact-Correctness, Issue-Bug, Priority-0, Product-Conhost, Product-Terminal

#5865 Implement drag-drop paste for text
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Task, Product-Terminal

#5870 Fix an accidental regression from #5771
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/renderer/vt/paint.cpp
Labels: Area-Rendering, Issue-Bug, Priority-1, Product-Conpty

#5883 Manually close tabs when they're closed while dragging them
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-Input, Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#5882 Rename `propsheet/TerminalPage` to `propsheet/TerminalPropsheetPage`
  src/propsheet/TerminalPropsheetPage.cpp
  src/propsheet/TerminalPropsheetPage.h
  src/propsheet/console.h
  src/propsheet/propsheet.vcxproj
  src/propsheet/sources
Labels: Area-CodeHealth, AutoMerge

#5909 doc: add a tip about launching WT with a Win+Number shortcut
  doc/user-docs/index.md
Labels: Issue-Docs, Product-Terminal

#5914 CodepointWidthDetector: reclassify U+25FB, U+25FC as Narrow
  src/types/CodepointWidthDetector.cpp
Labels: AutoMerge

#4614 doc: add a link to default keybindings
  doc/user-docs/UsingJsonSettings.md
Labels: Area-Settings, Issue-Docs, Needs-Second, Product-Terminal

#5847 Switch the Cascadia projects to til::color where it's easily possible to do so
  src/cascadia/TerminalApp/ColorScheme.cpp
  src/cascadia/TerminalApp/ColorScheme.h
  src/cascadia/TerminalApp/JsonUtils.cpp
  src/cascadia/TerminalApp/JsonUtils.h
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/WinRTUtils/inc/Utils.h
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
  src/inc/DefaultSettings.h
  src/inc/til/color.h
  src/til/ut_til/ColorTests.cpp
  src/types/inc/utils.hpp
  src/types/utils.cpp
Labels: AutoMerge

#5961 doc: fix a typo in user-docs/index.md
  doc/user-docs/index.md
Labels: Issue-Docs

#5999 Correct the default 6x6x6 palette entries
  src/types/utils.cpp
Labels: AutoMerge

#6048 Add font weight options
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalControl/TSFInputControl.cpp
  src/cascadia/TerminalControl/TSFInputControl.h
  src/cascadia/TerminalControl/TSFInputControl.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettings/IControlSettings.idl
  src/cascadia/TerminalSettings/TerminalSettings.cpp
  src/cascadia/TerminalSettings/terminalsettings.h
  src/inc/DefaultSettings.h
  src/renderer/dx/DxRenderer.cpp
Labels: Area-Rendering, Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#6011 Update to point to live docs
  README.md
Labels: Issue-Docs, Product-Terminal

#5881 Get rid of the padding above the tab row when maximized
  src/cascadia/TerminalApp/MinMaxCloseControl.cpp
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#5988 Make sure to update the maximize button's visual state on launch
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#6207 Make sure cursor visibility is restored after using an IME
  src/host/conimeinfo.cpp
  src/host/conimeinfo.h
  src/host/convarea.cpp
Labels: Area-Input, Area-Interaction, AutoMerge, Issue-Bug, Needs-Second, Priority-1, Product-Conhost

#6169 Add `winget` instructions to README.md
  .github/actions/spell-check/whitelist/whitelist.txt
  README.md
Labels: AutoMerge, Issue-Docs, Needs-Second

#6146 Fix #6079, allow pasting from Explorer's 'Copy Address'
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#6226 Add stdexcept header explicitly to u8u16test tool
  src/tools/U8U16Test/U8U16Test.hpp
Labels: Area-Build, Issue-Bug, Product-Meta

#6110 Replace everything in `TerminalSettings` with `GETSET_PROPERTY`
  src/cascadia/TerminalSettings/TerminalSettings.cpp
  src/cascadia/TerminalSettings/terminalsettings.h
  src/cascadia/inc/cppwinrt_utils.h
Labels: Area-CodeHealth, Area-Settings, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#5834 Fix SGR indexed colors to distinguish Indexed256 color (and more)
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/buffer/out/TextColor.cpp
  src/buffer/out/TextColor.h
  src/buffer/out/ut_textbuffer/TextColorTests.cpp
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatchGraphics.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/VtIo.cpp
  src/host/conattrs.cpp
  src/host/getset.cpp
  src/host/screenInfo.cpp
  src/host/settings.cpp
  src/host/settings.hpp
  src/host/telemetry.cpp
  src/host/ut_host/ConptyOutputTests.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/TextBufferIteratorTests.cpp
  src/host/ut_host/VtIoTests.cpp
  src/host/ut_host/VtRendererTests.cpp
  src/inc/conattrs.hpp
  src/interactivity/win32/menu.cpp
  src/renderer/vt/WinTelnetEngine.cpp
  src/renderer/vt/WinTelnetEngine.hpp
  src/renderer/vt/Xterm256Engine.cpp
  src/renderer/vt/Xterm256Engine.hpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/XtermEngine.hpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/vtrenderer.hpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  tools/ConsoleTypes.natvis
Labels: Area-VT, AutoMerge, Issue-Bug, Needs-Second, Product-Conhost

#5922 ci: spelling: update to 0.0.16a; update advice
  .github/actions/spell-check/advice.txt
  .github/actions/spell-check/dictionary/apis.txt
  .github/actions/spell-check/dictionary/names.txt
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/expect/README.md
  .github/actions/spell-check/expect/alphabet.txt
  .github/actions/spell-check/expect/expect.txt
  .github/actions/spell-check/expect/web.txt
  .github/actions/spell-check/patterns/patterns.txt
  .github/actions/spell-check/whitelist/README.md
  .github/workflows/spelling.yml
Labels: AutoMerge, Needs-Second

#6100 Add a context menu entry to "Open Windows Terminal here"
  .github/actions/spell-check/dictionary/apis.txt
  .github/actions/spell-check/dictionary/microsoft.txt
  .github/actions/spell-check/expect/expect.txt
  .github/actions/spell-check/expect/web.txt
  .github/actions/spell-check/patterns/patterns.txt
  OpenConsole.sln
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
  src/cascadia/ShellExtension/OpenTerminalHere.cpp
  src/cascadia/ShellExtension/OpenTerminalHere.h
  src/cascadia/ShellExtension/PlaceholderType.cpp
  src/cascadia/ShellExtension/PlaceholderType.h
  src/cascadia/ShellExtension/PlaceholderType.idl
  src/cascadia/ShellExtension/WindowsTerminalShellExt.def
  src/cascadia/ShellExtension/WindowsTerminalShellExt.vcxproj
  src/cascadia/ShellExtension/dllmain.cpp
  src/cascadia/ShellExtension/packages.config
  src/cascadia/ShellExtension/pch.cpp
  src/cascadia/ShellExtension/pch.h
  src/host/ft_host/Host.FeatureTests.vcxproj
Labels: Area-User Interface, AutoMerge, Issue-Feature, Needs-Second, Product-Terminal

#6060 Add support for fullscreen `launchMode`
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
Labels: Area-Settings, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#5775 Enable tab renaming at runtime from the UI
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, AutoMerge, Issue-Feature, Product-Terminal

#6238 Make the Shell Extension methods STDMETHODIMP
  src/cascadia/ShellExtension/OpenTerminalHere.h
Labels: AutoMerge

#6231 Give cursor radio buttons their own sequential IDs in propsheet
  src/propsheet/dialogs.h
Labels: Area-Settings, AutoMerge, Issue-Bug, Product-Conhost

#6241 Add missing namespaces to the Preview, Release manifests
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
Labels: AutoMerge

#6248 Fix syntax errors in font weight options
  doc/cascadia/profiles.schema.json
Labels: AutoMerge
