Repository microsoft/terminal, pull requests merged in 2020-06, with the labels that each got.

#6277 Find icon from shortcut target if shortcut doesn't specify it
  src/interactivity/win32/SystemConfigurationProvider.cpp
  src/propsheet/PropSheetHandler.cpp
  src/propslib/ShortcutSerialization.cpp
  src/propslib/ShortcutSerialization.hpp
Labels: Area-Settings, AutoMerge, Issue-Task, Needs-Second, Product-Conhost

#6206 Skip glyph shaping analysis when the entire text is simple
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/CustomTextLayout.h
Labels: AutoMerge

#4908 Add startup task, setting to launch application on login
  doc/cascadia/SettingsSchema.md
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
  src/cascadia/TerminalApp/App.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/defaults.json
  src/cascadia/TerminalApp/lib/pch.h
Labels: Area-Settings, Area-User Interface, AutoMerge, Product-Terminal

#5706 Allow the default profile to be specified by name
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/CascadiaSettings.h
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/types/inc/utils.hpp
Labels: Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#5928 Adds Alt+Click to auto split pane
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, AutoMerge, Product-Terminal

#4789 Add support for VT52 emulation
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/input/terminalInput.cpp
  src/terminal/input/terminalInput.hpp
  src/terminal/parser/IStateMachineEngine.hpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/ft_fuzzer/VTCommandFuzzer.cpp
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/stateMachine.hpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
  src/terminal/parser/ut_parser/StateMachineTest.cpp
Labels: Area-VT, AutoMerge, Needs-Second, Product-Conhost

#6139 Add support for `--fullscreen`, `--maximized`
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
Labels: Area-Commandline, AutoMerge, Issue-Task, Needs-Second, Priority-3, Product-Terminal

#6308 DEPS: Update jsoncpp to 1.9.3
  dep/jsoncpp/README.md
  dep/jsoncpp/cgmanifest.json
  dep/jsoncpp/json/json-forwards.h
  dep/jsoncpp/json/json.h
  dep/jsoncpp/jsoncpp.cpp
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Product-Terminal

#6303 Animate Hover state change of CaptionButtons
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
Labels: Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#6307 DEPS: Update CLI11 to 1.9
  dep/CLI11/CLI11.hpp
  dep/CLI11/README.md
  dep/CLI11/cgmanifest.json
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Product-Terminal

#6296 Add support for `--title` to the `wt.exe` commandline args
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
Labels: Area-Commandline, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#6314 Fix a crash with this method when running unpackaged
  src/cascadia/TerminalApp/AppLogic.cpp
Labels: AutoMerge, Issue-Bug, Product-Terminal, Severity-Crash

#5946 tools: add a powershell script to generate CPWD from the UCD
  .github/actions/spell-check/dictionary/apis.txt
  .github/actions/spell-check/expect/expect.txt
  tools/Generate-CodepointWidthsFromUCD.ps1
Labels: AutoMerge

#6321 Remove more serializers missed in 6394e5d70
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
Labels: AutoMerge

#5931 Replace manual get/set code in GlobalAppSettings with GETSET_PROPERTY
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/CascadiaSettings.cpp
  src/cascadia/TerminalApp/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: AutoMerge

#5875 doc: Propose a JsonUtils replacement by writing documentation
  doc/cascadia/Json-Utility-API.md
Labels: Area-CodeHealth, Issue-Docs, Product-Terminal

#6339 Add a helper to skip nuget restore during local builds
  tools/bcz.cmd
Labels: Area-Build, Issue-Task, Needs-Second, Product-Meta

#5887 Spec for Improved keyboard handling in Conpty
  .github/actions/spell-check/dictionary/apis.txt
  .github/actions/spell-check/expect/expect.txt
  .github/actions/spell-check/expect/web.txt
  doc/specs/#4999 - Improved keyboard handling in Conpty.md
Labels: Area-Input, AutoMerge, Issue-Docs, Product-Conpty

#6337 Draw the cursor underneath text, and above the background
  src/host/ut_host/VtRendererTests.cpp
  src/interactivity/onecore/BgfxEngine.cpp
  src/renderer/base/RenderEngineBase.cpp
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/dx/CustomTextRenderer.cpp
  src/renderer/dx/CustomTextRenderer.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/gdi/paint.cpp
  src/renderer/inc/CursorOptions.h
  src/renderer/inc/IRenderEngine.hpp
  src/renderer/inc/RenderEngineBase.hpp
  src/renderer/uia/UiaRenderer.cpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/paint.cpp
  src/renderer/wddmcon/WddmConRenderer.cpp
Labels: Area-Rendering, AutoMerge, Issue-Task, Priority-3, Product-Terminal

#6312 Add a test to ensure support for trailing commas in `settings.json`
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
Labels: Area-Settings, AutoMerge, Needs-Second, Product-Terminal

#6212 Allow Ctrl+Alt <> AltGr aliasing to be disabled
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/Profile.cpp
  src/cascadia/TerminalApp/Profile.h
  src/cascadia/TerminalApp/defaults-universal.json
  src/cascadia/TerminalApp/defaults.json
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalSettings/ICoreSettings.idl
  src/cascadia/TerminalSettings/terminalsettings.h
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
Labels: Area-Input, Area-TerminalControl, AutoMerge, Issue-Feature, Issue-Task, Product-Terminal

#5778 Move to Microsoft.UI.Xaml 2.4.0
  doc/building.md
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
  src/cascadia/TerminalApp/TerminalApp.vcxproj
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/packages.config
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
Labels: Area-CodeHealth, AutoMerge, Needs-Second, Product-Terminal

#2080 Spec for tab tear off and default app
  doc/specs/drafts/#1256 - Tab tearoff.md
Labels: Area-Interop, Issue-Docs, Issue-Feature, Product-Conhost, Product-Terminal

#1080 First draft of a spec for panes with non-terminal content
  doc/specs/Keybindings-spec.md
  doc/specs/TerminalSettings-spec.md
  doc/specs/drafts/#997 Non-Terminal-Panes.md
Labels: Area-User Interface, Issue-Docs, Product-Terminal

#5787 Add support for `compact` tab sizing
  doc/cascadia/SettingsSchema.md
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
Labels: AutoMerge

#6380 Make the conversion from WORD to TextAttribute explicit
  src/buffer/out/TextAttribute.hpp
  src/host/conareainfo.cpp
  src/host/getset.cpp
  src/host/popup.cpp
  src/host/ut_host/AttrRowTests.cpp
  src/host/ut_host/OutputCellIteratorTests.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/interactivity/win32/menu.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: AutoMerge

#6358 Improve the legacy color conversions
  .github/actions/spell-check/expect/expect.txt
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/buffer/out/TextColor.cpp
  src/buffer/out/TextColor.h
  src/host/cmdline.cpp
  src/host/cmdline.h
  src/host/conareainfo.cpp
  src/host/conareainfo.h
  src/host/conimeinfo.cpp
  src/host/ft_host/API_RgbColorTests.cpp
  src/host/output.cpp
  src/host/popup.cpp
  src/host/popup.h
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/host/selectionInput.cpp
  src/host/settings.cpp
  src/host/ut_host/ObjectTests.cpp
Labels: Area-Output, Area-Server, AutoMerge, Impact-Correctness, Issue-Bug, Priority-2, Priority-3, Product-Conhost

#6415 Remove the shell extension from directory backgrounds
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
Labels: Area-ShellExtension, AutoMerge, Issue-Bug, Product-Terminal

#6309 Add support for win32-input-mode to conhost, ConPTY, Terminal
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/PublicTerminalCore/HwndTerminal.hpp
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.xaml
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/ITerminalInput.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/cascadia/TerminalSettings/IControlSettings.idl
  src/cascadia/TerminalSettings/ICoreSettings.idl
  src/cascadia/TerminalSettings/terminalsettings.h
  src/cascadia/UnitTests_TerminalCore/InputTest.cpp
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
  src/cascadia/WpfTerminalControl/NativeMethods.cs
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
  src/host/ConsoleArguments.cpp
  src/host/ConsoleArguments.hpp
  src/host/VtIo.cpp
  src/host/VtIo.hpp
  src/host/getset.cpp
  src/host/getset.h
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/inc/conpty-static.h
  src/renderer/vt/VtSequences.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/IInteractDispatch.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/adapter/InteractDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/input/terminalInput.cpp
  src/terminal/input/terminalInput.hpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
  src/types/inc/IInputEvent.hpp
  src/winconpty/winconpty.cpp
  src/winconpty/winconpty.h
Labels: Area-Input, Area-TerminalControl, Area-VT, AutoMerge, Issue-Bug, Issue-Feature, Issue-Task, Priority-0, Priority-2, Product-Conpty, Product-Terminal

#6418 Remove parentheses from Preview and Dev build
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Resources/Resources.resw
Labels: Area-Build, Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#6433 Set tab title as early as possible
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
Labels: AutoMerge

#6431 Don't snap on input nor dismiss selection for just a modifier key
  .github/actions/spell-check/dictionary/apis.txt
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/types/inc/IInputEvent.hpp
Labels: Area-Input, Area-TerminalControl, Area-WPFControl, AutoMerge, Issue-Bug, Priority-0, Product-Terminal, Severity-Blocking

#6442 Don't send a manual F7 keyup
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Input, Area-TerminalControl, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#6443 Open the system menu when user right clicks the drag bar
  .github/actions/spell-check/dictionary/apis.txt
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
Labels: AutoMerge

#6369 Deps: Bump Newtonsoft.Json from 10.0.3 to 12.0.3
  src/host/ft_uia/Host.Tests.UIA.csproj
  src/host/ft_uia/packages.config
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Product-Terminal

#6467 Fix the x86 build and re-enable x86 CI
  build/pipelines/ci.yml
  src/til/ut_til/BaseTests.cpp
Labels: AutoMerge

#5915 Add Mini-Spec for openSettings
  doc/specs/#2557 - Settings Keybinding.md
Labels: Area-User Interface, AutoMerge, Issue-Docs, Product-Terminal

#6464 Fix 3 different bugs in the WPF control
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
  src/cascadia/WpfTerminalTestNetCore/WpfTerminalTestNetCore/MainWindow.xaml.cs
  src/renderer/dx/CustomTextRenderer.cpp
  src/renderer/dx/CustomTextRenderer.h
Labels: Area-WPFControl, AutoMerge, Issue-Bug, Priority-1, Priority-2, Product-Terminal, Severity-Crash

#6461 Pass <Alt> to the application
  .github/actions/spell-check/dictionary/apis.txt
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/IDirectKeyListener.idl
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/main.cpp
Labels: Area-Input, Issue-Bug, Product-Terminal

#4608 Throttle scrollbar updates in TermControl to ~one per 8ms
  .github/actions/spell-check/dictionary/apis.txt
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TerminalControl.vcxproj
  src/cascadia/TerminalControl/TerminalControl.vcxproj.filters
  src/cascadia/TerminalControl/ThreadSafeOptional.h
  src/cascadia/TerminalControl/ThrottledFunc.h
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/UnitTests_TerminalCore/ScrollTest.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalAndRendererTests.cpp
  src/cascadia/UnitTests_TerminalCore/UnitTests.vcxproj
Labels: Area-Performance, Area-TerminalControl, Issue-Bug, Needs-Second, Product-Terminal

#6299 Add keybinding arg to openSettings
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppKeyBindingsSerialization.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/defaults.json
Labels: Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#6485 Reintroduce the check for VT_INPUT_MODE in AdaptDispatch
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
Labels: AutoMerge, Issue-Feature, Issue-Question

#6351 Extract `ActionAndArgs::FromJson` into its own class
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/ActionAndArgs.h
  src/cascadia/TerminalApp/AppKeyBindingsSerialization.cpp
Labels: Area-CodeHealth, Area-Settings, AutoMerge, Product-Terminal

#6516 Fix sending a NUL on alt key up
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Input, Area-TerminalControl, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Blocking

#6517 Only snap on key _downs_
  src/cascadia/TerminalCore/Terminal.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#6520 Fix openSettings misspelling in defaults
  src/cascadia/TerminalApp/defaults.json
Labels: Area-Settings, AutoMerge, Issue-Bug, Priority-1, Product-Terminal

#6526 Remove the WinTelnetEngine
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/VtIo.cpp
  src/host/ut_host/ConptyOutputTests.cpp
  src/host/ut_host/ConsoleArgumentsTests.cpp
  src/host/ut_host/VtIoTests.cpp
  src/host/ut_host/VtRendererTests.cpp
  src/inc/VtIoModes.hpp
  src/renderer/vt/WinTelnetEngine.cpp
  src/renderer/vt/WinTelnetEngine.hpp
  src/renderer/vt/sources.inc
  src/renderer/vt/vt-renderer-common.vcxitems
Labels: AutoMerge

#6355 Introduce JsonUtilsNew as documented in #5875
  .github/actions/spell-check/expect/expect.txt
  src/cascadia/TerminalApp/JsonUtilsNew.h
  src/cascadia/ut_app/JsonUtilsTests.cpp
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
  src/types/inc/utils.hpp
Labels: AutoMerge

#6571 Fixed #6377: TerminalCore::_altGrAliasing is undefined by default
  src/cascadia/TerminalCore/Terminal.cpp
Labels: Area-WPFControl, AutoMerge, Issue-Bug, Priority-1, Product-Terminal

#6575 Use early returns in TermControl::_KeyHandler
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: AutoMerge

#6551 Enable hot reload of renderer settings that aren't already hot reload capable
  src/cascadia/TerminalControl/TermControl.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
Labels: Area-Rendering, AutoMerge, Issue-Task, Product-Terminal

#6572 Improve bitmap::_calculateArea performance
  src/inc/LibraryIncludes.h
  src/inc/til/bitmap.h
Labels: AutoMerge

#6527 Use D2DDeviceContext and friends over D2DRenderTarget
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
Labels: Area-Rendering, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#6624 Always use the dark window borders
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
Labels: Area-User Interface, Impact-Visual, Issue-Bug, Priority-2, Product-Terminal

#6483 Recycle assorted rendering components to accelerate drawing
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/CustomTextLayout.h
  src/renderer/dx/CustomTextRenderer.cpp
  src/renderer/dx/CustomTextRenderer.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
Labels: Area-Performance, AutoMerge, Issue-Task, Product-Terminal

#6628 Double-click a tab to rename it
  src/cascadia/TerminalApp/Tab.cpp
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#6532 Spec for unified keybindings and commands, and synthesized action names
  doc/specs/#2046 - Command Palette.md
  doc/specs/#2046 - Unified keybindings and commands, and synthesized action names.md
Labels: Issue-Docs, Product-Terminal

#6548 Optimize booleans
  samples/ReadConsoleInputStream/ReadConsoleInputStream.cs
  src/cascadia/TerminalApp/WslDistroGenerator.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/host/CursorBlinker.cpp
  src/interactivity/onecore/ConIoSrvComm.cpp
  src/tools/U8U16Test/U8U16Test.cpp
  src/tools/U8U16Test/main.cpp
  src/tools/pixels/main.cpp
Labels: Area-CodeHealth, AutoMerge

#6640 Replace std::map with std::unordered_map
  src/buffer/out/UnicodeStorage.cpp
  src/buffer/out/UnicodeStorage.hpp
  src/buffer/out/textBuffer.cpp
  src/cascadia/WpfTerminalControl/NativeMethods.cs
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
  src/interactivity/win32/windowUiaProvider.hpp
  src/types/ScreenInfoUiaProviderBase.h
  src/types/inc/CodepointWidthDetector.hpp
Labels: AutoMerge

#6492 Update _TerminalCursorPositionChanged to use ThrottledFunc
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TerminalControl.vcxproj
  src/cascadia/TerminalControl/TerminalControl.vcxproj.filters
  src/cascadia/TerminalControl/ThreadSafeOptional.h
  src/cascadia/TerminalControl/ThrottledFunc.cpp
  src/cascadia/TerminalControl/ThrottledFunc.h
Labels: Area-Performance

#6557 Add keybinding to rename tab
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-User Interface, AutoMerge, Issue-Feature, Needs-Second, Product-Terminal

#6665 Revert "Skip ... analysis when the ... text is simple (6206)"
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/CustomTextLayout.h
Labels: Area-Rendering, Issue-Bug, Priority-2, Product-Terminal

#6322 Implement Shift+MultiClick Selection Expansion
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/UnitTests_TerminalCore/SelectionTest.cpp
Labels: Area-Interaction, AutoMerge, Issue-Task, Product-Terminal

#6567 Add `setTabColor` and `openTabColorPicker` actions
  .github/actions/spell-check/expect/alphabet.txt
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/KeyBindingsTests.cpp
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-User Interface, AutoMerge, Needs-Second, Product-Terminal

#6670 When we add a new tab in compact mode, re-enforce Compact mode
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#6684 Hardcode the paths to Windows PowerShell and CMD
  src/cascadia/TerminalApp/defaults.json
Labels: Area-Settings, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#6635 Add support for the Command Palette
  src/cascadia/LocalTests_TerminalApp/CommandTests.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/TerminalApp/ActionAndArgs.cpp
  src/cascadia/TerminalApp/ActionAndArgs.h
  src/cascadia/TerminalApp/ActionArgs.cpp
  src/cascadia/TerminalApp/ActionArgs.h
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppKeyBindings.cpp
  src/cascadia/TerminalApp/AppKeyBindingsSerialization.cpp
  src/cascadia/TerminalApp/Command.cpp
  src/cascadia/TerminalApp/Command.h
  src/cascadia/TerminalApp/Command.idl
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.idl
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/GlobalAppSettings.cpp
  src/cascadia/TerminalApp/GlobalAppSettings.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/lib/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalApp/lib/pch.h
  src/cascadia/WinRTUtils/LibraryResources.cpp
  src/cascadia/WinRTUtils/inc/LibraryResources.h
  src/cascadia/inc/cppwinrt_utils.h
  src/inc/til/color.h
Labels: Area-User Interface, AutoMerge, Issue-Feature, Issue-Task, Priority-3, Product-Terminal

#6695 Restore simple text runs, correct for crashes
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/CustomTextLayout.h
Labels: Area-Rendering, AutoMerge, Issue-Bug, Needs-Second, Priority-1, Product-Conhost, Product-Terminal, Severity-Blocking, Severity-Crash

#5823 Add support for OSC 52 (copy-to-clipboard)
  .github/actions/spell-check/expect/expect.txt
  .github/actions/spell-check/patterns/patterns.txt
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/base64.cpp
  src/terminal/parser/base64.hpp
  src/terminal/parser/parser-common.vcxitems
  src/terminal/parser/sources.inc
  src/terminal/parser/telemetry.cpp
  src/terminal/parser/telemetry.hpp
  src/terminal/parser/ut_parser/Base64Test.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
  src/terminal/parser/ut_parser/Parser.UnitTests.vcxproj
  src/terminal/parser/ut_parser/Parser.UnitTests.vcxproj.filters
  src/terminal/parser/ut_parser/sources
Labels: Area-VT, AutoMerge, Issue-Task, Needs-Second, Product-Terminal
