Repository microsoft/terminal, pull requests merged in 2020-10, with the labels that each got.

#7679 Add support for the BEL control in Windows Terminal
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
Labels: Area-Output, Issue-Task, Priority-3, Product-Terminal

#7778 doc: Update roadmap with latest info
  doc/terminal-v2-roadmap.md
Labels: Issue-Docs

#7792 Properly handle and test a11y movement at end of buffer
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/types/UiaTextRangeBase.cpp
Labels: Area-Accessibility, Issue-Bug, Priority-0, Product-Conhost, Severity-Crash

#7802 Add functionality to open the Settings UI tab through openSettings
  .github/actions/spell-check/dictionary/apis.txt
  OpenConsole.sln
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
  src/cascadia/TerminalApp/ActionArgs.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/ITab.idl
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/SettingsTab.h
  src/cascadia/TerminalApp/SettingsTab.idl
  src/cascadia/TerminalApp/Tab.idl
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalApp/TerminalTab.idl
  src/cascadia/TerminalApp/Utils.h
  src/cascadia/TerminalApp/dll/TerminalApp.vcxproj
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/inc/cppwinrt_utils.h
Labels: AutoMerge

#7796 Preview tab switching with the ATS
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, AutoMerge, Issue-Task, Priority-1, Product-Terminal

#7863 Fix old reference to TermApp::Command
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: AutoMerge

#7830 Introduce IconConverter
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/LocalTests_SettingsModel/ProfileTests.cpp
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/IconPathConverter.cpp
  src/cascadia/TerminalApp/IconPathConverter.h
  src/cascadia/TerminalApp/IconPathConverter.idl
  src/cascadia/TerminalApp/Jumplist.cpp
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/Utils.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/Command.cpp
  src/cascadia/TerminalSettingsModel/Command.h
  src/cascadia/TerminalSettingsModel/Command.idl
  src/cascadia/TerminalSettingsModel/DefaultProfileUtils.cpp
  src/cascadia/TerminalSettingsModel/PowershellCoreProfileGenerator.cpp
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/WslDistroGenerator.cpp
  src/cascadia/inc/cppwinrt_utils.h
Labels: Area-CodeHealth, Issue-Task, Needs-Author-Feedback, Product-Terminal

#7833 Add settings UI string localization
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Area-Localization, Area-Settings, AutoMerge, Product-Terminal

#7840 From orbit, nuke the Telnet connection and all supporting infra.
  NOTICE.md
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalConnection/AzureConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/EchoConnection.cpp
  src/cascadia/TerminalConnection/Resources/en-US/Resources.resw
  src/cascadia/TerminalConnection/TelnetConnection.cpp
  src/cascadia/TerminalConnection/TelnetConnection.h
  src/cascadia/TerminalConnection/TelnetConnection.idl
  src/cascadia/TerminalConnection/TerminalConnection.vcxproj
  src/cascadia/TerminalConnection/TerminalConnection.vcxproj.filters
  src/cascadia/TerminalConnection/packages.config
  src/cascadia/TerminalConnection/pch.h
  src/cascadia/TerminalSettingsModel/LegacyProfileGeneratorNamespaces.h
  src/cascadia/TerminalSettingsModel/defaults-universal.json
  src/inc/LibraryIncludes.h
  src/inc/til/bitmap.h
  src/inc/til/color.h
Labels: AutoMerge

#7868 Fix UIA ScrollIntoView at EndExclusive
  src/interactivity/win32/uiaTextRange.cpp
  src/interactivity/win32/uiaTextRange.hpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/types/TermControlUiaTextRange.cpp
  src/types/TermControlUiaTextRange.hpp
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
Labels: Area-Accessibility, AutoMerge, Issue-Bug, Priority-0, Product-Conhost, Severity-Crash

#7364 Add an animation to pane entrance/exit
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/pch.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-User Interface, AutoMerge, Issue-Feature, Issue-Task, Needs-Second, Priority-3, Product-Terminal

#7866 Inform user that holding alt opens a new pane
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabRowControl.xaml
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Issue-Feature

#7902 doc: add SUPPORT.md
  SUPPORT.md
Labels: Issue-Docs, Product-Terminal

#7887 7571: do not activate terminal window upon settings modificaion
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
Labels: Area-TerminalControl, Issue-Bug, Needs-Second, Priority-3, Product-Terminal, hacktoberfest-accepted

#7873 7124: Add focus and maximizedFocus launch modes
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Area-Settings, AutoMerge, Issue-Feature, Issue-Task, Needs-Second, Product-Terminal, hacktoberfest-accepted

#7578 Add support for more OSC color formats
  .github/actions/spell-check/dictionary/README.md
  .github/actions/spell-check/dictionary/apis.txt
  .github/actions/spell-check/dictionary/colors.txt
  .github/actions/spell-check/expect/expect.txt
  .github/actions/spell-check/patterns/patterns.txt
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/ut_app/JsonTests.cpp
  src/host/settings.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/inc/til/at.h
  src/inc/til/static_map.h
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
  src/types/colorTable.cpp
  src/types/inc/colorTable.hpp
  src/types/inc/utils.hpp
  src/types/lib/types.vcxproj
  src/types/lib/types.vcxproj.filters
  src/types/sources.inc
  src/types/ut_types/UtilsTests.cpp
  src/types/utils.cpp
Labels: Area-VT, Issue-Task, Product-Conhost

#7590 doc: address how to use TAEF
  CONTRIBUTING.md
  doc/TAEF.md
Labels: Area-Build, Issue-Docs, Product-Meta

#7637 Add Github Action Super Linter
  .github/workflows/linter.yml
Labels: Area-Build, Area-CodeHealth, Issue-Task, Product-Meta

#7424 doc: Update Notice emoji
  README.md
Labels: Issue-Docs

#7728 Add Close... option to Tab context menu
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/Tab.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
Labels: Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#7930 Fix the linter for C++ files
  .github/workflows/linter.yml
  src/host/ut_host/ScreenBufferTests.cpp
Labels: Area-Build, AutoMerge, Priority-0, Product-Meta

#7849 Auto detect background image
  .github/actions/spell-check/dictionary/apis.txt
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/TerminalSettingsModel/Profile.cpp
Labels: Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#7926 doc: Remove unnecessary link to VC redist, update md lint rules
  .github/linters/.markdown-lint.yml
  .github/workflows/linter.yml
  README.md
Labels: Area-Build, Issue-Docs, Product-Meta

#7741 conpty: fall back to conhost if OpenConsole is missing
  build/scripts/Test-WindowsTerminalPackage.ps1
  src/winconpty/winconpty.cpp
Labels: Area-Server, Issue-Task, Product-Conpty

#7793 Add a setting to configure the audible bell
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: Area-Settings, Area-VT, Issue-Task, Product-Terminal

#7937 Increase contrast ratio on the CmdPal shortcut text
  src/cascadia/TerminalApp/CommandPalette.xaml
Labels: Area-User Interface, Impact-Compliance, Issue-Bug, Issue-Task, Priority-3, Product-Terminal

#7939 Add support for the DECREQTPARM report
  .github/actions/spell-check/expect/expect.txt
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/telemetry.cpp
  src/terminal/parser/telemetry.hpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Area-VT, Issue-Task, Product-Conhost

#7935 Swap the command palette modes for the prefix `>`
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.idl
  src/cascadia/TerminalApp/CommandPalette.xaml
Labels: Area-User Interface, Issue-Task, Priority-1, Product-Terminal

#7883 7395: do not clear text selection upon PrintScreen
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Input, Area-TerminalControl, Issue-Bug, Needs-Second, Priority-2, Product-Terminal, hacktoberfest-accepted

#7929 Optimize the binary size of the XOrg color table
  src/types/colorTable.cpp
  src/types/ut_types/UtilsTests.cpp
Labels: AutoMerge

#7870 Fix garbling when copying multibyte text via OSC 52
  .github/actions/spell-check/dictionary/apis.txt
  .github/actions/spell-check/patterns/patterns.txt
  src/terminal/parser/base64.cpp
  src/terminal/parser/ut_parser/Base64Test.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Area-VT, AutoMerge, Impact-Correctness, Issue-Bug, Priority-2, Product-Terminal, hacktoberfest-accepted

#7940 Hash the URI as part of the hyperlink ID
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalApiTest.cpp
  src/host/getset.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/TextBufferTests.cpp
Labels: Area-VT, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#7877 Implement CascadiaSettings::Copy()
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
  src/cascadia/TerminalSettingsModel/ColorScheme.cpp
  src/cascadia/TerminalSettingsModel/ColorScheme.h
  src/cascadia/TerminalSettingsModel/Command.cpp
  src/cascadia/TerminalSettingsModel/Command.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/KeyMapping.cpp
  src/cascadia/TerminalSettingsModel/KeyMapping.h
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/cascadia/TerminalSettingsModel/Profile.h
Labels: Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#7949 Add save button to settings UI
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Area-User Interface, Issue-Task, Product-Terminal

#7961 Fix crash when creating tab menu multiple times
  src/cascadia/TerminalApp/Tab.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Blocking

#7951 Update GH Action Super-Linter and README
  .github/workflows/linter.yml
  README.md
Labels: Issue-Bug, Issue-Docs, Product-Meta, hacktoberfest-accepted

#7686 Fix #5784: Key bindings won't consume dead keys
  .github/actions/spell-check/dictionary/names.txt
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: Area-Input, Area-TerminalControl, Issue-Feature, Product-Terminal

#7952 Display ATS tabs in MRU order
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-Settings, Area-User Interface, AutoMerge, Issue-Feature, Needs-Second, Product-Terminal

#7993 Fix slowdown on open/close tabs when the user has many profiles
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-Performance, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#7970 Replace ObjectModel references in SUI
  OpenConsole.sln
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/SettingsTab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemes.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.idl
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/ColorToHexConverter.cpp
  src/cascadia/TerminalSettingsEditor/ColorToHexConverter.h
  src/cascadia/TerminalSettingsEditor/ColorToHexConverter.idl
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.cpp
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.idl
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Home.cpp
  src/cascadia/TerminalSettingsEditor/Interaction.cpp
  src/cascadia/TerminalSettingsEditor/Interaction.h
  src/cascadia/TerminalSettingsEditor/Interaction.idl
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Launch.cpp
  src/cascadia/TerminalSettingsEditor/Launch.h
  src/cascadia/TerminalSettingsEditor/Launch.idl
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.idl
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/ObjectModel/AppSettings.cpp
  src/cascadia/TerminalSettingsEditor/ObjectModel/AppSettings.h
  src/cascadia/TerminalSettingsEditor/ObjectModel/ColorScheme.cpp
  src/cascadia/TerminalSettingsEditor/ObjectModel/ColorScheme.h
  src/cascadia/TerminalSettingsEditor/ObjectModel/ColorScheme.idl
  src/cascadia/TerminalSettingsEditor/ObjectModel/ColorSchemeModel.cpp
  src/cascadia/TerminalSettingsEditor/ObjectModel/ColorSchemeModel.h
  src/cascadia/TerminalSettingsEditor/ObjectModel/ColorSchemeModel.idl
  src/cascadia/TerminalSettingsEditor/ObjectModel/EnumBooleanConverter.cpp
  src/cascadia/TerminalSettingsEditor/ObjectModel/GlobalSettings.cpp
  src/cascadia/TerminalSettingsEditor/ObjectModel/GlobalSettings.h
  src/cascadia/TerminalSettingsEditor/ObjectModel/GlobalSettings.idl
  src/cascadia/TerminalSettingsEditor/ObjectModel/GlobalSettingsModel.cpp
  src/cascadia/TerminalSettingsEditor/ObjectModel/GlobalSettingsModel.h
  src/cascadia/TerminalSettingsEditor/ObjectModel/GlobalSettingsModel.idl
  src/cascadia/TerminalSettingsEditor/ObjectModel/Profile.cpp
  src/cascadia/TerminalSettingsEditor/ObjectModel/Profile.h
  src/cascadia/TerminalSettingsEditor/ObjectModel/Profile.idl
  src/cascadia/TerminalSettingsEditor/ObjectModel/ProfileModel.cpp
  src/cascadia/TerminalSettingsEditor/ObjectModel/ProfileModel.h
  src/cascadia/TerminalSettingsEditor/ObjectModel/ProfileModel.idl
  src/cascadia/TerminalSettingsEditor/ObjectModel/SettingsTypes.idl
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Rendering.cpp
  src/cascadia/TerminalSettingsEditor/Rendering.h
  src/cascadia/TerminalSettingsEditor/Rendering.idl
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsEditor/pch.h
Labels: AutoMerge

#7973 Fix `exit`ing a zoomed pane
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/Tab.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Blocking

#7986 Expose WindowsTerminalBranding to the preprocessor (optionally)
  build/rules/Branding.targets
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
Labels: Area-Build, AutoMerge, Needs-Second, Product-Meta

#7985 Prepare for the primary branch name to change to main
  .github/workflows/linter.yml
  CONTRIBUTING.md
  README.md
  SUPPORT.md
  build/pipelines/ci.yml
  doc/cascadia/profiles.schema.json
  doc/specs/#1571 - New Tab Menu Customization/#1571 - New Tab Menu Customization.md
  doc/specs/#2046 - Unified keybindings and commands, and synthesized action names.md
  doc/specs/#6899 - Action IDs/#6899 - Action IDs.md
  doc/submitting_code.md
  res/README.md
  src/cascadia/CascadiaPackage/NOTICE.html
Labels: Area-Build, Needs-Second, Product-Meta

#7835 Enable PgUp/PgDown and Home/End in the command palette
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
Labels: Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Product-Terminal, hacktoberfest-accepted

#8012 Add localization to settings tab
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/SettingsTab.h
Labels: AutoMerge

#8013 Update settings UI navigation icons
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
Labels: AutoMerge

#7978 Move jumplist creation to background thread
  src/cascadia/TerminalApp/Jumplist.cpp
  src/cascadia/TerminalApp/Jumplist.h
Labels: Area-Performance, Issue-Task, Product-Terminal

#7950 Display a warning for when we fail to write to the settings file
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/TerminalWarnings.idl
Labels: Area-Settings, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#8016 Quick fix for ActionAndArgs::Copy()
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
Labels: AutoMerge

#8019 Updating comments in CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: AutoMerge

#7963 Show color slider in Tab color picker
  src/cascadia/TerminalApp/ColorPickupFlyout.xaml
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#8041 Added Types project reference to the FuzzWrapper project
  src/terminal/parser/ft_fuzzwrapper/FuzzWrapper.vcxproj
  src/terminal/parser/ft_fuzzwrapper/FuzzWrapper.vcxproj.filters
Labels: Area-Build, AutoMerge, Issue-Bug, Needs-Second, Product-Terminal

#8039 wpf: base margin height off Y dpi, not X dpi
  src/cascadia/WpfTerminalControl/TerminalControl.xaml.cs
Labels: AutoMerge, Needs-Second

#7876 doc: Introduce Inheritance Addendum to TSM Spec
  .github/actions/spell-check/excludes.txt
  doc/specs/#885 - Terminal Settings Model/#885 - Terminal Settings Model.md
  doc/specs/#885 - Terminal Settings Model/Inheritance-DAG.png
  doc/specs/#885 - Terminal Settings Model/Inheritance-DAG.vsdx
  doc/specs/#885 - winrt Terminal Settings.md
Labels: Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#7924 add rowsToScroll to scrollUp/Down w/ fallback to system default
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_SettingsModel/KeyBindingsTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
Labels: Area-Settings, Issue-Task, Product-Terminal, hacktoberfest-accepted

#7983 wpf: add width/height checks when resizing the terminal
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
Labels: Area-WPFControl, AutoMerge, Issue-Bug, Severity-Crash

#8010 Close tab context menu on titlebar click
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#8035 Fully regenerate CodepointWidthDetector from Unicode 13.0
  .github/actions/spell-check/expect/expect.txt
  src/types/CodepointWidthDetector.cpp
  src/types/convert.cpp
  src/types/unicode_width_overrides.xml
  tools/Generate-CodepointWidthsFromUCD.ps1
Labels: AutoMerge

#7900 Fix SendInput handling
  .github/actions/spell-check/expect/655f007265b351e140d20b3976792523ad689241.txt
  .github/actions/spell-check/expect/expect.txt
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/UnitTests_TerminalCore/InputTest.cpp
Labels: Area-Input, Area-TerminalControl, AutoMerge, Issue-Bug, Priority-1, Priority-2, Product-Terminal

#8061 Update C++/WinRT to 2.0.201017.1
  src/cascadia/ShellExtension/packages.config
  src/cascadia/TerminalApp/packages.config
  src/cascadia/TerminalAzBridge/packages.config
  src/cascadia/TerminalConnection/packages.config
  src/cascadia/TerminalControl/packages.config
  src/cascadia/TerminalCore/packages.config
  src/cascadia/TerminalSettingsModel/packages.config
  src/cascadia/WinRTUtils/packages.config
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/cascadia/WindowsTerminalUniversal/packages.config
  src/cppwinrt.build.post.props
  src/cppwinrt.build.pre.props
  src/tools/U8U16Test/U8U16Test.vcxproj
  src/tools/U8U16Test/packages.config
Labels: AutoMerge

#8060 doc: add a link to MSYS2's WT profiles page
  doc/user-docs/ThirdPartyToolProfiles.md
Labels: Issue-Docs

#8052 UIA: throw E_FAIL for out-of-bounds text
  .github/actions/spell-check/dictionary/names.txt
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
Labels: AutoMerge

#8068 Shell extension: Use WT's icon as our icon
  src/cascadia/ShellExtension/OpenTerminalHere.cpp
Labels: Area-ShellExtension, AutoMerge, Issue-Task, Product-Terminal

#8070 Store and expose hidden profiles
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/LocalTests_SettingsModel/ProfileTests.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/Jumplist.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/ut_app/DynamicProfileTests.cpp
Labels: Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#8074 Copy _currentHyperlinkId when copying the buffer
  src/buffer/out/textBuffer.cpp
Labels: AutoMerge

#8077 Disable the json linter
  .github/workflows/linter.yml
Labels: Area-Build, Product-Meta

#7462 Add `openTabRenamer` action
  .github/actions/spell-check/expect/5757ec679b03a4240130c3c53766c91bbc5cd6a7.txt
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/Tab.cpp
  src/cascadia/TerminalApp/Tab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/KeyMapping.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#8080 Move CI and audit build to the WinDev scale set pool
  build/pipelines/templates/build-console-audit-job.yml
  build/pipelines/templates/build-console-ci.yml
  build/pipelines/templates/build-console-steps.yml
  src/common.build.post.props
Labels: AutoMerge

#8078 Hide incomplete settings UI features
  src/cascadia/TerminalSettingsEditor/Home.cpp
  src/cascadia/TerminalSettingsEditor/Home.h
  src/cascadia/TerminalSettingsEditor/Home.idl
  src/cascadia/TerminalSettingsEditor/Home.xaml
  src/cascadia/TerminalSettingsEditor/HomeGridItem.cpp
  src/cascadia/TerminalSettingsEditor/HomeGridItem.h
  src/cascadia/TerminalSettingsEditor/HomeGridItem.idl
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/SettingsEditorViewModel.cpp
  src/cascadia/TerminalSettingsEditor/SettingsEditorViewModel.h
  src/cascadia/TerminalSettingsEditor/SettingsEditorViewModel.idl
Labels: AutoMerge

#8059 Hook up the Settings UI JSON button
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/SettingsTab.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.idl
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/pch.h
Labels: AutoMerge

#8082 Change save to apply in SUI
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: AutoMerge

#8079 Fix the Settings UI Color Pickers
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
Labels: AutoMerge

#8088 Fix showTabsInTitlebar SUI logic
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: AutoMerge

#8087 Fire and forget Hyperlink handling to break deadlock
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-0, Product-Terminal, Severity-Blocking, Severity-Crash

#7871 Double middle click on taskbar preview closes application
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal, hacktoberfest-accepted

#8053 Make ITab an unsealed runtimeclass
  .github/actions/spell-check/dictionary/apis.txt
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/SettingsTab.h
  src/cascadia/TerminalApp/SettingsTab.idl
  src/cascadia/TerminalApp/Tab.idl
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TabBase.idl
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalApp/TerminalTab.idl
  src/cascadia/inc/cppwinrt_utils.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-1, Product-Terminal
