Repository microsoft/terminal, pull requests merged in 2021-12, with the labels that each got.

#11851 Use shallow fetch depth
  build/pipelines/release.yml
  build/pipelines/templates/build-console-audit-job.yml
  build/pipelines/templates/build-console-steps.yml
Labels: Area-Build, AutoMerge, Product-Meta, Issue-Task

#11811 Add notes on building package from commandline
  .github/actions/spelling/allow/allow.txt
  doc/building.md
Labels: Issue-Question, Area-Build, Product-Terminal, AutoMerge

#11814 Fix AltGr not working in the settings UI (#11808)
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: Issue-Bug, Product-Terminal, Priority-1, zStable-Service-Consider, zPreview-Service-Consider, Area-Settings UI

#11832 Fix AltGr+Space not working
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Input, Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Severity-Blocking, Priority-1, zStable-Service-Consider

#11619 Change the `ControlCore` layer to own a copy of its settings
  src/cascadia/LocalTests_SettingsModel/TerminalSettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/ActionPreviewHandlers.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/ControlAppearance.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/ControlInteractivity.idl
  src/cascadia/TerminalControl/ControlSettings.h
  src/cascadia/TerminalControl/IControlAppearance.idl
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalControl/ICoreState.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/ICoreAppearance.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsModel/ColorScheme.cpp
  src/cascadia/TerminalSettingsModel/ColorScheme.h
  src/cascadia/TerminalSettingsModel/ColorScheme.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.idl
  src/cascadia/UnitTests_Control/ControlCoreTests.cpp
  src/cascadia/UnitTests_Control/ControlInteractivityTests.cpp
  src/cascadia/UnitTests_Control/MockControlSettings.h
  src/cascadia/inc/ControlProperties.h
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/inc/IRenderEngine.hpp
Labels: Area-Rendering, Issue-Bug, Area-TerminalControl, Area-Settings, Product-Terminal, AutoMerge, Issue-Task, Area-CodeHealth, Priority-3

#11852 Tell PublishSymbols task about binaries as well as the PDB files
  .github/actions/spelling/expect/expect.txt
  build/pipelines/release.yml
  build/pipelines/templates/install-winsdk-steps.yml
  build/scripts/Index-Pdbs.ps1
  build/scripts/Install-WindowsSdkISO.ps1
Labels: Issue-Bug, Area-Build, AutoMerge, Product-Meta, Issue-Task

#11872 Delete RendererTests.cpp
  src/host/ut_host/RendererTests.cpp
  src/renderer/base/renderer.hpp
Labels: Issue-Feature, AutoMerge

#11857 Make sure we dont access an invalid optional on close
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-1, Area-Remoting

#11859 Use x-macros for action args too
  .github/actions/spelling/allow/allow.txt
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgsMagic.h
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
Labels: Product-Terminal, AutoMerge, Issue-Task, Area-CodeHealth

#11892 Make sure to deserialize arg params _before_ validating
  src/cascadia/TerminalSettingsModel/ActionArgsMagic.h
Labels: Area-Settings, AutoMerge, Priority-0

#11897 Fix length calculation of GetConsoleCommandHistoryLengthA
  src/host/history.cpp
Labels: AutoMerge

#11888 Use the til::enumset type for the SgrSaveRestoreStackOptions enum
  src/types/inc/sgrStack.hpp
  src/types/sgrStack.cpp
Labels: Product-Conhost, Area-VT, Issue-Bug, AutoMerge, Product-Meta, Issue-Task, Area-CodeHealth, Priority-2

#11887 Introduce til::hasher for sucessive hashing of structs
  .github/actions/spelling/expect/expect.txt
  src/buffer/out/UnicodeStorage.hpp
  src/buffer/out/textBuffer.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/ActionArgsMagic.h
  src/cascadia/TerminalSettingsModel/ActionMap.cpp
  src/cascadia/TerminalSettingsModel/HashUtils.h
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj.filters
  src/host/alias.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/inc/til/hash.h
Labels: AutoMerge, Product-Meta, Area-CodeHealth

#11877 Apply MVVM for profiles in SUI
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.h
  src/cascadia/TerminalSettingsEditor/Interaction.h
  src/cascadia/TerminalSettingsEditor/Launch.h
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.idl
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Utils.h
Labels: AutoMerge

#11899 Apparently it's called the Windows 11 SDK now
  .vsconfig
Labels: Issue-Bug, Area-Build, AutoMerge, Product-Meta, Needs-Second

#11816 Enable /permissive- and remaining /Zc flags
  src/cascadia/LocalTests_SettingsModel/SettingsModel.LocalTests.vcxproj
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
  src/cascadia/TerminalControl/pch.h
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/UnitTests_TerminalCore/TestUtils.h
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
  src/common.build.pre.props
  src/cppwinrt.build.pre.props
  src/host/_stream.cpp
  src/host/_stream.h
  src/host/alias.cpp
  src/host/alias.h
  src/host/ft_host/API_FileTests.cpp
  src/host/init.cpp
  src/host/tracing.cpp
  src/host/tracing.hpp
  src/host/ut_host/AliasTests.cpp
  src/host/ut_host/ReadWaitTests.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/TextBufferIteratorTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/host/writeData.cpp
  src/host/writeData.hpp
  src/inc/til/static_map.h
  src/inc/til/string.h
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/propsheet/PropSheetHandler.cpp
  src/renderer/atlas/AtlasEngine.h
  src/server/ApiSorter.cpp
  src/server/IoDispatchers.cpp
  src/terminal/adapter/ut_adapter/MouseInputTest.cpp
  src/terminal/parser/ft_fuzzer/VTCommandFuzzer.cpp
  src/terminal/parser/ft_fuzzer/fuzzing_directed.h
  src/terminal/parser/ft_fuzzer/fuzzing_logic.h
  src/types/inc/viewport.hpp
  src/winconpty/ft_pty/ConPtyTests.cpp
Labels: Area-Build, AutoMerge, Product-Meta, Issue-Task

#11373 Misc pane refactoring
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: AutoMerge, Needs-Second

#11905 Fix hashing of NewTerminalArgs
  src/cascadia/LocalTests_SettingsModel/KeyBindingsTests.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/ActionArgsMagic.h
  src/cascadia/TerminalSettingsModel/ActionMap.cpp
  src/cascadia/TerminalSettingsModel/HashUtils.h
Labels: AutoMerge

#11908 Enable SBOM generation for Windows Terminal
  build/pipelines/release.yml
Labels: Area-Build, AutoMerge, Product-Meta, Issue-Task, Needs-Second

#11915 Parse UTF-16 surrogates pairs for calculating pattern's position
  src/buffer/out/textBuffer.cpp
Labels: Area-Rendering, Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-2

#11819 Move to PGO Nuget
  .github/actions/spelling/expect/expect.txt
  NuGet.Config
  build/packages.config
  build/pgo/PGO.DB.proj
  build/pgo/Terminal.PGO.DB.nuspec
  build/pgo/Terminal.PGO.props
  build/pipelines/release.yml
  build/pipelines/templates/build-console-audit-job.yml
  build/pipelines/templates/build-console-pgo.yml
  build/pipelines/templates/build-console-steps.yml
  build/pipelines/templates/pgo-build-and-publish-nuget-job.yml
  build/pipelines/templates/pgo-merge-pgd-job.yml
  src/cascadia/WindowsTerminal_UIATests/Common/PgoManager.cs
  src/cascadia/WindowsTerminal_UIATests/WindowsTerminal.UIA.Tests.csproj
  src/cascadia/WpfTerminalControl/WpfTerminalControl.csproj
  src/common.build.post.props
  src/common.build.pre.props
  src/common.pgo.compile.props
  src/common.pgo.runtime.props
  src/host/ft_uia/Host.Tests.UIA.csproj
  src/tools/MonarchPeasantPackage/MonarchPeasantPackage.wapproj
  src/tools/vtapp/VTApp.csproj
  src/wap-common.build.pre.props
  tools/PGODatabase/NuSpecs/PGO.nuspec.template
  tools/PGODatabase/NuSpecs/build/PGO.targets
  tools/PGODatabase/PGO.version.props.template
  tools/PGODatabase/config.ps1
  tools/PGODatabase/generate-nuspec.ps1
  tools/PGODatabase/readme.md
  tools/PGODatabase/restore-pgodb.ps1
  tools/PGODatabase/template.ps1
  tools/PGODatabase/verify-pgo.ps1
  tools/PGODatabase/version.ps1
Labels: Area-Build, AutoMerge, Product-Meta, Issue-Task

#11900 Simplify the handling of alpha values in the color table
  src/cascadia/LocalTests_SettingsModel/ColorSchemeTests.cpp
  src/cascadia/LocalTests_SettingsModel/TerminalSettingsTests.cpp
  src/cascadia/LocalTests_SettingsModel/pch.h
  src/cascadia/LocalTests_TerminalApp/pch.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/UnitTests_Control/pch.h
  src/cascadia/UnitTests_Remoting/pch.h
  src/cascadia/UnitTests_TerminalCore/ScrollTest.cpp
  src/cascadia/ut_app/precomp.h
  src/inc/argb.h
  src/renderer/dx/CustomTextRenderer.cpp
  src/types/inc/colorTable.hpp
Labels: AutoMerge, Product-Meta, Issue-Task, Area-CodeHealth, Needs-Second

#11977 Update readme to reference Windows 11 SDK requirement
  README.md
Labels: AutoMerge

#11924 Consolidate IInheritable macros
  src/cascadia/TerminalSettingsModel/IInheritable.h
Labels: Needs-Author-Feedback, Product-Terminal, AutoMerge, Issue-Task, Area-CodeHealth, Needs-Second

#11981 Only look for PGO package if build mode targeted; add packages.config dependency to ease restoration
  build/packages.config
  src/cascadia/Remoting/packages.config
  src/cascadia/TerminalApp/packages.config
  src/cascadia/TerminalConnection/packages.config
  src/cascadia/TerminalControl/packages.config
  src/cascadia/TerminalSettingsEditor/packages.config
  src/cascadia/TerminalSettingsModel/packages.config
  src/cascadia/WindowsTerminal/packages.config
  src/common.build.post.props
  src/common.build.pre.props
  src/host/exe/packages.config
Labels: AutoMerge
