Repository microsoft/terminal, pull requests merged in 2021-02, with the labels that each got.

#8979 Prevent context menu of tab renamer text box from canceling edit
  src/cascadia/TerminalApp/TabHeaderControl.cpp
Labels: AutoMerge, Needs-Second

#8956 Bind LaunchMode and TabSwitcherMode properly in SUI
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Launch.xaml
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Needs-Second, Priority-1, zPreview-Service-Consider

#8977 Fix crash in explorer background context menu logic
  src/cascadia/ShellExtension/OpenTerminalHere.cpp
Labels: Area-ShellExtension, AutoMerge, Issue-Bug, Product-Terminal, Severity-Crash, zPreview-Service-Consider, zStable-Service-Consider

#8962 Added some example images for the pixel shader feature
  samples/PixelShaders/README.md
  samples/PixelShaders/Screenshots/TerminalDefault.PNG
  samples/PixelShaders/Screenshots/TerminalInvert.PNG
  samples/PixelShaders/Screenshots/TerminalRasterbars.PNG
  samples/PixelShaders/Screenshots/TerminalRetro.PNG
Labels: Issue-Docs

#8982 Fix crash in terminal when tab closed while data is being output
  src/cascadia/TerminalControl/TermControl.cpp
Labels: AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Crash, zPreview-Service-Consider, zStable-Service-Consider

#8995 Manually initialize the warnings vector to prevent a crash on launch
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-Settings, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Crash, zPreview-Service-Consider, zStable-Service-Consider

#8994 Fix shader time input
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
Labels: Area-Rendering, AutoMerge, Issue-Task, Product-Terminal

#9004 Fix the spellcheck bot
  .github/actions/spell-check/excludes.txt
Labels: AutoMerge

#8870 Fix #8458: Handle all Ctrl-key combinations
  src/terminal/input/terminalInput.cpp
Labels: Area-Input, Area-TerminalControl, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#8852 Nit: update string in cursor shape
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: AutoMerge

#9012 Generate settings.json if deleted while WT is open
  src/cascadia/TerminalApp/AppLogic.cpp
Labels: Area-Settings, AutoMerge, Issue-Bug, Product-Terminal

#8999 Add support for chaining OSC 10-12
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Area-VT, AutoMerge, Product-Conhost, Product-Terminal

#9011 Fix issues in tests.xml and OpenConsole.psm1
  tools/OpenConsole.psm1
  tools/tests.xml
Labels: Area-Build, Needs-Second, Product-Meta

#8934 Improve OSC 9;9 parsing logic & add tests
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalApiTest.cpp
Labels: AutoMerge, Issue-Bug, Needs-Second, Priority-1, Product-Terminal, zPreview-Service-Consider

#9028 Fix crash when closing multiple splits from the tab context menu
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Crash

#9039 Fix hyperlink not de-underlined in unfocused pane
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-3, Product-Terminal, zPreview-Service-Consider, zStable-Service-Consider

#9038 Serialize 'disabledProfileSources'
  src/cascadia/LocalTests_SettingsModel/SerializationTests.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Area-Settings UI, Issue-Bug, Priority-1, Product-Terminal, Severity-DataLoss, zPreview-Service-Consider

#8952 Fix cursor restore to happen on the tab row
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-TerminalControl, Issue-Bug, Priority-2, Product-Terminal, zPreview-Service-Consider

#7240 Spec for Windows Terminal Process Model 2.0
  .github/actions/spelling/dictionary/apis.txt
  .github/actions/spelling/expect/expect.txt
  .github/actions/spelling/patterns/patterns.txt
  doc/specs/#5000 - Process Model 2.0/#5000 - Process Model 2.0.md
  doc/specs/#5000 - Process Model 2.0/auto-glom-wt-exe.png
  doc/specs/#5000 - Process Model 2.0/drop-tab-on-existing-window.png
  doc/specs/#5000 - Process Model 2.0/figure-001.png
  doc/specs/#5000 - Process Model 2.0/figure-002.png
  doc/specs/#5000 - Process Model 2.0/figure-003.png
  doc/specs/#5000 - Process Model 2.0/mixed-elevation.png
  doc/specs/#5000 - Process Model 2.0/single-instance-mode-cwd.png
  doc/specs/#5000 - Process Model 2.0/tear-out-tab.png
  doc/specs/#5000 - Process Model 2.0/wt-session-0.png
Labels: AutoMerge, Issue-Docs, Product-Terminal

#8135 Spec for Windows Terminal Window Management
  .github/actions/spelling/expect/expect.txt
  .github/actions/spelling/expect/web.txt
  doc/specs/#5000 - Process Model 2.0/#4472 - Windows Terminal Session Management.md
  doc/specs/#5000 - Process Model 2.0/#5000 - Process Model 2.0.md
Labels: Issue-Docs, Product-Terminal

#9054 fix tab title propagation issues
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-2, Product-Terminal, zPreview-Service-Consider, zStable-Service-Consider

#8345 Spec: Appearance configuration objects for profiles
  .github/actions/spelling/dictionary/apis.txt
  .github/actions/spelling/dictionary/names.txt
  doc/specs/#3062 - Appearance configuration object for profiles.md
Labels: AutoMerge, Issue-Docs, Product-Terminal

#9057 Prevent command palette from closing on right click
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: AutoMerge, zPreview-Service-Consider

#9034 Add support for paste filtering and bracketed paste mode
  .github/actions/spelling/excludes.txt
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/types/inc/utils.hpp
  src/types/ut_types/UtilsTests.cpp
  src/types/utils.cpp
Labels: Area-VT, AutoMerge, Issue-Feature, Product-Conhost

#5272 Fixed #5205: Ctrl+Alt+2 doesn't send ^[^@
  .github/actions/spelling/dictionary/microsoft.txt
  src/terminal/input/terminalInput.cpp
Labels: Area-Input, Area-VT, AutoMerge, Issue-Bug, Needs-Second, Priority-2, Product-Conpty

#9041 Introduce zoom, bell and progress indicators to ATS
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/PaletteItemTemplateSelector.cpp
  src/cascadia/TerminalApp/PaletteItemTemplateSelector.h
  src/cascadia/TerminalApp/PaletteItemTemplateSelector.idl
  src/cascadia/TerminalApp/TabPaletteItem.cpp
  src/cascadia/TerminalApp/TabPaletteItem.h
  src/cascadia/TerminalApp/TabPaletteItem.idl
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-CmdPal, AutoMerge, Issue-Task, Product-Terminal

#8867 Introduce read-only panes
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TabBase.idl
  src/cascadia/TerminalApp/TabHeaderControl.h
  src/cascadia/TerminalApp/TabHeaderControl.idl
  src/cascadia/TerminalApp/TabHeaderControl.xaml
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/KeyMapping.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-User Interface, AutoMerge, Issue-Feature, Product-Terminal

#8919 Represent inheritance in Settings UI
  src/cascadia/TerminalControl/TermControl.xaml
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/SettingContainer.cpp
  src/cascadia/TerminalSettingsEditor/SettingContainer.h
  src/cascadia/TerminalSettingsEditor/SettingContainer.idl
  src/cascadia/TerminalSettingsEditor/SettingContainerStyle.xaml
  src/cascadia/TerminalSettingsEditor/ViewModelHelpers.h
  src/cascadia/TerminalSettingsEditor/pch.h
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Product-Terminal

#8602 Separate runtime TerminalSettings from profile-TerminalSettings
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalSettings.cpp
  src/cascadia/TerminalApp/TerminalSettings.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalSettingsModel/IInheritable.h
  src/types/colorTable.cpp
  src/types/inc/colorTable.hpp
Labels: AutoMerge

#4104 Spec for Tab Sizing
  doc/specs/#597 - Tab Sizing.md
Labels: Area-Settings, Issue-Docs, Needs-Second

#9076 Fix ATS tab status indicators
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/TabHeaderControl.h
  src/cascadia/TerminalApp/TabHeaderControl.idl
  src/cascadia/TerminalApp/TabHeaderControl.xaml
  src/cascadia/TerminalApp/TabPaletteItem.cpp
  src/cascadia/TerminalApp/TabPaletteItem.h
  src/cascadia/TerminalApp/TabPaletteItem.idl
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalApp/TerminalTab.idl
  src/cascadia/TerminalApp/TerminalTabStatus.cpp
  src/cascadia/TerminalApp/TerminalTabStatus.h
  src/cascadia/TerminalApp/TerminalTabStatus.idl
Labels: AutoMerge

#8898 Add support for running a commandline in another WT window
  .github/actions/spelling/expect/web.txt
  OpenConsole.sln
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/Remoting/CommandlineArgs.cpp
  src/cascadia/Remoting/CommandlineArgs.h
  src/cascadia/Remoting/FindTargetWindowArgs.cpp
  src/cascadia/Remoting/FindTargetWindowArgs.h
  src/cascadia/Remoting/Microsoft.Terminal.RemotingLib.vcxproj
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/Peasant.cpp
  src/cascadia/Remoting/Peasant.h
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/ProposeCommandlineResult.cpp
  src/cascadia/Remoting/ProposeCommandlineResult.h
  src/cascadia/Remoting/WindowActivatedArgs.cpp
  src/cascadia/Remoting/WindowActivatedArgs.h
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/Remoting/WindowManager.idl
  src/cascadia/Remoting/init.cpp
  src/cascadia/Remoting/pch.h
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/main.cpp
Labels: Area-Commandline, Area-Server, AutoMerge, Issue-Feature, Needs-Second, Product-Terminal

#9091 Teach the renderer to keep thread alive if engine requests it
  src/renderer/base/RenderEngineBase.cpp
  src/renderer/base/renderer.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/inc/IRenderEngine.hpp
  src/renderer/inc/RenderEngineBase.hpp
Labels: Area-Rendering, Issue-Task, Product-Terminal, zPreview-Service-Consider

#9092 Work around a (likely) optimizer issue with SetPixelShaderPath
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: Area-TerminalControl, Issue-Bug, Priority-0, Product-Terminal, Severity-Blocking, Severity-Crash, zPreview-Service-Consider

#9102 [1.5 ONLY] Remove the close submenu
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Area-User Interface, Issue-Bug, Priority-0, Product-Terminal, Severity-Blocking, Severity-Crash

#9056 Fix CommandPalette to prefer inner interactions over bindings
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.xaml
Labels: Area-CmdPal, Issue-Bug, Needs-Second, Priority-2, Product-Terminal, zPreview-Service-Consider

#9103 Bugfix: update color scheme references properly
  src/cascadia/LocalTests_SettingsModel/ColorSchemeTests.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Needs-Second, Priority-2, Product-Terminal, zPreview-Service-Consider

#9106 Move CharToKeyEvents (and friends) into InteractivityBase
  src/interactivity/base/EventSynthesis.cpp
  src/interactivity/base/lib/InteractivityBase.vcxproj
  src/interactivity/base/lib/InteractivityBase.vcxproj.filters
  src/interactivity/base/sources.inc
  src/interactivity/inc/EventSynthesis.hpp
  src/interactivity/win32/Clipboard.cpp
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
  src/terminal/parser/ut_parser/Parser.UnitTests.vcxproj
  src/types/convert.cpp
  src/types/inc/convert.hpp
Labels: Area-Build, Area-CodeHealth, Issue-Bug, Product-Conhost

#9107 Prevent read-only warning on mouse move, wheel and release
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Blocking

#9129 Fix the Host Proxy DLL reference in ServerLib
  src/server/lib/server.vcxproj
Labels: AutoMerge

#9140 Re-enable navigation in ATS
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: Area-CmdPal, AutoMerge, Issue-Bug, Product-Terminal, Severity-Blocking

#9153 Remove accidental System.Core.dll from CascadiaPackage
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
Labels: AutoMerge

#9144 Add Keyboard Navigation To Color Picker
  src/cascadia/TerminalApp/ColorPickupFlyout.xaml
Labels: Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Priority-3, Product-Terminal

#8621 Eliminate more transient allocations: Titles and invalid rectangles and bitmap runs and utf8 conversions
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/host/consoleInformation.cpp
  src/host/getset.cpp
  src/host/renderData.cpp
  src/host/renderData.hpp
  src/host/server.h
  src/host/ut_host/ApiRoutinesTests.cpp
  src/host/ut_host/VtIoTests.cpp
  src/inc/til/bitmap.h
  src/interactivity/onecore/BgfxEngine.cpp
  src/interactivity/onecore/BgfxEngine.hpp
  src/interactivity/win32/window.cpp
  src/interactivity/win32/windowproc.cpp
  src/renderer/base/RenderEngineBase.cpp
  src/renderer/base/renderer.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/gdi/gdirenderer.hpp
  src/renderer/gdi/math.cpp
  src/renderer/gdi/state.cpp
  src/renderer/inc/IRenderData.hpp
  src/renderer/inc/IRenderEngine.hpp
  src/renderer/inc/RenderEngineBase.hpp
  src/renderer/uia/UiaRenderer.cpp
  src/renderer/uia/UiaRenderer.hpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/XtermEngine.hpp
  src/renderer/vt/math.cpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/tracing.cpp
  src/renderer/vt/tracing.hpp
  src/renderer/vt/vtrenderer.hpp
  src/renderer/wddmcon/WddmConRenderer.cpp
  src/renderer/wddmcon/WddmConRenderer.hpp
Labels: Area-Performance, AutoMerge, Issue-Bug, Product-Conhost, Product-Conpty, Product-Terminal

#9163 Do not dismiss selection if the Windows keys is pressed as a key-combination
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-3, Product-Terminal, zPreview-Service-Consider, zStable-Service-Consider

#9126 Perform polish of miscellaneous Settings UI bugs
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
Labels: Area-Settings UI, AutoMerge, Issue-Task, Priority-3, Product-Terminal

#9162 Teach tab to focus terminal after rename
  src/cascadia/TerminalApp/TabHeaderControl.cpp
  src/cascadia/TerminalApp/TabHeaderControl.h
  src/cascadia/TerminalApp/TabHeaderControl.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: AutoMerge

#9194 wpf: prevent a 0 size when VS builds the Terminal window too early
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
  src/cascadia/WpfTerminalControl/TerminalControl.xaml.cs
Labels: AutoMerge, zPreview-Service-Consider, zStable-Service-Consider

#9143 Fix command palette accessibility
  src/cascadia/TerminalApp/CommandPalette.xaml
Labels: Area-Accessibility, Area-CmdPal, AutoMerge, Issue-Bug, Needs-Second, Product-Terminal, zPreview-Service-Consider

#9195 Ensure hyperlinks de-underline when pointer leaves terminal
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.xaml
Labels: Area-TerminalControl, Impact-Visual, Issue-Bug, Product-Terminal, zPreview-Service-Consider

#9137 Force activate existing windows when running a commandline in them
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/pch.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Product-Terminal

#1978 Add support for XTPUSHSGR / XTPOPSGR
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/cascadia/TerminalCore/TerminalDispatchGraphics.cpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/Adapter.UnitTests.vcxproj
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/telemetry.cpp
  src/terminal/parser/telemetry.hpp
  src/types/inc/sgrStack.hpp
  src/types/lib/types.vcxproj
  src/types/lib/types.vcxproj.filters
  src/types/sgrStack.cpp
  src/types/sources.inc
Labels: Area-VT, Issue-Task, Product-Conhost

#8664 Add support for double-width/double-height lines in conhost
  .github/actions/spelling/expect/expect.txt
  src/buffer/out/LineRendition.hpp
  src/buffer/out/Row.cpp
  src/buffer/out/Row.hpp
  src/buffer/out/lib/bufferout.vcxproj
  src/buffer/out/search.cpp
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/host/CursorBlinker.cpp
  src/host/_stream.cpp
  src/host/conimeinfo.cpp
  src/host/getset.cpp
  src/host/output.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/screenInfo.cpp
  src/host/selection.cpp
  src/host/ut_host/SelectionTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/interactivity/onecore/BgfxEngine.cpp
  src/interactivity/onecore/BgfxEngine.hpp
  src/renderer/base/RenderEngineBase.cpp
  src/renderer/base/renderer.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/gdi/gdirenderer.hpp
  src/renderer/gdi/invalidate.cpp
  src/renderer/gdi/paint.cpp
  src/renderer/gdi/state.cpp
  src/renderer/inc/CursorOptions.h
  src/renderer/inc/IRenderEngine.hpp
  src/renderer/inc/RenderEngineBase.hpp
  src/renderer/uia/UiaRenderer.cpp
  src/renderer/uia/UiaRenderer.hpp
  src/renderer/vt/invalidate.cpp
  src/renderer/vt/vtrenderer.hpp
  src/renderer/wddmcon/WddmConRenderer.cpp
  src/renderer/wddmcon/WddmConRenderer.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/telemetry.cpp
  src/terminal/parser/telemetry.hpp
  src/types/UiaTextRangeBase.cpp
Labels: Area-VT, AutoMerge, Issue-Feature, Product-Conhost

#9096 Introduce DxFontRenderData
  src/renderer/base/lib/base.vcxproj
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/CustomTextLayout.h
  src/renderer/dx/DxFontRenderData.cpp
  src/renderer/dx/DxFontRenderData.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/dx/lib/dx.vcxproj
  src/renderer/dx/lib/dx.vcxproj.filters
  src/renderer/dx/sources.inc
Labels: Area-Fonts, Area-Rendering, AutoMerge, Product-Terminal

#9198 Fix FFM to apply only if tab is focused
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Product-Terminal

#8917 Add `findNext`, `findPrev` actions
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/KeyMapping.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-Settings, Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Priority-3, Product-Terminal

#9192 A bunch of test fixes
  src/cascadia/LocalTests_SettingsModel/CommandTests.cpp
  src/cascadia/LocalTests_SettingsModel/pch.h
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/LocalTests_TerminalApp/pch.h
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/UnitTests_TerminalCore/pch.h
  src/cascadia/ut_app/precomp.h
  src/inc/consoletaeftemplates.hpp
  src/inc/winrtTaefTemplates.hpp
Labels: Area-CodeHealth, AutoMerge, Issue-Bug, Product-Terminal

#7632 Add support for "fragment extensions"
  .github/actions/spelling/dictionary/apis.txt
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
  src/cascadia/LocalTests_TerminalApp/TestHostApp/Package.appxmanifest
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/ColorScheme.cpp
  src/cascadia/TerminalSettingsModel/ColorScheme.h
  src/cascadia/TerminalSettingsModel/pch.h
Labels: Area-Extensibility, Area-Settings, AutoMerge, Issue-Feature, Product-Terminal

#9206 Enable text search on combo boxes
  .github/actions/spelling/dictionary/apis.txt
  src/cascadia/TerminalSettingsEditor/EnumEntry.h
  src/cascadia/TerminalSettingsEditor/EnumEntry.idl
  src/cascadia/TerminalSettingsModel/ColorScheme.h
  src/cascadia/TerminalSettingsModel/ColorScheme.idl
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/TerminalSettingsModel/Profile.idl
Labels: AutoMerge, Needs-Second

#9196 Redesign color schemes page
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemes.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.idl
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Issue-Task, Priority-2, Priority-3, Product-Terminal

#9212 Always show the bell indicator when BEL is emitted
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: AutoMerge, Needs-Second

#9209 Fix FilteredCommand tests to run on UI thread
  src/cascadia/LocalTests_TerminalApp/FilteredCommandTests.cpp
Labels: AutoMerge, Needs-Second

#9118 Add support for the `windowingBehavior` setting
  .github/actions/spelling/dictionary/apis.txt
  doc/cascadia/profiles.schema.json
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/WindowActivatedArgs.h
  src/cascadia/Remoting/pch.h
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalSettingsEditor/Launch.cpp
  src/cascadia/TerminalSettingsEditor/Launch.h
  src/cascadia/TerminalSettingsEditor/Launch.idl
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/EnumMappings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.h
  src/cascadia/TerminalSettingsModel/EnumMappings.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/UnitTests_Remoting/pch.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/inc/WindowingBehavior.h
Labels: Area-User Interface, AutoMerge, Issue-Feature, Product-Terminal

#9124 Polish settings UI localized text
  src/cascadia/TerminalSettingsEditor/Converters.idl
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/InvertedBooleanConverter.cpp
  src/cascadia/TerminalSettingsEditor/InvertedBooleanConverter.h
  src/cascadia/TerminalSettingsEditor/InvertedBooleanToVisibilityConverter.h
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Area-Settings UI, Issue-Task, Product-Terminal

#9036 Add `centerOnLaunch` setting
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Area-Settings, Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#9079 Introduce setting override tracking and update SettingContainer
  src/cascadia/TerminalApp/TerminalSettings.h
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/SettingContainer.cpp
  src/cascadia/TerminalSettingsEditor/SettingContainer.h
  src/cascadia/TerminalSettingsEditor/SettingContainer.idl
  src/cascadia/TerminalSettingsEditor/SettingContainerStyle.xaml
  src/cascadia/TerminalSettingsEditor/ViewModelHelpers.h
  src/cascadia/TerminalSettingsEditor/ViewModelHelpers.idl.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/DefaultProfileUtils.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/IInheritable.h
  src/cascadia/TerminalSettingsModel/IInheritable.idl.h
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/TerminalSettingsModel/Profile.idl
Labels: Area-Settings UI, AutoMerge, Issue-Feature, Product-Terminal

#9208 Add support for the `newWindow` action
  .github/actions/spelling/dictionary/apis.txt
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_SettingsModel/CommandTests.cpp
  src/cascadia/ShellExtension/OpenTerminalHere.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/KeyMapping.idl
  src/cascadia/TerminalSettingsModel/defaults.json
  src/cascadia/WinRTUtils/inc/WtExeUtils.h
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#9234 Hide the Command Palette's key binding label from UIA
  src/cascadia/TerminalApp/CommandPalette.xaml
Labels: AutoMerge

#9246 Fix `wt --help`
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/LocalTests_TerminalApp/pch.h
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-1, Product-Terminal

#9249 PICK: Work around an optimizer issue with SetPixelShaderPath
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: Area-TerminalControl, Issue-Bug, Priority-0, Product-Terminal, Severity-Blocking, Severity-Crash

#9257 TabHeader: put TraceLogging events in the right category
  src/cascadia/TerminalApp/TabHeaderControl.cpp
Labels: zStable-Service-Consider

#9253 Add a simple page for keybindings
  src/cascadia/TerminalApp/ActionPaletteItem.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsEditor/Actions.cpp
  src/cascadia/TerminalSettingsEditor/Actions.h
  src/cascadia/TerminalSettingsEditor/Actions.idl
  src/cascadia/TerminalSettingsEditor/Actions.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/Command.cpp
  src/cascadia/TerminalSettingsModel/Command.h
  src/cascadia/TerminalSettingsModel/Command.idl
Labels: Area-Settings UI, AutoMerge, Product-Terminal

#9258 Update automation properties for tab header control
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Area-Accessibility, AutoMerge, Issue-Bug, Product-Terminal, zStable-Service-Consider

#9224 Make Settings UI the default experience
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: AutoMerge

#9262 [v1.6] Add help text to 'more options' in command palette
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/HasNestedCommandsVisibilityConverter.cpp
  src/cascadia/TerminalApp/HasNestedCommandsVisibilityConverter.h
  src/cascadia/TerminalApp/HasNestedCommandsVisibilityConverter.idl
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
Labels: Area-Accessibility, Area-CmdPal, Issue-Bug, Priority-3, Product-Terminal

#9272 Exclude MonarchPeasantPackage from AnyCPU/DotNet*Test configs
  OpenConsole.sln
Labels: Needs-Second, zPreview-Service-Consider, zStable-Service-Consider

#9271 Add help text to 'more options' in command palette
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/HasNestedCommandsVisibilityConverter.cpp
  src/cascadia/TerminalApp/HasNestedCommandsVisibilityConverter.h
  src/cascadia/TerminalApp/HasNestedCommandsVisibilityConverter.idl
  src/cascadia/TerminalApp/PaletteItemTemplateSelector.cpp
  src/cascadia/TerminalApp/PaletteItemTemplateSelector.h
  src/cascadia/TerminalApp/PaletteItemTemplateSelector.idl
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
Labels: Area-Accessibility, Area-CmdPal, Area-User Interface, Impact-Compliance, Issue-Bug, Needs-Second, Product-Terminal, zPreview-Service-Consider

#9289 Fix settings not updating on reload
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-Settings, AutoMerge, Issue-Bug, Issue-Docs, Issue-Samples, Priority-0, Product-Terminal, Severity-Blocking

#9294 Update dropdown's settings keyboard accelerator
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: AutoMerge, Needs-Second

#9293 Fix updating with fragments ignoring original profile settings
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Area-Settings, AutoMerge, Issue-Bug, Priority-1, zPreview-Service-Consider

#9295 Update Cascadia Code to 2102.25
  res/Cascadia.ttf
  res/CascadiaMono.ttf
  res/README.md
Labels: AutoMerge, Needs-Second, zPreview-Service-Consider, zStable-Service-Consider

#9297 Create settings/tasks definitions for VScode builds and registration
  .github/actions/spelling/dictionary/apis.txt
  .github/actions/spelling/dictionary/microsoft.txt
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Labels: Area-Build, AutoMerge, Issue-Task, Product-Meta
