Repository microsoft/terminal, pull requests merged in 2021-07, with the labels that each got.

#10433 Group font options in the json into a single object
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_SettingsModel/SerializationTests.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/FontConfig.cpp
  src/cascadia/TerminalSettingsModel/FontConfig.h
  src/cascadia/TerminalSettingsModel/FontConfig.idl
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj.filters
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
Labels: Needs-Second

#10544 [A11y] Initialize and copy _blockRange in UIA Clone
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
Labels: Area-Accessibility, AutoMerge, Issue-Bug, Priority-1, Product-Conhost, Product-Terminal, zPreview-Service-Consider, zStable-Service-Consider

#10537 Don't notify a11y event when in ConPTY mode
  src/host/screenInfo.cpp
Labels: AutoMerge

#10549 Fix racy access to _tsfTryRedrawCanvas in TermControl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Needs-Second, Priority-1, Product-Terminal, Severity-Crash, zPreview-Service-Consider, zStable-Service-Consider

#10559 Introduce a api-ms-win-core-synch-l1-2-0 shim for Windows 7
  OpenConsole.sln
  src/api-ms-win-core-synch-l1-2-0/api-ms-win-core-synch-l1-2-0.vcxproj
  src/api-ms-win-core-synch-l1-2-0/api-ms-win-core-synch-l1-2-0.vcxproj.filters
  src/api-ms-win-core-synch-l1-2-0/definitions.def
  src/api-ms-win-core-synch-l1-2-0/main.cpp
  src/cascadia/PublicTerminalCore/PublicTerminalCore.vcxproj
Labels: Area-WPFControl, AutoMerge

#10498 Render SGR 1 ("intensity") as bold in the DX engine
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/CustomTextRenderer.h
  src/renderer/dx/DxRenderer.cpp
Labels: Area-Output, Area-Rendering, AutoMerge, Issue-Feature, Product-Conpty, Product-Terminal

#10550 Add the 'Add new' button to the Actions page
  src/cascadia/TerminalSettingsEditor/Actions.cpp
  src/cascadia/TerminalSettingsEditor/Actions.h
  src/cascadia/TerminalSettingsEditor/Actions.idl
  src/cascadia/TerminalSettingsEditor/Actions.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Area-Settings UI, AutoMerge, Product-Terminal

#10582 Delay load call SetThreadDescription to restore WPF renderer on Win7
  src/renderer/base/thread.cpp
Labels: Area-WPFControl, AutoMerge, Issue-Bug, Product-Terminal

#10179 Add tray icon when quake window is minimized
  .github/actions/spelling/allow/apis.txt
  .github/actions/spelling/expect/expect.txt
  src/cascadia/WinRTUtils/WinRTUtils.vcxproj
  src/cascadia/WinRTUtils/inc/ScopedResourceLoader.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/BaseWindow.h
  src/cascadia/WindowsTerminal/CustomWindowMessages.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/icon.cpp
  src/cascadia/WindowsTerminal/icon.h
  src/cascadia/WindowsTerminal/pch.h
Labels: Issue-Feature, Product-Terminal

#10587 wpf: make sure to pack api-ms-win-core-synch-l1-2-0
  src/cascadia/WpfTerminalControl/WpfTerminalControl.csproj
  src/cascadia/WpfTerminalTestNetCore/WpfTerminalTestNetCore.csproj
Labels: Area-WPFControl, Issue-Task, Product-Terminal

#10580 #10477: Handle things above U+FFFF in GDI renderer
  src/renderer/gdi/paint.cpp
Labels: Area-Rendering, AutoMerge, Impact-Compatibility, Impact-Correctness, Issue-Task, Priority-2, Product-Conhost

#10581 Introduce feature flag for editable actions page
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/ReadOnlyActions.cpp
  src/cascadia/TerminalSettingsEditor/ReadOnlyActions.h
  src/cascadia/TerminalSettingsEditor/ReadOnlyActions.idl
  src/cascadia/TerminalSettingsEditor/ReadOnlyActions.xaml
  src/features.xml
Labels: Area-Settings UI, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#10591 #10497: Do not force the font on output codepage change
  src/host/misc.cpp
Labels: Area-Fonts, Area-Rendering, AutoMerge, Issue-Task, Product-Conhost

#10589 Fix the cursor blink VT sequence being ignored
  src/host/outputStream.cpp
Labels: Area-VT, AutoMerge, Issue-Bug, Priority-3, Product-Conpty

#10569 Skip accessibility notifier and all event calculations when we're in PTY mode
  src/host/CursorBlinker.cpp
  src/host/_output.cpp
  src/host/_stream.cpp
  src/host/conimeinfo.cpp
  src/host/getset.cpp
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/host/selection.cpp
  src/host/srvinit.cpp
  src/interactivity/base/ServiceLocator.cpp
  src/interactivity/inc/ServiceLocator.hpp
  src/server/IoDispatchers.cpp
Labels: Area-Accessibility, Area-Performance, AutoMerge, Issue-Task, Product-Conpty

#10546 Set working directory when invoked from shell extension
  src/cascadia/ShellExtension/OpenTerminalHere.cpp
Labels: Area-ShellExtension, AutoMerge, Issue-Bug, Priority-2, Product-Terminal, zPreview-Service-Consider

#10521 Add fast lookup path for DxFontInfo
  src/renderer/dx/DxFontInfo.h
  src/renderer/dx/DxFontRenderData.cpp
  src/renderer/dx/DxFontRenderData.h
Labels: AutoMerge

#10601 Fix all fragments not loading when one is badly formed
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Area-Extensibility, AutoMerge, Issue-Bug, Needs-Second, Priority-0, Product-Terminal, Severity-Blocking

#10066 Add an Appearances xaml object and AppearanceViewModel to TSE
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Utils.cpp
  src/cascadia/TerminalSettingsEditor/Utils.h
Labels: Needs-Second

#10457 Spec for font features and axes of variation
  .github/actions/spelling/allow/allow.txt
  doc/specs/#1790 - Font features and axes-spec.md
Labels: Area-Fonts, AutoMerge, Issue-Docs, Product-Terminal

#10588 Reintroduce the Defaults page and the Reset buttons
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.idl
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/SettingContainer.cpp
  src/cascadia/TerminalSettingsEditor/SettingContainer.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.idl
  src/features.xml
Labels: Area-Settings UI, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#10336 Expose Text Attributes to UI Automation
  src/buffer/out/textBufferCellIterator.cpp
  src/buffer/out/textBufferCellIterator.hpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/XamlUiaTextRange.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/host/renderData.hpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/renderer/base/FontInfoBase.cpp
  src/renderer/inc/FontInfoBase.hpp
  src/renderer/inc/IRenderData.hpp
  src/types/IBaseData.h
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
  src/types/UiaTracing.cpp
  src/types/UiaTracing.h
Labels: Area-Accessibility, AutoMerge, Issue-Feature, Product-Conhost, Product-Terminal

#10618 Include profile nav menu items to consider for retaining position
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Product-Terminal, zPreview-Service-Consider, zStable-Service-Consider

#10602 Update RIS to reset mouse mode and encoding
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: Area-Input, Area-VT, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#10606 Specify sln file to use for razzle nuget restore
  tools/razzle.cmd
Labels: Area-CodeHealth, AutoMerge, Needs-Second

#10603 Use WinRT VirtualKeyModifiers instead of a custom enum
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/LocalTests_SettingsModel/KeyBindingsTests.cpp
  src/cascadia/LocalTests_SettingsModel/TestUtils.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/KeyChord.cpp
  src/cascadia/TerminalControl/KeyChord.h
  src/cascadia/TerminalControl/KeyChord.idl
  src/cascadia/TerminalSettingsModel/ActionMap.h
  src/cascadia/TerminalSettingsModel/ActionMapSerialization.cpp
  src/cascadia/TerminalSettingsModel/KeyChordSerialization.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Product-Terminal

#10619 Encapsulate settings main frame to prevent overflow
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
Labels: Area-Settings UI, AutoMerge

#10641 Update the `quakeMode` action name
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Product-Terminal, zPreview-Service-Consider

#10640 Update Xaml Toolkit App Host to 6.1.3
  scratch/ScratchIslandApp/SampleApp/SampleAppLib.vcxproj
  scratch/ScratchIslandApp/SampleApp/dll/SampleApp.vcxproj
  scratch/ScratchIslandApp/SampleApp/packages.config
  scratch/ScratchIslandApp/WindowExe/WindowExe.vcxproj
  scratch/ScratchIslandApp/WindowExe/packages.config
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/dll/TerminalApp.vcxproj
  src/cascadia/TerminalApp/packages.config
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/cascadia/WindowsTerminalUniversal/packages.config
Labels: AutoMerge, zPreview-Service-Consider, zStable-Service-Consider

#10593 Enable /Zc:preprocessor
  build/Helix/PrepareHelixPayload.ps1
  build/Helix/packages.config
  build/packages.config
  build/pipelines/templates/helix-createprojfile-steps.yml
  build/pipelines/templates/helix-runtests-job.yml
  src/buffer/out/TextAttribute.hpp
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
  src/cascadia/TerminalSettingsEditor/Utils.h
  src/cascadia/TerminalSettingsEditor/ViewModelHelpers.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj.filters
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/UnitTests_TerminalCore/ScreenSizeLimitsTest.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalApiTest.cpp
  src/cascadia/WindowsTerminal_UIATests/WindowsTerminal.UIA.Tests.csproj
  src/cascadia/WindowsTerminal_UIATests/packages.config
  src/cascadia/inc/cppwinrt_utils.h
  src/common.build.tests.props
  src/cppwinrt.build.pre.props
  src/host/ft_uia/Host.Tests.UIA.csproj
  src/host/ft_uia/packages.config
  src/inc/WilErrorReporting.h
  src/inc/consoletaeftemplates.hpp
  src/terminal/parser/ut_parser/packages.config
  tools/OpenConsole.psm1
  tools/razzle.cmd
Labels: Area-CodeHealth, AutoMerge, Product-Terminal

#10317 Allow creating and editing unfocused appearances in the SUI
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/features.xml
Labels: AutoMerge

#10661 Don't override success value when resetting mouse mode in hard reset
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: Area-CodeHealth, Area-VT, AutoMerge, Issue-Bug, Priority-2, Product-Conhost, Product-Terminal

#10654 Clean up KeyChordSerialization
  .github/actions/spelling/allow/apis.txt
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalSettingsModel/KeyChordSerialization.cpp
  src/inc/til/static_map.h
  src/inc/til/string.h
  src/til/ut_til/string.cpp
Labels: Area-CodeHealth, AutoMerge, Product-Terminal

#10653 Fix output stuttering using a ticket lock
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/PublicTerminalCore/HwndTerminal.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/inc/til/atomic.h
  src/inc/til/ticket_lock.h
Labels: Area-Quality, AutoMerge, Product-Terminal

#10663 Fix color picker minimum width
  src/cascadia/TerminalApp/ColorPickupFlyout.cpp
Labels: AutoMerge, Needs-Second

#10675 Fix unfocused appearance editor not appearing/disappearing correctly
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
Labels: Area-Settings UI, AutoMerge, Priority-1, Product-Terminal

#10652 Add a KeyChordListener to the Settings UI
  src/cascadia/TerminalSettingsEditor/Actions.cpp
  src/cascadia/TerminalSettingsEditor/Actions.h
  src/cascadia/TerminalSettingsEditor/Actions.idl
  src/cascadia/TerminalSettingsEditor/Actions.xaml
  src/cascadia/TerminalSettingsEditor/KeyChordListener.cpp
  src/cascadia/TerminalSettingsEditor/KeyChordListener.h
  src/cascadia/TerminalSettingsEditor/KeyChordListener.idl
  src/cascadia/TerminalSettingsEditor/KeyChordListener.xaml
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/pch.h
Labels: AutoMerge

#10051 Only access ControlInteractivity through the projection
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/ControlInteractivity.idl
  src/cascadia/TerminalControl/ICoreState.idl
  src/cascadia/TerminalControl/InteractivityAutomationPeer.cpp
  src/cascadia/TerminalControl/InteractivityAutomationPeer.h
  src/cascadia/TerminalControl/InteractivityAutomationPeer.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControlAutomationPeer.cpp
  src/cascadia/TerminalControl/TermControlAutomationPeer.h
  src/cascadia/TerminalControl/TermControlAutomationPeer.idl
  src/cascadia/TerminalControl/TerminalControlLib.vcxproj
  src/cascadia/TerminalControl/pch.h
  src/cascadia/TerminalCore/ControlKeyStates.hpp
  src/cascadia/TerminalCore/ICoreAppearance.idl
  src/cascadia/UnitTests_Control/ControlInteractivityTests.cpp
  src/cascadia/inc/cppwinrt_utils.h
  src/inc/til/point.h
  src/inc/til/rectangle.h
Labels: Area-TerminalControl, Issue-Task, Needs-Second, Product-Terminal

#10711 Make sure we terminate the expected title string
  OpenConsole.sln
  src/host/ut_host/ApiRoutinesTests.cpp
Labels: AutoMerge, Needs-Second

#10685 Defer cursor winrt event triggering
  src/buffer/out/cursor.cpp
  src/buffer/out/cursor.h
  src/cascadia/TerminalCore/Terminal.cpp
Labels: Area-Performance, AutoMerge, Product-Terminal

#10715 Add `experimental.input.forceVT` to JSON schema
  doc/cascadia/profiles.schema.json
Labels: Area-Schema, Issue-Docs, Needs-Second

#10160 implement drag&drop path in '+' button (#10073)
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabRowControl.cpp
  src/cascadia/TerminalApp/TabRowControl.h
  src/cascadia/TerminalApp/TabRowControl.xaml
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#10726 Add tracelogging for drag&drop on the new tab button
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, AutoMerge, Gathering-Data, Issue-Task, Product-Terminal

#10674 Re-evaluate the size of the quake window when it's summoned to a monitor
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-2, Product-Terminal

#10727 Fix building with v143 toolchain
  src/buffer/out/textBuffer.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/host/stream.cpp
  src/interactivity/base/EventSynthesis.cpp
  src/interactivity/win32/windowproc.cpp
  src/renderer/vt/state.cpp
  src/til/ut_til/MathTests.cpp
  src/til/ut_til/PointTests.cpp
Labels: Area-CodeHealth

#10716 Add background color to grid to prevent animation overflow
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#10676 Prevent the quake window's borders from hanging onto adjacent monitors
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#10642 Fix mouse coordinates when viewport is scrolled
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/UnitTests_Control/ControlInteractivityTests.cpp
Labels: Area-Input, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#10666 Introduce vk() and sc() key chord specifiers
  .github/actions/spelling/allow/allow.txt
  .github/actions/spelling/allow/apis.txt
  .github/actions/spelling/expect/expect.txt
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/LocalTests_SettingsModel/KeyBindingsTests.cpp
  src/cascadia/LocalTests_SettingsModel/TerminalSettingsTests.cpp
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/KeyChord.cpp
  src/cascadia/TerminalControl/KeyChord.h
  src/cascadia/TerminalControl/KeyChord.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettingsEditor/KeyChordListener.cpp
  src/cascadia/TerminalSettingsModel/ActionMap.cpp
  src/cascadia/TerminalSettingsModel/ActionMap.h
  src/cascadia/TerminalSettingsModel/KeyChordSerialization.cpp
  src/cascadia/TerminalSettingsModel/defaults-universal.json
  src/cascadia/TerminalSettingsModel/defaults.json
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/inc/til/string.h
  src/til/ut_til/string.cpp
  tools/GenerateHeaderForJson.ps1
Labels: Area-Settings, AutoMerge, Impact-Correctness, Issue-Bug, Issue-Task, Needs-Second, Priority-1, Product-Terminal

#10738 Release unneeded memory more eagerly from conhost
  src/inc/til/u8u16convert.h
  src/server/ApiMessage.cpp
Labels: Area-Server, AutoMerge, Issue-Bug, Priority-0, Product-Conhost

#10714 Don't auto-generate the hidden field when creating profile stubs
  src/cascadia/TerminalSettingsModel/Profile.cpp
Labels: Area-Settings, AutoMerge, Issue-Bug, Needs-Second, Product-Terminal

#10751 Pass inbound handoff message via heap so it cannot race out of scope by the time it reaches the ConsoleIoThread
  src/host/srvinit.cpp
Labels: Area-DefApp, AutoMerge, Issue-Bug, Priority-1, Product-Terminal

#10638 Preliminary work to add Swap Panes functionality (GH Issues 1000, 4922)
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#10651 Clamp the `focusTab` action to the number of available tabs
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-Commandline, AutoMerge, Issue-Bug, Needs-Second, Priority-2, Product-Terminal

#10525 Allow users to set font features and font axes
  .github/actions/spelling/allow/allow.txt
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/FontConfig.cpp
  src/cascadia/TerminalSettingsModel/FontConfig.h
  src/cascadia/TerminalSettingsModel/FontConfig.idl
  src/cascadia/TerminalSettingsModel/JsonUtils.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/UnitTests_Control/MockControlSettings.h
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/CustomTextLayout.h
  src/renderer/dx/DxFontRenderData.cpp
  src/renderer/dx/DxFontRenderData.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
Labels: Area-Rendering, Area-Settings, Area-TerminalControl, AutoMerge, Issue-Task, Priority-3, Product-Terminal

#10756 Update NavigateFocus function to use new visual-based navigation
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Product-Terminal

#10770 Fix conhost UseDx mode
  src/interactivity/win32/window.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
Labels: Area-Rendering, Issue-Bug, Priority-2, Product-Conhost

#10774 Remove some unnecessary font features from our default feature list
  src/renderer/dx/DxFontRenderData.cpp
Labels: AutoMerge

#10772 [DefApp] Teach connection and tab to negotiate initial size
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
Labels: Area-DefApp, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, zPreview-Service-Consider

#10778 Replace the placeholder release build with our real one
  build/pipelines/release.yml
  build/pipelines/templates/build-console-int.yml
  build/pipelines/templates/release-sign-and-bundle.yml
Labels: AutoMerge

#10621 Optimize hot path in textBufferCellIterator
  .github/actions/spelling/expect/expect.txt
  src/buffer/out/OutputCellView.hpp
  src/buffer/out/textBufferCellIterator.cpp
Labels: Area-Performance, AutoMerge, Issue-Task

#10801 Fix: Multimedia Key Hotkey Support
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalSettingsModel/KeyChordSerialization.cpp
Labels: Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#10806 Passing through moveFocus keys when moving to another pane failed
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#10746 Shift the island up by 1px when maximized
  .github/actions/spelling/allow/allow.txt
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#10737 Account for the window borders when restoring from fullscreen
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-2, Product-Terminal

#10650 Fix a pair of TermControl dragging bugs
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/ControlInteractivity.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/UnitTests_Control/ControlInteractivityTests.cpp
Labels: Area-TerminalControl, Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal
