Repository microsoft/terminal, pull requests merged in 2021-04, with the labels that each got.

#9665 dx: add support for inverting all types of cursor
  .github/actions/spelling/expect/alphabet.txt
  src/renderer/dx/CustomTextRenderer.cpp
Labels: Area-Rendering, AutoMerge, Issue-Feature, Product-Terminal

#9662 Add support for renaming windows
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/LocalTests_TerminalApp/pch.h
  src/cascadia/Remoting/Microsoft.Terminal.RemotingLib.vcxproj
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Peasant.cpp
  src/cascadia/Remoting/Peasant.h
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/RenameRequestArgs.cpp
  src/cascadia/Remoting/RenameRequestArgs.h
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  tools/README.md
Labels: AutoMerge

#9695 Fix bad merge in c585a93fc (CloseRequested) that broke closing
  src/cascadia/TerminalApp/TabManagement.cpp
Labels: AutoMerge

#9677 Create a control unittesting project
  .github/actions/spelling/expect/expect.txt
  OpenConsole.sln
  src/cascadia/TerminalControl/dll/TerminalControl.vcxproj
  src/cascadia/UnitTests_Control/Control.UnitTests.vcxproj
  src/cascadia/UnitTests_Control/ControlCoreTests.cpp
  src/cascadia/UnitTests_Control/UnitTests_Control.def
  src/cascadia/UnitTests_Control/pch.cpp
  src/cascadia/UnitTests_Control/pch.h
  src/server/lib/server.vcxproj
  tools/OpenConsole.psm1
  tools/runut.cmd
  tools/tests.xml
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Product-Terminal

#9729 Resolve circular reference in ThrottledFunc
  src/cascadia/TerminalControl/TerminalControlLib.vcxproj
  src/cascadia/TerminalControl/ThrottledFunc.cpp
  src/cascadia/TerminalControl/ThrottledFunc.h
Labels: Area-Performance, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#9726 Add `identifyWindow(s?)` to the schema
  doc/cascadia/profiles.schema.json
Labels: Area-Schema, AutoMerge, Issue-Bug, Needs-Second, Product-Terminal

#9730 Manually handle Enter and Escape in the Window Renamer
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#9727 Fix marking of new selection start
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Input, Area-TerminalControl, AutoMerge, Issue-Bug, Priority-0, Product-Terminal, Severity-Blocking, zPreview-Service-Consider

#9728 Stylize the renamer Action button as a Accent button
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#9733 Add support for LightDismissing the renamer
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#9732 Match the RequestedTheme of our TeachingTips to the set `theme`
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#9586 Disable warning about multi-line paste when brackted paste is on
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
Labels: Area-Settings, AutoMerge, Issue-Feature, Needs-Second, Priority-3, Product-Terminal

#9734 Reduce instances of font fallback dialog
  src/cascadia/TerminalControl/TermControl.cpp
  src/renderer/base/fontinfo.cpp
  src/renderer/dx/DxFontRenderData.cpp
  src/renderer/dx/DxFontRenderData.h
  src/renderer/inc/FontInfo.hpp
Labels: Area-Fonts, AutoMerge, Issue-Bug, Priority-2, Product-Terminal, zPreview-Service-Consider

#8392 Add support for a profile to specify an "unfocused" appearance
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_SettingsModel/ColorSchemeTests.cpp
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/LocalTests_SettingsModel/ProfileTests.cpp
  src/cascadia/LocalTests_SettingsModel/TerminalSettingsTests.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalControl/IControlAppearance.idl
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalControl/TerminalControlLib.vcxproj
  src/cascadia/TerminalCore/ICoreAppearance.idl
  src/cascadia/TerminalCore/ICoreSettings.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/lib/terminalcore-lib.vcxproj
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/SettingContainer.cpp
  src/cascadia/TerminalSettingsModel/AppearanceConfig.cpp
  src/cascadia/TerminalSettingsModel/AppearanceConfig.h
  src/cascadia/TerminalSettingsModel/AppearanceConfig.idl
  src/cascadia/TerminalSettingsModel/AzureCloudShellGenerator.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/IAppearanceConfig.idl
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/PowershellCoreProfileGenerator.cpp
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.idl
  src/cascadia/TerminalSettingsModel/WslDistroGenerator.cpp
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
Labels: Area-Settings, AutoMerge, Issue-Feature, Product-Terminal

#9752 Give our NavigationView's acrylic a fallback color
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal, zPreview-Service-Consider

#9760 Replace Windows.Storage.Pickers with Common File Dialogs
  .github/actions/spelling/dictionary/apis.txt
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/pch.h
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Crash, zPreview-Service-Consider

#9763 Smoothen close caption button animation
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
Labels: AutoMerge, Needs-Second

#9781 Handle switch to tab binding even if tab doesn't exist
  src/cascadia/TerminalApp/AppActionHandlers.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-2, Product-Terminal

#9780 Remove the icon grid column from the Actions page
  src/cascadia/TerminalSettingsEditor/Actions.xaml
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#9779 Trigger taskbar progress evaluation upon pane activation
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-2, Product-Terminal

#9753 Bind Ctrl+Numpad Plus,Minus to the font size controls
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-Settings, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#9772 Remove unused methods in ConGetSet and SCREEN_INFORMATION
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: AutoMerge, Issue-Feature

#9789 Propagate the hosting HWND to the new IFileDialogs
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.idl
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
Labels: AutoMerge, zPreview-Service-Consider

#9764 Fix for some profiles.defaults settings not working
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalSettingsModel/Profile.cpp
Labels: Area-Settings, Area-TerminalControl, AutoMerge, Issue-Bug, Priority-0, Product-Terminal, Severity-Blocking

#9737 Fix restore window position when exiting fullscreen
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/interactivity/win32/window.cpp
  src/interactivity/win32/window.hpp
  src/interactivity/win32/windowproc.cpp
Labels: Area-User Interface, AutoMerge, Issue-Feature, Product-Conhost, Product-Terminal

#9795 Remove the splash screen (to save 100kb (compressed!))
  res/terminal/images-Dev/SplashScreen.scale-100.png
  res/terminal/images-Dev/SplashScreen.scale-100_contrast-black.png
  res/terminal/images-Dev/SplashScreen.scale-100_contrast-white.png
  res/terminal/images-Dev/SplashScreen.scale-125.png
  res/terminal/images-Dev/SplashScreen.scale-125_contrast-black.png
  res/terminal/images-Dev/SplashScreen.scale-125_contrast-white.png
  res/terminal/images-Dev/SplashScreen.scale-150.png
  res/terminal/images-Dev/SplashScreen.scale-150_contrast-black.png
  res/terminal/images-Dev/SplashScreen.scale-150_contrast-white.png
  res/terminal/images-Dev/SplashScreen.scale-200.png
  res/terminal/images-Dev/SplashScreen.scale-200_contrast-black.png
  res/terminal/images-Dev/SplashScreen.scale-200_contrast-white.png
  res/terminal/images-Dev/SplashScreen.scale-400.png
  res/terminal/images-Dev/SplashScreen.scale-400_contrast-black.png
  res/terminal/images-Dev/SplashScreen.scale-400_contrast-white.png
  res/terminal/images-Pre/SplashScreen.scale-100.png
  res/terminal/images-Pre/SplashScreen.scale-100_contrast-black.png
  res/terminal/images-Pre/SplashScreen.scale-100_contrast-white.png
  res/terminal/images-Pre/SplashScreen.scale-125.png
  res/terminal/images-Pre/SplashScreen.scale-125_contrast-black.png
  res/terminal/images-Pre/SplashScreen.scale-125_contrast-white.png
  res/terminal/images-Pre/SplashScreen.scale-150.png
  res/terminal/images-Pre/SplashScreen.scale-150_contrast-black.png
  res/terminal/images-Pre/SplashScreen.scale-150_contrast-white.png
  res/terminal/images-Pre/SplashScreen.scale-200.png
  res/terminal/images-Pre/SplashScreen.scale-200_contrast-black.png
  res/terminal/images-Pre/SplashScreen.scale-200_contrast-white.png
  res/terminal/images-Pre/SplashScreen.scale-400.png
  res/terminal/images-Pre/SplashScreen.scale-400_contrast-black.png
  res/terminal/images-Pre/SplashScreen.scale-400_contrast-white.png
  res/terminal/images/SplashScreen.scale-100.png
  res/terminal/images/SplashScreen.scale-100_contrast-black.png
  res/terminal/images/SplashScreen.scale-100_contrast-white.png
  res/terminal/images/SplashScreen.scale-125.png
  res/terminal/images/SplashScreen.scale-125_contrast-black.png
  res/terminal/images/SplashScreen.scale-125_contrast-white.png
  res/terminal/images/SplashScreen.scale-150.png
  res/terminal/images/SplashScreen.scale-150_contrast-black.png
  res/terminal/images/SplashScreen.scale-150_contrast-white.png
  res/terminal/images/SplashScreen.scale-200.png
  res/terminal/images/SplashScreen.scale-200_contrast-black.png
  res/terminal/images/SplashScreen.scale-200_contrast-white.png
  res/terminal/images/SplashScreen.scale-400.png
  res/terminal/images/SplashScreen.scale-400_contrast-black.png
  res/terminal/images/SplashScreen.scale-400_contrast-white.png
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
Labels: zPreview-Service-Consider, zStable-Service-Consider

#9798 Only update render appearance settings if there's a renderer
  src/cascadia/TerminalControl/TermControl.cpp
Labels: zPreview-Service-Consider

#9801 Add names to threads to make debugging a slight bit easier
  src/cascadia/TerminalConnection/AzureConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/host/PtySignalInputThread.cpp
  src/host/VtInputThread.cpp
  src/host/srvinit.cpp
  src/interactivity/win32/ConsoleInputThread.cpp
  src/renderer/base/thread.cpp
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Product-Conhost, Product-Conpty, Product-Terminal

#9812 Limit terminal warning bells to one per second
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: Area-TerminalControl, AutoMerge, Issue-Task, Product-Terminal

#9815 Fix the renamer tests
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-CodeHealth, AutoMerge, Issue-Bug, Product-Terminal

#9816 Fix profile name generation to allocate unique name
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#9809 Fix rename window handler to mark action as handled
  src/cascadia/TerminalApp/AppActionHandlers.cpp
Labels: Area-Settings, AutoMerge, Issue-Bug, Needs-Second, Product-Terminal, zPreview-Service-Consider

#9835 Update terminal-v2-roadmap.md
  doc/terminal-v2-roadmap.md
Labels: Issue-Docs

#9783 Add support for the `win` key in keybindings
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/KeyChord.cpp
  src/cascadia/TerminalControl/KeyChord.h
  src/cascadia/TerminalControl/KeyChord.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/ControlKeyStates.hpp
  src/cascadia/TerminalSettingsModel/KeyChordSerialization.cpp
  src/cascadia/TerminalSettingsModel/KeyMapping.cpp
Labels: Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#9802 Add -ForceNoHandoff for compatibility; stop handoff for double-click launches
  src/host/ConsoleArguments.cpp
  src/host/ConsoleArguments.hpp
  src/host/ut_host/ConsoleArgumentsTests.cpp
  src/server/IoDispatchers.cpp
Labels: Area-Server, AutoMerge, Issue-Task, Product-Conhost

#9770 Prevent the virtual viewport bottom being moved up unintentionally
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Area-VT, AutoMerge, Product-Conhost

#9842 Delay close tab on middle-click till pointer released
  src/cascadia/TerminalApp/TabManagement.cpp
Labels: AutoMerge, Issue-Bug, Priority-3, Product-Terminal, zPreview-Service-Consider, zStable-Service-Consider

#9597 Initial Implementation for tab stops in TerminalDispatch
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/cascadia/UnitTests_TerminalCore/TerminalBufferTests.cpp
Labels: Area-VT, AutoMerge, Issue-Task, Product-Terminal

#9873 Del 'Community Guidance Req' from CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Area-CodeHealth, Issue-Docs, Product-Meta

#9893 Work around a compiler bug w/ coroutines and exceptions
  src/cascadia/TerminalApp/AppLogic.cpp
Labels: AutoMerge, Priority-0, Severity-Crash, zPreview-Service-Consider, zStable-Service-Consider

#9859 Add Close menu items to the context menu flyout
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Crash

#9862 Fix for configuring starting directory in SUI when defaults sets it to null
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Needs-Author-Feedback, Priority-1, Product-Terminal

#9813 [Quick and Dirty] Copy runtime tab title when duplicating tabs
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Product-Terminal

#9913 Fix tab and hyperlink tooltips to wrap long text
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalControl/TermControl.xaml
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal, zPreview-Service-Consider, zStable-Service-Consider

#9782 doc, tools: Improve docs around using clang-format with VS
  doc/building.md
  tools/OpenConsole.psm1
Labels: Issue-Docs, Needs-Second

#9911 Add URL link to docs text in README.md
  README.md
Labels: AutoMerge, Issue-Docs

#9794 Enable previewing the color scheme in the command palette
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/ActionPreviewHandlers.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.idl
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.idl
Labels: Area-CmdPal, Area-Settings, Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#5792 Initialize the text buffer with the default attributes on a resize
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/screenInfo.cpp
Labels: Area-VT, AutoMerge, Issue-Bug, Needs-Second, Priority-2, Product-Terminal

#9274 Spec for Quake Mode
  .github/actions/spelling/dictionary/apis.txt
  .github/actions/spelling/expect/expect.txt
  .github/actions/spelling/expect/web.txt
  doc/specs/#653 - Quake Mode/#653 - Quake Mode.md
  doc/specs/#653 - Quake Mode/tray-icon-000.png
Labels: AutoMerge, Issue-Docs, Issue-Feature, Needs-Second, Product-Terminal

#9916 Add myself to the readme's team list
  README.md
Labels: AutoMerge

#9808 Add a success dialog to window renaming
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-Settings, Area-User Interface, AutoMerge, Issue-Bug, Needs-Author-Feedback, Product-Terminal, zPreview-Service-Consider

#9924 Fix TabManagement to use tab object rather than index
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#9807 Make whitespace trimming in block selection configurable
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalCore/ICoreSettings.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/defaults.json
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
Labels: Area-Settings, Area-TerminalControl, AutoMerge, Issue-Task, Product-Terminal

#9785 Make the window name `_quake` special
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/inc/til/point.h
  src/inc/til/size.h
Labels: AutoMerge

#9961 Update the bug report template for 04-21 schema
  .github/ISSUE_TEMPLATE/Bug_Report.yml
Labels: AutoMerge, Needs-Second, Product-Meta

#9820 Split `TermControl` into a Core, Interactivity, and Control layer
  .github/actions/spelling/dictionary/apis.txt
  .vscode/settings.json
  .vscode/tasks.json
  OpenConsole.sln
  build/pipelines/templates/build-console-steps.yml
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/SettingsTab.h
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/ControlInteractivity.idl
  src/cascadia/TerminalControl/EventArgs.cpp
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/ICoreState.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalControl/TermControlAutomationPeer.cpp
  src/cascadia/TerminalControl/TerminalControlLib.vcxproj
  src/cascadia/TerminalCore/ITerminalInput.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/UnitTests_Control/Control.UnitTests.vcxproj
  src/cascadia/UnitTests_Control/ControlCoreTests.cpp
  src/cascadia/UnitTests_Control/ControlInteractivityTests.cpp
  src/cascadia/UnitTests_Control/MockConnection.h
  src/cascadia/UnitTests_Control/MockControlSettings.h
  src/cascadia/UnitTests_Control/pch.h
  src/cascadia/UnitTests_Remoting/Remoting.UnitTests.vcxproj
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  tools/runut.cmd
  tools/tests.xml
Labels: Area-CodeHealth, Area-TerminalControl, Area-WPFControl, AutoMerge, Issue-Feature, Product-Terminal

#9925 doc: Add logos to README
  README.md
Labels: Issue-Docs, Needs-Second

#9956 Exempt the `_quake` window from glomming
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
Labels: AutoMerge

#9953 Remove bug fixes which aren't needed in VS 16.9
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/Remoting/dll/Microsoft.Terminal.Remoting.vcxproj
  src/cascadia/TerminalApp/dll/FixVisualStudioBug.targets
  src/cascadia/TerminalApp/dll/TerminalApp.vcxproj
  src/cascadia/TerminalControl/dll/TerminalControl.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsModel/dll/Microsoft.Terminal.Settings.Model.vcxproj
  src/cascadia/WinRTUtils/WinRTUtils.vcxproj
  src/cascadia/WinRTUtils/WinRTUtils.vcxproj.filters
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
Labels: AutoMerge, Needs-Second

#9907 Implement UI for choosing default terminal inside Settings page
  .github/actions/spelling/dictionary/apis.txt
  .github/actions/spelling/dictionary/microsoft.txt
  .github/actions/spelling/expect/expect.txt
  src/cascadia/LocalTests_SettingsModel/SettingsModel.LocalTests.vcxproj
  src/cascadia/TerminalSettingsEditor/Launch.cpp
  src/cascadia/TerminalSettingsEditor/Launch.h
  src/cascadia/TerminalSettingsEditor/Launch.idl
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/DefaultTerminal.cpp
  src/cascadia/TerminalSettingsModel/DefaultTerminal.h
  src/cascadia/TerminalSettingsModel/DefaultTerminal.idl
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj.filters
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/dll/Microsoft.Terminal.Settings.Model.vcxproj
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
  src/propslib/DelegationConfig.cpp
  src/propslib/DelegationConfig.hpp
Labels: Area-DefApp, Area-Settings UI, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#9974 Fix code health failure
  src/host/exe/exemain.cpp
Labels: Area-CodeHealth, AutoMerge

#9972 Fix implicitly narrowing conversion in textBuffer
  src/buffer/out/textBuffer.cpp
Labels: AutoMerge

#9964 Serialize stub for dynamic profiles
  src/cascadia/TerminalSettingsModel/Profile.cpp
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, zPreview-Service-Consider, zStable-Service-Consider

#9202 Initial implementation of fine-grained text analysis
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/CustomTextLayout.h
Labels: Area-Performance, Area-Rendering, AutoMerge, Issue-Task, Needs-Second, Product-Conhost, Product-Terminal

#9854 Add `globalSummon` action
  .github/actions/spelling/dictionary/apis.txt
  src/cascadia/Remoting/Microsoft.Terminal.RemotingLib.vcxproj
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/Peasant.cpp
  src/cascadia/Remoting/Peasant.h
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/SummonWindowSelectionArgs.cpp
  src/cascadia/Remoting/SummonWindowSelectionArgs.h
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/Remoting/WindowManager.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/KeyMapping.cpp
  src/cascadia/TerminalSettingsModel/KeyMapping.h
  src/cascadia/TerminalSettingsModel/KeyMapping.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/pch.h
  src/cascadia/inc/WindowingBehavior.h
Labels: Area-User Interface, Issue-Feature, Needs-Second, Product-Terminal

#9963 When the window is summoned and is already active, minimize it.
  .github/actions/spelling/dictionary/apis.txt
  src/cascadia/Remoting/Peasant.cpp
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/SummonWindowBehavior.h
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
Labels: Area-User Interface, Issue-Task, Product-Terminal

#9988 Fix link to Fabric Bot
  .github/actions/spelling/expect/expect.txt
  doc/bot.md
Labels: AutoMerge

#9307 Introduce a mechanism for passing through DCS data strings
  src/terminal/parser/IStateMachineEngine.hpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/stateMachine.hpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
  src/terminal/parser/ut_parser/StateMachineTest.cpp
Labels: Area-VT, AutoMerge, Issue-Feature, Product-Conhost
