Repository microsoft/terminal, pull requests merged in 2021-10, with the labels that each got.

#11365 Replace the UWP file export with the shell32 one
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Utils.cpp
  src/cascadia/TerminalSettingsEditor/Utils.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
  src/cascadia/WinRTUtils/Utils.cpp
  src/cascadia/WinRTUtils/WinRTUtils.vcxproj
  src/cascadia/WinRTUtils/inc/Utils.h
  src/cascadia/WinRTUtils/pch.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Issue-Task, Severity-Blocking, Needs-Second, Priority-3, Priority-2

#11346 Fix all fragments not loading when one is badly formed
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge

#11374 Try to persist the Pane's working directory if we know what it is.
  src/cascadia/TerminalApp/Pane.cpp
Labels: AutoMerge

#11383 [IslandWindow.cpp] Avoid double-fetching dropdownDuration
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: AutoMerge, Area-CodeHealth

#11391 Ensure "Reset to inherited value" button works for opacity
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
Labels: Product-Terminal, AutoMerge, Issue-Task, Area-Settings UI

#11401 Fix globalSummon.dropdownDuration not saving correctly
  src/cascadia/TerminalSettingsModel/ActionArgs.h
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Needs-Second

#11413 Fix the tab color, part III
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Severity-Blocking, zBugBash-Consider

#11394 Fix failing TestHostApp unit tests
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/LocalTests_SettingsModel/ProfileTests.cpp
  src/cascadia/LocalTests_SettingsModel/SerializationTests.cpp
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
Labels: Issue-Bug, Area-Settings, AutoMerge, Product-Meta, Needs-Second

#11423 Enable DefApp hooks for stable
  src/cascadia/CascadiaPackage/Package.appxmanifest
Labels: Product-Terminal, AutoMerge, zStable-Service-Consider, Area-DefApp

#11428 Fix null pointer exceptions for default constructed CascadiaSettings instances
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Area-Settings, AutoMerge
