Repository microsoft/terminal, pull requests merged in 2021-09, with the labels that each got.

#11100 Remove `time` and `sys`
  src/tools/vttests/burrito.py
Labels: AutoMerge

#11116 Teach Command Palette to filter out duplicate command lines
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: Product-Terminal, AutoMerge, Issue-Task, Priority-2, Area-CmdPal

#11115 Make TabView padding equal
  src/cascadia/TerminalApp/App.xaml
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
Labels: AutoMerge, Needs-Second

#11046 Maintain zoom when moving focus
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task

#10906 Implement and action for manually clearing the Terminal (and conpty) buffer
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalConnection/ConptyConnection.idl
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/defaults.json
  src/cascadia/UnitTests_Control/ControlCoreTests.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/PtySignalInputThread.cpp
  src/host/PtySignalInputThread.hpp
  src/host/getset.cpp
  src/host/getset.h
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/inc/conpty-static.h
  src/inc/conpty.h
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/winconpty/dll/winconpty.def
  src/winconpty/winconpty.cpp
  src/winconpty/winconpty.h
Labels: Issue-Feature, Product-Conpty, Area-Input, Area-TerminalControl, Product-Terminal, AutoMerge, Issue-Task, Priority-1

#11117 Add `useAcrylicInTabRow` to JSON schema
  doc/cascadia/profiles.schema.json
Labels: Issue-Docs, Area-Settings, Product-Terminal

#11043 Provide the focused tab title in the Tray Icon's context menu
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/Peasant.h
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/Remoting/WindowManager.idl
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/TrayIcon.cpp
  src/cascadia/WindowsTerminal/TrayIcon.h
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task

#11137 Disable autocorrect for command, path and find text inputs
  src/cascadia/TerminalControl/SearchBoxControl.xaml
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
Labels: Issue-Bug, Product-Terminal, Needs-Second, Priority-2, Area-Settings UI

#10972 Persist window layout on window close
  doc/cascadia/profiles.schema.json
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/Remoting/WindowManager.idl
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsEditor/Launch.cpp
  src/cascadia/TerminalSettingsEditor/Launch.h
  src/cascadia/TerminalSettingsEditor/Launch.idl
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ApplicationState.cpp
  src/cascadia/TerminalSettingsModel/ApplicationState.h
  src/cascadia/TerminalSettingsModel/ApplicationState.idl
  src/cascadia/TerminalSettingsModel/ColorScheme.idl
  src/cascadia/TerminalSettingsModel/EnumMappings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.h
  src/cascadia/TerminalSettingsModel/EnumMappings.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/JsonUtils.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/features.xml
Labels: Issue-Feature, Area-User Interface, Area-Settings, Product-Terminal, AutoMerge

#11152 Add basic support for the DECRQSS settings query
  .github/actions/spelling/expect/expect.txt
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
Labels: AutoMerge

#11105 Search box visual tweaks
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalControl/SearchBoxControl.xaml
Labels: Area-User Interface, AutoMerge, Needs-Second

#11139 Teach info bars to be dismissed permanently
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalSettingsModel/ApplicationState.h
  src/cascadia/TerminalSettingsModel/ApplicationState.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task

#11086 Add an openSystemMenu keybinding
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
  src/cascadia/WindowsTerminal/main.cpp
Labels: Area-Input, Product-Terminal, AutoMerge, Issue-Task, Needs-Second

#11188 Upgrade to C++/WinRT 2.0.210825.3
  scratch/ScratchIslandApp/SampleApp/packages.config
  scratch/ScratchIslandApp/WindowExe/packages.config
  src/cascadia/Remoting/packages.config
  src/cascadia/ShellExtension/packages.config
  src/cascadia/TerminalApp/packages.config
  src/cascadia/TerminalAzBridge/packages.config
  src/cascadia/TerminalConnection/packages.config
  src/cascadia/TerminalControl/packages.config
  src/cascadia/TerminalCore/packages.config
  src/cascadia/TerminalSettingsEditor/packages.config
  src/cascadia/TerminalSettingsModel/packages.config
  src/cascadia/WinRTUtils/packages.config
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/WindowsTerminalUniversal/packages.config
  src/cppwinrt.build.post.props
  src/cppwinrt.build.pre.props
Labels: AutoMerge, Needs-Second

#11217 Make sure we fully clean up state when closing a peasant
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Severity-Blocking, Priority-1, Area-Remoting

#11233 Fix serialisation of findMatch action
  src/cascadia/LocalTests_SettingsModel/SerializationTests.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Severity-Blocking, Priority-1, zStable-Service-Consider, zPreview-Service-Consider

#11145 Add the ability to split a pane and put the new pane first.
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_SettingsModel/CommandTests.cpp
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/LocalTests_SettingsModel/KeyBindingsTests.cpp
  src/cascadia/LocalTests_SettingsModel/TerminalSettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task, Priority-3

#7774 Add profile generators for Visual Studio
  .github/actions/spelling/allow/apis.txt
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalSettingsModel/BaseVisualStudioGenerator.cpp
  src/cascadia/TerminalSettingsModel/BaseVisualStudioGenerator.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj.filters
  src/cascadia/TerminalSettingsModel/VsDevCmdGenerator.cpp
  src/cascadia/TerminalSettingsModel/VsDevCmdGenerator.h
  src/cascadia/TerminalSettingsModel/VsDevShellGenerator.cpp
  src/cascadia/TerminalSettingsModel/VsDevShellGenerator.h
  src/cascadia/TerminalSettingsModel/VsSetupConfiguration.cpp
  src/cascadia/TerminalSettingsModel/VsSetupConfiguration.h
  src/cascadia/TerminalSettingsModel/packages.config
Labels: Area-Extensibility, Area-Settings, Product-Terminal, AutoMerge, Issue-Task, Needs-Second

#11242 VsSetup: Replace com_ptr params with raw pointers, clean up code
  src/cascadia/TerminalSettingsModel/BaseVisualStudioGenerator.cpp
  src/cascadia/TerminalSettingsModel/BaseVisualStudioGenerator.h
  src/cascadia/TerminalSettingsModel/VsDevCmdGenerator.cpp
  src/cascadia/TerminalSettingsModel/VsDevCmdGenerator.h
  src/cascadia/TerminalSettingsModel/VsDevShellGenerator.cpp
  src/cascadia/TerminalSettingsModel/VsDevShellGenerator.h
  src/cascadia/TerminalSettingsModel/VsSetupConfiguration.cpp
  src/cascadia/TerminalSettingsModel/VsSetupConfiguration.h
Labels: AutoMerge

#11243 Bind resetFontSize to numpad_0
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Needs-Second

#11221 Allow reordering tabs when UAC is disabled
  src/cascadia/TerminalApp/AppLogic.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-2

#11122 [A11y] Treat last character as 'end of buffer'
  .github/actions/spelling/allow/allow.txt
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/interactivity/win32/ut_interactivity_win32/GeneratedUiaTextRangeMovementTests.g.cpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
  tools/TestTableWriter/GenerateTests.ps1
  tools/TestTableWriter/README.md
  tools/TestTableWriter/UiaTests.csv
Labels: Product-Conhost, Area-Accessibility, Product-Terminal, AutoMerge, Issue-Task, Needs-Second

#11266 Adjust tools version for folks running on 2022
  src/common.build.pre.props
Labels: Issue-Bug, Area-Build, AutoMerge, Product-Meta

#11180 Enable Vintage Opacity
  doc/cascadia/profiles.schema.json
  scratch/ScratchIslandApp/SampleApp/MySettings.h
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/IControlAppearance.idl
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/AppearanceConfig.cpp
  src/cascadia/TerminalSettingsModel/AppearanceConfig.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/IAppearanceConfig.idl
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/UnitTests_Control/ControlCoreTests.cpp
  src/cascadia/UnitTests_Control/ControlInteractivityTests.cpp
  src/cascadia/UnitTests_Control/MockControlSettings.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/WindowsTerminal/pch.h
Labels: Issue-Feature, Area-User Interface, Product-Terminal, AutoMerge

#11240 Update to MUX 2.7
  scratch/ScratchIslandApp/Package/Package.wapproj
  scratch/ScratchIslandApp/SampleApp/SampleAppLib.vcxproj
  scratch/ScratchIslandApp/SampleApp/dll/SampleApp.vcxproj
  scratch/ScratchIslandApp/SampleApp/packages.config
  scratch/ScratchIslandApp/WindowExe/WindowExe.vcxproj
  scratch/ScratchIslandApp/WindowExe/packages.config
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/LocalTests_SettingsModel/SettingsModel.LocalTests.vcxproj
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
  src/cascadia/TerminalApp/App.xaml
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/dll/TerminalApp.vcxproj
  src/cascadia/TerminalApp/packages.config
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/packages.config
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/dll/Microsoft.Terminal.Settings.Model.vcxproj
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
Labels: Issue-Bug, Area-User Interface, Area-Build, Product-Terminal, AutoMerge, Issue-Task, Priority-3

#11286 Fix selection render on paste
  src/cascadia/TerminalControl/ControlCore.cpp
Labels: Area-Interaction, Issue-Bug, Product-Terminal, AutoMerge, Needs-Second

#11123 Change exit code to hex; Fix format spec
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/Resources/en-US/Resources.resw
  src/cascadia/TerminalConnection/TerminalConnection.vcxproj
  src/cascadia/TerminalConnection/TerminalConnection.vcxproj.filters
Labels: AutoMerge

#11189 Attempt to make the monarch more thread safe.
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
Labels: AutoMerge, Area-Remoting

#11253 Fix UIA Word movement tests
  src/interactivity/win32/ut_interactivity_win32/GeneratedUiaTextRangeMovementTests.g.cpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
  tools/TestTableWriter/UiaTests.csv
Labels: Area-Accessibility, AutoMerge

#11300 Fix typo in charsets.hpp
  src/terminal/adapter/charsets.hpp
Labels: AutoMerge

#11306 Fix KeyChord constructor assertion failure during tab dragging
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Needs-Second

#11224 Add shield to tab row when elevated
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabRowControl.h
  src/cascadia/TerminalApp/TabRowControl.idl
  src/cascadia/TerminalApp/TabRowControl.xaml
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Issue-Feature, Area-User Interface, Product-Terminal, AutoMerge

#2840 Keyboard Selection Spec
  .github/actions/spelling/expect/expect.txt
  doc/specs/Keyboard-Selection.md
Labels: Issue-Docs, Area-TerminalControl, Product-Terminal

#11065 releng: add New-TerminalStackedChangelog
  .github/actions/spelling/allow/allow.txt
  .github/actions/spelling/allow/names.txt
  tools/ReleaseEngineering/New-TerminalStackedChangelog.ps1
Labels: Area-Build, AutoMerge, Product-Meta

#11190 .editorconfig: add utf-8 encoding
  .editorconfig
Labels: AutoMerge

#10824 Implement Keyboard Selection
  doc/cascadia/profiles.schema.json
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/cascadia/UnitTests_TerminalCore/SelectionTest.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/renderer/dx/DxRenderer.cpp
  src/types/UiaTextRangeBase.cpp
Labels: Needs-Second

#11312 [a11y] Ensure buffer is initialized before interacting with it
  src/Terminal.wprp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/host/renderData.hpp
  src/host/ut_host/VtIoTests.cpp
  src/types/IUiaData.h
  src/types/ScreenInfoUiaProviderBase.cpp
  src/types/TermControlUiaProvider.cpp
  src/types/TermControlUiaTextRange.cpp
  src/types/UiaTextRangeBase.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, Severity-Blocking, Priority-0, zStable-Service-Consider, zPreview-Service-Consider

#11314 Properly escape constructed `wt` command-lines
  src/cascadia/LocalTests_SettingsModel/CommandTests.cpp
  src/cascadia/ShellExtension/OpenTerminalHere.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/WinRTUtils/inc/WtExeUtils.h
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-2, Area-ShellExtension

#11325 Fix layering of fragment profiles
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge

#10492 Add an enum-compatible bitset class.
  .github/actions/spelling/allow/apis.txt
  src/inc/til.h
  src/inc/til/enumset.h
  src/til/ut_til/EnumSetTests.cpp
  src/til/ut_til/til.unit.tests.vcxproj
  src/til/ut_til/til.unit.tests.vcxproj.filters
Labels: AutoMerge, Product-Meta, Issue-Task, Area-CodeHealth, Priority-2

#11329 .gitattributes: removed php display in the project
  .gitattributes
Labels: AutoMerge

#11338 fix typo
  doc/building.md
Labels: Issue-Docs, AutoMerge

#11343 Fix fragments that update other profiles
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge

#11083 Persist window layout cont. save multiple windows
  .github/actions/spelling/allow/microsoft.txt
  src/cascadia/Remoting/GetWindowLayoutArgs.cpp
  src/cascadia/Remoting/GetWindowLayoutArgs.h
  src/cascadia/Remoting/Microsoft.Terminal.RemotingLib.vcxproj
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/Peasant.cpp
  src/cascadia/Remoting/Peasant.h
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/QuitAllRequestedArgs.cpp
  src/cascadia/Remoting/QuitAllRequestedArgs.h
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/Remoting/WindowManager.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/ApplicationState.cpp
  src/cascadia/TerminalSettingsModel/ApplicationState.h
  src/cascadia/TerminalSettingsModel/ApplicationState.idl
  src/cascadia/TerminalSettingsModel/FileUtils.cpp
  src/cascadia/TerminalSettingsModel/FileUtils.h
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/BaseWindow.h
Labels: Issue-Feature, Area-User Interface, Area-Settings, Product-Terminal, AutoMerge

#11153 Add the ability to interact with subtrees of panes
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/ActionPreviewHandlers.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/defaults.json
  src/renderer/dx/DxRenderer.cpp
Labels: Issue-Feature, Area-User Interface, Product-Terminal, AutoMerge

#11350 Replace `null` with `"null"` for types in the schema
  doc/cascadia/profiles.schema.json
Labels: AutoMerge, Area-Schema

#11362 Minor typos in 1.12 features in SUI
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/JsonUtils.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
Labels: Issue-Bug, AutoMerge, Area-Settings UI

#11363 Remove the fallback to 50% opacity when only `useAcrylic` is set
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Priority-1

#11345 Use the til::enumset type for the GridLines enum in the renderers
  src/interactivity/onecore/BgfxEngine.cpp
  src/interactivity/onecore/BgfxEngine.hpp
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/gdi/gdirenderer.hpp
  src/renderer/gdi/paint.cpp
  src/renderer/inc/IRenderEngine.hpp
  src/renderer/uia/UiaRenderer.cpp
  src/renderer/uia/UiaRenderer.hpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/vtrenderer.hpp
  src/renderer/wddmcon/WddmConRenderer.cpp
  src/renderer/wddmcon/WddmConRenderer.hpp
Labels: AutoMerge, Area-CodeHealth

#11368 Always init the BG opacity with the renderer
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Rendering, Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Severity-Blocking, Priority-3

#11369 Allow the entire Tab to be hit testable again
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Severity-Blocking

#11364 Add automation names to some controls that were missing them
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge, Priority-1, Area-Settings UI

#11351 Set min version for Release Engineering script to prevent weird errors on inbox Powershell
  tools/ReleaseEngineering/New-TerminalStackedChangelog.ps1
Labels: AutoMerge, Product-Meta, Area-CodeHealth

#11326 Show only latest VS, VC prompts by default
  .github/actions/spelling/allow/microsoft.txt
  .github/actions/spelling/patterns/patterns.txt
  src/cascadia/TerminalSettingsModel/BaseVisualStudioGenerator.cpp
  src/cascadia/TerminalSettingsModel/BaseVisualStudioGenerator.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj.filters
  src/cascadia/TerminalSettingsModel/VcDevCmdGenerator.cpp
  src/cascadia/TerminalSettingsModel/VcDevCmdGenerator.h
  src/cascadia/TerminalSettingsModel/VisualStudioGenerator.cpp
  src/cascadia/TerminalSettingsModel/VisualStudioGenerator.h
  src/cascadia/TerminalSettingsModel/VsDevCmdGenerator.cpp
  src/cascadia/TerminalSettingsModel/VsDevCmdGenerator.h
  src/cascadia/TerminalSettingsModel/VsDevShellGenerator.cpp
  src/cascadia/TerminalSettingsModel/VsDevShellGenerator.h
  src/cascadia/TerminalSettingsModel/VsSetupConfiguration.cpp
  src/cascadia/TerminalSettingsModel/VsSetupConfiguration.h
Labels: Area-Settings, Product-Terminal, AutoMerge, Issue-Task

#11386 [deadlock fix] Remove lock for SIUP::GetSelectionRange()
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/types/TermControlUiaProvider.cpp
Labels: Issue-Bug, Area-Accessibility, Severity-Crash, Product-Terminal, AutoMerge, Severity-Blocking, zPreview-Service-Consider
