Repository microsoft/terminal, pull requests merged in 2021-03, with the labels that each got.

#9367 Add localization comments to settings UI
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Needs-Second

#9371 Fix pixel shaders not loading
  src/cascadia/TerminalApp/TerminalSettings.h
Labels: Area-Rendering, Area-Settings, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal, zPreview-Service-Consider

#9370 [Settings UI] Clamp vintage cursor height and history size
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
Labels: Area-Settings UI, Area-TerminalControl, AutoMerge, Issue-Bug, Issue-Task, Needs-Second, Priority-3, Product-Terminal

#9376 Replace some of our macros to reduce confusion, increase success
  src/cascadia/Remoting/FindTargetWindowArgs.h
  src/cascadia/Remoting/ProposeCommandlineResult.h
  src/cascadia/Remoting/WindowActivatedArgs.h
  src/cascadia/ShellExtension/PlaceholderType.h
  src/cascadia/TerminalApp/ActionPaletteItem.h
  src/cascadia/TerminalApp/CommandLinePaletteItem.h
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/FilteredCommand.h
  src/cascadia/TerminalApp/HighlightedText.h
  src/cascadia/TerminalApp/PaletteItem.h
  src/cascadia/TerminalApp/PaletteItemTemplateSelector.h
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TabHeaderControl.h
  src/cascadia/TerminalApp/TabPaletteItem.h
  src/cascadia/TerminalApp/TerminalSettings.h
  src/cascadia/TerminalApp/TerminalTabStatus.h
  src/cascadia/TerminalControl/TSFInputControl.h
  src/cascadia/TerminalSettingsEditor/Actions.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.h
  src/cascadia/TerminalSettingsEditor/EnumEntry.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.h
  src/cascadia/TerminalSettingsEditor/Interaction.h
  src/cascadia/TerminalSettingsEditor/Launch.h
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Rendering.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ColorScheme.h
  src/cascadia/TerminalSettingsModel/Command.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/IInheritable.h
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
  src/cascadia/inc/cppwinrt_utils.h
Labels: Area-CodeHealth, Needs-Second

#9324 Change SettingsTab close icon to be smaller
  src/cascadia/TerminalApp/TabBase.cpp
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal, zPreview-Service-Consider

#9389 Fix overflow in scroll-to-bottom
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Needs-Second, Priority-2, Product-Terminal, zPreview-Service-Consider

#9388 Introduce duplicate tab menu
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#9397 Fix TermControl initialization to pre-seed working dir
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#9392 Allow configuring suppressApplicationTitle in new tab/pane/window commands
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
Labels: Area-Commandline, Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#9275 Represent font face as a combo box in SUI
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/pch.h
Labels: Area-Settings UI, AutoMerge, Issue-Task, Product-Terminal

#9403 Fix selection logic with shift on multi-click
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: AutoMerge

#9386 [Settings UI] Represent Cursor Height as a slider
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/renderer/dx/CustomTextRenderer.cpp
  src/renderer/dx/CustomTextRenderer.h
Labels: Area-Settings UI, Area-TerminalControl, AutoMerge, Issue-Task, Product-Terminal

#9412 Display correct tooltip when window is maximized
  src/cascadia/TerminalApp/MinMaxCloseControl.cpp
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
Labels: Area-User Interface, AutoMerge, Issue-Task, Priority-3, Product-Terminal

#9429 Allow shift+click on a profile to open a new window
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabRowControl.xaml
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#9396 Allow interaction with hyperlinks in mouse mode
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#9438 submodule check: actually check for a real file in the repo
  src/common.build.pre.props
Labels: AutoMerge

#9437 Update C++/WinRT to 2.0.210309.3
  src/cascadia/Remoting/WindowActivatedArgs.h
  src/cascadia/Remoting/packages.config
  src/cascadia/ShellExtension/packages.config
  src/cascadia/TerminalApp/packages.config
  src/cascadia/TerminalAzBridge/packages.config
  src/cascadia/TerminalConnection/packages.config
  src/cascadia/TerminalControl/packages.config
  src/cascadia/TerminalCore/packages.config
  src/cascadia/TerminalSettingsEditor/packages.config
  src/cascadia/TerminalSettingsModel/packages.config
  src/cascadia/WinRTUtils/packages.config
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/WindowsTerminalUniversal/packages.config
  src/cppwinrt.build.post.props
  src/cppwinrt.build.pre.props
Labels: AutoMerge

#9441 Force DebugFull PDBs on all build types
  .github/actions/spelling/expect/expect.txt
  src/common.build.pre.props
Labels: AutoMerge

#9455 Fix selection on multi-click with no shift
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Product-Terminal, Severity-Blocking

#9296 Add a helper function to initialize TermControls in TerminalPage
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Product-Terminal

#9495 Invalidate nested command with no valid subcommands
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalSettingsModel/Command.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalWarnings.idl
Labels: Area-CmdPal, Area-Settings, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Crash, zPreview-Service-Consider, zStable-Service-Consider

#9477 Check if found folder is not null when loading fragments
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: AutoMerge, zPreview-Service-Consider

#9474 doc: add PowerShell install instructions added
  .github/actions/spelling/dictionary/microsoft.txt
  README.md
Labels: AutoMerge, Issue-Docs

#9318 Move TerminalSettings from TermApp to TerminalSettingsModel
  src/cascadia/LocalTests_SettingsModel/SettingsModel.LocalTests.vcxproj
  src/cascadia/LocalTests_SettingsModel/TerminalSettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalSettings.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsModel/IInheritable.h
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.idl
Labels: AutoMerge, Needs-Second

#9508 OpenConsole.psm1: use DevShell module; tidy up for PowerShell 6+
  tools/OpenConsole.psm1
Labels: Area-Build, Issue-Task

#9366 Update roadmap to reflect new release cadence
  doc/terminal-v2-roadmap.md
Labels: Issue-Docs

#9300 Add support for naming windows with the `-w` parameter
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/Remoting/FindTargetWindowArgs.h
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/Peasant.h
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/ProposeCommandlineResult.h
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/inc/WindowingBehavior.h
Labels: Area-Commandline, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#9510 Disambiguate the shell extension CLSIDs to allow usage SXS
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
  src/cascadia/ShellExtension/OpenTerminalHere.h
  src/cascadia/ShellExtension/WindowsTerminalShellExt.vcxproj
Labels: Area-ShellExtension, AutoMerge, Issue-Bug, Needs-Second, Priority-2, Product-Terminal

#9509 Teach OpenConsole.psm1 to support multiple terminal checkouts
  tools/OpenConsole.psm1
Labels: Area-Build, AutoMerge, Issue-Task

#9525 Shell Extension: Remove C++/WinRT authoring dependency
  .github/actions/spelling/dictionary/apis.txt
  src/cascadia/ShellExtension/PlaceholderType.cpp
  src/cascadia/ShellExtension/PlaceholderType.h
  src/cascadia/ShellExtension/PlaceholderType.idl
  src/cascadia/ShellExtension/WindowsTerminalShellExt.def
  src/cascadia/ShellExtension/WindowsTerminalShellExt.vcxproj
  src/cascadia/ShellExtension/dllmain.cpp
Labels: Area-CodeHealth, Area-ShellExtension, AutoMerge, Needs-Second, Product-Terminal, zPreview-Service-Consider, zStable-Service-Consider

#9537 Fix build break where Microsoft.Terminal.Control.dll is empty
  src/cascadia/Remoting/dll/Microsoft.Terminal.Remoting.vcxproj
  src/cascadia/ShellExtension/WindowsTerminalShellExt.vcxproj
  src/cascadia/TerminalApp/dll/TerminalApp.vcxproj
  src/cascadia/TerminalControl/dll/Microsoft.Terminal.Control.def
  src/cascadia/TerminalControl/dll/TerminalControl.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsModel/dll/Microsoft.Terminal.Settings.Model.vcxproj
Labels: AutoMerge, Needs-Second, Priority-0, Product-Terminal

#9526 Move events out of TermControl.h ; Use TYPED_EVENT in more places
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/MinMaxCloseControl.cpp
  src/cascadia/TerminalApp/MinMaxCloseControl.h
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalControl/EventArgs.cpp
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/IDirectKeyListener.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalControl/TerminalControlLib.vcxproj
  src/cascadia/TerminalControl/pch.h
Labels: Area-CodeHealth, Area-TerminalControl, AutoMerge, Issue-Task, Product-Terminal

#9552 Remove the shell extension's dependency on fmt for huge savings
  src/cascadia/ShellExtension/OpenTerminalHere.cpp
Labels: AutoMerge, Needs-Second

#9573 Fix read-only tab dialog to cancel tab closing when dismissed
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: AutoMerge, zPreview-Service-Consider

#9571 Prevent tab context menu from closing root pane directly
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-2, Product-Terminal, zPreview-Service-Consider

#9581 Replace conhost's fmt::format strings with FMT_COMPILEd ones
  src/inc/LibraryIncludes.h
  src/renderer/vt/VtSequences.cpp
  src/terminal/input/terminalInput.cpp
Labels: AutoMerge

#9507 Allow overriding tab switcher mode on command level
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
Labels: Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#9618 Add some read and write locks around pattern tree manipulation
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Needs-Second, Priority-1, Product-Terminal, Severity-Crash, zPreview-Service-Consider, zStable-Service-Consider

#9604 Add a Fuzzing configuration and a version of conhost that can be fuzzed
  .github/actions/spelling/expect/expect.txt
  OpenConsole.sln
  src/common.build.pre.props
  src/host/ft_fuzzer/Host.FuzzWrapper.vcxproj
  src/host/ft_fuzzer/fuzzmain.cpp
  src/host/globals.h
  src/host/srvinit.cpp
Labels: Area-Output, AutoMerge, Issue-Task, Product-Conhost

#9587 Prefer constexpr over const across the codebase
  src/inc/conattrs.hpp
  src/inc/unicode.hpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
  src/terminal/input/mouseInput.cpp
  src/terminal/input/terminalInput.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
Labels: AutoMerge, Needs-Second

#9649 Make TerminalConnection depend on OpenConsoleProxy
  OpenConsole.sln
Labels: Area-Build, Product-Meta

#9633 Prevent arrow keys from dismissing tab renamer
  src/cascadia/TerminalApp/TabHeaderControl.cpp
Labels: AutoMerge, Needs-Second

#9629 minor refactor: Move Tab management into its own file
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#9602 Add a `--colorScheme` param to `new-tab`, `split-pane`
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
Labels: Area-Commandline, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#9654 Fix ARM64 build by defining WIN32
  src/host/proxy/Host.Proxy.vcxproj
Labels: Area-Build, Area-DefApp, AutoMerge, Issue-Bug, Product-Conhost, Product-Terminal

#9652 Add splitMode to the args for split-pane (as -D for duplicate)
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
Labels: Area-Commandline, Issue-Task, Product-Terminal

#9589 Auto-format our XAML files and enforce in CI
  .config/dotnet-tools.json
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect/expect.txt
  .nuget/packages.config
  XamlStyler.json
  build/scripts/Invoke-FormattingCheck.ps1
  consolegit2gitfilters.json
  samples/ConPTY/GUIConsole/GUIConsole.WPF/App.xaml
  samples/ConPTY/GUIConsole/GUIConsole.WPF/MainWindow.xaml
  src/cascadia/LocalTests_TerminalApp/TestHostApp/UnitTestApp.xaml
  src/cascadia/TerminalApp/App.xaml
  src/cascadia/TerminalApp/ColorPickupFlyout.xaml
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/HighlightedTextControl.xaml
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
  src/cascadia/TerminalApp/TabHeaderControl.xaml
  src/cascadia/TerminalApp/TabRowControl.xaml
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalApp/TitlebarControl.xaml
  src/cascadia/TerminalControl/SearchBoxControl.xaml
  src/cascadia/TerminalControl/TSFInputControl.xaml
  src/cascadia/TerminalControl/TermControl.xaml
  src/cascadia/TerminalSettingsEditor/Actions.xaml
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsEditor/SettingContainerStyle.xaml
  src/cascadia/WpfTerminalControl/TerminalControl.xaml
  src/cascadia/WpfTerminalTestNetCore/App.xaml
  src/cascadia/WpfTerminalTestNetCore/MainWindow.xaml
  tools/OpenConsole.psm1
  tools/README.md
  tools/runxamlformat.cmd
Labels: Area-Build, Area-CodeHealth, Issue-Task, Needs-Second, Product-Terminal

#9653 Sort fonts alphabetically
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
Labels: Area-Settings UI, Issue-Bug, Priority-3, Product-Terminal

#9656 Change TAEF nuget package to use new Microsoft.Taef name; Update to 10.58 release build version.
  build/Helix/PrepareHelixPayload.ps1
  build/Helix/packages.config
  build/packages.config
  build/pipelines/templates/helix-createprojfile-steps.yml
  build/pipelines/templates/helix-runtests-job.yml
  doc/TAEF.md
  doc/cascadia/Unittesting-CppWinRT-Xaml.md
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
  src/common.build.tests.props
  src/host/ft_uia/Host.Tests.UIA.csproj
  src/host/ft_uia/packages.config
  src/terminal/parser/ut_parser/Parser.UnitTests.vcxproj
  src/terminal/parser/ut_parser/packages.config
  tools/OpenConsole.psm1
  tools/razzle.cmd
Labels: Area-Build, AutoMerge, Issue-Task, Product-Meta

#9655 Remove Base Layer from Settings UI
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/SettingContainer.cpp
Labels: Area-Settings UI, AutoMerge, Issue-Task, Priority-0, Product-Terminal, zPreview-Service-Consider

#9574 Separate between Close Tab Requested and Tab Closed flows
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: AutoMerge

#9523 Add an action for identifying windows
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Peasant.cpp
  src/cascadia/Remoting/Peasant.h
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalApp/Toast.cpp
  src/cascadia/TerminalApp/Toast.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/KeyMapping.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  tools/GenerateHeaderForJson.ps1
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#9658 Introduce MS.Term.Core.Color to replace W.U.Color for Core/Control/TSM
  src/cascadia/LocalTests_SettingsModel/pch.h
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalCore/ICoreSettings.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/pch.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/pch.h
  src/cascadia/TerminalSettingsModel/ColorScheme.cpp
  src/cascadia/TerminalSettingsModel/ColorScheme.h
  src/cascadia/TerminalSettingsModel/ColorScheme.idl
  src/cascadia/TerminalSettingsModel/JsonUtils.h
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/pch.h
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
  src/cascadia/UnitTests_TerminalCore/pch.h
  src/cascadia/inc/cppwinrt_utils.h
  src/cascadia/ut_app/precomp.h
  src/inc/DefaultSettings.h
  src/inc/til/color.h
Labels: Area-CodeHealth, AutoMerge, Issue-Task, Product-Terminal

#9646 Add a sample outline shader
  samples/PixelShaders/Outlines.hlsl
Labels: Area-Rendering, Issue-Samples, Needs-Second, Product-Terminal

#9660 Another fix for the localtests, March 2021 edition
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
Labels: Area-CodeHealth, AutoMerge, Issue-Bug, Needs-Second, Priority-1, Product-Meta

#9668 Move Branding into common props
  src/cascadia/ShellExtension/WindowsTerminalShellExt.vcxproj
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/common.build.pre.props
Labels: AutoMerge

#9667 Add X Macro for fun and for profit
  src/cascadia/TerminalApp/ShortcutActionDispatch.cpp
  src/cascadia/TerminalApp/ShortcutActionDispatch.h
  src/cascadia/TerminalApp/ShortcutActionDispatch.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/KeyMapping.idl
Labels: AutoMerge, Needs-Second

#9671 Remove default terminal item from SUI
  src/cascadia/TerminalSettingsEditor/Launch.xaml
Labels: AutoMerge
