Repository microsoft/terminal, pull requests merged in 2021-01, with the labels that each got.

#8618 Fix VT parser memory leak in tracing
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/tracing.cpp
Labels: Area-Performance, AutoMerge, Issue-Bug, Priority-2, Product-Conhost, Product-Conpty, Product-Terminal

#8655 Simplify TerminalPage by introducing _GetFocusedTabImpl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-CodeHealth, AutoMerge, Product-Terminal

#8653 Prevent Tab Switcher from increasing Tab refcount
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/TabPaletteItem.cpp
  src/cascadia/TerminalApp/TabPaletteItem.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Blocking

#8632 Fix Korean IME to display a character being composed in conhost
  src/tsf/TfEditSession.cpp
Labels: Issue-Bug, Product-Conhost

#8670 Polish OpenSettings action for Settings UI and Profile page navigation on refresh
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
Labels: AutoMerge

#8617 Reduce Transient Allocations during Bulk Text Output
  src/buffer/out/AttrRow.cpp
  src/buffer/out/AttrRow.hpp
  src/buffer/out/AttrRowIterator.hpp
  src/buffer/out/CharRow.hpp
  src/buffer/out/textBuffer.cpp
  src/host/precomp.h
  src/host/tracing.cpp
  src/host/tracing.hpp
  src/inc/LibraryIncludes.h
  src/server/ApiDispatchers.cpp
  src/server/ApiMessage.cpp
  src/server/ApiMessage.h
Labels: Area-Output, Area-Performance, Area-Server, AutoMerge, Issue-Bug, Product-Conhost, Product-Conpty

#8619 Use memory pool for PolyTextOut items in GDI Renderer
  .github/actions/spell-check/dictionary/apis.txt
  src/inc/LibraryIncludes.h
  src/renderer/gdi/gdirenderer.hpp
  src/renderer/gdi/paint.cpp
  src/renderer/gdi/state.cpp
Labels: Area-Performance, Area-Rendering, AutoMerge, Issue-Bug, Needs-Second, Product-Conhost

#8712 Initialize stack variables. check return code from shell lnk loading
  src/interactivity/win32/SystemConfigurationProvider.cpp
Labels: Area-Interaction, Area-Server, AutoMerge, Issue-Bug, Priority-2, Product-Conhost

#8638 make "open terminal here" context menu work for directory background
  .github/actions/spell-check/expect/a129ff14ec985d6b7bf09e296a831c955d41040b.txt
  .github/actions/spell-check/expect/expect.txt
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
  src/cascadia/ShellExtension/OpenTerminalHere.cpp
  src/cascadia/ShellExtension/OpenTerminalHere.h
  src/cascadia/ShellExtension/WindowsTerminalShellExt.vcxproj
  src/cascadia/TerminalConnection/TerminalConnection.vcxproj
Labels: Area-ShellExtension, AutoMerge, Issue-Task, Priority-3, Product-Terminal

#8649 Fix color animation bug of title bar buttons
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#8615 Enable underlining hyperlink on hover even if not focused
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#8607 Add `Microsoft.Terminal.Remoting.dll`
  .github/actions/spell-check/dictionary/apis.txt
  OpenConsole.sln
  build/Helix/runtests.cmd
  build/pipelines/templates/helix-runtests-job.yml
  src/cascadia/Remoting/CommandlineArgs.cpp
  src/cascadia/Remoting/CommandlineArgs.h
  src/cascadia/Remoting/Microsoft.Terminal.RemotingLib.vcxproj
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/MonarchFactory.h
  src/cascadia/Remoting/Peasant.cpp
  src/cascadia/Remoting/Peasant.h
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/Resources/en-US/Resources.resw
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/Remoting/WindowManager.idl
  src/cascadia/Remoting/dll/Microsoft.Terminal.Remoting.def
  src/cascadia/Remoting/dll/Microsoft.Terminal.Remoting.vcxproj
  src/cascadia/Remoting/packages.config
  src/cascadia/Remoting/pch.cpp
  src/cascadia/Remoting/pch.h
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/UnitTests_Remoting/Remoting.UnitTests.vcxproj
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/UnitTests_Remoting/UnitTests_Remoting.def
  src/cascadia/UnitTests_Remoting/pch.cpp
  src/cascadia/UnitTests_Remoting/pch.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/main.cpp
  src/cascadia/WindowsTerminal/pch.h
  tools/OpenConsole.psm1
  tools/runut.cmd
  tools/tests.xml
Labels: Area-Build, AutoMerge, Product-Terminal

#8628 Completely remove action dispatching from Command Palette
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: AutoMerge

#8589 Improvements to the tab renamer box
  src/cascadia/TerminalApp/TabHeaderControl.h
  src/cascadia/TerminalApp/TabHeaderControl.idl
  src/cascadia/TerminalApp/TabHeaderControl.xaml
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal

#8707 winconpty: close the pty host handle after terminating it
  src/winconpty/ft_pty/ConPtyTests.cpp
  src/winconpty/winconpty.cpp
Labels: AutoMerge, zPreview-Service-Consider, zStable-Service-Consider

#8634 Fix multi line paste detection and filtering
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, Area-User Interface, AutoMerge, Impact-Correctness, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#8330 Implement ConEmu's OSC 9;9 to set the CWD
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
Labels: Area-VT, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#8375 Add a spec for pane navigation
  doc/specs/#2871 - Pane Navigation/#2871 - Pane Navigation.md
Labels: Issue-Docs, Product-Terminal

#8546 Add a `move-focus` subcommand
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
Labels: Area-Commandline, AutoMerge, Issue-Question, Needs-Second, Product-Terminal

#8725 Teach flyouts and palette to prefer user bindings over defaults
  src/cascadia/TerminalSettingsModel/KeyMapping.cpp
  src/cascadia/TerminalSettingsModel/KeyMapping.h
Labels: Area-Settings, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#8742 Fix right-click paste to clear current selection
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#8744 Show clipboard contents in multiple line paste warning dialog
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#8753 Reset the `size` param between `split-pane` subcommands
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
Labels: Area-Commandline, AutoMerge, Issue-Bug, Needs-Second, Product-Terminal, Severity-Blocking

#8772 Enforce a min/max on the Profile page's FontSize input
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#8754 Fix the duplicate .xbf error after a TerminalControl build
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsModel/dll/Microsoft.Terminal.Settings.Model.vcxproj
Labels: Area-Build, AutoMerge, Needs-Second, Product-Terminal

#8775 Move the window settings below the acrylic settings
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Product-Terminal

#8783 Polish Global settings a bit
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Launch.xaml
Labels: Area-Settings UI, AutoMerge, Issue-Task, Priority-3, Product-Terminal

#8779 Remove setting for close all tabs pop up
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Area-Settings UI, AutoMerge, Issue-Task, Priority-1, Product-Terminal

#8784 Order enum settings according to enum values
  src/cascadia/TerminalSettingsEditor/EnumEntry.h
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Utils.h
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#8780 Show cursor shape in SUI
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: AutoMerge

#8786 Add missing functionality to SUI
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Area-Settings UI, AutoMerge, Issue-Task, Priority-2, Product-Terminal

#8774 Add missing settings to the settings UI
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Interaction.cpp
  src/cascadia/TerminalSettingsEditor/Interaction.h
  src/cascadia/TerminalSettingsEditor/Interaction.idl
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/EnumMappings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.h
  src/cascadia/TerminalSettingsModel/EnumMappings.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: Area-Settings UI, AutoMerge, Issue-Task, Priority-1, Product-Terminal

#8792 Added negative value check for resize newsize
  src/cascadia/WpfTerminalControl/TerminalControl.xaml.cs
Labels: Area-WPFControl, AutoMerge, Needs-Second

#8770 Introduce startupActions in settings
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/TerminalWarnings.idl
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-Settings, AutoMerge, Needs-Second, Product-Terminal

#8715 Add some tests for TextBuffer::Reflow
  .github/actions/spell-check/expect/expect.txt
  src/buffer/out/CharRow.hpp
  src/buffer/out/ut_textbuffer/ReflowTests.cpp
  src/buffer/out/ut_textbuffer/TextBuffer.Unit.Tests.vcxproj
  src/buffer/out/ut_textbuffer/sources
Labels: AutoMerge

#8778 Polish the Background Image settings
  src/cascadia/TerminalSettingsEditor/ColorToBrushConverter.idl
  src/cascadia/TerminalSettingsEditor/ColorToHexConverter.idl
  src/cascadia/TerminalSettingsEditor/Converters.idl
  src/cascadia/TerminalSettingsEditor/FontWeightConverter.idl
  src/cascadia/TerminalSettingsEditor/InvertedBooleanToVisibilityConverter.idl
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/PercentageConverter.idl
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/StringIsEmptyConverter.cpp
  src/cascadia/TerminalSettingsEditor/StringIsEmptyConverter.h
  src/cascadia/TerminalSettingsEditor/StringIsNotDesktopConverter.cpp
  src/cascadia/TerminalSettingsEditor/StringIsNotDesktopConverter.h
  src/cascadia/inc/cppwinrt_utils.h
Labels: Area-Settings UI, AutoMerge, Issue-Task, Needs-Second, Priority-3, Product-Terminal

#8811 Fix #8695: til::spsc assignment operators don't return anything
  src/inc/til/spsc.h
  src/til/ut_til/SPSCTests.cpp
Labels: Area-CodeHealth, AutoMerge, Issue-Bug, Product-Conhost, Product-Terminal

#8810 Teach tab tool tips to show key bindings
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#8777 Update tooltips and setting names in SUI
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Area-Settings UI, AutoMerge, Issue-Task, Needs-Second, Priority-1, Product-Terminal

#8787 Give til::bitmap custom allocator support and add til::pmr::bitmap
  src/inc/til/bitmap.h
  src/til/ut_til/BitmapTests.cpp
Labels: AutoMerge, Needs-Second

#8799 Persist selected color scheme on navigation; Don't gray-out color swatches
  src/cascadia/TerminalSettingsEditor/ColorLightenConverter.cpp
  src/cascadia/TerminalSettingsEditor/ColorLightenConverter.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemes.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.idl
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/Converters.idl
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#8803 Maintain current Pivot selection when saving on the Profiles page
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Priority-3

#8171 Add a Monarch/Peasant sample app
  .github/actions/spell-check/dictionary/apis.txt
  OpenConsole.sln
  consolegit2gitfilters.json
  src/tools/MonarchPeasantPackage/Images/LockScreenLogo.scale-200.png
  src/tools/MonarchPeasantPackage/Images/SplashScreen.scale-200.png
  src/tools/MonarchPeasantPackage/Images/Square150x150Logo.scale-200.png
  src/tools/MonarchPeasantPackage/Images/Square44x44Logo.scale-200.png
  src/tools/MonarchPeasantPackage/Images/Square44x44Logo.targetsize-24_altform-unplated.png
  src/tools/MonarchPeasantPackage/Images/StoreLogo.png
  src/tools/MonarchPeasantPackage/Images/Wide310x150Logo.scale-200.png
  src/tools/MonarchPeasantPackage/MonarchPeasantPackage.wapproj
  src/tools/MonarchPeasantPackage/Package.appxmanifest
  src/tools/MonarchPeasantSample/AppState.cpp
  src/tools/MonarchPeasantSample/AppState.h
  src/tools/MonarchPeasantSample/MonarchMain.cpp
  src/tools/MonarchPeasantSample/MonarchPeasantSample.vcxproj
  src/tools/MonarchPeasantSample/PeasantMain.cpp
  src/tools/MonarchPeasantSample/PropertySheet.props
  src/tools/MonarchPeasantSample/README.md
  src/tools/MonarchPeasantSample/SampleMonarch.cpp
  src/tools/MonarchPeasantSample/SampleMonarch.h
  src/tools/MonarchPeasantSample/SampleMonarch.idl
  src/tools/MonarchPeasantSample/SamplePeasant.cpp
  src/tools/MonarchPeasantSample/SamplePeasant.h
  src/tools/MonarchPeasantSample/SamplePeasant.idl
  src/tools/MonarchPeasantSample/main.cpp
  src/tools/MonarchPeasantSample/monarch-peasant-sample-000.gif
  src/tools/MonarchPeasantSample/packages.config
  src/tools/MonarchPeasantSample/pch.cpp
  src/tools/MonarchPeasantSample/pch.h
Labels: AutoMerge, Issue-Samples, Needs-Second, Product-Terminal

#8773 Fix refresh-related crashes in Settings UI
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Priority-0, Product-Terminal, Severity-Crash

#8656 Move Tab Switcher mode handling into CommandPalette
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-CmdPal, Area-User Interface, AutoMerge, Product-Terminal

#8832 Fix tab selection to bring the tab into view
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-3, Product-Terminal

#8829 Cleanup NuGet.Config file.
  NuGet.Config
Labels: Area-Build, AutoMerge, Issue-Task, Product-Meta

#7827 Add `doubleUnderscore` cursor style
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalCore/ICoreSettings.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/inc/conattrs.hpp
  src/renderer/dx/CustomTextRenderer.cpp
  src/renderer/gdi/paint.cpp
Labels: Area-Rendering, Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#8446 ROW: clean up in preparation to hide CharRow & AttrRow
  src/buffer/out/AttrRow.hpp
  src/buffer/out/CharRow.cpp
  src/buffer/out/CharRow.hpp
  src/buffer/out/Row.cpp
  src/buffer/out/Row.hpp
  src/buffer/out/RowCellIterator.cpp
  src/buffer/out/RowCellIterator.hpp
  src/buffer/out/lib/bufferout.vcxproj
  src/buffer/out/sources.inc
  src/buffer/out/textBuffer.cpp
  src/buffer/out/ut_textbuffer/AttrRowTests.cpp
  src/buffer/out/ut_textbuffer/ReflowTests.cpp
  src/buffer/out/ut_textbuffer/TextBuffer.Unit.Tests.vcxproj
  src/buffer/out/ut_textbuffer/sources
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalBufferTests.cpp
  src/host/_stream.cpp
  src/host/getset.cpp
  src/host/ut_host/CharRowBaseTests.cpp
  src/host/ut_host/Host.UnitTests.vcxproj
  src/host/ut_host/Host.UnitTests.vcxproj.filters
  src/host/ut_host/TextBufferTests.cpp
  src/host/ut_host/sources
  src/inc/test/CommonState.hpp
  src/renderer/base/renderer.cpp
Labels: Area-CodeHealth, AutoMerge, Needs-Second, Product-Conhost

#8831 Include UWP styling guidance in settings UI
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Area-Settings UI, AutoMerge, Issue-Feature, Product-Terminal

#8835 Bugfix: navigate to new profile ref on settings reload
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
Labels: Area-Settings UI, AutoMerge, Priority-0, Product-Terminal

#8629 Teach terminal to hide mouse while typing
  .github/actions/spell-check/expect/expect.txt
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
Labels: Area-TerminalControl, AutoMerge, Issue-Task, Priority-2, Product-Terminal

#8840 Add skeleton code for bracketed paste mode
  .github/actions/spell-check/patterns/patterns.txt
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Area-VT, AutoMerge

#8793 Bugfix: sync color scheme rename with profile reference
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemes.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.idl
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Priority-1, Product-Terminal

#8837 [Settings UI] Allow renaming a profile
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
Labels: AutoMerge, Needs-Second

#8827 sui: Improve the "use parent process directory" checkbox
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Product-Terminal

#8637 Show indicator of bell in tab
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TabHeaderControl.h
  src/cascadia/TerminalApp/TabHeaderControl.idl
  src/cascadia/TerminalApp/TabHeaderControl.xaml
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#8864 Add support for the DECID report
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: AutoMerge, Issue-Feature, Needs-Second

#8883 Teach tab tool tip to show profile name
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#8886 Fix crash in command palette in high-contrast mode
  src/cascadia/TerminalApp/CommandPalette.xaml
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-0, Product-Terminal, Severity-Blocking, Severity-Crash

#8844 Fix the Profiles pivot selection, again
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
Labels: Area-Settings UI, AutoMerge, Product-Terminal

#8851 Add a slider for the padding setting in the SUI
  src/cascadia/TerminalSettingsEditor/Converters.idl
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/PaddingConverter.cpp
  src/cascadia/TerminalSettingsEditor/PaddingConverter.h
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
Labels: AutoMerge

#8895 Fix the erroneous TargetRuntime causing a warning in VS
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
Labels: Area-Build, AutoMerge, Issue-Bug, Product-Meta

#8903 Allow ClosePane to close the Settings UI
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-Settings UI, AutoMerge, Issue-Task, Product-Terminal

#8923 Add `scrollToTop` and `scrollToBottom` actions to JSON schema
  doc/cascadia/profiles.schema.json
Labels: Area-Schema, Area-Settings, Issue-Docs, Product-Terminal

#8926 shaders: fix setting name in README.md
  samples/PixelShaders/README.md
Labels: AutoMerge

#8949 Fix pixel shader typo in README
  samples/PixelShaders/README.md
Labels: Issue-Docs
