Repository microsoft/terminal, pull requests merged in 2021-05, with the labels that each got.

#10031 Fix TerminalControl crash on exit
  .github/actions/spelling/dictionary/apis.txt
  .github/actions/spelling/expect/expect.txt
  .github/actions/spelling/expect/web.txt
  .vscode/settings.json
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/UnitTests_TerminalCore/ScrollTest.cpp
  src/host/ScreenBufferRenderTarget.cpp
  src/host/ScreenBufferRenderTarget.hpp
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/inc/DummyRenderTarget.hpp
  src/renderer/inc/IRenderTarget.hpp
  src/renderer/inc/IRenderer.hpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Blocking, Severity-Crash, zPreview-Service-Consider, zStable-Service-Consider

#10026 [WPF] Allows setting the WPF control background when setting the terminal theme
  src/cascadia/WpfTerminalControl/TerminalControl.xaml.cs
  src/cascadia/WpfTerminalControl/TerminalTheme.cs
Labels: Area-WPFControl, AutoMerge, zPreview-Service-Consider, zStable-Service-Consider

#10025 Only move the window to the current desktop when it isn't on that one already
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Area-Remoting, AutoMerge, Issue-Bug, Product-Terminal

#10009 Fix dropdown showing in up direction
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-3, Product-Terminal, zPreview-Service-Consider, zStable-Service-Consider

#9980 First three interactivity fixes
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/UnitTests_Control/ControlInteractivityTests.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-1, Product-Terminal

#10033 Backport hotfix ac265aa to v1.8
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-TerminalControl, Issue-Bug, Priority-1, Product-Terminal, Severity-Blocking, Severity-Crash, zStable-Service-Consider

#9943 Teach CmdPal search to use user locale
  src/cascadia/TerminalApp/FilteredCommand.cpp
Labels: Area-CmdPal, AutoMerge, Product-Terminal, zPreview-Service-Consider, zStable-Service-Consider

#9352 Create a new page for "Add new profile" in the SUI
  src/cascadia/LocalTests_SettingsModel/ProfileTests.cpp
  src/cascadia/TerminalSettingsEditor/AddProfile.cpp
  src/cascadia/TerminalSettingsEditor/AddProfile.h
  src/cascadia/TerminalSettingsEditor/AddProfile.idl
  src/cascadia/TerminalSettingsEditor/AddProfile.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
Labels: Area-Settings UI, AutoMerge, Issue-Feature, Needs-Second, Product-Terminal

#9428 [Spec] Settings Model - Actions
  .github/actions/spelling/expect/expect.txt
  doc/specs/#885 - Terminal Settings Model/Actions Addendum.md
Labels: Area-Settings, AutoMerge, Issue-Docs, Product-Terminal

#10024 Allow trailing semicolon when parsing OSC 9;4
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalApiTest.cpp
  src/terminal/adapter/DispatchTypes.hpp
Labels: Area-VT, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#9970 [Conpty] Pass through request for mouse mode to the Terminal
  src/host/VtIo.cpp
  src/host/getset.cpp
  src/host/inputBuffer.cpp
  src/host/inputBuffer.hpp
Labels: AutoMerge

#10047 Keep the last selected pivot active when navigating over profile pages
  src/cascadia/TerminalSettingsEditor/Profiles.h
Labels: Area-Settings UI, AutoMerge, Issue-Task, Product-Terminal

#10042 Fix crash on exit introduced in ac265aa
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/TermControl.h
Labels: AutoMerge, Needs-Second, zPreview-Service-Consider, zStable-Service-Consider

#10077 Add a test for GH-9692/MSFT-33127449
  src/host/ft_host/API_MultipleInflightMessageTests.cpp
  src/host/ft_host/Host.FeatureTests.vcxproj
  src/host/ft_host/Host.FeatureTests.vcxproj.filters
  src/host/ft_host/sources
Labels: AutoMerge

#10048 In specific scenarios, focus the active control
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/SettingsTab.h
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Issue-Scenario, Needs-Second, Priority-1, Priority-2, Product-Terminal, zStable-Service-Consider

#10078 Make sure we run CG component detection on main
  build/pipelines/templates/build-console-ci.yml
Labels: AutoMerge

#10023 Use DComp surface handle for Swap Chain management
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/dx/precomp.h
Labels: Area-Rendering, Area-TerminalControl, Issue-Task, Needs-Second, Product-Terminal

#10045 Disable path validation, add warning
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/Profile.cpp
Labels: Area-TerminalConnection, AutoMerge, Issue-Bug, Issue-Task, Needs-Second, Priority-2, Product-Terminal

#10046 Add the profile, page icons to the page headers
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalSettingsEditor/AddProfile.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsModel/IconPathConverter.cpp
Labels: Area-Settings UI, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#10071 Implement PGO in pipelines for AMD64 architecture; supply training test scenarios
  .github/actions/spelling/expect/expect.txt
  NOTICE.md
  OpenConsole.sln
  build/Helix/AzurePipelinesHelperScripts.ps1
  build/Helix/PrepareHelixPayload.ps1
  build/Helix/ProcessHelixFiles.ps1
  build/Helix/RunTestsInHelix.proj
  build/Helix/packages.config
  build/Helix/runtests.cmd
  build/pipelines/pgo.yml
  build/pipelines/templates/build-console-int.yml
  build/pipelines/templates/build-console-pgo.yml
  build/pipelines/templates/build-console-steps.yml
  build/pipelines/templates/helix-createprojfile-steps.yml
  build/pipelines/templates/helix-runtests-job.yml
  build/pipelines/templates/pgo-build-and-publish-nuget-job.yml
  build/pipelines/templates/pgo-merge-pgd-job.yml
  src/cascadia/Remoting/dll/Microsoft.Terminal.Remoting.vcxproj
  src/cascadia/TerminalApp/dll/TerminalApp.vcxproj
  src/cascadia/TerminalConnection/TerminalConnection.vcxproj
  src/cascadia/TerminalControl/dll/TerminalControl.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsModel/dll/Microsoft.Terminal.Settings.Model.vcxproj
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal_UIATests/Common/Globals.cs
  src/cascadia/WindowsTerminal_UIATests/Common/NativeMethods.cs
  src/cascadia/WindowsTerminal_UIATests/Common/PgoManager.cs
  src/cascadia/WindowsTerminal_UIATests/Elements/TerminalApp.cs
  src/cascadia/WindowsTerminal_UIATests/Init.cs
  src/cascadia/WindowsTerminal_UIATests/SmokeTests.cs
  src/cascadia/WindowsTerminal_UIATests/WindowsTerminal.UIA.Tests.csproj
  src/cascadia/WindowsTerminal_UIATests/app.config
  src/cascadia/WindowsTerminal_UIATests/packages.config
  src/common.build.post.props
  src/common.build.pre.props
  src/common.pgo.compile.props
  src/common.pgo.runtime.props
  src/host/exe/Host.EXE.vcxproj
  tools/PGODatabase/NuSpecs/PGO.nuspec.template
  tools/PGODatabase/NuSpecs/build/PGO.targets
  tools/PGODatabase/PGO.version.props.template
  tools/PGODatabase/config.ps1
  tools/PGODatabase/generate-nuspec.ps1
  tools/PGODatabase/readme.md
  tools/PGODatabase/restore-pgodb.ps1
  tools/PGODatabase/template.ps1
  tools/PGODatabase/verify-pgo.ps1
  tools/PGODatabase/version.ps1
Labels: Area-Build, Area-Performance, AutoMerge, Issue-Feature, Product-Meta

#10098 Set keyword flags on all tracelog events
  src/ConsolePerf.wprp
  src/Terminal.wprp
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Peasant.cpp
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/host/exe/exemain.cpp
  src/host/tracing.cpp
  src/inc/WilErrorReporting.h
  src/inc/til.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/vt/tracing.cpp
  src/server/ApiDispatchers.cpp
  src/terminal/parser/tracing.cpp
  src/types/UiaTracing.cpp
Labels: Area-Performance, AutoMerge, Issue-Bug, Product-Conhost, Product-Terminal, zPreview-Service-Consider, zStable-Service-Consider

#9527 Show a preview of the control in the SUI
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/PreviewConnection.cpp
  src/cascadia/TerminalSettingsEditor/PreviewConnection.h
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
Labels: Area-Settings UI, Issue-Feature, Product-Terminal

#10096 Fix tabColor arg crash in CommandPalette
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
Labels: Area-CmdPal, Issue-Bug, Priority-1, Product-Terminal, Severity-Crash

#10022 Add a setting to disable URL detection
  doc/cascadia/profiles.schema.json
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalCore/ICoreSettings.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/UnitTests_Control/MockControlSettings.h
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
Labels: Area-Settings, AutoMerge, Issue-Task, Product-Terminal

#9977 Add property to control dropdown speed of global summon
  .github/actions/spelling/allow/apis.txt
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/SummonWindowBehavior.h
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
Labels: Area-Remoting, Needs-Second

#10092 Add `"monitor": "any"|"toCurrent"|"toMouse"` setting to globalSummon
  doc/specs/#653 - Quake Mode/#653 - Quake Mode.md
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/SummonWindowBehavior.h
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
Labels: Area-Remoting, AutoMerge

#10115 Fix a number of shutdown crashes in TermControl
  src/cascadia/TerminalControl/TSFInputControl.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControlAutomationPeer.cpp
Labels: Area-TerminalControl, Product-Terminal, Severity-Crash

#10113 Hide `_quake` window on minimize ALWAYS
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Area-User Interface, AutoMerge, Needs-Second, Product-Terminal

#10114 Don't yeet focus to the control when the tab renamer is opened
  src/cascadia/TerminalApp/TabHeaderControl.cpp
  src/cascadia/TerminalApp/TabHeaderControl.h
  src/cascadia/TerminalApp/TabHeaderControl.idl
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-1, Product-Terminal, Severity-Blocking

#9949 Make Actions page editable
  src/cascadia/TerminalSettingsEditor/Actions.cpp
  src/cascadia/TerminalSettingsEditor/Actions.h
  src/cascadia/TerminalSettingsEditor/Actions.idl
  src/cascadia/TerminalSettingsEditor/Actions.xaml
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/SettingContainer.h
  src/cascadia/TerminalSettingsEditor/Utils.h
  src/cascadia/TerminalSettingsEditor/ViewModelHelpers.h
  src/cascadia/TerminalSettingsModel/ActionMap.cpp
  src/cascadia/TerminalSettingsModel/ActionMap.h
  src/cascadia/TerminalSettingsModel/ActionMap.idl
Labels: Area-Settings UI, AutoMerge, Product-Terminal

#10124 Revert "Add the profile, page icons to the page headers (#10046)"
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalSettingsEditor/AddProfile.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsModel/IconPathConverter.cpp
Labels: AutoMerge, Priority-0, Severity-Crash

#10122 Bind `quakeMode` to "win+`" by default
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-Settings, Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#10108 This fixes summoning _quake as the MRU window
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
Labels: AutoMerge, Needs-Second

#10111 doc: Added links to folders and headers mentioned
  CONTRIBUTING.md
Labels: Issue-Docs

#10099 Introduce til::rle - a run length encoded vector
  .github/actions/spelling/allow/allow.txt
  src/buffer/out/AttrRow.cpp
  src/buffer/out/AttrRow.hpp
  src/buffer/out/AttrRowIterator.cpp
  src/buffer/out/AttrRowIterator.hpp
  src/buffer/out/Row.cpp
  src/buffer/out/Row.hpp
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/buffer/out/TextAttributeRun.hpp
  src/buffer/out/TextColor.h
  src/buffer/out/lib/bufferout.vcxproj
  src/buffer/out/textBufferCellIterator.hpp
  src/buffer/out/ut_textbuffer/AttrRowTests.cpp
  src/buffer/out/ut_textbuffer/TextBuffer.Unit.Tests.vcxproj
  src/buffer/out/ut_textbuffer/sources
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/ut_host/Host.UnitTests.vcxproj.filters
  src/inc/consoletaeftemplates.hpp
  src/inc/til.h
  src/inc/til/rle.h
  src/til/ut_til/RunLengthEncodingTests.cpp
  src/til/ut_til/sources
  src/til/ut_til/til.unit.tests.vcxproj
  tools/ConsoleTypes.natvis
Labels: Area-CodeHealth, Area-Output, AutoMerge, Issue-Task, Product-Conhost

#10133 Split ThrottledFunc into Leading and Trailing variants
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/ThrottledFunc.h
Labels: Area-Quality, Area-TerminalControl, AutoMerge, Product-Terminal

#9926 Introduce serialization for actions
  .github/actions/spelling/expect/expect.txt
  src/cascadia/LocalTests_SettingsModel/SerializationTests.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionMap.h
  src/cascadia/TerminalSettingsModel/ActionMapSerialization.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/Command.cpp
  src/cascadia/TerminalSettingsModel/Command.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/JsonUtils.h
Labels: Area-Settings, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#10145 openConsole.psm1: fix unapproved verb warning
  build/scripts/Invoke-FormattingCheck.ps1
  tools/OpenConsole.psm1
Labels: Area-Build, AutoMerge, Issue-Bug, Product-Meta

#10143 Attempt to heal settings files damaged by #9962
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: AutoMerge, Needs-Second

#10148 Fix crash on saving the settings twice
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Needs-Second, Product-Terminal, Severity-Crash

#10147 Fix profile selection upon discarding changes in SUI
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
Labels: Area-Settings UI, AutoMerge, Issue-Bug, Priority-2, Product-Terminal

#10142 Add support for `focusPane` action, `focus-pane` subcommand
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
Labels: Area-Commandline, Area-User Interface, AutoMerge, Issue-Task, Product-Terminal

#10151 Emit fixup debug info for internal tooling
  .github/actions/spelling/expect/expect.txt
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
  src/common.build.pre.props
Labels: AutoMerge, Priority-0, zPreview-Service-Consider, zStable-Service-Consider

#10154 rle: fix build with clang by adding a deduction guide
  src/inc/til/rle.h
Labels: AutoMerge

#10164 Clear all state tracking nested commands when switching command mode
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: Area-CmdPal, AutoMerge, Issue-Bug, Priority-2, Product-Terminal, zPreview-Service-Consider

#10138 Pass through double clicks and hover events in Win32 mouse mode
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
Labels: AutoMerge

#10121 Hook up the keybindings to the SUI, redux
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-Settings UI, AutoMerge, Issue-Feature, Needs-Second, Priority-1, Product-Terminal

#10166 Add cooked data read tracing
  src/host/readDataCooked.cpp
  src/host/tracing.cpp
  src/host/tracing.hpp
  src/inc/til.h
Labels: Area-Input, AutoMerge, Issue-Task, Product-Conhost

#10170 [Defapp] Use real HPCON for PTY management; Have Monarch always listen for connections
  .github/actions/spelling/expect/alphabet.txt
  .github/actions/spelling/expect/expect.txt
  samples/ConPTY/GUIConsole/GUIConsole.ConPTY/Terminal.cs
  samples/ConPTY/MiniTerm/MiniTerm/Terminal.cs
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalConnection/CTerminalHandoff.cpp
  src/cascadia/TerminalConnection/CTerminalHandoff.h
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/host/proxy/ITerminalHandoff.idl
  src/host/srvinit.cpp
  src/inc/conpty-static.h
  src/winconpty/winconpty.cpp
Labels: Area-DefApp, Area-TerminalConnection, AutoMerge, Issue-Task, Product-Terminal

#9270 Add a setting to flash the pane when BEL is emitted
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalControl/TermControl.xaml
  src/cascadia/TerminalControl/TerminalControlLib.vcxproj
  src/cascadia/TerminalControl/XamlLights.cpp
  src/cascadia/TerminalControl/XamlLights.h
  src/cascadia/TerminalControl/XamlLights.idl
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/EnumMappings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.h
  src/cascadia/TerminalSettingsModel/EnumMappings.idl
  src/cascadia/TerminalSettingsModel/JsonUtils.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: Area-TerminalControl, Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Product-Terminal

#10185 Correct Default Application Selector styles for high contrast and to change with OS theme dark/light toggle
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/Launch.xaml
Labels: Area-Accessibility, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, zPreview-Service-Consider

#10208 Fix compilation with VS16.10 and later
  .github/actions/spelling/allow/microsoft.txt
  .github/actions/spelling/expect/alphabet.txt
  .github/actions/spelling/expect/expect.txt
  src/common.build.pre.props
  src/wap-common.build.pre.props
Labels: Area-Build, AutoMerge, Issue-Bug, Product-Meta

#10217 Summon this window when it receives an inbound connection
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
Labels: Area-DefApp, Area-TerminalControl, AutoMerge, Issue-Task, Product-Terminal, zPreview-Service-Consider

#10238 Prevent crashes in Settings UI launch on OS versions before package management extensions
  src/cascadia/TerminalSettingsModel/DefaultTerminal.cpp
  src/cascadia/TerminalSettingsModel/DefaultTerminal.h
  src/propslib/DelegationConfig.cpp
Labels: Area-DefApp, Area-Settings UI, AutoMerge, Issue-Bug, Priority-0, Product-Terminal, Severity-Crash, zPreview-Service-Consider

#10263 Ignore closeOnExit when a conn. moves from Connecting to Failed
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalConnection/ConptyConnection.cpp
Labels: Area-User Interface, Issue-Task, Needs-Second, Product-Terminal, zPreview-Service-Consider

#10261 Switch FAIL_FAST to LOG for starting inbound connection server on monarch startup
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-DefApp, AutoMerge, Priority-1, Severity-Crash, zPreview-Service-Consider

#10260 Don't throw in `GetProposedDimensions`
  src/cascadia/TerminalControl/TermControl.cpp
  src/renderer/dx/DxFontRenderData.cpp
  src/renderer/dx/DxFontRenderData.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Priority-0, Product-Terminal, Severity-Crash, zPreview-Service-Consider, zStable-Service-Consider
