Repository microsoft/terminal, pull requests merged in 2021-08, with the labels that each got.

#10841 Set drag and drop on '+' tooltip text based on keyboard modifiers
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabRowControl.cpp
Labels: Area-User Interface, AutoMerge, Issue-Task, Needs-Second, Priority-3, Product-Terminal

#10779 Vectorize TextColor::GetColor
  .github/actions/spelling/expect/expect.txt
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/buffer/out/TextColor.cpp
  src/buffer/out/TextColor.h
  src/buffer/out/lib/bufferout.vcxproj
  src/buffer/out/ut_textbuffer/TextAttributeTests.cpp
  src/buffer/out/ut_textbuffer/TextColorTests.cpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/host/consoleInformation.cpp
  src/host/settings.cpp
  src/host/settings.hpp
  src/host/telemetry.cpp
Labels: Area-Output, Area-Performance, AutoMerge

#10744 Recalculate quake window size when snapping across monitors
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
Labels: Area-User Interface, AutoMerge, Issue-Bug, Needs-Second, Priority-2, Product-Terminal

#10843 Make the alt buffer inherit cursor state from the main buffer
  src/host/screenInfo.cpp
  src/host/ut_host/ScreenBufferTests.cpp
Labels: Area-VT, AutoMerge, Issue-Task, Needs-Second, Product-Conhost

#9223 When launching wsl, promote the starting directory to --cd
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalSettingsModel/Profile.cpp
Labels: Area-Settings, Area-TerminalConnection, Area-TerminalControl, AutoMerge, Issue-Feature, Issue-Task, Product-Terminal, Product-WSL

#10856 Fix font changes not resizing _invalidMap
  src/renderer/dx/DxRenderer.cpp
Labels: Area-TerminalControl, AutoMerge, Issue-Bug, Priority-1, Product-Terminal, Severity-Blocking

#10847 Sanitize C1 control chars in SetConsoleTitle API
  src/host/getset.cpp
  src/host/ut_host/ConptyOutputTests.cpp
Labels: Area-Rendering, Area-VT, AutoMerge, Issue-Bug, Priority-2, Product-Conpty

#10842 Fix drag and drop on '+' button for drive letters
  src/cascadia/LocalTests_SettingsModel/CommandTests.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
Labels: Area-User Interface, AutoMerge, Issue-Task, Priority-3, Product-Terminal, zPreview-Service-Consider

#10846 [settings-editor] Switch to function bindings instead of Converter objects
  src/cascadia/TerminalSettingsEditor/Actions.xaml
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/ColorLightenConverter.cpp
  src/cascadia/TerminalSettingsEditor/ColorLightenConverter.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/ColorToBrushConverter.cpp
  src/cascadia/TerminalSettingsEditor/ColorToBrushConverter.h
  src/cascadia/TerminalSettingsEditor/ColorToHexConverter.cpp
  src/cascadia/TerminalSettingsEditor/ColorToHexConverter.h
  src/cascadia/TerminalSettingsEditor/Converters.cpp
  src/cascadia/TerminalSettingsEditor/Converters.h
  src/cascadia/TerminalSettingsEditor/Converters.idl
  src/cascadia/TerminalSettingsEditor/FontWeightConverter.cpp
  src/cascadia/TerminalSettingsEditor/FontWeightConverter.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/InvertedBooleanConverter.cpp
  src/cascadia/TerminalSettingsEditor/InvertedBooleanConverter.h
  src/cascadia/TerminalSettingsEditor/InvertedBooleanToVisibilityConverter.cpp
  src/cascadia/TerminalSettingsEditor/InvertedBooleanToVisibilityConverter.h
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/PaddingConverter.cpp
  src/cascadia/TerminalSettingsEditor/PaddingConverter.h
  src/cascadia/TerminalSettingsEditor/PercentageConverter.cpp
  src/cascadia/TerminalSettingsEditor/PercentageConverter.h
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/ReadOnlyActions.xaml
  src/cascadia/TerminalSettingsEditor/StringIsEmptyConverter.cpp
  src/cascadia/TerminalSettingsEditor/StringIsEmptyConverter.h
  src/cascadia/TerminalSettingsEditor/StringIsNotDesktopConverter.cpp
  src/cascadia/TerminalSettingsEditor/StringIsNotDesktopConverter.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
Labels: Area-CodeHealth, Area-Settings UI, AutoMerge, Issue-Task, Priority-3, Product-Terminal

#10867 Fix SSE2 variant of TextColor::GetColor
  src/buffer/out/TextColor.cpp
Labels: AutoMerge

#10854 Move to 1ES engineering pools
  build/pipelines/release.yml
  build/pipelines/templates/build-console-audit-job.yml
  build/pipelines/templates/build-console-ci.yml
  build/pipelines/templates/build-console-pgo.yml
Labels: Area-Build, AutoMerge, Issue-Task, Product-Meta

#10878 Fix a use-after-free crash when returning from the alt buffer
  src/host/screenInfo.cpp
Labels: AutoMerge, Needs-Second

#10832 Add Split Tab option to tab context menu
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, AutoMerge, Issue-Feature, Product-Terminal

#10823 [DefApp] Move from Monarch multi instance servers to Peasant single instance servers
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalConnection/CTerminalHandoff.cpp
  src/cascadia/TerminalConnection/CTerminalHandoff.h
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Area-DefApp

#10876 Reload settings when the input method changes
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/LanguageProfileNotifier.cpp
  src/cascadia/TerminalApp/LanguageProfileNotifier.h
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj.filters
  src/cascadia/TerminalApp/pch.h
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-1, Area-i18n

#10011 Add support for downloadable soft fonts
  .github/actions/spelling/allow/apis.txt
  .github/actions/spelling/expect/expect.txt
  src/host/getset.cpp
  src/host/getset.h
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/ut_host/VtRendererTests.cpp
  src/interactivity/onecore/BgfxEngine.cpp
  src/interactivity/onecore/BgfxEngine.hpp
  src/renderer/base/FontResource.cpp
  src/renderer/base/RenderEngineBase.cpp
  src/renderer/base/lib/base.vcxproj
  src/renderer/base/lib/base.vcxproj.filters
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/base/sources.inc
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/gdi/gdirenderer.hpp
  src/renderer/gdi/paint.cpp
  src/renderer/gdi/state.cpp
  src/renderer/inc/FontResource.hpp
  src/renderer/inc/IRenderEngine.hpp
  src/renderer/inc/IRenderer.hpp
  src/renderer/inc/RenderEngineBase.hpp
  src/renderer/uia/UiaRenderer.cpp
  src/renderer/uia/UiaRenderer.hpp
  src/renderer/vt/Xterm256Engine.cpp
  src/renderer/vt/Xterm256Engine.hpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/XtermEngine.hpp
  src/renderer/vt/vtrenderer.hpp
  src/renderer/wddmcon/WddmConRenderer.cpp
  src/renderer/wddmcon/WddmConRenderer.hpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/FontBuffer.cpp
  src/terminal/adapter/FontBuffer.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/charsets.hpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/lib/adapter.vcxproj
  src/terminal/adapter/lib/adapter.vcxproj.filters
  src/terminal/adapter/sources.inc
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/terminalOutput.cpp
  src/terminal/adapter/terminalOutput.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
Labels: Issue-Feature, Product-Conhost, Area-Rendering, Area-VT, AutoMerge

#10187 Allow `ThrottledFunc` to work on different types of dispatcher
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/UnitTests_Control/ControlCoreTests.cpp
  src/cascadia/UnitTests_Control/ControlInteractivityTests.cpp
  src/cascadia/UnitTests_Control/pch.h
  src/cascadia/WinRTUtils/inc/ThrottledFunc.h
Labels: Product-Terminal, AutoMerge, Issue-Task, Needs-Second

#10885 Update SUI tooltips from 'checked' to 'enabled'
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Product-Terminal, AutoMerge, Issue-Task, Priority-3, Area-Settings UI

#10895 Prevent redraw upon resize if new size is equal to old
  src/cascadia/TerminalControl/ControlCore.cpp
Labels: Area-Interaction, Issue-Bug, Product-Terminal, AutoMerge

#10902 Account for the window frame when calculating initial position
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Needs-Second, Priority-3, zStable-Service-Consider, zPreview-Service-Consider

#10901 Make the TerminalApi exception handler less garrulous
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/inc/til.h
Labels: AutoMerge, Needs-Second, zStable-Service-Consider, zPreview-Service-Consider

#10755 Combine progress states in the tab, taskbar
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TaskbarState.cpp
  src/cascadia/TerminalApp/TaskbarState.h
  src/cascadia/TerminalApp/TaskbarState.idl
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Priority-2

#10799 Adding/fixing Alt+Space handling
  src/cascadia/LocalTests_SettingsModel/KeyBindingsTests.cpp
  src/cascadia/TerminalApp/AppKeyBindings.cpp
  src/cascadia/TerminalApp/AppKeyBindings.h
  src/cascadia/TerminalControl/IKeyBindings.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalSettingsModel/ActionMap.cpp
  src/cascadia/TerminalSettingsModel/ActionMap.h
  src/cascadia/TerminalSettingsModel/ActionMap.idl
  src/cascadia/UnitTests_TerminalCore/InputTest.cpp
  src/cascadia/WindowsTerminal/main.cpp
Labels: Area-User Interface, Area-Settings, Product-Terminal, AutoMerge, Issue-Task, Priority-3

#10874 Initialize the padding for the Control UIA provider
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControlAutomationPeer.cpp
  src/cascadia/TerminalControl/TermControlAutomationPeer.h
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-1

#10916 Use STL for ActionMap members
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalSettingsModel/ActionMap.cpp
  src/cascadia/TerminalSettingsModel/ActionMap.h
Labels: Area-Settings, Product-Terminal, AutoMerge, Area-CodeHealth

#10917 Fix layering of sc() keybindings with vk() ones
  .github/actions/spelling/expect/expect.txt
  src/cascadia/LocalTests_SettingsModel/KeyBindingsTests.cpp
  src/cascadia/TerminalControl/KeyChord.cpp
  src/cascadia/TerminalSettingsModel/ActionMap.cpp
  src/cascadia/TerminalSettingsModel/ActionMap.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  tools/OpenConsole.psm1
  tools/tests.xml
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Severity-Blocking, Area-Windowing

#10780 Move Pane to Tab (GH7075)
  .github/actions/spelling/allow/apis.txt
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Issue-Feature, Area-User Interface, Product-Terminal, AutoMerge, Needs-Second

#10908 Fix WriteUTF8FileAtomic to preserve symlinks
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalSettingsModel/FileUtils.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Priority-1

#10921 Improve WriteCharsLegacy performance by increasing local buffer size
  src/host/_stream.cpp
Labels: Product-Conhost, Area-Performance, Area-Output, AutoMerge

#10368 Add Minimize to Tray and Tray Icon
  .github/actions/spelling/allow/apis.txt
  .github/actions/spelling/expect/expect.txt
  doc/cascadia/profiles.schema.json
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/Peasant.cpp
  src/cascadia/Remoting/Peasant.h
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/SummonWindowSelectionArgs.h
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/Remoting/WindowManager.idl
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/TrayIcon.cpp
  src/cascadia/WindowsTerminal/TrayIcon.h
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/icon.cpp
  src/cascadia/WindowsTerminal/icon.h
  src/cascadia/WindowsTerminal/main.cpp
  src/features.xml
Labels: Issue-Feature, Area-User Interface, Product-Terminal, AutoMerge, Area-Remoting

#10934 Change settings content frame transition to drill in
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
Labels: Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Priority-3, Area-Settings UI

#10937 Prevent deadlock in UIA Move API
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
Labels: Issue-Bug, Area-Accessibility, Severity-Crash, Product-Terminal, AutoMerge, zStable-Service-Consider, zPreview-Service-Consider

#10910 Hide profiles by default if they aren't new
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Area-Settings, Product-Terminal, AutoMerge, Issue-Task

#10922 Manually dismiss popups when the window moves, or the SUI scrolls
  src/cascadia/TerminalSettingsEditor/Actions.h
  src/cascadia/TerminalSettingsEditor/Actions.xaml
  src/cascadia/TerminalSettingsEditor/AddProfile.h
  src/cascadia/TerminalSettingsEditor/AddProfile.xaml
  src/cascadia/TerminalSettingsEditor/ColorSchemes.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Interaction.h
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Launch.h
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/ReadOnlyActions.h
  src/cascadia/TerminalSettingsEditor/ReadOnlyActions.xaml
  src/cascadia/TerminalSettingsEditor/Rendering.h
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsEditor/Utils.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/pch.h
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-3, Area-Settings UI

#10759 Add an ENUM setting for disabling rendering "intense" text as bold
  doc/cascadia/profiles.schema.json
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/buffer/out/ut_textbuffer/TextAttributeTests.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/IControlAppearance.idl
  src/cascadia/TerminalCore/ICoreAppearance.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/AppearanceConfig.cpp
  src/cascadia/TerminalSettingsModel/AppearanceConfig.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.h
  src/cascadia/TerminalSettingsModel/EnumMappings.idl
  src/cascadia/TerminalSettingsModel/IAppearanceConfig.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/UnitTests_Control/MockControlSettings.h
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
Labels: Area-Rendering, Area-Settings, Product-Terminal, AutoMerge, Issue-Task

#10958 Render "intense" text as bright by default
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalSettingsModel/AppearanceConfig.h
Labels: AutoMerge, zPreview-Service-Consider

#10927 GH10909 in order movement
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/JsonUtils.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task

#10971 Ensure automation peer is created regardless of terminal initialization
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/types/UiaTextRangeBase.cpp
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge, Needs-Second, zStable-Service-Consider, zPreview-Service-Consider

#10947 Fix focus-tab --previous/next to ignore tab switcher order
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
Labels: Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Priority-2, Area-Commandline

#10938 Tray Icon PR followup
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Needs-Second

#10886 Improve UIA movement testing methodology
  .github/actions/spelling/allow/allow.txt
  src/interactivity/win32/ut_interactivity_win32/GeneratedUiaTextRangeMovementTests.g.cpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  tools/TestTableWriter/GenerateTests.ps1
  tools/TestTableWriter/README.md
  tools/TestTableWriter/UiaTests.csv
Labels: Area-Accessibility, AutoMerge, Issue-Task, Needs-Second

#10945 Make ActionMap compatible with ScanCode-only KeyChords
  src/cascadia/LocalTests_SettingsModel/KeyBindingsTests.cpp
  src/cascadia/TerminalControl/KeyChord.cpp
  src/cascadia/TerminalControl/KeyChord.h
  src/cascadia/TerminalControl/KeyChord.idl
  src/cascadia/TerminalSettingsModel/ActionMap.cpp
  src/cascadia/TerminalSettingsModel/ActionMap.h
  src/cascadia/ut_app/JsonTests.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Severity-Blocking, Needs-Second

#10996 Upgrade to Microsoft.UI.Xaml 2.6.2 (or equivalent)
  scratch/ScratchIslandApp/Package/Package.wapproj
  scratch/ScratchIslandApp/SampleApp/SampleAppLib.vcxproj
  scratch/ScratchIslandApp/SampleApp/dll/SampleApp.vcxproj
  scratch/ScratchIslandApp/SampleApp/packages.config
  scratch/ScratchIslandApp/WindowExe/WindowExe.vcxproj
  scratch/ScratchIslandApp/WindowExe/packages.config
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/LocalTests_SettingsModel/SettingsModel.LocalTests.vcxproj
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
  src/cascadia/TerminalApp/App.xaml
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/dll/TerminalApp.vcxproj
  src/cascadia/TerminalApp/packages.config
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/packages.config
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/dll/Microsoft.Terminal.Settings.Model.vcxproj
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
Labels: Area-Build, Product-Terminal, AutoMerge, Issue-Task

#10969 Reword bold enum options
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Product-Terminal, AutoMerge, Issue-Task, Needs-Second, zStable-Service-Consider, zPreview-Service-Consider, Area-Settings UI

#10749 Fix text selection while new lines are being printed when history buffer is full
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/UnitTests_Control/ControlInteractivityTests.cpp
  src/renderer/base/renderer.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-2

#10979 Don't scroll vertically on horizontal scroll motions
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Input, Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Needs-Second, Priority-2

#10980 Create a window process for the tray icon
  src/cascadia/WindowsTerminal/TrayIcon.cpp
  src/cascadia/WindowsTerminal/TrayIcon.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge

#10864 Add titlebar acrylic
  src/cascadia/TerminalApp/App.xaml
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
Labels: Product-Terminal, AutoMerge, Needs-Second, Area-Theming

#10998 When there's no profile or title, invent a title from the commandline
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
Labels: AutoMerge, Needs-Second

#10982 Rely more on profile objects and less on GUIDs
  src/cascadia/LocalTests_SettingsModel/TerminalSettingsTests.cpp
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.idl
Labels: Area-User Interface, Product-Terminal, Issue-Task, Needs-Second, Priority-3

#10997 Only iterate panes one time when updating settings
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: AutoMerge

#11007 Allow generated profiles to be deleted
  src/cascadia/TerminalSettingsEditor/Launch.cpp
  src/cascadia/TerminalSettingsEditor/Launch.h
  src/cascadia/TerminalSettingsEditor/Launch.idl
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/TerminalSettingsModel/Profile.idl
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Priority-1, zPreview-Service-Consider

#10966 Refactor `u8u16` and `u16u8` conversion functions
  .github/actions/spelling/allow/names.txt
  src/inc/til/u8u16convert.h
Labels: Area-Output, Product-Terminal, AutoMerge, Issue-Task

#10978 Only focus the active pane once initialization is complete
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Priority-2, Area-Commandline

#10967 Lookup WSL distros in the registry
  .github/actions/spelling/allow/microsoft.txt
  src/cascadia/TerminalSettingsModel/WslDistroGenerator.cpp
Labels: Issue-Bug, Area-TerminalConnection, Area-Settings, Product-Terminal, AutoMerge, Needs-Second, Priority-2

#10991 Fix failing UIA movement tests
  src/interactivity/win32/ut_interactivity_win32/GeneratedUiaTextRangeMovementTests.g.cpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
  tools/TestTableWriter/UiaTests.csv
Labels: Area-Accessibility, Product-Terminal, AutoMerge, Issue-Task, Needs-Second

#10988 Fix alt+space opening system menu and sending keys to terminal
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Input, Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Severity-Blocking, Priority-1

#11023 Fix directional movement during startup
  .github/actions/spelling/allow/apis.txt
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
Labels: Area-User Interface, Product-Terminal, AutoMerge, Needs-Second

#10923 Remove std::deque from Renderer
  src/host/ut_host/AliasTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/host/ut_host/VtIoTests.cpp
  src/renderer/base/Cluster.cpp
  src/renderer/base/lib/base.vcxproj
  src/renderer/base/lib/base.vcxproj.filters
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/base/sources.inc
  src/renderer/inc/Cluster.hpp
Labels: Area-Rendering, Area-Performance, AutoMerge

#9427 Actions page design spec
  doc/specs/#6900 - Actions Page/add-click.png
  doc/specs/#6900 - Actions Page/add-keys.png
  doc/specs/#6900 - Actions Page/edit-click.png
  doc/specs/#6900 - Actions Page/edit-keys.png
  doc/specs/#6900 - Actions Page/spec.md
Labels: Issue-Docs, Product-Terminal, Needs-Second, Area-Settings UI

#11029 Move commandline->title promotion into TerminalSettings
  src/cascadia/LocalTests_SettingsModel/TerminalSettingsTests.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Priority-2, Area-Commandline

#10863 Fix setting `wght` axis font bugs
  src/renderer/dx/CustomTextLayout.cpp
  src/renderer/dx/DxFontRenderData.cpp
  src/renderer/dx/DxFontRenderData.h
Labels: Area-Rendering, Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Priority-1

#11069 Teach command palette to fill in selected commandline upon right arrow
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: Product-Terminal, AutoMerge, Issue-Task, Area-CmdPal, Needs-Discussion

#11070 Add Tray Icon settings to the SettingsUI
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.cpp
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.idl
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge

#11082 Fix a crash when there aren't any `recentCommands` yet
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: Severity-Crash, Product-Terminal, AutoMerge, Area-CmdPal

#11045 Add action to run multiple actions.
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/ApplicationState.cpp
  src/cascadia/TerminalSettingsModel/JsonUtils.h
Labels: Area-Input, Area-User Interface, Product-Terminal, AutoMerge, Issue-Task
