Repository microsoft/terminal, pull requests merged in 2022-05, with the labels that each got.

#13018 Ensure tab close button color matches the text color
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Priority-3, Area-Theming

#12972 Prevent the virtual viewport bottom being updated incorrectly
  src/host/getset.cpp
  src/host/outputStream.cpp
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/host/selection.cpp
  src/host/selectionInput.cpp
  src/host/ut_host/ScreenBufferTests.cpp
Labels: Product-Conhost, Area-VT, Issue-Bug, AutoMerge

#13026 change 3 en-dash to hyphen in Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
Labels: AutoMerge

#13015 Fix resize crash in OpenConsole with AtlasEngine
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/vt/state.cpp
Labels: Issue-Bug, AutoMerge, Priority-3, Area-AtlasEngine

#13028 Change TSFInputControl inputScope to AlphanumericHalfWidth
  src/cascadia/TerminalControl/TSFInputControl.cpp
Labels: Area-Input, Product-Terminal, AutoMerge, Issue-Task, Area-i18n

#13031 Fix a crash when entering lots of text in the Japanese IME
  src/host/conimeinfo.cpp
Labels: Product-Conhost, Area-Input, Issue-Bug, Severity-Crash, AutoMerge

#13032 Add automation properties to expander-style settings
  src/cascadia/TerminalSettingsEditor/SettingContainer.cpp
  src/cascadia/TerminalSettingsEditor/SettingContainerStyle.xaml
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge

#13033 Switch WT and OpenConsole to the Segment Heap
  src/cascadia/WindowsTerminal/WindowsTerminal.manifest
  src/host/exe/openconsole.exe.manifest
Labels: Product-Conhost, Product-Terminal, AutoMerge, Area-Quality

#13039 Stop the viewport being moved when in the alt buffer
  src/cascadia/TerminalCore/TerminalApi.cpp
Labels: Issue-Bug, Area-TerminalControl, Severity-Crash, Product-Terminal, AutoMerge, Priority-1

#12997 Fix the TabTests, April 2022 edition
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/ActionPreviewHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Issue-Bug, Product-Terminal, AutoMerge

#11621 Ignore `newTab` actions with a profile index greater than the number of profiles
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Needs-Second, Priority-3

#13044 Only add the `ProfileVM.DeleteProfile` handler once
  .github/actions/spelling/allow/allow.txt
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
Labels: Issue-Bug, Severity-Crash, Product-Terminal, AutoMerge, Needs-Second, Priority-1, Area-Settings UI

#13045 Add ability to select all text in the buffer
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
  src/renderer/dx/DxRenderer.cpp
Labels: Area-TerminalControl, Product-Terminal, AutoMerge, Issue-Task

#12979 Hide the window from DWM until we're finished with initialization
  .github/actions/spelling/allow/apis.txt
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Priority-3, Priority-2, Area-Windowing

#12659 Redraw all in conhost when changing the palette
  src/host/getset.cpp
Labels: Product-Conhost, Area-Rendering, Issue-Bug, AutoMerge, Priority-2

#13052 Make sure the virtual viewport doesn't go negative
  src/host/screenInfo.cpp
  src/host/ut_host/ScreenBufferTests.cpp
Labels: Product-Conhost, Area-Output, Issue-Bug, AutoMerge, Severity-Blocking, Priority-1

#13035 WIP for adding BellSound to schema
  doc/cascadia/profiles.schema.json
Labels: Issue-Docs, Area-Settings, Product-Terminal, AutoMerge, Needs-Second

#13083 [High Contrast] Fix red SUI background
  src/cascadia/TerminalApp/App.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge, Severity-Blocking, Needs-Second, Priority-0, Area-Settings UI

#13058 Add support for the DECAC escape sequence
  src/buffer/out/TextColor.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/renderer/base/RenderSettings.cpp
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/telemetry.cpp
  src/terminal/parser/telemetry.hpp
Labels: Area-VT, Product-Terminal, AutoMerge, Issue-Task

#13085 Fix some typos in mouseInput.cpp
  src/terminal/input/mouseInput.cpp
Labels: AutoMerge

#13087 Restore virtual viewport position after resize with reflow
  src/host/screenInfo.cpp
  src/host/ut_host/ScreenBufferTests.cpp
Labels: Product-Conhost, Area-Output, Issue-Bug, AutoMerge, Priority-2, Impact-Correctness

#13089 Fix the 'RunMakeKillTabs' PGO test
  src/cascadia/WindowsTerminal_UIATests/SmokeTests.cs
Labels: AutoMerge, Needs-Second

#13090 Fix various issues with useBackgroundImageForWindow
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.idl
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Priority-0

#13097 Reduce integer type casts in VtEngine
  src/renderer/vt/paint.cpp
Labels: AutoMerge, Area-CodeHealth

#13096 Simplify Utf16Parser
  src/types/inc/Utf16Parser.hpp
Labels: AutoMerge, Area-CodeHealth, Needs-Second

#13093 Various improvements for til::hash/point/size/rect
  src/inc/til/at.h
  src/inc/til/bit.h
  src/inc/til/hash.h
  src/inc/til/point.h
  src/inc/til/rect.h
  src/inc/til/size.h
  src/renderer/dx/DxRenderer.cpp
  src/terminal/adapter/FontBuffer.cpp
  src/terminal/adapter/FontBuffer.hpp
  src/til/ut_til/PointTests.cpp
  src/til/ut_til/RectangleTests.cpp
  src/til/ut_til/SizeTests.cpp
Labels: AutoMerge, Area-CodeHealth

#13055 Add find item to tab menu
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task

#13114 Add `experimental.useBackgroundImageForWindow` to schema
  doc/cascadia/profiles.schema.json
Labels: AutoMerge, Needs-Second

#13100 AtlasEngine: Stop resizing buffers on scroll
  src/renderer/atlas/AtlasEngine.api.cpp
Labels: Issue-Bug, AutoMerge, Priority-2, Area-AtlasEngine

#13109 Fix handling of cursor position reports in passthrough mode
  src/host/getset.cpp
  src/terminal/adapter/InteractDispatch.cpp
Labels: Issue-Bug, AutoMerge

#13102 Add support for line renditions in the DX renderer
  src/renderer/dx/CustomTextRenderer.cpp
  src/renderer/dx/CustomTextRenderer.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
Labels: AutoMerge

#13118 Fix `ShowWindow(GetConsoleWindow())`
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/host/PtySignalInputThread.cpp
  src/host/PtySignalInputThread.hpp
  src/host/VtIo.cpp
  src/host/VtIo.hpp
  src/host/outputStream.cpp
  src/interactivity/base/InteractivityFactory.cpp
  src/interactivity/win32/windowio.cpp
  src/terminal/adapter/InteractDispatch.cpp
Labels: Product-Conpty, Issue-Bug, Product-Terminal, Severity-Blocking, Priority-0, Area-Windowing

#13129 Fix ShowHide for DefTerm
  src/cascadia/TerminalConnection/ConptyConnection.cpp
Labels: Product-Conpty, Issue-Bug, Product-Terminal, Severity-Blocking, Needs-Second, Priority-0, Area-DefApp, Area-Windowing

#13053 Introduce Mark Mode
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Issue-Feature, Issue-Bug, Area-TerminalControl, Area-Accessibility, Product-Terminal, AutoMerge, Needs-Second, Priority-1

#13144 Add the background back to `showTabsInTitlebar: false`'s tab row.
  src/cascadia/TerminalApp/TabRowControl.xaml
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Severity-Blocking

#13147 Debounce window state changes caused by the PTY
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
Labels: Product-Terminal, AutoMerge, Needs-Second, Area-Windowing

#13172 Don't attempt to split settings tabs
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Issue-Bug, AutoMerge

#13164 Prevent ConPTY from de-snapping the terminal
  src/interactivity/base/InteractivityFactory.cpp
Labels: Issue-Bug, Product-Terminal, Severity-Blocking, Priority-0, Area-Windowing
