Repository microsoft/terminal, pull requests merged in 2022-01, with the labels that each got.

#12026 Preserve cursor visibility on resize in conhost
  src/host/screenInfo.cpp
Labels: AutoMerge, Needs-Second

#11991 Use the correct background color when copying to clipboard
  src/cascadia/TerminalControl/ControlCore.cpp
  src/interactivity/win32/Clipboard.cpp
Labels: Area-Output, Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Priority-3

#11982 Replace GetDefaultBrushColors with hardcoded default attributes
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/host/renderData.cpp
  src/host/renderData.hpp
  src/host/ut_host/VtIoTests.cpp
  src/renderer/base/renderer.cpp
  src/renderer/inc/IRenderData.hpp
Labels: Product-Conhost, AutoMerge, Needs-Second, Priority-3

#11932 Add rbeesley's ansi-color.cmd, a CMD-based color tool (& more)
  .github/actions/spelling/expect/expect.txt
  .github/actions/spelling/expect/web.txt
  .github/actions/spelling/patterns/patterns.txt
  src/tools/ansi-color/README.md
  src/tools/ansi-color/ansi-color.cmd
  src/tools/ansi-color/ansi-colortool.def
  src/tools/ansi-color/attrib.def
  src/tools/ansi-color/colortest.def
  src/tools/ansi-color/colortool.def
  src/tools/ansi-color/crisman.def
  src/tools/ansi-color/fgbg.def
  src/tools/ansi-color/lbl.def
  src/tools/ansi-color/plaid.def
  src/tools/ansi-color/rainbow.def
  src/tools/ansi-color/rosetta.def
  src/tools/ansi-color/separator.def
  src/tools/ansi-color/sgr-intensity.def
  src/tools/ansi-color/sgr.def
  src/tools/ansi-color/tsgr.def
  src/tools/ansi-color/ubuntu.def
Labels: Issue-Feature, AutoMerge, Product-Meta, Area-CodeHealth, Needs-Second

#12086 Ensure PowerShell Core profile commandline is quoted
  src/cascadia/TerminalSettingsModel/PowershellCoreProfileGenerator.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Priority-3, zStable-Service-Consider, zPreview-Service-Consider

#12050 fix ~ not work as startingDirectory for WSL
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Issue-Bug, Area-TerminalConnection, Product-Terminal, AutoMerge, Needs-Second, Priority-2, zPreview-Service-Consider

#11849 Enable Security and Compliance tasks in our Release pipeline
  .github/actions/spelling/expect/expect.txt
  build/config/PolicheckExclusions.xml
  build/pipelines/release.yml
  build/pipelines/templates/build-console-compliance-job.yml
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/common.build.pre.props
Labels: Area-Build, AutoMerge, Product-Meta, Issue-Task

#11511 Enable changing the bell sound
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/pch.h
  src/cascadia/TerminalSettingsModel/JsonUtils.h
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Area-Settings, Product-Terminal, AutoMerge, Issue-Task, Needs-Second

#12096 Disable duplicate button without selected profile
  src/cascadia/TerminalSettingsEditor/AddProfile.cpp
  src/cascadia/TerminalSettingsEditor/AddProfile.h
  src/cascadia/TerminalSettingsEditor/AddProfile.idl
  src/cascadia/TerminalSettingsEditor/AddProfile.xaml
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge, Priority-3

#12088 Add an updated roadmap
  doc/roadmap-2022.md
  doc/terminal-v2-roadmap.md
Labels: Issue-Docs, Product-Meta

#12090 Move the context menu strings to a separate resw compartment
  build/pipelines/release.yml
  src/cascadia/ShellExtension/dllmain.cpp
  src/cascadia/TerminalApp/Resources/en-US/ContextMenu.resw
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
Labels: AutoMerge, zStable-Service-Consider, zPreview-Service-Consider

#12099 Update RGB values when selecting a conhost color property
  src/propsheet/ColorsPage.cpp
Labels: Product-Conhost, Issue-Bug, Area-Settings, AutoMerge, Needs-Second, Priority-3

#11889 Remove wasteful virtuals according to SizeBench
  .github/actions/spelling/expect/expect.txt
  src/host/PtySignalInputThread.hpp
  src/host/VtIo.hpp
  src/host/inputBuffer.cpp
  src/host/inputBuffer.hpp
  src/host/readData.hpp
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/inc/ITerminalOutputConnection.hpp
  src/inc/ITerminalOwner.hpp
  src/interactivity/onecore/ConIoSrvComm.cpp
  src/renderer/base/FontInfoBase.cpp
  src/renderer/base/lib/base.vcxproj
  src/renderer/base/lib/base.vcxproj.filters
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/base/thread.cpp
  src/renderer/base/thread.hpp
  src/renderer/inc/IRenderEngine.hpp
  src/renderer/inc/IRenderThread.hpp
  src/renderer/inc/IRenderer.hpp
  src/renderer/vt/VtSequences.cpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
Labels: Product-Conhost, AutoMerge, Area-CodeHealth

#12095 Fix scheme previewing on Appearances page of SUI
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Needs-Second, Priority-0, Area-Settings UI

#12119 Remove deprecated Windows Terminal Universal project
  OpenConsole.sln
  build/pipelines/release.yml
  build/pipelines/templates/build-console-compliance-job.yml
  src/cascadia/WindowsTerminalUniversal/Package-Dev.appxmanifest
  src/cascadia/WindowsTerminalUniversal/Package.appxmanifest
  src/cascadia/WindowsTerminalUniversal/Resources/Resources.devicefamily-core.resw
  src/cascadia/WindowsTerminalUniversal/Resources/Resources.resw
  src/cascadia/WindowsTerminalUniversal/Resources/en-US/Resources.resw
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj
  src/cascadia/WindowsTerminalUniversal/WindowsTerminalUniversal.vcxproj.filters
  src/cascadia/WindowsTerminalUniversal/internal-background.png
  src/cascadia/WindowsTerminalUniversal/main.cpp
  src/cascadia/WindowsTerminalUniversal/packages.config
  src/cascadia/WindowsTerminalUniversal/pch.cpp
  src/cascadia/WindowsTerminalUniversal/pch.h
Labels: Area-Build, Product-Terminal, AutoMerge, Issue-Task

#12073 Persist Runtime TabTitle and Maximize/Focus/Fullscreen states
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalSettingsEditor/Launch.cpp
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/ApplicationState.cpp
  src/cascadia/TerminalSettingsModel/ApplicationState.h
  src/cascadia/TerminalSettingsModel/ApplicationState.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Needs-Second, Priority-3, Priority-2, Area-Windowing

#12094 Initialize cursorOn to match focus state
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-3

#12131 Pass additional parameters when making PGO package
  build/packages.config
  build/pipelines/templates/pgo-build-and-publish-nuget-job.yml
Labels: Area-Performance, Issue-Bug, Area-Build, Product-Terminal

#12129 Bump the minversion of the Terminal
  scratch/ScratchIslandApp/Package/Package.appxmanifest
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
Labels: Issue-Question, AutoMerge, Product-Meta

#12102 Fix `//wsl$` paths not working in `MangleStartingDirectoryForWSL`
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/types/inc/utils.hpp
  src/types/ut_types/UtilsTests.cpp
  src/types/utils.cpp
Labels: Issue-Bug, Area-TerminalConnection, Product-Terminal, AutoMerge, Needs-Second, Priority-1, zPreview-Service-Consider

#12087 Colortool: add support for truecolor fg/bg and cursor
  src/tools/ColorTool/ColorTool/ColorScheme.cs
  src/tools/ColorTool/ColorTool/ConsoleAttributes.cs
  src/tools/ColorTool/ColorTool/ConsoleTargets/DefaultConsoleTarget.cs
  src/tools/ColorTool/ColorTool/ConsoleTargets/TerminalSchemeConsoleTarget.cs
  src/tools/ColorTool/ColorTool/ConsoleTargets/VirtualTerminalConsoleTarget.cs
  src/tools/ColorTool/ColorTool/Program.cs
  src/tools/ColorTool/ColorTool/SchemeManager.cs
  src/tools/ColorTool/ColorTool/SchemeParsers/IniSchemeParser.cs
  src/tools/ColorTool/ColorTool/SchemeParsers/JsonParser.cs
  src/tools/ColorTool/ColorTool/SchemeParsers/XmlSchemeParser.cs
  src/tools/ColorTool/schemes/campbell-legacy.ini
  src/tools/ColorTool/schemes/campbell.ini
  src/tools/ColorTool/schemes/cmd-legacy.ini
Labels: Product-Colortool, AutoMerge, Issue-Task

#11471 Add restore recently closed panes
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/SettingsTab.h
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Issue-Feature, Area-User Interface, Area-Settings, Product-Terminal, AutoMerge, Needs-Second

#12089 Colortool: improve color table.
  .github/actions/spelling/allow/allow.txt
  src/tools/ColorTool/ColorTool/ColorTable.cs
  src/tools/ColorTool/ColorTool/ConsoleTargets/CurrentConsoleTarget.cs
  src/tools/ColorTool/ColorTool/ConsoleTargets/DefaultConsoleTarget.cs
  src/tools/ColorTool/ColorTool/ConsoleTargets/IConsoleTarget.cs
  src/tools/ColorTool/ColorTool/ConsoleTargets/TerminalSchemeConsoleTarget.cs
  src/tools/ColorTool/ColorTool/ConsoleTargets/VirtualTerminalConsoleTarget.cs
  src/tools/ColorTool/ColorTool/Program.cs
  src/tools/ColorTool/ColorTool/Resources.resx
  src/tools/ColorTool/README.md
Labels: Product-Colortool, AutoMerge

#12140 Combined revert of Environment Block Changes
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/types/Environment.cpp
  src/types/inc/Environment.hpp
  src/types/precomp.h
Labels: Product-Powershell, Issue-Bug, Area-TerminalConnection, Product-Terminal, AutoMerge, Priority-1

#12137 Profile auto-elevation, version 3
  OpenConsole.sln
  doc/cascadia/profiles.schema.json
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/cascadia/ElevateShim/elevate-shim.cpp
  src/cascadia/ElevateShim/elevate-shim.rc
  src/cascadia/ElevateShim/elevate-shim.vcxproj
  src/cascadia/ElevateShim/resource.h
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.idl
Labels: Issue-Feature, Area-Settings, Product-Terminal, AutoMerge

#12097 Add an `exportBuffer` action
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Product-Terminal, AutoMerge, Issue-Task, Needs-Second

#12148 Remove unused `Feature_ShowProfileDefaultsInSettings`
  src/cascadia/LocalTests_SettingsModel/TerminalSettingsTests.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.idl
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/SettingContainer.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/features.xml
Labels: Area-Settings, Product-Terminal, AutoMerge, Issue-Task, Area-CodeHealth, Needs-Second, Priority-3

#12147 Make sure to copy `connectionType` for the azure shell
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Needs-Second, Area-AzureShell, Priority-2

#12145 Use ControlProperties macros everywhere
  scratch/ScratchIslandApp/SampleApp/MyPage.cpp
  scratch/ScratchIslandApp/SampleApp/MySettings.h
  src/cascadia/UnitTests_Control/MockControlSettings.h
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
  src/cascadia/inc/ControlProperties.h
Labels: AutoMerge, Area-CodeHealth, Needs-Second

#12092 Add `adjustOpacity` action
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/ActionPreviewHandlers.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-Settings, Product-Terminal, AutoMerge, Issue-Task, Needs-Second

#12149 Manually replace unqualified cmd, powershell paths for the default profiles
  src/cascadia/LocalTests_SettingsModel/ProfileTests.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Priority-1

#12141 ci: run the tests as a separate build stage
  build/pipelines/ci.yml
  build/pipelines/templates/build-console-steps.yml
  build/pipelines/templates/test-console-ci.yml
  build/scripts/Run-Tests.ps1
Labels: Area-Build, Product-Meta, Issue-Task

#11890 Improve responsiveness of conhost/ConPTY for large inputs
  src/host/CursorBlinker.cpp
  src/host/CursorBlinker.hpp
  src/host/consoleInformation.cpp
  src/host/server.h
Labels: Product-Conhost, Area-Performance, Issue-Bug, Needs-Second, Priority-1

#12180 Prevent potential null pointer crash in export buffer action
  src/cascadia/TerminalApp/AppActionHandlers.cpp
Labels: AutoMerge

#12160 Disable being able to set the automatic adjustment of indistinguishable text
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/features.xml
  src/renderer/base/RenderSettings.cpp
Labels: AutoMerge

#10431 Setup OneFuzz for CI
  .github/actions/spelling/allow/allow.txt
  .github/actions/spelling/allow/apis.txt
  .github/actions/spelling/allow/microsoft.txt
  .github/actions/spelling/allow/names.txt
  .github/actions/spelling/expect/web.txt
  .vsconfig
  OpenConsole.sln
  build/Fuzz/notifications-ado.json
  build/pipelines/fuzz.yml
  build/pipelines/templates/build-console-fuzzing.yml
  build/pipelines/templates/build-console-steps.yml
  doc/fuzzing.md
  src/host/ft_fuzzer/Host.FuzzWrapper.vcxproj
  src/host/proxy/Host.Proxy.vcxproj
Labels: AutoMerge

#12189 atlas: apply colors/flags per column instead of just the first one
  src/renderer/atlas/AtlasEngine.cpp
Labels: AutoMerge

#12167 ci: move helix queueing to a separate stage as well
  build/pipelines/ci.yml
  build/pipelines/templates/build-console-ci.yml
  build/pipelines/templates/console-ci-helix-job.yml
  build/pipelines/templates/helix-processtestresults-job.yml
  build/pipelines/templates/helix-runtests-job.yml
  build/pipelines/templates/test-console-ci.yml
Labels: Area-Build, AutoMerge, Needs-Second

#12227 AtlasEngine: Make shader hot-reloads possible in Windows Terminal
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/pch.h
Labels: AutoMerge, Needs-Second, Area-AtlasEngine

#12229 Fix opacity restore for command palette previews
  src/cascadia/TerminalApp/ActionPreviewHandlers.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
Labels: Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Priority-1, Area-CmdPal

#12205 Misc. elevation crash fixes
  .github/actions/spelling/allow/allow.txt
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Issue-Bug, Severity-Crash, Product-Terminal, AutoMerge, Severity-Blocking, Needs-Second, Priority-0, Priority-1, Area-Remoting, Area-Windowing

#12181 Fix unbalanced unlock in PtySignalInputThread::_Shutdown
  src/host/PtySignalInputThread.cpp
  src/host/VtIo.cpp
  src/host/output.cpp
  src/interactivity/base/HostSignalInputThread.cpp
  src/interactivity/base/ServiceLocator.cpp
  src/interactivity/inc/ServiceLocator.hpp
Labels: Issue-Bug, AutoMerge, Priority-0

#12245 Fix a merge conflict that broke the build
  src/host/ft_fuzzer/fuzzmain.cpp
Labels: Area-Build, AutoMerge

#12225 Add support for hyperlinks to AtlasEngine
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
Labels: Area-Rendering, Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Priority-1, Area-AtlasEngine

#12226 AtlasEngine: Redraw immediately on opacity changes
  src/cascadia/TerminalControl/ControlCore.cpp
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/base/thread.cpp
  src/renderer/base/thread.hpp
Labels: Issue-Bug, AutoMerge, Needs-Second, Priority-2, Area-AtlasEngine

#12248 Pin the `NETCore.App.Host` version to appease nuget
  src/cascadia/WpfTerminalTestNetCore/WpfTerminalTestNetCore.csproj
Labels: Area-Build, AutoMerge

#12210 Send an updated cursor position at the end of writing a run
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalBufferTests.cpp
Labels: Area-Input, Issue-Bug, Product-Terminal, AutoMerge

#12246 Remove the Tray Icon from velocity
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.cpp
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.idl
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/features.xml
Labels: Product-Terminal, AutoMerge, Issue-Task

#12255 Fix Opacity in Windows 10, again
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Severity-Blocking, Needs-Second, Priority-1

#12262 Update PGO helpers to mitigate Y2K22 bug
  build/packages.config
  build/pgo/Terminal.PGO.props
  src/cascadia/Remoting/packages.config
  src/cascadia/TerminalApp/packages.config
  src/cascadia/TerminalConnection/packages.config
  src/cascadia/TerminalControl/packages.config
  src/cascadia/TerminalSettingsEditor/packages.config
  src/cascadia/TerminalSettingsModel/packages.config
  src/cascadia/WindowsTerminal/packages.config
  src/host/exe/packages.config
Labels: Issue-Bug, Area-Build, AutoMerge, Product-Meta

#12259 Expose Defterm info to ComboBoxItem properly
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsModel/DefaultTerminal.h
  src/cascadia/TerminalSettingsModel/DefaultTerminal.idl
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge, Priority-2, zPreview-Service-Consider

#12260 Add a keyboard shortcut handler to the TabRowControl
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-Accessibility, Product-Terminal, AutoMerge, zPreview-Service-Consider, A11ySev2

#12266 [Command Palette] Announce if suggestions were found to screen readers
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
Labels: AutoMerge, zPreview-Service-Consider

#12241 Switch WinUI to the Windows 11 styles
  src/cascadia/TerminalApp/App.xaml
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
Labels: AutoMerge, Needs-Discussion

#12270 Rename the "Bold" SGR attribute as "Intense"
  .github/actions/spelling/expect/expect.txt
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/buffer/out/TextColor.cpp
  src/buffer/out/ut_textbuffer/TextAttributeTests.cpp
  src/cascadia/TerminalCore/TerminalDispatchGraphics.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/host/ut_host/VtRendererTests.cpp
  src/inc/conattrs.hpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/base/RenderSettings.cpp
  src/renderer/dx/DxFontRenderData.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/vt/VtSequences.cpp
  src/renderer/vt/Xterm256Engine.cpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/vtrenderer.hpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
  src/types/UiaTextRangeBase.cpp
  src/types/sgrStack.cpp
Labels: Area-VT, AutoMerge, Product-Meta, Issue-Task

#12242 AtlasEngine: Implement ClearType blending
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
  src/renderer/atlas/atlas.vcxproj
  src/renderer/atlas/dwrite.cpp
  src/renderer/atlas/dwrite.h
  src/renderer/atlas/dwrite.hlsl
  src/renderer/atlas/shader_ps.hlsl
Labels: AutoMerge, Issue-Task, Needs-Second, Area-AtlasEngine

#12272 Fix defterm in wake of auto-elevation
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Priority-0, Area-DefApp

#12264 Rename "Windows Terminal" -> "Terminal"
  doc/cascadia/profiles.schema.json
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
  src/cascadia/CascadiaPackage/Resources/Resources.resw
  src/cascadia/CascadiaPackage/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/Resources/en-US/ContextMenu.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
Labels: Product-Terminal, AutoMerge, Issue-Task

#12209 Add support for ctrl+click on the dropdown to launch elevated
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
Labels: Area-User Interface, Needs-Second

#12257 Add Elevate flag to the SUI
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Product-Terminal, AutoMerge, Needs-Second, Area-Settings UI

#12208 Don't open a hole in the terminal window when pasting
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Severity-Blocking, Needs-Second, Priority-0

#12275 Fix broken reset button on some profile settings
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.h
  src/cascadia/TerminalSettingsEditor/Interaction.h
  src/cascadia/TerminalSettingsEditor/Launch.h
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Utils.h
Labels: AutoMerge, zPreview-Service-Consider

#11720 Update our SUI to follow win 11 guidelines
  src/cascadia/TerminalSettingsEditor/Actions.xaml
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/SettingContainer.cpp
  src/cascadia/TerminalSettingsEditor/SettingContainer.h
  src/cascadia/TerminalSettingsEditor/SettingContainer.idl
  src/cascadia/TerminalSettingsEditor/SettingContainerStyle.xaml
Labels: Issue-Feature, Issue-Bug, Area-User Interface, Product-Terminal, Needs-Second, Priority-3, Area-Settings UI

#12278 AtlasEngine: Fix various ClearType rendering issues
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
Labels: Issue-Bug, AutoMerge, Needs-Second, Priority-2, Area-AtlasEngine

#12144 Add a BreadcrumbBar to the SUI
  .github/actions/spelling/allow/allow.txt
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.idl
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.idl
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles.xaml
  src/cascadia/TerminalSettingsEditor/Profiles_Advanced.cpp
  src/cascadia/TerminalSettingsEditor/Profiles_Advanced.h
  src/cascadia/TerminalSettingsEditor/Profiles_Advanced.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Advanced.xaml
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.cpp
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.h
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.xaml
  src/cascadia/TerminalSettingsEditor/Profiles_Base.cpp
  src/cascadia/TerminalSettingsEditor/Profiles_Base.h
  src/cascadia/TerminalSettingsEditor/Profiles_Base.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Base.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/SettingContainerStyle.xaml
Labels: AutoMerge, Needs-Second

#12277 Simplify the IStateMachineEngine interface
  src/terminal/parser/IStateMachineEngine.hpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/stateMachine.hpp
  src/terminal/parser/ut_parser/StateMachineTest.cpp
Labels: Area-VT, AutoMerge, Product-Meta, Issue-Task

#12285 Move to the 21H1 Helix pool
  build/Helix/OutputTestResults.ps1
  build/pipelines/templates/helix-runtests-job.yml
Labels: zPreview-Service-Consider

#12286 Fix SizeOfSet and PositionInSet for 'Open JSON File' nav item
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
Labels: AutoMerge, Needs-Second, zPreview-Service-Consider

#12287 Fix a number of small issues with the SUI
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Profiles.cpp
  src/cascadia/TerminalSettingsEditor/Profiles_Base.xaml
  src/cascadia/TerminalSettingsEditor/SettingContainerStyle.xaml
Labels: AutoMerge

#12281 Two belling fixes
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalSettingsModel/JsonUtils.h
  src/cascadia/TerminalSettingsModel/Profile.cpp
Labels: Issue-Bug, Area-User Interface, Area-Settings, Product-Terminal, AutoMerge, Priority-1

#12284 Use the macros for duplicating as well
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Needs-Second, Priority-1

#12273 Replaced the sizeof parameter of the if statement with ARRAYSIZE
  src/interactivity/win32/SystemConfigurationProvider.cpp
Labels: AutoMerge

#12301 Make the SearchBox announce if it found results or not
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/EventArgs.cpp
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge, Priority-2, zPreview-Service-Consider
