Repository microsoft/terminal, pull requests merged in 2022-07, with the labels that each got.

#13244 Remove most uses of `CompareInBounds`
  src/buffer/out/textBuffer.cpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/types/UiaTextRangeBase.cpp
  src/types/inc/viewport.hpp
  src/types/viewport.cpp
Labels: AutoMerge, Needs-Second

#13370 Introduce `switchSelectionEndpoint` action
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Issue-Feature, Area-Input, Product-Terminal, AutoMerge

#13414 Update schema with scroll marks actions and settings
  doc/cascadia/profiles.schema.json
Labels: Issue-Docs, Product-Terminal, AutoMerge, Area-Schema

#13433 Fix the bellsound schema, for real
  doc/cascadia/profiles.schema.json
Labels: Needs-Second, Area-Schema

#13435 Update renderer on `SwitchSelectionEndpoint`
  src/cascadia/TerminalControl/ControlCore.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge

#13436 Remove the fallback to wsl.exe when HKCU\...\Lxss doesn't exist
  src/cascadia/TerminalSettingsModel/WslDistroGenerator.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Priority-2

#13368 Switch to VS17 and C++20
  .github/actions/spelling/allow/allow.txt
  .github/actions/spelling/patterns/patterns.txt
  build/pipelines/release.yml
  build/pipelines/templates/build-console-audit-job.yml
  build/pipelines/templates/build-console-ci.yml
  build/pipelines/templates/build-console-fuzzing.yml
  build/pipelines/templates/build-console-pgo.yml
  build/pipelines/templates/build-console-steps.yml
  build/pipelines/templates/test-console-ci.yml
  src/cascadia/WinRTUtils/inc/Utils.h
  src/common.build.pre.props
  src/project.inc
  src/renderer/dx/DxFontRenderData.cpp
Labels: AutoMerge, Area-CodeHealth

#13434 Update tab hover colors
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: AutoMerge

#12992 Initial Theme support
  .github/actions/spelling/allow/apis.txt
  src/cascadia/LocalTests_SettingsModel/SettingsModel.LocalTests.vcxproj
  src/cascadia/LocalTests_SettingsModel/ThemeTests.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/HighlightedText.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TitlebarControl.xaml
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.cpp
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.idl
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/TerminalWarnings.idl
  src/cascadia/TerminalSettingsModel/Theme.cpp
  src/cascadia/TerminalSettingsModel/Theme.h
  src/cascadia/TerminalSettingsModel/Theme.idl
  src/cascadia/TerminalSettingsModel/defaults.json
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
  src/cascadia/WindowsTerminal/pch.h
  src/inc/til/color.h
  src/types/utils.cpp
Labels: Issue-Feature, Area-Settings, Product-Terminal, Issue-Task, Needs-Second, Area-Theming

#13454 Also hide the scroll marks when hiding the scrollbar
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-1

#13049 Add a setting for the unfocused tabRow background color
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Theme.cpp
  src/cascadia/TerminalSettingsModel/Theme.idl
Labels: Area-Settings, Product-Terminal, AutoMerge, Issue-Task, Needs-Second, Area-Theming

#13377 Implement MVVM for the Launch page
  src/cascadia/TerminalSettingsEditor/Launch.cpp
  src/cascadia/TerminalSettingsEditor/Launch.h
  src/cascadia/TerminalSettingsEditor/Launch.idl
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/LaunchViewModel.cpp
  src/cascadia/TerminalSettingsEditor/LaunchViewModel.h
  src/cascadia/TerminalSettingsEditor/LaunchViewModel.idl
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
Labels: Product-Terminal, AutoMerge, Area-Settings UI

#13390 Implement MVVM for the GlobalAppearance page
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.cpp
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.idl
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.cpp
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.idl
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
Labels: Product-Terminal, Area-Settings UI

#13421 Add ability to select where new tab will appear
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.cpp
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.idl
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/EnumMappings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.h
  src/cascadia/TerminalSettingsModel/EnumMappings.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task

#13378 Implement MVVM for the Interaction page
  src/cascadia/TerminalSettingsEditor/Interaction.cpp
  src/cascadia/TerminalSettingsEditor/Interaction.h
  src/cascadia/TerminalSettingsEditor/Interaction.idl
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/InteractionViewModel.cpp
  src/cascadia/TerminalSettingsEditor/InteractionViewModel.h
  src/cascadia/TerminalSettingsEditor/InteractionViewModel.idl
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
Labels: Product-Terminal, AutoMerge, Area-Settings UI

#13391 Implement MVVM for the Rendering page
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/Rendering.cpp
  src/cascadia/TerminalSettingsEditor/Rendering.h
  src/cascadia/TerminalSettingsEditor/Rendering.idl
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsEditor/RenderingViewModel.cpp
  src/cascadia/TerminalSettingsEditor/RenderingViewModel.h
  src/cascadia/TerminalSettingsEditor/RenderingViewModel.idl
Labels: Product-Terminal, AutoMerge, Area-Settings UI

#13458 AtlasEngine: Implement LRU invalidation for glyph tiles
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
Labels: Area-Rendering, AutoMerge, Needs-Second, Area-AtlasEngine

#13476 Allow leading spaces to bypass console aliases
  src/host/alias.cpp
  src/host/alias.h
  src/host/ut_host/AliasTests.cpp
Labels: Product-Conhost, Area-Input, Issue-Bug, AutoMerge, Priority-2, Impact-Compatibility, Area-CookedRead

#13477 AtlasEngine: Improve glyph generation performance
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
Labels: Area-Performance, AutoMerge, Area-AtlasEngine

#13473 Don't set full screen to quake window
  src/cascadia/TerminalApp/AppLogic.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-3, Area-Windowing

#13475 Add line breaks in the debug tap output
  src/cascadia/TerminalApp/DebugTapConnection.cpp
Labels: Area-TerminalConnection, Product-Terminal, AutoMerge, Issue-Task

#13316 Extend test coverage of TestDbcsWriteRead
  src/host/ft_host/CJK_DbcsTests.cpp
Labels: AutoMerge, Area-CodeHealth

#13465 A pile of Theming nits fixes
  src/cascadia/LocalTests_SettingsModel/ThemeTests.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TitlebarControl.cpp
  src/cascadia/TerminalApp/TitlebarControl.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/Theme.cpp
  src/cascadia/TerminalSettingsModel/Theme.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
Labels: Issue-Bug, Product-Terminal, AutoMerge, Area-CodeHealth, Area-Theming

#13483 Send focus events even in ReadOnly mode
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-1

#13405 Add keyboard navigation to hyperlinks
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-Accessibility, Product-Terminal, Issue-Task

#13493 Fix a bad null deref
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: AutoMerge

#13491 Stop our release pipeline from downloading the entire SDK *twice*
  build/packages.config
  build/pipelines/release.yml
  build/pipelines/templates/install-winsdk-steps.yml
  build/scripts/Index-Pdbs.ps1
  build/scripts/Install-WindowsSdkISO.ps1
Labels: AutoMerge

#13492 Port our Daily Loc Submission build out of Azure DevOps to YAML
  build/pipelines/daily-loc-submission.yml
Labels: AutoMerge

#13502 Fix PGO by "installing" a newer version of VCLibs to our app folder
  build/Helix/PrepareHelixPayload.ps1
Labels: AutoMerge

#12530 Draft spec for theming, Mica
  .github/actions/spelling/allow/apis.txt
  .github/actions/spelling/allow/names.txt
  doc/specs/drafts/#3327 - Application Theming/#10509 - Mica.md
  doc/specs/drafts/#3327 - Application Theming/#3327 - Application Theming.md
  doc/specs/drafts/#3327 - Application Theming/AcrylicInTitlebar.png
  doc/specs/drafts/#3327 - Application Theming/AcrylicTerminalBackgroundInTitlebar.png
  doc/specs/drafts/#3327 - Application Theming/Tab-Matches-Terminal-Color-000.png
  doc/specs/drafts/#3327 - Application Theming/mica-in-control-000.png
  doc/specs/drafts/#3327 - Application Theming/tab-buttons-000.png
  doc/specs/drafts/#3327 - Application Theming/whole-window-background-000.png
Labels: Issue-Docs, Product-Terminal, Area-Theming

#13478 Setting for hide window when it loses focus
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.idl
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
Labels: Area-User Interface, AutoMerge, Issue-Task, Area-Remoting

#13341 Update caption buttons to use glyphs
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
Labels: AutoMerge

#13343 Re-enable the setting to adjust the colors of indistinguishable text
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/features.xml
  src/renderer/base/RenderSettings.cpp
  src/renderer/inc/RenderSettings.hpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: Product-Terminal, AutoMerge

#13469 Updated schema with newTabPosition setting
  doc/cascadia/profiles.schema.json
Labels: AutoMerge, Needs-Second, Area-Schema

#13505 Fix bad code in fuzzing_directed.h
  src/terminal/parser/ft_fuzzer/fuzzing_directed.h
Labels: Issue-Bug, AutoMerge

#13496 AtlasEngine: Fix bugs introduced in 66f4f9d and d74b66a
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-1, Area-AtlasEngine

#13534 Fix VS version for compliance build
  build/pipelines/templates/build-console-compliance-job.yml
Labels: AutoMerge

#13530 AtlasEngine: Improve robustness against TextBuffer bugs
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
Labels: Issue-Bug, Severity-Crash, Product-Terminal, AutoMerge, Priority-1, Area-AtlasEngine

#13510 Added Source Code and Send Feedback buttons to About dialog
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task

#13504 Make cmd palette 'go back' button return to previously selected action
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
Labels: Product-Terminal, AutoMerge, Issue-Task, Priority-3, Area-CmdPal

#13517 Remove the api-ms-win-core-synch-l1-2-0 Windows 7 shim
  OpenConsole.sln
  build/pipelines/release.yml
  consolegit2gitfilters.json
  src/api-ms-win-core-synch-l1-2-0/api-ms-win-core-synch-l1-2-0.vcxproj
  src/api-ms-win-core-synch-l1-2-0/api-ms-win-core-synch-l1-2-0.vcxproj.filters
  src/api-ms-win-core-synch-l1-2-0/definitions.def
  src/api-ms-win-core-synch-l1-2-0/main.cpp
  src/cascadia/PublicTerminalCore/PublicTerminalCore.vcxproj
  src/cascadia/WpfTerminalControl/WpfTerminalControl.csproj
  src/cascadia/WpfTerminalTestNetCore/WpfTerminalTestNetCore.csproj
Labels: AutoMerge

#13561 Fix a crash when showTabsInTitlebar:false
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Area-User Interface, Severity-Crash, AutoMerge, Needs-Second, Area-Theming

#13512 Change AdjustIndistinguishableColors to an enum setting instead of a boolean setting
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalCore/ICoreAppearance.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/EnumMappings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.h
  src/cascadia/TerminalSettingsModel/EnumMappings.idl
  src/cascadia/TerminalSettingsModel/IAppearanceConfig.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/inc/ControlProperties.h
  src/renderer/base/RenderSettings.cpp
  src/renderer/inc/RenderSettings.hpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: AutoMerge

#13563 Lock the app names in the pseudoloc locales
  src/cascadia/TerminalApp/Resources/en-US/ContextMenu.resw
Labels: AutoMerge, Needs-Second

#13321 Introduce breaking changes to ReadConsoleOutput
  src/host/directio.cpp
  src/host/ft_host/CJK_DbcsTests.cpp
Labels: Product-Conhost, AutoMerge, Area-Quality, this-will-be-a-breaking-change

#5804 Introduce Mark Mode spec (add-on)
  .github/actions/spelling/expect/expect.txt
  doc/specs/#4993 - Keyboard Selection/Keyboard-Selection.md
  doc/specs/#4993 - Keyboard Selection/images/CopyModeFlowchart.png
  doc/specs/#4993 - Keyboard Selection/images/CopyModeFlowchart.vsdx
  doc/specs/#4993 - Keyboard Selection/images/Half-Y-Beam.png
  doc/specs/#4993 - Keyboard Selection/images/Split-Y-Beam.png
  doc/specs/#4993 - Keyboard Selection/images/Y-Beam.png
  doc/specs/Keyboard-Selection.md
Labels: Issue-Docs, Area-Input, Area-TerminalControl, Product-Terminal

#13577 AtlasEngine: Handle IntenseIsBold
  src/renderer/atlas/AtlasEngine.cpp
Labels: AutoMerge

#13350 Add some notes on building package from commandline
  .github/actions/spelling/allow/apis.txt
  doc/building.md
  tools/bcz.cmd
  tools/bx.ps1
Labels: Issue-Docs, Needs-Second

#13602 Rename newTabPosition values
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: Area-Settings, Product-Terminal, AutoMerge, Issue-Task, Severity-Blocking

#13467 Improve Launch MVVM
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/LaunchViewModel.cpp
  src/cascadia/TerminalSettingsEditor/LaunchViewModel.h
  src/cascadia/TerminalSettingsEditor/LaunchViewModel.idl
Labels: Product-Terminal, AutoMerge, Area-CodeHealth, Area-Settings UI

#13607 AtlasEngine: Fix LRU state after scrolling
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.r.cpp
Labels: Issue-Bug, AutoMerge, Priority-1, Area-AtlasEngine

#13608 AtlasEngine: Remove support for Windows 7
  src/renderer/atlas/AtlasEngine.cpp
Labels: AutoMerge

#13603 Two sets of localtest fixes for July 2022
  src/cascadia/LocalTests_SettingsModel/SerializationTests.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
Labels: Issue-Bug, Severity-Crash, Product-Terminal, AutoMerge, Area-CodeHealth, Priority-1, Area-Theming

#13587 AtlasEngine: Implement remaining grid lines
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
  src/renderer/atlas/shader_ps.hlsl
Labels: Area-Rendering, AutoMerge, Area-AtlasEngine

#13621 Remove outdated MSVC checks
  scratch/ScratchIslandApp/Package/Package.wapproj
  src/cascadia/CascadiaPackage/CascadiaPackage.wapproj
  src/common.build.pre.props
Labels: AutoMerge, Area-CodeHealth

#13616 Don't comment on commits, cause no one's using that
  .github/workflows/spelling2.yml
Labels: Area-Build, AutoMerge, Product-Meta

#13614 Manually quit when the OS tells us to update
  .github/actions/spelling/allow/apis.txt
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
Labels: Issue-Bug, Severity-Crash, Product-Terminal, AutoMerge, Priority-1, Area-Windowing

#13604 Hopefully fix the HandleCommandlineArgs crashes
  .github/actions/spelling/allow/apis.txt
  OpenConsole.sln
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
Labels: Severity-Crash, Product-Terminal, AutoMerge, Area-Remoting

#13179 Implement MVVM for Color Schemes
  src/cascadia/TerminalSettingsEditor/ColorSchemeViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemeViewModel.h
  src/cascadia/TerminalSettingsEditor/ColorSchemeViewModel.idl
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemes.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.idl
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/ColorSchemesPageViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemesPageViewModel.h
  src/cascadia/TerminalSettingsEditor/ColorSchemesPageViewModel.idl
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Product-Terminal, AutoMerge, Area-Settings UI

#13627 Fix the build when the solution dir has spaces
  src/common.nugetversions.targets
Labels: Issue-Bug, Area-Build, AutoMerge, Product-Meta
