Repository microsoft/terminal, pull requests merged in 2022-03, with the labels that each got.

#12580 Fix a crash setting the hotkey during teardown
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
Labels: Severity-Crash, AutoMerge, zStable-Service-Queued-1.12, zPreview-Service-Queued-1.13

#12599 Fix fail-fast due to unlocked FreeProcessData call
  src/server/IoDispatchers.cpp
Labels: Product-Conhost, Issue-Bug, Severity-Crash, AutoMerge, Priority-0, zStable-Service-Queued-1.12, zPreview-Service-Queued-1.13

#12586 Fix RTF generation for Unicode characters
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/host/ut_host/TextBufferTests.cpp
Labels: Issue-Bug, Area-TerminalControl, AutoMerge, Priority-3, Impact-Correctness

#12603 Replace Summon with Show/Hide for improved i18n
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-2, Area-Localization

#12652 Stop making settings.json backups
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Product-Terminal, AutoMerge, Issue-Task, zStable-Service-Queued-1.12, zPreview-Service-Queued-1.13, Area-Settings UI

#12608 Make the Scrollbar 16dips again
  .github/actions/spelling/allow/allow.txt
  src/cascadia/TerminalControl/TermControl.xaml
Labels: Issue-Bug, Area-User Interface, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-3, zPreview-Service-Queued-1.13

#12635 Update the tab colors some more
  src/cascadia/TerminalApp/App.xaml
Labels: Area-User Interface, Product-Terminal, AutoMerge, zPreview-Service-Queued-1.13

#12653 Fix activation context generation for conhost
  src/host/init.cpp
Labels: Product-Conhost, Issue-Bug, AutoMerge, Priority-0, zPreview-Service-Queued-1.13

#12554 Fix Windows 10 support for nearby font loading
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.cpp
  src/features.xml
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/base/FontCache.h
  src/renderer/base/lib/base.vcxproj
  src/renderer/base/lib/base.vcxproj.filters
  src/renderer/dx/DxFontInfo.cpp
  src/renderer/dx/DxFontInfo.h
  src/renderer/dx/DxFontRenderData.cpp
  src/renderer/dx/DxFontRenderData.h
  src/renderer/dx/DxRenderer.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Priority-3, zStable-Service-Queued-1.12, zPreview-Service-Queued-1.13

#12625 Fix showing a dialog multiple times
  src/cascadia/TerminalApp/AppLogic.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Priority-1, zPreview-Service-Queued-1.13

#12644 Remove trailing commas that break the json schema
  doc/cascadia/profiles.schema.json
Labels: Issue-Bug, Product-Terminal, Area-Schema

#12663 Add some disclaimer text to the schemes page
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Priority-1, zPreview-Service-Queued-1.13, Area-Settings UI

#12660 Round our Maximize button to match ControlsV2 styles
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Needs-Second, Priority-3, zPreview-Service-Queued-1.13

#12658 Fix compilation under and enable C++20
  dep/CLI11/CLI11.hpp
  dep/CLI11/README.md
  src/cascadia/LocalTests_SettingsModel/ColorSchemeTests.cpp
  src/cascadia/LocalTests_SettingsModel/TerminalSettingsTests.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettingsModel/FileUtils.cpp
  src/common.build.pre.props
  src/host/ft_host/InitTests.cpp
  src/inc/til/bit.h
  src/inc/til/enumset.h
  src/terminal/parser/ft_fuzzer/fuzzing_directed.h
Labels: Area-Build, AutoMerge, Product-Meta, Issue-Task, Priority-1

#12667 AtlasEngine: Fix ConstBuffer invalidation for background color changes
  src/renderer/atlas/AtlasEngine.cpp
Labels: Area-Rendering, Issue-Bug, Product-Terminal, AutoMerge, Priority-2, zPreview-Service-Queued-1.13, Area-AtlasEngine

#12666 Fix a pair of crashes, likely related to defterm
  .github/actions/spelling/allow/apis.txt
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-0, Area-Remoting

#12669 Fix overflow in Viewport::FromDimensions
  src/renderer/base/renderer.cpp
  src/types/viewport.cpp
Labels: Product-Conhost, Area-Server, Issue-Bug, Severity-Crash, AutoMerge, Priority-1, Impact-Correctness, zInbox-Bug

#12672 Fix the restore failure caused by pulling in two copies of Xaml
  build/packages.config
  common.openconsole.props
  src/cascadia/TerminalApp/packages.config
Labels: Issue-Bug, AutoMerge

#12558 When we delete a profile, focus the delete button automatically
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Base.cpp
  src/cascadia/TerminalSettingsEditor/Profiles_Base.h
  src/cascadia/TerminalSettingsEditor/Profiles_Base.xaml
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, Priority-2, zPreview-Service-Queued-1.13

#12552 AtlasEngine: Reduce shader power draw with explicit branching
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/dwrite.hlsl
  src/renderer/atlas/shader_ps.hlsl
Labels: Area-Rendering, Product-Terminal, AutoMerge, Needs-Second, Area-AtlasEngine

#12687 Fix "Element not found" error during settings loading
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, Priority-1

#12691 Fix the appxbundle version to be the appx version
  build/pipelines/release.yml
Labels: AutoMerge

#12674 Update .NET from unsupported 4.5 to 4.8 to silence VS2022
  src/cascadia/WindowsTerminal_UIATests/WindowsTerminal.UIA.Tests.csproj
  src/cascadia/WindowsTerminal_UIATests/app.config
  src/host/ft_uia/Host.Tests.UIA.csproj
  src/host/ft_uia/app.config
  src/tools/vtapp/App.config
  src/tools/vtapp/VTApp.csproj
Labels: Issue-Bug, AutoMerge

#12568 Eliminate the IRenderTarget interface
  src/buffer/out/cursor.cpp
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/buffer/out/ut_textbuffer/ReflowTests.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/cascadia/UnitTests_TerminalCore/InputTest.cpp
  src/cascadia/UnitTests_TerminalCore/ScreenSizeLimitsTest.cpp
  src/cascadia/UnitTests_TerminalCore/ScrollTest.cpp
  src/cascadia/UnitTests_TerminalCore/SelectionTest.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalApiTest.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalBufferTests.cpp
  src/host/CursorBlinker.cpp
  src/host/ScreenBufferRenderTarget.cpp
  src/host/ScreenBufferRenderTarget.hpp
  src/host/_stream.cpp
  src/host/consoleInformation.cpp
  src/host/host-common.vcxitems
  src/host/lib/hostlib.vcxproj.filters
  src/host/output.cpp
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/host/server.h
  src/host/sources.inc
  src/host/srvinit.cpp
  src/host/ut_host/ConptyOutputTests.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/SearchTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/inc/test/CommonState.hpp
  src/renderer/base/RenderSettings.cpp
  src/renderer/base/lib/base.vcxproj
  src/renderer/base/lib/base.vcxproj.filters
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/inc/DummyRenderTarget.hpp
  src/renderer/inc/DummyRenderer.hpp
  src/renderer/inc/IRenderTarget.hpp
  src/renderer/inc/RenderSettings.hpp
  src/types/IBaseData.h
Labels: Product-Conhost, Area-Rendering, Product-Terminal, AutoMerge, Issue-Task

#12627 Allow fragments to override the name of new profiles
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Priority-1

#12698 Fix exception spam if UIA is running
  src/renderer/uia/UiaRenderer.cpp
Labels: Product-Terminal, AutoMerge, Area-CodeHealth, Needs-Second

#12699 Fix uninitialized memory access in GetConsoleTitleA test
  src/host/ut_host/ApiRoutinesTests.cpp
Labels: AutoMerge, Area-CodeHealth, Needs-Second

#12705 AtlasEngine: Fix ClearType being always enabled
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/shader_ps.hlsl
Labels: Issue-Bug, AutoMerge, Needs-Second, Priority-3, Area-AtlasEngine

#12700 Make conhost history deduplication case-sensitive
  src/host/history.cpp
  src/host/ut_host/CommandLineTests.cpp
Labels: Product-Conhost, Area-Server, Issue-Bug, AutoMerge, Needs-Second, Priority-2, Area-CookedRead

#12724 Clear out g.pRender on cleanup so further tests don't explode
  src/inc/test/CommonState.hpp
Labels: AutoMerge

#12637 Manually copy trailing attributes on a resize
  build/pipelines/templates/build-console-steps.yml
  src/buffer/out/textBuffer.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/screenInfo.cpp
  src/host/ut_host/ScreenBufferTests.cpp
Labels: Product-Conhost, Area-Rendering, Area-Output, Issue-Bug, AutoMerge, Priority-1, Priority-3, Impact-Visual

#12722 Force LTR / logical order for text in GdiEngine
  .github/actions/spelling/expect/expect.txt
  src/renderer/gdi/gdirenderer.hpp
  src/renderer/gdi/lib/gdi.vcxproj
  src/renderer/gdi/paint.cpp
  src/renderer/gdi/precomp.h
  src/renderer/gdi/state.cpp
Labels: Product-Conhost, Area-Rendering, Issue-Bug, AutoMerge, Priority-1

#12735 [Conhost] Notify UIA when letter deleted via backspace
  src/host/_stream.cpp
Labels: Product-Conhost, Area-Accessibility, AutoMerge, zInbox-Bug

#12734 AtlasEngine: Fix grayscale blending shader
  src/renderer/atlas/dwrite.hlsl
  src/renderer/atlas/shader_ps.hlsl
Labels: Issue-Bug, AutoMerge, Area-AtlasEngine

#12737 Change trimBlockSelection default to true
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/defaults.json
  src/cascadia/inc/ControlProperties.h
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge

#12713 Fix engine size not being changed on DPI changes
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
Labels: Area-Rendering, Issue-Bug, Product-Terminal, AutoMerge, Priority-3

#12727 Fix transparency/opacity inconsistency in help text (#12592)
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Product-Terminal, AutoMerge, Area-Settings UI

#12787 Build PublicTerminalCore for ARM64, and package it with WPF
  OpenConsole.sln
  build/pipelines/release.yml
  src/cascadia/WpfTerminalControl/WpfTerminalControl.csproj
Labels: Product-Terminal, AutoMerge, Issue-Task, Area-WPFControl

#12790 Fix the OS build
  src/cascadia/UnitTests_Control/ControlCoreTests.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/cascadia/UnitTests_TerminalCore/ScrollTest.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalBufferTests.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/inc/TestUtils.h
Labels: Issue-Bug, AutoMerge, Area-CodeHealth, zInbox-Bug

#12798 Auto-focus window renamer textbox on open
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Priority-3
