Repository microsoft/terminal, pull requests merged in 2022-04, with the labels that each got.

#12796 Prevent Fuzz pipeline failure by refactoring nuget restore pipeline steps
  build/pipelines/release.yml
  build/pipelines/templates/build-console-audit-job.yml
  build/pipelines/templates/build-console-compliance-job.yml
  build/pipelines/templates/build-console-fuzzing.yml
  build/pipelines/templates/build-console-steps.yml
  build/pipelines/templates/restore-nuget-steps.yml
Labels: AutoMerge

#12819 Force the bundle major version to be over 3000
  build/pipelines/release.yml
Labels: Issue-Bug, Product-Terminal, AutoMerge

#12820 Autocomplete keyframe animations when occluded on Windows 11
  dep/nuget/packages.config
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/common.nugetversions.targets
Labels: AutoMerge

#12825 Try to silently fall back to a local monarch
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/WindowManager.cpp
  src/features.xml
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-1, Area-Remoting

#12803 Add a quote to fix the build for paths with spaces
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
Labels: Issue-Bug, Area-Build, AutoMerge, Product-Meta, Area-CodeHealth

#12823 Include keyboard modalities when processing key events
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Input, Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-3

#12826 Upgrade clang-format to 13.0.1
  src/api-ms-win-core-synch-l1-2-0/main.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/propsheet/dbcs.cpp
  src/propsheet/misc.cpp
  src/propsheet/preview.cpp
  src/renderer/gdi/state.cpp
  tools/packages.config
Labels: AutoMerge

#12833 Replace `RadioButton` expanders with `ComboBox`es
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/Profiles_Advanced.xaml
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.xaml
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-3, Area-Settings UI

#12838 Cache ProposeCommandlineResult locally
  src/cascadia/Remoting/ProposeCommandlineResult.h
  src/cascadia/Remoting/SummonWindowBehavior.h
  src/cascadia/Remoting/WindowManager.cpp
Labels: Product-Terminal, AutoMerge, Area-Remoting

#12835 Spelling / Grammar
  doc/specs/#1790 - Font features and axes-spec.md
  doc/specs/#5000 - Process Model 2.0/#1032 - Elevation Quality of Life Improvements.md
  doc/specs/#5000 - Process Model 2.0/#5000 - Process Model 2.0.md
  doc/specs/#607 - Commandline Arguments for the Windows Terminal.md
  src/buffer/out/AttrRow.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/host/CopyFromCharPopup.cpp
  src/host/exe/CConsoleHandoff.cpp
  src/host/ft_host/API_TitleTests.cpp
  src/host/ft_host/Message_KeyPressTests.cpp
  src/host/ft_uia/AccessibilityTests.cs
  src/host/settings.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/renderer/dx/CustomTextRenderer.cpp
Labels: Area-Build, AutoMerge, Product-Meta

#12840 Manually put our ContentDialogs in the tab content, rather than above
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Severity-Blocking

#12847 Upgrade WinUI2 to 2.7.1
  common.openconsole.props
  dep/nuget/packages.config
  scratch/ScratchIslandApp/Package/Package.wapproj
  scratch/ScratchIslandApp/SampleApp/SampleAppLib.vcxproj
  scratch/ScratchIslandApp/SampleApp/dll/SampleApp.vcxproj
  scratch/ScratchIslandApp/SampleApp/packages.config
  scratch/ScratchIslandApp/WindowExe/WindowExe.vcxproj
  scratch/ScratchIslandApp/WindowExe/packages.config
  src/cascadia/TerminalApp/packages.config
  src/cascadia/TerminalSettingsEditor/packages.config
  src/cascadia/WindowsTerminal/packages.config
Labels: AutoMerge

#12841 Manually focus the scheme dropdown when deleting a scheme
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
Labels: Area-Accessibility, Area-Settings UI

#12851 Fix retail build breaks with unreferenced locals (Closes #12769)
  src/tools/closetest/closetest.cpp
Labels: Issue-Bug, Area-Build, AutoMerge, Product-Meta

#12853 Fix DBCS attribute corruption during reflow
  src/buffer/out/OutputCellIterator.cpp
  src/buffer/out/OutputCellIterator.hpp
  src/buffer/out/textBuffer.cpp
  src/host/ut_host/ScreenBufferTests.cpp
Labels: Issue-Bug, Area-Accessibility, Severity-Crash, Product-Terminal, AutoMerge, Severity-Blocking, Priority-0

#12856 Remove `default_interface` from Monarch
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
Labels: Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Priority-1, Area-Remoting

#12613 Create #4066 - Theme-controlled color scheme switch.md
  .github/actions/spelling/allow/names.txt
  doc/specs/#4066 - Theme-controlled color scheme switch.md
Labels: Issue-Docs, Product-Terminal, AutoMerge

#12526 Enable the Terminal to tell ConPTY who the owner is
  .github/actions/spelling/allow/apis.txt
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalConnection/ConptyConnection.idl
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ICoreState.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/host/PtySignalInputThread.cpp
  src/host/PtySignalInputThread.hpp
  src/host/VtIo.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/inc/conpty-static.h
  src/interactivity/base/InteractivityFactory.cpp
  src/interactivity/base/InteractivityFactory.hpp
  src/interactivity/base/ServiceLocator.cpp
  src/interactivity/inc/IInteractivityFactory.hpp
  src/interactivity/inc/ServiceLocator.hpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/tools/scratch/Scratch.vcxproj
  src/winconpty/winconpty.cpp
  src/winconpty/winconpty.h
Labels: Product-Conpty, Issue-Bug, Needs-Second, Area-Windowing

#12896 Update README.md with prerequisite of Targeting Pack
  README.md
Labels: Issue-Docs, Area-Build, AutoMerge, Product-Meta

#12703 Further refactor and simplify the ConGetSet API
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/PtySignalInputThread.cpp
  src/host/getset.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/host/ut_host/ApiRoutinesTests.cpp
  src/host/ut_host/ClipboardTests.cpp
  src/host/ut_host/CommandLineTests.cpp
  src/host/ut_host/CommandListPopupTests.cpp
  src/host/ut_host/CommandNumberPopupTests.cpp
  src/host/ut_host/ConptyOutputTests.cpp
  src/host/ut_host/CopyFromCharPopupTests.cpp
  src/host/ut_host/CopyToCharPopupTests.cpp
  src/host/ut_host/ObjectTests.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/SelectionTests.cpp
  src/interactivity/inc/IConsoleInputThread.hpp
  src/renderer/base/renderer.hpp
  src/renderer/inc/DummyRenderer.hpp
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/ut_adapter/Adapter.UnitTests.vcxproj
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Issue-Feature, AutoMerge, Product-Meta, Area-CodeHealth

#12855 Add support for rich code navigation in GitHub
  build/pipelines/ci.yml
  build/pipelines/templates/build-console-ci.yml
  build/pipelines/templates/codenav-indexer.yml
Labels: AutoMerge

#12904 Another attempt at fixing nearby font loading
  src/renderer/base/FontCache.h
Labels: Area-Fonts, Issue-Bug, Product-Terminal, AutoMerge, Priority-1

#12719 Don't reflow the alt buffer on resize
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/UnitTests_Control/ControlInteractivityTests.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/renderer/vt/vtrenderer.hpp
Labels: Product-Conpty, Area-Output, Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-1

#12910 Add support for rich code navigation in GitHub, redux
  build/pipelines/ci.yml
  build/pipelines/templates/build-console-ci.yml
  build/pipelines/templates/codenav-indexer.yml
Labels: Area-Build, Product-Meta

#12906 Fix profile commandlines being overwritten by profile.defaults
  src/cascadia/LocalTests_SettingsModel/ProfileTests.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Priority-2

#12931 git2git: remove some more things from the OS build
  consolegit2gitfilters.json
Labels: AutoMerge

#12926 add missing breaks
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Issue-Bug, Product-Terminal, Needs-Second, Priority-3, Area-Windowing

#12799 Allow windows created by console apps to appear above the Terminal
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/host/CursorBlinker.cpp
  src/server/IoDispatchers.cpp
  src/terminal/adapter/IInteractDispatch.hpp
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/adapter/InteractDispatch.hpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
Labels: Product-Conpty, Issue-Bug, Area-Windowing

#12899 Ensure a terminal requesting FG rights actually has them
  src/host/outputStream.cpp
  src/interactivity/inc/ServiceLocator.hpp
  src/terminal/adapter/InteractDispatch.cpp
Labels: Area-Windowing

#12207 Introduce VTInt to represent VT parameters
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/cascadia/UnitTests_TerminalCore/SelectionTest.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalApiTest.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/inc/til/point.h
  src/inc/til/rect.h
  src/inc/til/size.h
  src/interactivity/win32/windowio.cpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/FontBuffer.cpp
  src/terminal/adapter/FontBuffer.hpp
  src/terminal/adapter/IInteractDispatch.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/adapter/InteractDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/MouseInputTest.cpp
  src/terminal/adapter/ut_adapter/WexHelpers.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/input/mouseInput.cpp
  src/terminal/input/terminalInput.hpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/stateMachine.hpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Product-Conhost, Product-Terminal, AutoMerge, Issue-Task, Area-CodeHealth

#12900 Plumb Focus events through VT Input
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalCore/ITerminalInput.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/host/inputBuffer.cpp
  src/renderer/vt/VtSequences.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/input/terminalInput.cpp
  src/terminal/input/terminalInput.hpp
Labels: Product-Conhost, Product-Conpty, Area-Input, Area-VT, Product-Terminal, AutoMerge, Issue-Task

#12916 Misc visual fixes
  src/cascadia/TerminalApp/App.xaml
  src/cascadia/TerminalApp/ColorPickupFlyout.cpp
  src/cascadia/TerminalApp/ColorPickupFlyout.xaml
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
  src/cascadia/TerminalApp/TabHeaderControl.xaml
  src/cascadia/TerminalApp/TabRowControl.xaml
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalApp/TitlebarControl.xaml
  src/cascadia/TerminalControl/TermControl.xaml
Labels: Area-User Interface, Product-Terminal, AutoMerge, Needs-Second

#12893 Add experimental setting to make bg images fit the whole tab
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalApp/pch.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/inc/ControlProperties.h
Labels: Issue-Feature, Area-Extensibility, Area-Settings, Product-Terminal, AutoMerge

#12515 Propagate show/hide window calls against the ConPTY pseudo window to the Terminal
  .github/actions/spelling/allow/apis.txt
  .github/actions/spelling/expect/expect.txt
  doc/specs/#12570 - Show Hide operations on GetConsoleWindow via PTY.md
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalConnection/ConptyConnection.idl
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/EventArgs.cpp
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/ITerminalApi.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalDispatch.cpp
  src/cascadia/TerminalCore/TerminalDispatch.hpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/host/PtySignalInputThread.cpp
  src/host/PtySignalInputThread.hpp
  src/host/VtIo.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/inc/conpty-static.h
  src/interactivity/base/InteractivityFactory.cpp
  src/interactivity/base/InteractivityFactory.hpp
  src/interactivity/base/ServiceLocator.cpp
  src/interactivity/inc/IInteractivityFactory.hpp
  src/interactivity/inc/ServiceLocator.hpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/XtermEngine.hpp
  src/renderer/vt/vtrenderer.hpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/conGetSet.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/winconpty/winconpty.cpp
  src/winconpty/winconpty.h
Labels: Product-Conpty, Area-Interaction, Issue-Bug, Product-Terminal

#12980 Build a NuGet Package for ConPTY
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect/expect.txt
  build/config/ESRPSigning_ConPTY.json
  build/pipelines/release.yml
  src/cascadia/TerminalConnection/TerminalConnection.vcxproj
  src/host/ft_host/Host.FeatureTests.vcxproj
  src/inc/conpty-static.h
  src/winconpty/dll/winconpty.def
  src/winconpty/package/managed/Microsoft.Windows.Console.ConPTY.props
  src/winconpty/package/managed/Microsoft.Windows.Console.ConPTY.targets
  src/winconpty/package/native/Microsoft.Windows.Console.ConPTY.props
  src/winconpty/package/native/Microsoft.Windows.Console.ConPTY.targets
  src/winconpty/package/winconpty.nuspec
  src/winconpty/winconpty.cpp
Labels: Issue-Feature, Product-Conpty, Area-Build, AutoMerge

#12973 Settings UI tweaks
  src/cascadia/TerminalApp/App.xaml
  src/cascadia/TerminalApp/ColorPickupFlyout.xaml
  src/cascadia/TerminalSettingsEditor/Actions.xaml
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/Converters.cpp
  src/cascadia/TerminalSettingsEditor/Converters.h
  src/cascadia/TerminalSettingsEditor/Converters.idl
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.xaml
  src/cascadia/TerminalSettingsEditor/Profiles_Base.xaml
Labels: Product-Terminal, AutoMerge, Issue-Task, Area-CodeHealth, Needs-Second, Area-Settings UI

#13001 Fix a crash when resizing conhost in Debug
  src/renderer/base/renderer.cpp
Labels: Product-Conhost, Area-Output, Issue-Bug, Severity-Crash, Priority-0
