Repository microsoft/terminal, pull requests merged in 2022-08, with the labels that each got.

#13549 AtlasEngine: Scale glyphs to better fit the cell size
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
  src/renderer/atlas/DWriteTextAnalysis.cpp
  src/renderer/atlas/DWriteTextAnalysis.h
  src/renderer/atlas/atlas.vcxproj
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-2, Area-AtlasEngine

#13348 Add support for hiding the tab close button
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/Theme.idl
Labels: Product-Terminal, AutoMerge, Issue-Task, Area-Theming

#13646 Fix a couple of issues with color scheme MVVM
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/ColorSchemesPageViewModel.cpp
Labels: AutoMerge, Needs-Second

#13644 Fix a crash on settings reload
  src/cascadia/TerminalApp/AppLogic.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Severity-Blocking, Priority-1

#13650 AtlasEngine: Recognize Powerline glyphs
  src/renderer/atlas/AtlasEngine.r.cpp
Labels: Area-Rendering, Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Priority-3

#13638 GdiEngine: Invalidate entire rows at a time
  src/renderer/gdi/invalidate.cpp
Labels: AutoMerge

#13655 [Schema] Move scroll mark settings from global to profile settings
  doc/cascadia/profiles.schema.json
Labels: Issue-Docs, Product-Terminal, Needs-Second, Area-Schema

#13656 Scroll to top when select all action is invoked
  src/cascadia/TerminalCore/TerminalSelection.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Needs-Second, Priority-3

#13649 Fix _isDefTermSession not propagating upon pane split/close
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
Labels: AutoMerge

#13667 Fix input corruption for high code points
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/stateMachine.hpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Area-Input, Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-2

#13674 Use only one tab color picker for all tabs, delay load it
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: AutoMerge

#13661 Fix the ConPTY extended attributes optimization
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/renderer/vt/paint.cpp
Labels: Area-Rendering, Product-Conpty, Issue-Bug, AutoMerge, Severity-Blocking, Priority-0

#13665 Fix conpty not emitting colored spaces on the VERY FIRST frame
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/ut_host/ConptyOutputTests.cpp
  src/inc/TestUtils.h
  src/renderer/vt/paint.cpp
Labels: Area-Rendering, Product-Conpty, Issue-Bug, AutoMerge, Priority-3

#13688 Replace result codes with exceptions in JumpList
  src/cascadia/TerminalApp/Jumplist.cpp
  src/cascadia/TerminalApp/Jumplist.h
Labels: AutoMerge, Area-CodeHealth

#13677 Clean up TSFInputControl a bit
  src/cascadia/TerminalControl/TSFInputControl.cpp
  src/cascadia/TerminalControl/TSFInputControl.h
Labels: Area-CodeHealth, Automerge-Not-Compatible

#13625 Add VC++ v14 Framework dependency note
  README.md
Labels: AutoMerge, Needs-Second, Area-Quality

#13702 Stop writing optional theme fields
  src/cascadia/TerminalSettingsModel/Theme.cpp
  src/cascadia/TerminalSettingsModel/Theme.h
Labels: Issue-Bug, Product-Terminal, AutoMerge, Severity-Blocking, Priority-1, Area-Theming

#13712 [1.14/5] Propagate the color scheme resw changes from df671377
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Area-Build, AutoMerge, Product-Meta, Issue-Task, Severity-Blocking, Area-Localization

#13709 Update prerequisites to include VS 2022
  .vsconfig
  CONTRIBUTING.md
  README.md
Labels: Issue-Docs, AutoMerge

#13686 Use wyhash for <til/hash.h>
  .github/actions/spelling/expect/expect.txt
  NOTICE.md
  oss/wyhash/LICENSE
  oss/wyhash/MAINTAINER_README.md
  oss/wyhash/cgmanifest.json
  src/buffer/out/UnicodeStorage.hpp
  src/inc/til/hash.h
  src/til/ut_til/HashTests.cpp
  src/til/ut_til/til.unit.tests.vcxproj
  src/til/ut_til/til.unit.tests.vcxproj.filters
Labels: AutoMerge, Area-Quality

#13693 Disallow certain non-filename characters in Export Text
  src/cascadia/TerminalApp/TabManagement.cpp
  src/inc/til/string.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Priority-3

#13707 Flash the pane dark when BEL is emitted in a light terminal
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/XamlLights.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-3

#13678 Fix issues with Japanese & Vietnamese IME
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalControl/TSFInputControl.cpp
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Area-Input, Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Needs-Second, Priority-1, Area-i18n

#13706 Fixe arg parsing when one-character argument is followed by `;`
  src/cascadia/LocalTests_TerminalApp/CommandlineTest.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Priority-2, Area-Commandline

#13748 Make sure the inverted cursor is always readable (#3647)
  .github/actions/spelling/allow/apis.txt
  src/renderer/atlas/shader_ps.hlsl
  src/renderer/dx/CustomTextRenderer.cpp
  src/renderer/gdi/paint.cpp
Labels: Product-Conhost, Area-Rendering, Issue-Bug, Area-User Interface, AutoMerge, Priority-3

#13758 Call UpdatePatternLocations from a background thread
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-1

#13752 Enable AtlasEngine by default in Preview
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Advanced.xaml
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/features.xml
  src/interactivity/win32/window.cpp
  src/interactivity/win32/window.hpp
Labels: AutoMerge

#13698 Skip whitespace removal for multiline pastes
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/types/inc/utils.hpp
  src/types/ut_types/UtilsTests.cpp
  src/types/utils.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Priority-3

#13760 Restore type inference and integer casting changes in VtEngine
  src/renderer/vt/paint.cpp
Labels: Area-VT, AutoMerge, Area-CodeHealth

#13757 AtlasEngine: Fix debugGlyphGenerationPerformance
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
Labels: AutoMerge, Area-CodeHealth, Area-AtlasEngine

#13759 Use the redirection service for recently added URLs
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Issue-Bug, Product-Terminal, AutoMerge, Severity-Blocking, Needs-Second

#13766 Allow til::from_wchars to work with chars
  src/cascadia/TerminalSettingsModel/KeyChordSerialization.cpp
  src/inc/til/string.h
  src/til/ut_til/string.cpp
Labels: AutoMerge, Area-CodeHealth, Needs-Second, Area-Quality

#13777 Fix a crash in `_WritePseudoWindowCallback`
  src/host/VtIo.cpp
Labels: AutoMerge

#13778 Fix a crash on exit with the command palette open
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: AutoMerge

#13784 AtlasEngine: Fix the fix for LRU state after scrolling
  src/renderer/atlas/AtlasEngine.cpp
Labels: Issue-Bug, AutoMerge, Severity-Blocking, Needs-Second, Priority-1, Area-AtlasEngine

#13786 [1.14] Use the viewport-rel. cursor pos for CursorPosition
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
Labels: Area-Input, Issue-Bug, Area-TerminalControl, Product-Terminal, Priority-1

#13785 Use the viewport-relative cursor pos for CCore.CursorPosition
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
Labels: Area-Input, Issue-Bug, Area-TerminalControl, Product-Terminal, Priority-1

#13659 Make Mark Mode keybindings precede custom keybindings
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Issue-Bug, Area-TerminalControl, AutoMerge, Priority-1

#13832 Fix two race conditions around pseudo window visibility
  src/host/VtIo.cpp
  src/host/VtIo.hpp
  src/interactivity/base/InteractivityFactory.cpp
  src/interactivity/base/InteractivityFactory.hpp
  src/interactivity/base/ServiceLocator.cpp
  src/interactivity/inc/IInteractivityFactory.hpp
  src/interactivity/inc/ServiceLocator.hpp
Labels: Product-Conpty, Issue-Bug, Severity-Crash, AutoMerge, Priority-0

#13833 AtlasEngine: Round cell sizes to nearest instead of up
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.r.cpp
Labels: AutoMerge, Issue-Task, Area-AtlasEngine

#13694 Disable "Always show tabs" when "Hide the title bar" is enabled
  src/cascadia/TerminalSettingsEditor/GlobalAppearance.xaml
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.cpp
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.idl
Labels: Issue-Bug, AutoMerge, Priority-3, Area-Settings UI

#13839 Fix a subtle issue with PropertyChanged in ViewModels
  src/cascadia/TerminalSettingsEditor/ColorSchemeViewModel.h
  src/cascadia/TerminalSettingsEditor/ColorSchemesPageViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemesPageViewModel.h
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.h
  src/cascadia/TerminalSettingsEditor/InteractionViewModel.h
  src/cascadia/TerminalSettingsEditor/ViewModelHelpers.h
Labels: Issue-Bug, AutoMerge, Area-CodeHealth, Area-Settings UI

#13779 [UIA] Prevent erroneous `L'\0'` padding in `GetText(INT_MAX)`
  src/types/UiaTextRangeBase.cpp
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge, Priority-2

#13494 [Follow-up] Polish keyboard navigation to hyperlinks
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Needs-Author-Feedback, AutoMerge, Needs-Second

#13519 [a11y] Make CommandPalette announce selected item
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
  src/cascadia/TerminalApp/CommandPalette.xaml
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge, Priority-3

#13570 Wire up passing LNK/EXE data from OpenCon to ITerminalHandoff
  scratch/ScratchIslandApp/SampleApp/SampleAppLib.vcxproj
  scratch/ScratchIslandApp/SampleApp/dll/SampleApp.vcxproj
  scratch/ScratchIslandApp/WindowExe/SampleIslandWindow.cpp
  scratch/ScratchIslandApp/WindowExe/WindowExe.vcxproj
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalConnection/CTerminalHandoff.cpp
  src/cascadia/TerminalConnection/CTerminalHandoff.h
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalConnection/ConptyConnection.idl
  src/host/proxy/ITerminalHandoff.idl
  src/host/srvinit.cpp
  src/interactivity/inc/ISystemConfigurationProvider.hpp
  src/interactivity/onecore/SystemConfigurationProvider.cpp
  src/interactivity/onecore/SystemConfigurationProvider.hpp
  src/interactivity/win32/SystemConfigurationProvider.cpp
  src/interactivity/win32/SystemConfigurationProvider.hpp
Labels: Area-Server, Product-Terminal, AutoMerge, Issue-Task, Needs-Second, Area-DefApp, Automerge-Not-Compatible

#13547 Add action for closing all unfocused panes
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task

#13858 Stop throwing exceptions for FontIcons
  src/cascadia/TerminalSettingsModel/IconPathConverter.cpp
Labels: AutoMerge

#13872 Remove the `useMica` key
  src/cascadia/LocalTests_SettingsModel/ThemeTests.cpp
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Theme.idl
Labels: AutoMerge, Needs-Second

#13857 Attempt to fix the _refreshSizeUnderLock crash
  src/cascadia/TerminalControl/ControlCore.cpp
Labels: Issue-Bug, Area-TerminalControl, Severity-Crash, Product-Terminal, AutoMerge, Priority-1

#13859 Fix a race condition in UpdatePatternLocations
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-1

#13887 Add `$schema` to `cgmanifest.json`
  dep/CLI11/cgmanifest.json
  dep/jsoncpp/cgmanifest.json
  oss/boost/cgmanifest.json
  oss/chromium/cgmanifest.json
  oss/dynamic_bitset/cgmanifest.json
  oss/fmt/cgmanifest.json
  oss/interval_tree/cgmanifest.json
  oss/libpopcnt/cgmanifest.json
  oss/pcg/cgmanifest.json
  oss/wyhash/cgmanifest.json
  oss/xorg_apps_rgb/cgmanifest.json
Labels: AutoMerge

#13689 Add support for `tab.unfocusedBackground`
  src/cascadia/TerminalApp/App.xaml
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/SettingsTab.h
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Theme.cpp
  src/cascadia/TerminalSettingsModel/Theme.h
  src/cascadia/TerminalSettingsModel/Theme.idl
  src/cascadia/WinRTUtils/inc/Utils.h
  src/inc/til/color.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Issue-Task, Needs-Second, Priority-3, Area-Theming

#13816 AtlasEngine: Improve RDP performance
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Area-AtlasEngine

#13869 Discard empty command histories before discarding LRU non-empty ones
  src/host/history.cpp
Labels: Product-Conhost, AutoMerge, Issue-Task, Area-CookedRead

#13886 AtlasEngine: Add support for SetSoftwareRendering
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
Labels: Product-Terminal, AutoMerge, Needs-Second, Area-AtlasEngine

#13871 Fixes the color of the dropdown arrow in weird themes
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: AutoMerge

#13269 Rejuvenate the color schemes page
  src/cascadia/TerminalSettingsEditor/ColorSchemeViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemeViewModel.h
  src/cascadia/TerminalSettingsEditor/ColorSchemeViewModel.idl
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemes.h
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
  src/cascadia/TerminalSettingsEditor/ColorSchemesPageViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemesPageViewModel.h
  src/cascadia/TerminalSettingsEditor/ColorSchemesPageViewModel.idl
  src/cascadia/TerminalSettingsEditor/EditColorScheme.cpp
  src/cascadia/TerminalSettingsEditor/EditColorScheme.h
  src/cascadia/TerminalSettingsEditor/EditColorScheme.idl
  src/cascadia/TerminalSettingsEditor/EditColorScheme.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.idl
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/SettingContainer.cpp
  src/cascadia/TerminalSettingsEditor/SettingContainer.h
  src/cascadia/TerminalSettingsEditor/SettingContainer.idl
  src/cascadia/TerminalSettingsEditor/SettingContainerStyle.xaml
Labels: Issue-Feature, Product-Terminal, AutoMerge, Priority-2, Area-Settings UI

#13692 Call UpdateJumplist only if the settings changed
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalSettingsModel/ApplicationState.h
  src/cascadia/TerminalSettingsModel/ApplicationState.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/FileUtils.cpp
  src/cascadia/TerminalSettingsModel/FileUtils.h
Labels: Area-Performance, Product-Terminal, AutoMerge, Issue-Task, Needs-Second

#13429 Implement EnableColorSelection
  .github/actions/spelling/allow/apis.txt
  doc/cascadia/profiles.schema.json
  src/buffer/out/LineRendition.hpp
  src/buffer/out/search.cpp
  src/buffer/out/search.h
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/ICoreAppearance.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/ActionMap.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.h
  src/cascadia/TerminalSettingsModel/EnumMappings.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/enableColorSelection.json
  src/inc/til/point.h
Labels: Issue-Feature, Area-Output, Area-TerminalControl, Product-Terminal, AutoMerge
