Repository microsoft/terminal, pull requests merged in 2022-06, with the labels that each got.

#13208 Add support for the DECPS (Play Sound) escape sequence
  .github/actions/spelling/expect/expect.txt
  OpenConsole.sln
  src/audio/midi/MidiAudio.cpp
  src/audio/midi/MidiAudio.hpp
  src/audio/midi/lib/midi.vcxproj
  src/audio/midi/precomp.cpp
  src/audio/midi/precomp.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/TerminalControlLib.vcxproj
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/host/consoleInformation.cpp
  src/host/host-common.vcxitems
  src/host/output.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/server.h
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/ITerminalApi.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/stateMachine.hpp
  src/terminal/parser/telemetry.cpp
  src/terminal/parser/telemetry.hpp
Labels: Issue-Feature, Area-VT, Product-Terminal

#13139 Add support for restoring a DECCTR color table report
  .github/actions/spelling/expect/expect.txt
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/types/inc/utils.hpp
  src/types/utils.cpp
Labels: Issue-Feature, AutoMerge

#13219 Introduce `toggleBlockSelection` action
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: AutoMerge

#13237 Reorder "save" and "discard changes" buttons in the SUI
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
Labels: Issue-Bug, AutoMerge, Issue-Task, Area-Settings UI

#13160 Use feature markers during terminal-by-default handoff
  .github/actions/spelling/expect/expect.txt
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/DefaultTerminal.cpp
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/host/exe/CConsoleHandoff.h
  src/host/exe/exemain.cpp
  src/host/globals.h
  src/host/proxy/IConsoleHandoff.idl
  src/host/srvinit.cpp
  src/inc/conint.h
  src/internal/stubs.cpp
  src/propsheet/TerminalPropsheetPage.cpp
  src/propsheet/console.cpp
  src/propsheet/console.h
  src/propsheet/console.rc
  src/propsheet/globals.cpp
  src/propsheet/globals.h
  src/propslib/DelegationConfig.cpp
  src/propslib/DelegationConfig.hpp
  src/server/IoDispatchers.cpp
Labels: Product-Terminal, AutoMerge, Priority-1, Area-DefApp

#13242 Fix deleting the last profile crashing Terminal
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
Labels: Issue-Bug, Area-Settings, Severity-Crash, Product-Terminal, AutoMerge, Priority-1

#13254 Restore OpenConsoleProxyStub's dependency on the CRT to fix QI
  .github/actions/spelling/expect/expect.txt
  src/host/proxy/Host.Proxy.vcxproj
  src/host/proxy/Host.Proxy.vcxproj.filters
  src/host/proxy/nodefaultlib_shim.h
Labels: Issue-Bug, Product-Terminal, AutoMerge, Severity-Blocking, Priority-0, Area-DefApp

#13256 Fix signed/unsigned arithmetic bug during scrolling
  src/host/scrolling.cpp
  src/host/scrolling.hpp
Labels: Product-Conhost, Area-Input, Issue-Bug, AutoMerge, Severity-Blocking, Priority-0

#13163 Implement the FTCS_PROMPT sequence for marking the start of the prompt
  .github/actions/spelling/allow/allow.txt
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
Labels: Area-VT, Product-Terminal, AutoMerge, Issue-Task

#13247 Make sure foreground access works for DefTerm
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/host/ConsoleArguments.cpp
  src/host/input.cpp
  src/host/srvinit.cpp
  src/inc/HostSignals.hpp
  src/interactivity/base/HostSignalInputThread.cpp
  src/interactivity/base/RemoteConsoleControl.cpp
  src/interactivity/base/RemoteConsoleControl.hpp
  src/interactivity/inc/IConsoleControl.hpp
  src/interactivity/onecore/ConsoleControl.cpp
  src/interactivity/onecore/ConsoleControl.hpp
  src/interactivity/win32/ConsoleControl.cpp
  src/interactivity/win32/ConsoleControl.hpp
  src/server/ProcessList.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Severity-Blocking, Needs-Second, Priority-0, Area-DefApp, Area-Windowing

#13265 Add "JSON" to the "Open settings file" command names
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task, Needs-Second

#13234 Update roadmap for 1.13, 1.14.
  .github/actions/spelling/allow/allow.txt
  README.md
  doc/roadmap-2022.md
Labels: Issue-Docs, AutoMerge, Product-Meta

#13250 Fix a11y crash in alt buffer apps
  src/cascadia/TerminalCore/Terminal.cpp
  src/types/UiaTextRangeBase.cpp
  src/types/viewport.cpp
Labels: Issue-Bug, Area-Accessibility, Severity-Crash, Product-Terminal, AutoMerge, Severity-Blocking, Needs-Second, Priority-0

#12907 Initialize Terminal Preview settings from Terminal settings
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/FileUtils.cpp
  src/cascadia/TerminalSettingsModel/FileUtils.h
Labels: Area-Settings, Product-Terminal, AutoMerge, Issue-Task

#13261 Accept color name "magenta" instead of "purple"
  src/cascadia/TerminalSettingsModel/ColorScheme.cpp
Labels: Area-Settings, Product-Terminal, AutoMerge, Issue-Task

#13260 Filter focus events that came from the API
  .github/actions/spelling/allow/allow.txt
  src/terminal/adapter/ut_adapter/inputTest.cpp
  src/terminal/input/terminalInput.cpp
  src/types/FocusEvent.cpp
  src/types/inc/IInputEvent.hpp
Labels: Product-Conpty, Area-Input, Issue-Bug, AutoMerge, Needs-Second, Priority-2

#13227 Restore the DECCTR color table report over conpty
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/stateMachine.hpp
Labels: Issue-Feature, AutoMerge

#13080 Add an accelerator key for the shell extension
  src/cascadia/TerminalApp/Resources/en-US/ContextMenu.resw
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-3, Area-ShellExtension, Needs-Discussion

#13271 Fix uninitialized memory bug in GdiEngine
  src/interactivity/win32/WindowIme.cpp
  src/interactivity/win32/window.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/gdi/paint.cpp
  src/renderer/gdi/state.cpp
Labels: Product-Conhost, Area-Rendering, Issue-Bug, AutoMerge, Priority-1

#13282 Fix mis-aligned Navigationview footer and save buttons in the settings page
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
Labels: AutoMerge, Area-Settings UI

#13289 Fix an issue preventing the compliance pipeline from running
  build/pipelines/templates/build-console-compliance-job.yml
Labels: Area-Build, AutoMerge

#13291 Update the scrollbar postiton on `scrollToMark`
  src/cascadia/TerminalControl/ControlCore.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Needs-Second

#13292 Regenerate CodepointWidthDetector from Unicode 14.0
  src/types/CodepointWidthDetector.cpp
Labels: AutoMerge

#13309 Fix a deadlock in ShowWindow
  src/host/outputStream.cpp
Labels: Product-Conhost, Issue-Bug, AutoMerge, Severity-Blocking, Needs-Second, Priority-0, Area-Windowing

#13324 Make sure conpty is flushed before clearing scrollback
  src/host/_output.cpp
  src/host/getset.cpp
Labels: Product-Conpty, Area-Server, Area-VT, Issue-Bug, AutoMerge, Priority-2

#10865 Add selection marker overlays for keyboard selection
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/EventArgs.cpp
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.xaml
  src/cascadia/TerminalControl/pch.h
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
Labels: Area-TerminalControl, AutoMerge

#13344 Dismiss Terminal-by-default banner on handoff
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Severity-Blocking, Priority-0, Area-DefApp

#13318 Fix moving selection past scroll area
  src/cascadia/TerminalCore/TerminalSelection.cpp
Labels: AutoMerge, Needs-Second

#13352 Disable the VT color quirk for pwsh and modern inbox powershell
  src/server/ConsoleShimPolicy.cpp
  src/server/ConsoleShimPolicy.h
  src/server/ProcessHandle.cpp
Labels: Area-Output, Area-VT, Product-Terminal, AutoMerge, Issue-Task, Needs-Second

#13384 Fix coordSizeUnscaled calculation in AtlasEngine
  src/renderer/atlas/AtlasEngine.api.cpp
Labels: Issue-Bug, AutoMerge, Priority-3, Area-AtlasEngine

#13360 [1.14] Fix keyboard selection and copyOnSelect interaction
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
Labels: AutoMerge
