Repository microsoft/terminal, pull requests merged in 2022-09, with the labels that each got.

#13897 Remove the 1px gap under inactive tabs
  src/cascadia/TerminalApp/App.xaml
Labels: Issue-Bug, AutoMerge, Needs-Second, Area-Theming

#13903 atlas: only enable continuous redraw if the shader needs it
  src/renderer/atlas/AtlasEngine.cpp
Labels: Product-Terminal, AutoMerge, Issue-Task, Priority-3, Area-AtlasEngine

#13902 Fix crash on save in rejuv'd Color Schemes page
  src/cascadia/TerminalSettingsEditor/ColorSchemesPageViewModel.cpp
Labels: AutoMerge, Severity-Blocking

#13876 An attempted fix for the `SignalTextChanged` crash
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControlAutomationPeer.cpp
  src/cascadia/TerminalControl/TermControlAutomationPeer.h
Labels: Issue-Bug, Area-TerminalControl, Severity-Crash, Product-Terminal, AutoMerge, Priority-1

#13907 Revert "Remove most uses of `CompareInBounds` (#13244)"
  src/buffer/out/textBuffer.cpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/types/UiaTextRangeBase.cpp
  src/types/inc/viewport.hpp
  src/types/viewport.cpp
Labels: Issue-Bug, Area-Accessibility, AutoMerge, Severity-Blocking

#13906 AtlasEngine: Fix various bugs found in testing
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
  src/renderer/atlas/pch.h
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/inc/IRenderEngine.hpp
Labels: Issue-Bug, Severity-Crash, Product-Terminal, AutoMerge, Severity-Blocking, Area-AtlasEngine

#13894 Add support for DECBKM (Backarrow Key Mode)
  .github/actions/spelling/expect/expect.txt
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/ut_adapter/inputTest.cpp
  src/terminal/input/terminalInput.cpp
  src/terminal/input/terminalInput.hpp
Labels: Product-Conhost, AutoMerge, Issue-Task

#13882 Fix a ControlCore race condition on connection close
  src/cascadia/TerminalConnection/AzureConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
Labels: Issue-Bug, Area-TerminalConnection, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-1

#13915 Use the tab's active title for `Export Text`
  src/cascadia/TerminalApp/TabManagement.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Needs-Second, Priority-3

#13893 Polish MarkMode interactions with ExpandSelectionToWord and existing selection
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
Labels: AutoMerge

#13939 AtlasEngine: Remove experimental tag and add tracing
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsEditor/RenderingViewModel.cpp
  src/cascadia/TerminalSettingsEditor/RenderingViewModel.h
  src/cascadia/TerminalSettingsEditor/RenderingViewModel.idl
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
Labels: Area-Settings, Product-Terminal, AutoMerge, Area-AtlasEngine

#13947 Disable RTTI on TerminalApp and friends
  dep/CLI11/cgmanifest.json
  scratch/ScratchIslandApp/SampleApp/SampleAppLib.vcxproj
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
Labels: AutoMerge

#13950 Fix conhost crashing on `--headless` without `--signal`
  src/host/VtIo.cpp
Labels: Issue-Bug, AutoMerge

#13951 Reduce amount of telemetry events
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/main.cpp
  src/inc/WilErrorReporting.h
Labels: Product-Terminal, AutoMerge, Area-CodeHealth, Priority-1, Gathering-Data

#13946 Fix til::color::layer_over
  src/inc/til/color.h
  src/til/ut_til/ColorTests.cpp
Labels: Needs-Author-Feedback, AutoMerge, Severity-Blocking, Area-Theming

#13956 AtlasEngine: Fix a correctness bug
  src/renderer/atlas/AtlasEngine.h
Labels: Issue-Bug, Area-AtlasEngine

#13933 Pass through line rendition attributes over conpty
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/base/RenderEngineBase.cpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/gdi/gdirenderer.hpp
  src/renderer/gdi/state.cpp
  src/renderer/inc/IRenderEngine.hpp
  src/renderer/inc/RenderEngineBase.hpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
Labels: Issue-Feature, Area-Rendering, Area-VT, Product-Terminal, AutoMerge

#13969 Make sure Terminal state machine always accepts C1 controls
  src/cascadia/TerminalCore/Terminal.cpp
  src/terminal/parser/stateMachine.cpp
  src/terminal/parser/stateMachine.hpp
Labels: Issue-Bug, AutoMerge

#13965 Pass through soft fonts over conpty
  src/renderer/vt/Xterm256Engine.cpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
Labels: AutoMerge

#14001 Regenerate CodepointWidthDetector from Unicode 15.0
  src/types/CodepointWidthDetector.cpp
Labels: Area-Output, Product-Terminal, AutoMerge, Issue-Task

#13975 This is a test of the add-to-project action
  .github/workflows/addToProject.yml
Labels: AutoMerge, Product-Meta

#13998 Relax shader strictness in RELEASE mode
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/renderer/atlas/AtlasEngine.cpp
Labels: Issue-Bug, AutoMerge, Priority-3, Area-AtlasEngine

#13994 AtlasEngine: Properly detect shader model 4 support
  src/renderer/atlas/AtlasEngine.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-1, Area-AtlasEngine

#14014 AtlasEngine: Fix bugs around bitmap font rendering
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
Labels: Issue-Bug, AutoMerge, Area-AtlasEngine

#14013 Add support for fractional font sizes
  doc/cascadia/profiles.schema.json
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/FontConfig.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/inc/ControlProperties.h
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/base/FontInfoDesired.cpp
  src/renderer/inc/FontInfoDesired.hpp
Labels: Issue-Feature, Area-Rendering, Area-Settings, Product-Terminal, AutoMerge, Priority-3

#14036 Merge the legacy and extended attributes
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/buffer/out/ut_textbuffer/TextAttributeTests.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/inc/conattrs.hpp
  src/renderer/vt/paint.cpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
Labels: Area-Output, AutoMerge, Issue-Task, Area-CodeHealth

#14040 Fix font size rounding in the settings UI
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/pch.h
Labels: Issue-Bug, Product-Terminal, Priority-2, Area-Settings UI

#14038 AtlasEngine: Fix cursor invalidation
  src/renderer/atlas/AtlasEngine.cpp
Labels: Area-Input, Issue-Bug, Product-Terminal, Priority-2, Area-AtlasEngine

#14047 Add support for scroll bar 'always' setting
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalControl/ScrollBarVisualStateManager.cpp
  src/cascadia/TerminalControl/ScrollBarVisualStateManager.h
  src/cascadia/TerminalControl/ScrollBarVisualStateManager.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.xaml
  src/cascadia/TerminalControl/TerminalControlLib.vcxproj
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: Area-TerminalControl, Area-Settings, Product-Terminal, AutoMerge, Issue-Task

#14048 OpenHere: Replace explorer window lookup code w/ site lookup
  src/cascadia/ShellExtension/OpenTerminalHere.cpp
  src/cascadia/ShellExtension/OpenTerminalHere.h
Labels: Issue-Bug, Product-Terminal, Priority-3, Area-ShellExtension

#14041 Fix potential lags/deadlocks during tab close
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/inc/conpty-static.h
  src/interactivity/base/ServiceLocator.cpp
  src/interactivity/inc/ServiceLocator.hpp
  src/winconpty/dll/winconpty.def
  src/winconpty/ft_pty/ConPtyTests.cpp
  src/winconpty/winconpty.cpp
  src/winconpty/winconpty.h
Labels: Product-Conpty, Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-1

#14039 AtlasEngine: Fix uneven baselines when scaling glyphs
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
Labels: Area-Fonts, Issue-Bug, Product-Terminal, AutoMerge, Priority-3, Area-AtlasEngine

#14070 Use std::ranges to simplify code
  src/host/cmdline.cpp
  src/til/ut_til/RunLengthEncodingTests.cpp
  src/til/ut_til/SPSCTests.cpp
Labels: AutoMerge, Area-CodeHealth

#14072 Use using over typedef
  src/types/IUiaTraceable.h
Labels: AutoMerge, Area-CodeHealth

#14071 Simplify types
  src/buffer/out/ut_textbuffer/ReflowTests.cpp
  src/cascadia/TerminalSettingsModel/JsonUtils.h
  src/inc/til/rle.h
  src/inc/til/some.h
  src/inc/til/spsc.h
Labels: AutoMerge, Area-CodeHealth

#14085 AtlasEngine: Partially revert glyph scaling changes
  src/renderer/atlas/AtlasEngine.r.cpp
Labels: Issue-Bug, AutoMerge, Priority-3, Area-AtlasEngine

#13937 Use Nuget 6.x
  build/pipelines/templates/helix-runtests-job.yml
  build/pipelines/templates/pgo-merge-pgd-job.yml
  build/pipelines/templates/restore-nuget-steps.yml
Labels: AutoMerge

#14093 Reject illegal paths in OSC 9;9
  src/cascadia/UnitTests_TerminalCore/TerminalApiTest.cpp
  src/inc/til/string.h
  src/terminal/adapter/adaptDispatch.cpp
  src/til/ut_til/string.cpp
Labels: AutoMerge

#14058 Add tooltips to context menus
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task
