Repository microsoft/terminal, pull requests merged in 2023-03, with the labels that each got.

#14936 Ensure that delayed EOL wrap is reset when necessary
  src/buffer/out/cursor.cpp
  src/buffer/out/cursor.h
  src/host/ut_host/ScreenBufferTests.cpp
  src/renderer/vt/paint.cpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
Labels: Product-Conhost, Area-Output, AutoMerge, Issue-Task

#14839 Create til::env to help with refreshing environment variables
  .github/actions/spelling/allow/microsoft.txt
  src/inc/til/env.h
  src/til/ut_til/EnvTests.cpp
  src/til/ut_til/sources
  src/til/ut_til/til.unit.tests.vcxproj
  src/til/ut_til/til.unit.tests.vcxproj.filters
Labels: Needs-Author-Feedback

#14989 Add support for the DECRQCRA checksum report
  .github/actions/spelling/expect/expect.txt
  src/features.xml
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/telemetry.cpp
  src/terminal/parser/telemetry.hpp
Labels: Area-VT, Product-Terminal, Issue-Task

#15002 Fix audit failures in TerminalCore
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
Labels: Area-CodeHealth

#14971 Fix offset calculation in the outlines shader
  samples/PixelShaders/Outlines.hlsl
Labels: Issue-Bug, Area-CodeHealth

#14630 Rebuild the profile nav via MenuItemsSource; mitigate a crash
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
Labels: Issue-Bug, Area-Settings, Severity-Crash, Product-Terminal, Priority-1

#14825 Split `AppLogic` into "App logic" and "Window logic"
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/App.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/SettingsLoadEventArgs.h
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalApp/TerminalWindow.h
  src/cascadia/TerminalApp/TerminalWindow.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Product-Terminal, Issue-Task, Area-Windowing

#14993 Allow wsl$ in file URIs; generally allow all URI schemes
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Area-User Interface, Area-TerminalControl, Product-Terminal, AutoMerge, Issue-Task

#14999 Reload environment variables by default; add setting to disable
  .github/actions/spelling/allow/apis.txt
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/inc/til/env.h
Labels: Area-User Interface, Product-Terminal, Issue-Task

#15011 Fix some simple C# linter warnings
  src/cascadia/WpfTerminalControl/TerminalControl.xaml.cs
Labels: Area-CodeHealth

#14775 Add support for a right-click context menu
  src/cascadia/TerminalApp/ColorPickupFlyout.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/ControlInteractivity.idl
  src/cascadia/TerminalControl/EventArgs.cpp
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/SearchBoxControl.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalControl/TermControl.xaml
  src/cascadia/TerminalControl/TerminalControlLib.vcxproj
  src/cascadia/TerminalControl/dll/TerminalControl.vcxproj
  src/cascadia/TerminalControl/pch.h
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/UnitTests_Control/Control.UnitTests.vcxproj
  src/cascadia/inc/ControlProperties.h
Labels: Issue-Feature, Area-User Interface, Product-Terminal

#15008 Properly configure the project dependencies for TerminalAzBridge
  OpenConsole.sln
  src/cascadia/TerminalAzBridge/TerminalAzBridge.vcxproj
Labels: Area-Build

#14990 Add support for querying the DECAC settings
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Product-Conhost, Area-VT, Issue-Task

#14991 Fix console aliases not working
  .github/actions/spelling/expect/expect.txt
  src/host/inputReadHandleData.cpp
  src/host/readDataCooked.cpp
  src/host/stream.cpp
Labels: Product-Conhost, Area-Output, Issue-Bug, Priority-1

#14946 Clearly differentiate running elevated vs. drag/drop breaking
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalApp/TerminalWindow.h
  src/cascadia/TerminalApp/TerminalWindow.idl
  src/cascadia/TerminalSettingsModel/ApplicationState.cpp
  src/types/inc/utils.hpp
  src/types/utils.cpp
Labels: Issue-Bug, Product-Terminal, Priority-1, Area-Windowing

#14965 Add a Winget Releaser workflow
  .github/workflows/winget.yml
Labels: Area-Build, Product-Meta, Issue-Task

#14843 One process to rule them all
  .github/actions/spelling/allow/apis.txt
  .vscode/settings.json
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_TerminalApp/SettingsTests.cpp
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/Remoting/WindowManager.idl
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalApp/TerminalWindow.h
  src/cascadia/TerminalSettingsModel/ActionMap.cpp
  src/cascadia/TerminalSettingsModel/ActionMap.h
  src/cascadia/TerminalSettingsModel/ActionMap.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/Command.cpp
  src/cascadia/TerminalSettingsModel/Command.h
  src/cascadia/TerminalSettingsModel/Command.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/NotificationIcon.h
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
  src/cascadia/WindowsTerminal/WindowEmperor.h
  src/cascadia/WindowsTerminal/WindowThread.cpp
  src/cascadia/WindowsTerminal/WindowThread.h
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/main.cpp
  src/cascadia/WindowsTerminal/pch.h
  src/cascadia/inc/WindowingBehavior.h
Labels: Product-Terminal, Issue-Task, Area-Remoting, Area-Windowing

#14851 Introduce a ContentManager helper
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/ContentManager.cpp
  src/cascadia/TerminalApp/ContentManager.h
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalApp/TerminalWindow.h
  src/cascadia/TerminalApp/TerminalWindow.idl
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/ControlInteractivity.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/inc/cppwinrt_utils.h
Labels: Product-Terminal, Issue-Task, Area-Windowing

#14995 Add options to enable and disable read only mode
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-Settings, Product-Terminal, Issue-Task

#15026 Fix DECCRA when copying from a double-width line
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: Product-Conhost, Area-VT, Issue-Bug

#14998 Add support for the Presentation State reports
  .github/actions/spelling/expect/expect.txt
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/terminalOutput.cpp
  src/terminal/adapter/terminalOutput.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/telemetry.cpp
  src/terminal/parser/telemetry.hpp
Labels: Area-VT, Issue-Task

#15035 VsDevCmdGenerator: respect the user's startingDirectory
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalSettingsModel/VsDevCmdGenerator.cpp
Labels: Issue-Bug

#15030 Fix `wt -w _quake` by not throwing when setting the window name
  src/cascadia/TerminalApp/TerminalWindow.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge

#15039 Clean up more warnings
  src/cascadia/TerminalSettingsEditor/AddProfile.xaml
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
Labels: AutoMerge

#15031 Consolidate our MSIX distribution back down to one package
  .github/workflows/winget.yml
  build/packages.config
  build/pipelines/release.yml
  build/scripts/Patch-ManifestsToWindowsVersion.ps1
  common.openconsole.props
  custom.props
  dep/nuget/packages.config
  src/cascadia/LocalTests_SettingsModel/SettingsModel.LocalTests.vcxproj
  src/cascadia/LocalTests_TerminalApp/TerminalApp.LocalTests.vcxproj
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/packages.config
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/packages.config
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/WindowsTerminal/WindowsTerminal.vcxproj
  src/cascadia/WindowsTerminal/packages.config
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
  src/common.nugetversions.targets
Labels: Area-User Interface, Product-Terminal, Issue-Task

#14821 Add an efficient text stream write function
  .github/actions/spelling/expect/alphabet.txt
  .github/actions/spelling/expect/expect.txt
  src/buffer/out/Row.cpp
  src/buffer/out/Row.hpp
  src/buffer/out/precomp.h
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/LocalTests_SettingsModel/pch.h
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/inc/LibraryIncludes.h
  src/inc/test/CommonState.hpp
  src/inc/til/point.h
  src/inc/til/rle.h
  src/inc/til/unicode.h
  src/terminal/adapter/adaptDispatch.cpp
  src/til/ut_til/RunLengthEncodingTests.cpp
  tools/ConsoleTypes.natvis
Labels: Product-Conhost, Area-Output, Area-Server, Product-Terminal, Issue-Scenario

#15054 Update DECSC/DECRC to match the newer DEC terminals
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: Product-Conhost, Area-VT, Issue-Bug, Issue-Task

#14866 Add support for moving panes and tabs between windows
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/Peasant.cpp
  src/cascadia/Remoting/Peasant.h
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/Remoting/WindowManager.idl
  src/cascadia/TerminalApp/ActionPaletteItem.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/ContentManager.cpp
  src/cascadia/TerminalApp/ContentManager.h
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/SettingsTab.h
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalApp/TerminalWindow.h
  src/cascadia/TerminalApp/TerminalWindow.idl
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/ControlInteractivity.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/Command.h
  src/cascadia/TerminalSettingsModel/Command.idl
  src/cascadia/TerminalSettingsModel/JsonUtils.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalWarnings.idl
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
Labels: Product-Terminal

#14748 Minor cleanups after #14745
  src/server/ApiMessage.cpp
  src/server/ApiMessage.h
Labels: Product-Conhost, Area-CodeHealth

#14874 Merge the LineFeed functionality into AdaptDispatch
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/_stream.cpp
  src/host/output.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/ITerminalApi.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Product-Conpty, Area-VT, Issue-Bug, Priority-2

#14935 Enable tearing out tabs to create new windows
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/Remoting/WindowManager.idl
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalApp/TerminalWindow.h
  src/cascadia/TerminalApp/TerminalWindow.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
  src/cascadia/WindowsTerminal/WindowEmperor.h
Labels: Area-User Interface, Product-Terminal, Issue-Scenario

#15079 Fix a crash in the rclick context menu
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
Labels: AutoMerge

#15051 Add "portable mode", where settings load from the install path
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/FileUtils.cpp
  src/cascadia/TerminalSettingsModel/FileUtils.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
Labels: Issue-Feature, Area-Build, Product-Terminal

#14947 Add pre-build PowerShell version check
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  tools/CheckPSVersion.ps1
  tools/WindowsCheckPSVersion.ps1
Labels: Product-Meta, Issue-Task, Area-CodeHealth
