Repository microsoft/terminal, pull requests merged in 2023-10, with the labels that each got.

#16081 build: add a OneBranch Official release pipeline
  build/config/release.gdnbaselines
  build/config/tsa.json
  build/pipelines/ob-nightly.yml
  build/pipelines/ob-release.yml
  build/pipelines/templates-v2/job-build-project.yml
  build/pipelines/templates-v2/job-merge-msix-into-bundle.yml
  build/pipelines/templates-v2/job-publish-symbols.yml
  build/pipelines/templates-v2/pipeline-full-release-build.yml
  build/pipelines/templates-v2/pipeline-onebranch-full-release-build.yml
  build/pipelines/templates-v2/variables-nuget-package-version.yml
  build/pipelines/templates-v2/variables-onebranch-config.yml
Labels: Severity-Blocking

#16089 Fix tearout with `startupActions` set.
  src/cascadia/TerminalApp/TerminalWindow.cpp
Labels: Issue-Bug, Product-Terminal, Severity-Blocking, Area-Windowing

#16065 Use `weak_ptr`s for `AppHost` for coroutines
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/WindowThread.cpp
  src/cascadia/WindowsTerminal/WindowThread.h
Labels: Issue-Bug, Product-Terminal, Area-Windowing

#16075 Dismiss flyouts before opening warning dialog when exiting app
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Priority-3

#16090 Fix `closeOnExit: always`
  src/cascadia/TerminalApp/Pane.cpp
Labels: Issue-Bug, Area-TerminalConnection, Product-Terminal

#16119 Dismiss "Failed to reload settings" modals when settings.json is valid
  src/cascadia/TerminalApp/TerminalWindow.cpp
Labels: Area-User Interface, Product-Terminal, Issue-Task

#15974 Allow Opacity to be set differently in both focused and unfocused terminals
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
Labels: Area-TerminalControl, Area-Settings, Needs-Attention, Product-Terminal, Issue-Task, zBugBash-Consider

#16190 env: properly handle nulls in REG_SZ strings
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/inc/til/env.h
  src/til/ut_til/EnvTests.cpp
Labels: Issue-Bug, Product-Terminal, Priority-0

#16187 COOKED_READ: Fix reference counting woes
  .github/actions/spelling/expect/expect.txt
  src/host/ft_host/API_BufferTests.cpp
  src/host/readDataCooked.cpp
Labels: Product-Conhost, Issue-Bug, Product-Terminal, AutoMerge, Priority-0, Area-CookedRead

#16197 Fix rectangular clipboard copying initiated from the app menu
  src/interactivity/win32/Clipboard.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, Priority-2

#16105 Fix UIA and marks regressions due to cooked read
  .github/actions/spelling/expect/expect.txt
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/common.build.pre.props
  src/host/_stream.cpp
  src/host/_stream.h
  src/host/ft_fuzzer/fuzzmain.cpp
  src/host/readDataCooked.cpp
  src/host/readDataCooked.hpp
  src/host/ut_host/ScreenBufferTests.cpp
Labels: Product-Conhost, Issue-Bug, Area-TerminalControl, Product-Terminal, Severity-Blocking, Priority-1, Area-CookedRead

#16225 Clear the system menu when we refrigerate a window
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
Labels: Issue-Bug, Product-Terminal, Area-Windowing

#16214 add single quotes to WSL drag and drop
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Priority-3

#16219 AtlasEngine: Minor bug fixes
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.r.cpp
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/common.h
Labels: Issue-Bug, Product-Terminal, Priority-3, Area-AtlasEngine
