Repository microsoft/terminal, pull requests merged in 2023-08, with the labels that each got.

#15779 Add text based cursor movement helpers
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/inc/til/unicode.h
  src/terminal/adapter/adaptDispatch.cpp
Labels: AutoMerge, Area-CodeHealth

#15780 Merge ReadConsoleA/W API routines
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/ApiRoutines.h
  src/host/VtApiRoutines.cpp
  src/host/VtApiRoutines.h
  src/host/readDataCooked.cpp
  src/host/readDataCooked.hpp
  src/host/stream.cpp
  src/inc/test/CommonState.hpp
  src/server/ApiDispatchers.cpp
  src/server/IApiRoutines.h
Labels: Product-Conhost, Area-Server, Issue-Bug, AutoMerge, Area-CodeHealth, Priority-3, Area-CookedRead

#15782 Modernize CommandHistory and switch to int32
  src/host/CommandListPopup.cpp
  src/host/CommandListPopup.hpp
  src/host/CommandNumberPopup.cpp
  src/host/cmdline.cpp
  src/host/cmdline.h
  src/host/history.cpp
  src/host/history.h
  src/host/ut_host/CommandLineTests.cpp
  src/host/ut_host/CommandListPopupTests.cpp
  src/host/ut_host/CommandNumberPopupTests.cpp
  src/host/ut_host/HistoryTests.cpp
  src/host/ut_host/PopupTestHelper.hpp
Labels: AutoMerge, Area-CodeHealth

#15673 Replace IInputEvent with INPUT_RECORD
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/host/cmdline.h
  src/host/conimeinfo.cpp
  src/host/directio.cpp
  src/host/ft_host/CJK_DbcsTests.cpp
  src/host/ft_host/Message_KeyPressTests.cpp
  src/host/input.cpp
  src/host/input.h
  src/host/inputBuffer.cpp
  src/host/inputBuffer.hpp
  src/host/output.cpp
  src/host/outputStream.cpp
  src/host/readDataDirect.cpp
  src/host/readDataDirect.hpp
  src/host/stream.cpp
  src/host/ut_host/ClipboardTests.cpp
  src/host/ut_host/Host.UnitTests.vcxproj
  src/host/ut_host/Host.UnitTests.vcxproj.filters
  src/host/ut_host/InputBufferTests.cpp
  src/inc/til/small_vector.h
  src/interactivity/base/EventSynthesis.cpp
  src/interactivity/inc/EventSynthesis.hpp
  src/interactivity/onecore/ConIoSrvComm.cpp
  src/interactivity/win32/Clipboard.cpp
  src/interactivity/win32/clipboard.hpp
  src/interactivity/win32/windowio.cpp
  src/server/ApiDispatchers.cpp
  src/server/WaitBlock.cpp
  src/terminal/adapter/IInteractDispatch.hpp
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/adapter/InteractDispatch.hpp
  src/terminal/adapter/ut_adapter/MouseInputTest.cpp
  src/terminal/adapter/ut_adapter/inputTest.cpp
  src/terminal/input/mouseInput.cpp
  src/terminal/input/terminalInput.cpp
  src/terminal/input/terminalInput.hpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
  src/types/FocusEvent.cpp
  src/types/IInputEvent.cpp
  src/types/IInputEventStreams.cpp
  src/types/KeyEvent.cpp
  src/types/MenuEvent.cpp
  src/types/ModifierKeyState.cpp
  src/types/MouseEvent.cpp
  src/types/WindowBufferSizeEvent.cpp
  src/types/inc/IInputEvent.hpp
  src/types/lib/types.vcxproj
  src/types/lib/types.vcxproj.filters
  src/types/sources.inc
  tools/ConsoleTypes.natvis
Labels: Issue-Bug, AutoMerge, Area-CodeHealth, zBugBash-Consider

#15799 Add walkthroughs to CONTRIBUTING.md
  .github/actions/spelling/allow/allow.txt
  CONTRIBUTING.md
Labels: Issue-Docs, Needs-Attention

#15758 Add an experimental setting for moving the cursor with the mouse
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/UnitTests_Control/ControlCoreTests.cpp
  src/cascadia/inc/ControlProperties.h
Labels: zBugBash-Consider

#14943 Add support for opening the Suggestions UI with recent commands
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/SuggestionsControl.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Command.cpp
  src/cascadia/TerminalSettingsModel/Command.h
  src/cascadia/TerminalSettingsModel/Command.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: Area-Settings, Product-Terminal, Issue-Task, zBugBash-Consider

#15831 Plumb test failures through to github
  build/Helix/ConvertWttLogToXUnit.ps1
  build/Helix/HelixTestHelpers.cs
  build/Helix/OutputTestErrorsForAzureDevops.ps1
  build/pipelines/templates-v2/job-test-project.yml
Labels: Area-Build, Product-Meta, Issue-Task

#15027 Add a `useCommandline` property to the suggestions action
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/SuggestionsControl.cpp
  src/cascadia/TerminalApp/SuggestionsControl.h
  src/cascadia/TerminalApp/SuggestionsControl.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/Command.cpp
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
Labels: zBugBash-Consider

#15664 Add support for "Tasks" in the Suggestions UI
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/ActionMap.cpp
  src/cascadia/TerminalSettingsModel/ActionMap.h
  src/cascadia/TerminalSettingsModel/ActionMap.idl
  src/cascadia/TerminalSettingsModel/Command.cpp
  src/cascadia/TerminalSettingsModel/Command.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: Issue-Feature, Area-User Interface, Product-Terminal, zBugBash-Consider

#15335 Avoid async infinite loop on tab close
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, zBugBash-Consider

#15810 AtlasEngine: Fix ligature splitting for JetBrains Mono
  src/renderer/atlas/BackendD3D.cpp
  src/tools/RenderingTests/main.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-3, zBugBash-Consider, Area-AtlasEngine

#15856 Use a different schema for each branding
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Issue-Docs, Product-Terminal, Priority-3, Area-Schema

#15822 Add --appendCommandLine flag for appending to command
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
Labels: Product-Terminal, Issue-Task, Area-Commandline, zBugBash-Consider

#15877 Disambiguate the test job artifact based on attempt number
  build/pipelines/ci.yml
  build/pipelines/templates-v2/job-test-project.yml
Labels: Issue-Bug, Area-Build, Product-Meta

#15867 Remove the FontSizeChanged event from TermControl
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/EventArgs.cpp
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/inc/cppwinrt_utils.h
Labels: Area-TerminalControl, Product-Terminal, Issue-Task

#15858 Use ICU for text search
  .github/actions/spelling/allow/apis.txt
  .github/actions/spelling/expect/expect.txt
  src/buffer/out/Row.cpp
  src/buffer/out/Row.hpp
  src/buffer/out/UTextAdapter.cpp
  src/buffer/out/UTextAdapter.h
  src/buffer/out/lib/bufferout.vcxproj
  src/buffer/out/search.cpp
  src/buffer/out/search.h
  src/buffer/out/sources.inc
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/buffer/out/ut_textbuffer/ReflowTests.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/host/_stream.cpp
  src/host/renderData.cpp
  src/host/renderData.hpp
  src/host/selection.cpp
  src/host/selectionInput.cpp
  src/host/telemetry.cpp
  src/host/telemetry.hpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/SearchTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/host/ut_host/VtIoTests.cpp
  src/inc/test/CommonState.hpp
  src/inc/til/at.h
  src/interactivity/win32/find.cpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/renderer/inc/IRenderData.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/types/UiaTextRangeBase.cpp
  src/types/UiaTextRangeBase.hpp
  src/types/UiaTracing.cpp
  src/types/UiaTracing.h
Labels: Product-Conhost, Product-Terminal, AutoMerge, Area-i18n

#15771 Make screen reader announce successful MovePane and MoveTab actions
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge, zBugBash-Consider

#15783 Rewrite COOKED_READ_DATA
  .github/actions/spelling/expect/alphabet.txt
  .github/actions/spelling/expect/expect.txt
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/CommandListPopup.cpp
  src/host/CommandListPopup.hpp
  src/host/CommandNumberPopup.cpp
  src/host/CommandNumberPopup.hpp
  src/host/CopyFromCharPopup.cpp
  src/host/CopyFromCharPopup.hpp
  src/host/CopyToCharPopup.cpp
  src/host/CopyToCharPopup.hpp
  src/host/_stream.cpp
  src/host/_stream.h
  src/host/alias.cpp
  src/host/alias.h
  src/host/cmdline.cpp
  src/host/cmdline.h
  src/host/consoleInformation.cpp
  src/host/ft_fuzzer/fuzzmain.cpp
  src/host/getset.cpp
  src/host/history.cpp
  src/host/history.h
  src/host/host-common.vcxitems
  src/host/input.cpp
  src/host/input.h
  src/host/lib/hostlib.vcxproj.filters
  src/host/misc.cpp
  src/host/misc.h
  src/host/popup.cpp
  src/host/popup.h
  src/host/readDataCooked.cpp
  src/host/readDataCooked.hpp
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/host/scrolling.cpp
  src/host/selectionInput.cpp
  src/host/server.h
  src/host/sources.inc
  src/host/stream.cpp
  src/host/stream.h
  src/host/tracing.cpp
  src/host/tracing.hpp
  src/host/ut_host/AliasTests.cpp
  src/host/ut_host/CommandLineTests.cpp
  src/host/ut_host/CommandListPopupTests.cpp
  src/host/ut_host/CommandNumberPopupTests.cpp
  src/host/ut_host/CopyFromCharPopupTests.cpp
  src/host/ut_host/CopyToCharPopupTests.cpp
  src/host/ut_host/Host.UnitTests.vcxproj
  src/host/ut_host/Host.UnitTests.vcxproj.filters
  src/host/ut_host/PopupTestHelper.hpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/SelectionTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/host/ut_host/sources
  src/interactivity/win32/menu.cpp
  src/interactivity/win32/windowio.cpp
Labels: Issue-Feature, Product-Conhost, Area-Input, Area-Interaction, Area-Server, Issue-Bug, Issue-Task, Priority-1, Priority-3, Priority-2, Impact-Compatibility, zBugBash-Consider, Area-CookedRead

#15879 A small optimization of COOKED_READ_DATA::_erase
  src/host/readDataCooked.cpp
  src/host/readDataCooked.hpp
Labels: AutoMerge, Area-CookedRead

#15892 Fix pattern coordinates to be viewport relative
  src/cascadia/TerminalCore/Terminal.cpp
Labels: Area-Output, Issue-Bug, Product-Terminal, Severity-Blocking, zBugBash-Consider

#15912 AtlasEngine: Fix support for font features
  src/renderer/atlas/AtlasEngine.cpp
Labels: Issue-Bug, Product-Terminal, Priority-2, Area-AtlasEngine
