Repository microsoft/terminal, pull requests merged in 2023-04, with the labels that each got.

#15091 Add a simple tool to test rendering functionality
  .github/actions/spelling/excludes.txt
  OpenConsole.sln
  src/tools/RenderingTests/RenderingTests.vcxproj
  src/tools/RenderingTests/RenderingTests.vcxproj.filters
  src/tools/RenderingTests/main.cpp
Labels: Area-Quality

#15090 Expose hyperlink attributes in PaintBufferGridLines
  src/cascadia/TerminalControl/ControlCore.cpp
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/dx/DxRenderer.cpp
  src/renderer/dx/DxRenderer.hpp
  src/renderer/inc/IRenderEngine.hpp
Labels: Area-CodeHealth

#15078 Upgrade to MUX 2.8
  build/rules/Microsoft.UI.Xaml.Additional.targets
  dep/nuget/packages.config
  src/cascadia/TerminalApp/TabBase.cpp
  src/common.nugetversions.props
  src/common.nugetversions.targets
Labels: Issue-Bug, Needs-Author-Feedback, Product-Terminal, Priority-3, Area-Settings UI

#14873 Enable holding ctrl to open the Terminal elevated from File Explorer
  src/cascadia/ShellExtension/OpenTerminalHere.cpp
  src/cascadia/ShellExtension/OpenTerminalHere.h
  src/cascadia/WinRTUtils/inc/WtExeUtils.h
Labels: Product-Terminal, Issue-Task, Area-ShellExtension

#15098 Fix accuracy bugs around float/double/int conversions
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/UnitTests_Control/ControlInteractivityTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/inc/til/math.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Priority-1

#15089 Introduce til::linear_flat_set
  .github/actions/spelling/expect/expect.txt
  src/inc/til/flat_set.h
  src/til/ut_til/FlatSetTests.cpp
  src/til/ut_til/til.unit.tests.vcxproj
  src/til/ut_til/til.unit.tests.vcxproj.filters
  tools/ConsoleTypes.natvis
Labels: Area-Quality

#15075 Filter out control characters that don't do anything
  .github/actions/spelling/expect/expect.txt
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
Labels: Product-Conhost, Area-VT, Issue-Task, Priority-2

#15105 Use new row primitives for ResizeTraditional
  src/buffer/out/Row.cpp
  src/buffer/out/Row.hpp
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
Labels: Product-Conhost, Area-Output, Area-Quality

#15110 Upgrade clang-format to 15.0.7
  .clang-format
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlSettings.h
  src/cascadia/TerminalSettingsEditor/ViewModelHelpers.h
  src/cascadia/TerminalSettingsEditor/ViewModelHelpers.idl.h
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/IInheritable.idl.h
  src/cascadia/inc/cppwinrt_utils.h
  src/inc/til/bytes.h
  src/inc/til/pmr.h
  src/renderer/atlas/AtlasEngine.h
  tools/packages.config
Labels: Area-CodeHealth

#15122 Return success if ReadCharacterInput read >0 characters
  src/host/stream.cpp
Labels: Product-Conhost, Issue-Bug, Severity-Blocking, Priority-0

#15111 Respect the codepage stored in .LNK files in conhost
  src/propslib/ShortcutSerialization.cpp
Labels: Product-Conhost, Issue-Bug, Priority-3, Impact-Correctness

#15108 Add "legacy" themes
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.cpp
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Product-Terminal, Issue-Task, Area-Theming

#14944 Add support for running the Terminal without _any_ windows
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
  src/cascadia/WindowsTerminal/WindowEmperor.h
Labels: Product-Terminal, Area-Windowing

#13811 Revert the revert of "Hide the window until we're finished with initialization"
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalWindow.h
  src/cascadia/TerminalApp/TerminalWindow.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Priority-3, Area-Windowing, Automerge-Not-Compatible

#15160 Fix re-persisting the new legacy themes
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, Severity-Blocking, Priority-1

#15130 Send a KeyUp sequence only once a key has been released
  src/cascadia/TerminalCore/Terminal.cpp
Labels: Area-Input, Issue-Bug, Product-Terminal, Issue-Task

#15082 Support environment variables in the settings
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_SettingsModel/ProfileTests.cpp
  src/cascadia/LocalTests_SettingsModel/SerializationTests.cpp
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalConnection/ConptyConnection.idl
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.idl
  src/cascadia/TerminalSettingsModel/TerminalWarnings.idl
  src/cascadia/inc/ControlProperties.h
  src/inc/til/env.h
  src/inc/til/string.h
  src/types/Environment.cpp
  src/types/inc/Environment.hpp
  src/types/lib/types.vcxproj
Labels: Issue-Feature, Issue-Bug, Area-TerminalConnection, Area-Settings, Product-Terminal, Priority-3

#15166 Skip generating a profile for rancher-desktop
  src/cascadia/TerminalSettingsModel/WslDistroGenerator.cpp
Labels: Product-WSL, Area-Settings, Product-Terminal, Issue-Task

#15165 Manually hide our DesktopWindowXamlSource
  src/cascadia/TerminalApp/App.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
Labels: Issue-Bug, Area-User Interface, Needs-Attention, Product-Terminal, Priority-2

#15169 A more efficient copy assignment operator for Pane.LayoutSizeNode
  src/cascadia/TerminalApp/Pane.LayoutSizeNode.cpp
  src/cascadia/TerminalApp/Pane.h
Labels: Product-Terminal, AutoMerge, Issue-Task, Area-CodeHealth

#15062 fix: WpfTerminalControl allow Connection set to null
  src/cascadia/WpfTerminalControl/TerminalContainer.cs
Labels: Issue-Bug, Severity-Crash, Needs-Attention, Product-Terminal, Area-WPFControl

#15171 Fix a hang when writing wide glyphs into a 1 column terminal
  src/buffer/out/textBuffer.cpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: Area-Output, Issue-Bug, Severity-Crash, Product-Terminal, AutoMerge, Priority-2

#15178 Fix reordering tabs mysteriously shuffling the actual backing tabs
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Severity-Blocking, Priority-1

#15183 Update to MUX 2.8.3
  dep/nuget/packages.config
  src/common.nugetversions.props
  src/common.nugetversions.targets
Labels: AutoMerge

#15162 fix not updating the nav view when add/removing profiles
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
Labels: Issue-Bug, Product-Terminal, Severity-Blocking, Priority-2, Area-Settings UI

#13838 Respect the startup info state initially passed to `wt` via ShellExecute
  .github/actions/spelling/expect/expect.txt
  src/cascadia/Remoting/CommandlineArgs.h
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/ShellExtension/OpenTerminalHere.cpp
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Priority-2

#15154 Add subtext to why Always show tabs is not toggleable in SUI.
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-3, Area-Settings UI

#15187 Fix Peasant::ActivateWindow being called with an all 0 GUID
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
Labels: Issue-Bug, Product-Terminal, Area-Remoting

#15203 Lazy load CommandPalette and AboutDialog
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AboutDialog.cpp
  src/cascadia/TerminalApp/AboutDialog.h
  src/cascadia/TerminalApp/AboutDialog.idl
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.xaml
Labels: Area-Performance, Product-Terminal, Automerge-Not-Compatible

#15204 Avoid animations during startup
  src/cascadia/TerminalApp/App.xaml
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/SettingsTab.h
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.xaml
Labels: Area-Performance, Product-Terminal

#14807 Add the ability to select a whole command (or its output)
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ICoreState.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/UnitTests_Control/ControlCoreTests.cpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: Area-TerminalControl, Area-Settings, Product-Terminal, Issue-Task

#15200 Add automation heading level 1 to fix about dialog
  src/cascadia/TerminalApp/AboutDialog.xaml
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge, Priority-3

#15164 Remove a 1px gap under the tabs only visible at >150%
  src/cascadia/TerminalApp/App.xaml
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
  src/cascadia/TerminalApp/TabRowControl.xaml
Labels: AutoMerge

#15189 Default to XamlRoot when unable to find focused object
  src/cascadia/TerminalApp/TerminalWindow.cpp
Labels: Issue-Bug, Product-Terminal, Priority-3, Area-Settings UI

#15217 Also do the VisualState dance on the tab item
  src/cascadia/TerminalApp/TabBase.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Severity-Blocking

#15020 Add buttons for selecting commands, output to context menu
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.xaml
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/inc/til/coalesce.h
  src/terminal/adapter/DispatchTypes.hpp
Labels: AutoMerge

#15222 Remove IsUwp, RunAsUwp, defaults-universal and all fallout
  src/cascadia/TerminalApp/App.cpp
  src/cascadia/TerminalApp/App.h
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalApp/TerminalWindow.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/defaults-universal.json
Labels: AutoMerge

#15077 Fix focus issue when profile selected from nested menu entry
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Priority-2

#15232 A very sensible Pane refactoring
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
Labels: AutoMerge, Area-CodeHealth

#15175 Fix missing call to UpdateViewport::UpdateViewport during tearout
  src/cascadia/TerminalControl/ControlCore.cpp
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
Labels: Area-Rendering, Issue-Bug, Product-Terminal, AutoMerge, Priority-1

#15236 Disable the context menu command inside a zipped folder
  src/cascadia/ShellExtension/OpenTerminalHere.cpp
Labels: Issue-Bug, Product-Terminal, Area-ShellExtension

#15235 Prevent crash when VTParameters::subspan is out of range
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/parser/ut_parser/StateMachineTest.cpp
Labels: Issue-Bug

#15206 Fix AppInitialized latency metric
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/TerminalWindow.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-3

#14959 Rewrite AtlasEngine to allow arbitrary overhangs
  .github/actions/spelling/allow/apis.txt
  .github/actions/spelling/expect/expect.txt
  NOTICE.md
  oss/stb/LICENSE
  oss/stb/MAINTAINER_README.md
  oss/stb/cgmanifest.json
  oss/stb/stb_rect_pack.h
  src/interactivity/win32/window.hpp
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
  src/renderer/atlas/Backend.cpp
  src/renderer/atlas/Backend.h
  src/renderer/atlas/BackendD2D.cpp
  src/renderer/atlas/BackendD2D.h
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/BackendD3D.h
  src/renderer/atlas/DWriteTextAnalysis.cpp
  src/renderer/atlas/DWriteTextAnalysis.h
  src/renderer/atlas/README.md
  src/renderer/atlas/atlas.vcxproj
  src/renderer/atlas/colorbrewer.h
  src/renderer/atlas/common.h
  src/renderer/atlas/custom_shader_ps.hlsl
  src/renderer/atlas/custom_shader_vs.hlsl
  src/renderer/atlas/pch.h
  src/renderer/atlas/shader_common.hlsl
  src/renderer/atlas/shader_ps.hlsl
  src/renderer/atlas/shader_vs.hlsl
  src/renderer/atlas/stb_rect_pack.cpp
  src/renderer/atlas/wic.h
  src/tools/RenderingTests/main.cpp
  tools/ConsoleTypes.natvis
Labels: Area-Rendering, Area-Performance, Area-Fonts, Issue-Bug, Product-Terminal, AutoMerge, Priority-3, Priority-2, Area-AtlasEngine

#14906 Provide a more detailed Device Attributes report
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Product-Conhost, Area-VT, Issue-Task

#15198 Added Close Pane to Context Menu
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task

#15221 Add jump list support for indirect icon references
  src/cascadia/TerminalApp/Jumplist.cpp
  src/cascadia/TerminalSettingsModel/IconPathConverter.cpp
  src/inc/til/string.h
Labels: Issue-Bug, Area-User Interface, Area-Settings, Product-Terminal, Priority-3

#15249 Don't just die if the user doesn't have the dx debugging tools
  src/renderer/atlas/AtlasEngine.r.cpp
Labels: Issue-Bug, Product-Terminal, Priority-3, Area-AtlasEngine

#15252 Make the rclick menu pre-populate "Find" with the selected text
  src/cascadia/TerminalControl/TermControl.cpp
Labels: AutoMerge, zBugBash-Consider

#15240 (A better) Refactoring of how connection restarting is handled
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalConnection/ConnectionStateHolder.h
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
Labels: Area-TerminalConnection, Product-Terminal, Issue-Task, Area-CodeHealth, Severity-Blocking, zBugBash-Consider

#15241 Add an action for immediately restarting a connection
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-TerminalControl, Product-Terminal, AutoMerge, Issue-Task, zBugBash-Consider

#15250 Move the Close... actions to a nested menu on the tab
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: zBugBash-Consider

#15259 Don't explode when we tear out the last tab of the window
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Product-Terminal, AutoMerge, zBugBash-Consider
