Repository microsoft/terminal, pull requests merged in 2023-02, with the labels that each got.

#14747 Make KeyEvent char data a little less confusing
  src/host/dbcs.cpp
  src/interactivity/win32/windowio.cpp
  src/types/KeyEvent.cpp
  src/types/inc/IInputEvent.hpp
Labels: AutoMerge, Area-CodeHealth

#14746 Minor improvements for SplitToOem
  src/host/misc.cpp
Labels: Product-Conhost, Area-CodeHealth

#14776 AzureConnection: remove our dependency on cpprestsdk
  .github/actions/spelling/allow/apis.txt
  .github/actions/spelling/expect/expect.txt
  build/config/ESRPSigning_Terminal.json
  build/pipelines/release.yml
  build/pipelines/templates/build-console-compliance-job.yml
  build/scripts/Test-WindowsTerminalPackage.ps1
  dep/nuget/packages.config
  scratch/ScratchIslandApp/WindowExe/WindowExe.vcxproj
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalConnection/AzureClient.h
  src/cascadia/TerminalConnection/AzureConnection.cpp
  src/cascadia/TerminalConnection/AzureConnection.h
  src/cascadia/TerminalConnection/TerminalConnection.vcxproj
  src/cascadia/TerminalConnection/pch.h
  src/common.nugetversions.targets
  src/features.xml
Labels: Issue-Bug, Product-Terminal, AutoMerge, Area-AzureShell, Priority-2

#14787 Update tab drop behavior to select dropped tab
  src/cascadia/TerminalApp/TabManagement.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Priority-2

#14816 Pass the window root to the profile page views, instead of the view model
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.cpp
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.h
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.xaml
  src/cascadia/TerminalSettingsEditor/Profiles_Base.cpp
  src/cascadia/TerminalSettingsEditor/Profiles_Base.h
Labels: Issue-Bug, Severity-Crash, Product-Terminal, AutoMerge, Priority-1, Area-Settings UI

#14255 Implement cell size customizations
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/FontConfig.cpp
  src/cascadia/TerminalSettingsModel/FontConfig.h
  src/cascadia/TerminalSettingsModel/FontConfig.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/inc/ControlProperties.h
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/base/CSSLengthPercentage.cpp
  src/renderer/base/FontInfoDesired.cpp
  src/renderer/base/lib/base.vcxproj
  src/renderer/base/lib/base.vcxproj.filters
  src/renderer/dx/DxFontRenderData.cpp
  src/renderer/inc/CSSLengthPercentage.h
  src/renderer/inc/FontInfoDesired.hpp
Labels: Area-Rendering, Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Issue-Task, Priority-2, zBugBash-Consider, Area-AtlasEngine

#14846 Update ControlsV2 scrollbar template
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalControl/TermControl.xaml
Labels: Area-User Interface, Product-Terminal, AutoMerge

#14840 Ignore CHAR_INFO trailers during WriteConsoleOutput
  src/buffer/out/OutputCellIterator.cpp
  src/buffer/out/OutputCellIterator.hpp
  src/buffer/out/Row.cpp
  src/host/ft_host/CJK_DbcsTests.cpp
Labels: Product-Conhost, Area-Output, Issue-Bug, Priority-3

#14868 Add a proper reference from TermCore to MidiAudio
  src/cascadia/TerminalCore/lib/terminalcore-lib.vcxproj
Labels: Area-CodeHealth

#14871 Fix a number of minor correctness issues that Clang flagged
  src/cascadia/LocalTests_SettingsModel/JsonTestClass.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettingsModel/ApplicationState.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/Command.cpp
  src/cascadia/WindowsTerminal/BaseWindow.h
  src/host/ut_host/ClipboardTests.cpp
  src/propsheet/console.def
  src/propslib/DelegationConfig.cpp
  src/renderer/inc/IRenderEngine.hpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
  src/terminal/adapter/telemetry.cpp
  src/terminal/parser/telemetry.cpp
  src/tools/lnkd/main.cpp
  src/tools/pixels/main.cpp
  src/tools/test/main.cpp
Labels: Area-CodeHealth

#14869 Move to CppWinRT 2.0.230207.1
  dep/nuget/packages.config
  scratch/ScratchIslandApp/SampleApp/packages.config
  scratch/ScratchIslandApp/WindowExe/packages.config
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/common.nugetversions.props
  src/common.nugetversions.targets
Labels: Area-CodeHealth

#14870 Correctness: Remove JsonUtils and IconConverter's 2-phase lookup bugs
  src/cascadia/LocalTests_SettingsModel/SettingsModel.LocalTests.vcxproj
  src/cascadia/TerminalSettingsModel/IconPathConverter.cpp
  src/cascadia/TerminalSettingsModel/JsonUtils.h
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/WinRTUtils/inc/Utils.h
  src/cascadia/ut_app/TerminalApp.UnitTests.vcxproj
Labels: Area-CodeHealth

#14883 AtlasEngine: Fix calculation of advanceScale
  src/renderer/atlas/AtlasEngine.api.cpp
Labels: Issue-Bug, Product-Terminal, Priority-3, Area-AtlasEngine

#14931 Address remaining review feedback for #14255
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/renderer/base/CSSLengthPercentage.cpp
  src/renderer/base/sources.inc
  src/renderer/inc/CSSLengthPercentage.h
Labels: Area-CodeHealth

#14745 Remove TranslateUnicodeToOem and all related code
  src/host/dbcs.cpp
  src/host/dbcs.h
  src/host/directio.cpp
  src/host/inputBuffer.cpp
  src/host/inputBuffer.hpp
  src/host/misc.cpp
  src/host/misc.h
  src/host/readDataCooked.cpp
  src/host/readDataCooked.hpp
  src/host/readDataDirect.cpp
  src/host/readDataDirect.hpp
  src/host/readDataRaw.cpp
  src/host/stream.cpp
  src/host/stream.h
  src/host/ut_host/CommandLineTests.cpp
  src/host/ut_host/Host.UnitTests.vcxproj
  src/host/ut_host/Host.UnitTests.vcxproj.filters
  src/host/ut_host/InputBufferTests.cpp
  src/host/ut_host/ReadWaitTests.cpp
  src/inc/til/bytes.h
  src/inc/til/type_traits.h
  src/server/ApiDispatchers.cpp
  src/types/inc/IInputEvent.hpp
Labels: Product-Conhost, Area-Input, Area-Output, Area-Server, Issue-Bug, Severity-Crash, Product-Terminal, Issue-Task, Priority-1, Priority-2, Issue-Scenario, Area-CookedRead
