Repository microsoft/terminal, pull requests merged in 2023-09, with the labels that each got.

#15904 AtlasEngine: Fix invalidation when the cursor is invisible
  src/renderer/atlas/AtlasEngine.cpp
Labels: Area-Rendering, Issue-Bug, Product-Terminal, AutoMerge, Area-AtlasEngine

#14045 Show number of search results & positions of hits in scrollbar
  src/buffer/out/search.cpp
  src/buffer/out/search.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/SearchBoxControl.cpp
  src/cascadia/TerminalControl/SearchBoxControl.h
  src/cascadia/TerminalControl/SearchBoxControl.idl
  src/cascadia/TerminalControl/SearchBoxControl.xaml
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.xaml
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/UnitTests_TerminalCore/ScrollTest.cpp
  src/inc/til/winrt.h
Labels: Issue-Feature, Area-User Interface, Area-TerminalControl, Area-Accessibility, Product-Terminal, zBugBash-Consider

#15929 AtlasEngine: Fix overly aggressive invalidation
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/BackendD3D.cpp
Labels: Issue-Bug, Priority-3, Area-AtlasEngine

#15916 Don't explode if HKCU\Console is write-protected
  src/cascadia/TerminalSettingsModel/DefaultTerminal.cpp
Labels: Issue-Bug, Severity-Crash, Product-Terminal, Severity-Blocking, Priority-1, Priority-2, Area-Settings UI

#15914 Update close button visibility based on BOTH settings and readonly mode
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TabBase.idl
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Issue-Bug, Area-User Interface, Area-Settings, Product-Terminal, Priority-3

#15931 Update roadmap for 2023
  README.md
  doc/roadmap-2022.md
  doc/roadmap-2023.md
Labels: Issue-Docs

#15941 Allows negative values in launch parameters
  src/cascadia/TerminalSettingsEditor/Launch.xaml
Labels: Issue-Bug, Product-Terminal, Priority-2, Area-Settings UI

#15795 Add support for underline style and color in VT
  src/buffer/out/OutputCellIterator.cpp
  src/buffer/out/TextAttribute.cpp
  src/buffer/out/TextAttribute.hpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/host/ut_host/OutputCellIteratorTests.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/VtRendererTests.cpp
  src/inc/conattrs.hpp
  src/interactivity/win32/ut_interactivity_win32/UiaTextRangeTests.cpp
  src/renderer/base/renderer.cpp
  src/renderer/vt/VtSequences.cpp
  src/renderer/vt/Xterm256Engine.cpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/types/UiaTextRangeBase.cpp
  src/types/sgrStack.cpp
Labels: Product-Conhost, Area-Rendering, Area-VT, Issue-Task, zBugBash-Consider

#15945 Fix identity of canary appxmanifest
  src/cascadia/CascadiaPackage/Package-Can.appxmanifest
Labels: Area-Build

#15930 COOKED_READ_DATA: Fix scrolling under ConPTY
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/host/_stream.cpp
  src/host/output.cpp
  src/host/output.h
  src/host/readDataCooked.cpp
  src/host/readDataCooked.hpp
Labels: Issue-Bug, Product-Terminal, Severity-Blocking, Priority-1, Area-CookedRead

#15944 Fix a bug when changing EnableUnfocusedAcrylic at runtime
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Issue-Bug, Needs-Attention

#15889 AtlasEngine: Harden against invalid soft fonts
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/Backend.h
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/BackendD3D.h
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-3, zBugBash-Consider, Area-AtlasEngine

#15990 Add an `openAbout` action.
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Issue-Bug, Area-Accessibility, Product-Terminal

#15972 Make duplicate tabs consider the existing configuration option for its insertion
  src/cascadia/TerminalApp/TabManagement.cpp
Labels: Area-Settings, Product-Terminal, Issue-Task

#15894 Add missing lock guards on Terminal access
  .github/actions/spelling/allow/apis.txt
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
  src/cascadia/PublicTerminalCore/HwndTerminal.hpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, Issue-Task, Area-CodeHealth, Priority-2, zBugBash-Consider

#15994 Add Auto Prop Name to 'Delete Color Scheme' button
  src/cascadia/TerminalSettingsEditor/EditColorScheme.cpp
Labels: Issue-Bug, Area-Accessibility, Product-Terminal

#15897 Allow inheriting env vars from `wt` again and other env var changes too
  doc/cascadia/profiles.schema.json
  src/cascadia/LocalTests_SettingsModel/DeserializationTests.cpp
  src/cascadia/LocalTests_SettingsModel/SerializationTests.cpp
  src/cascadia/LocalTests_SettingsModel/pch.h
  src/cascadia/Remoting/CommandlineArgs.h
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/pch.h
  src/cascadia/TerminalApp/AppCommandlineArgs.cpp
  src/cascadia/TerminalApp/AppCommandlineArgs.h
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalApp/TerminalWindow.h
  src/cascadia/TerminalApp/TerminalWindow.idl
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalConnection/ConptyConnection.idl
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Advanced.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.idl
  src/cascadia/TerminalSettingsModel/pch.h
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/UnitTests_Remoting/pch.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
  src/inc/til/env.h
Labels: zBugBash-Consider

#15948 Option to default to show icon in tab, hide tabicon or make icon in tab monochrome.
  src/cascadia/LocalTests_SettingsModel/ThemeTests.cpp
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalSettingsModel/IconPathConverter.cpp
  src/cascadia/TerminalSettingsModel/IconPathConverter.h
  src/cascadia/TerminalSettingsModel/IconPathConverter.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/Theme.idl
Labels: Area-Settings, Product-Terminal, Issue-Task, Area-Theming

#16002 Don't crash when the checking for updates without a network
  src/cascadia/TerminalApp/AboutDialog.cpp
Labels: Issue-Bug, Area-User Interface, Severity-Crash, Product-Terminal, Severity-Blocking

#16006 Improve performance of scrollbar marks
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.xaml
Labels: Area-Performance, Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge

#16001 Fix `enter` to restart the first pane in a split
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Issue-Bug, Product-Terminal

#16003 Don't explode if we try to parse an empty `keys`
  src/cascadia/TerminalSettingsModel/KeyChordSerialization.cpp
Labels: Issue-Bug, Severity-Crash, Product-Terminal, Priority-2, Area-Settings UI

#16004 Don't update the settings, unless the theme actually changed
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
Labels: Issue-Bug, Area-Settings, Product-Terminal

#15998 Avoid moving the selection while typing a search query
  src/buffer/out/search.cpp
  src/buffer/out/search.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/interactivity/win32/find.cpp
Labels: Area-Output, Issue-Bug, Product-Terminal, AutoMerge, Priority-2

#15360 Replace WinRT clipboard API with Win32 for pasting
  .github/actions/spelling/allow/allow.txt
  .github/actions/spelling/allow/apis.txt
  .github/actions/spelling/allow/microsoft.txt
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/EventArgs.h
Labels: Area-Input, Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Priority-3, zBugBash-Consider

#15991 ConPTY: Fix missing flush on console mode changes
  src/host/VtIo.cpp
  src/host/VtIo.hpp
  src/host/_stream.cpp
  src/host/getset.cpp
  src/host/inputBuffer.cpp
  src/host/inputBuffer.hpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/invalidate.cpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
Labels: Product-Conpty, Area-Server, Area-VT, Issue-Bug, Severity-Blocking, Priority-1, zBugBash-Consider

#16013 nightly: deploy an appinstaller to an Azure storage account (!)
  .github/actions/spelling/allow/microsoft.txt
  build/config/template.appinstaller
  build/pipelines/nightly.yml
  build/pipelines/templates-v2/job-deploy-to-azure-storage.yml
  build/pipelines/templates-v2/job-merge-msix-into-bundle.yml
  build/pipelines/templates-v2/pipeline-full-release-build.yml
  build/scripts/New-AppInstallerFromTemplateAndBundle.ps1
Labels: Product-Conhost, Area-Build, Product-Terminal, Issue-Task, zBugBash-Consider

#16012 About: check PackageManager for updates in addition to Store
  src/cascadia/TerminalApp/AboutDialog.cpp
  src/cascadia/TerminalApp/pch.h
Labels: zBugBash-Consider

#15880 Fix the prompt sometimes not being erased properly
  src/host/readDataCooked.cpp
  src/host/readDataCooked.hpp
Labels: Issue-Bug, Priority-1, zBugBash-Consider, Area-CookedRead

#15701 Reimplement TextBuffer::Reflow
  .github/actions/spelling/expect/expect.txt
  src/buffer/out/Row.cpp
  src/buffer/out/Row.hpp
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/buffer/out/ut_textbuffer/ReflowTests.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/host/VtIo.cpp
  src/host/VtIo.hpp
  src/host/screenInfo.cpp
  src/host/ut_host/ApiRoutinesTests.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/inc/til/rle.h
  src/renderer/vt/invalidate.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/types/UiaTextRangeBase.cpp
Labels: Product-Conhost, Area-Performance, Area-Output, Area-Interaction, Issue-Bug, Area-TerminalControl, Product-Terminal, Priority-3, Priority-2, zBugBash-Consider

#16026 Fix URL sanitizer for long URLs
  .github/actions/spelling/allow/apis.txt
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/inc/cppwinrt_utils.h
Labels: Issue-Bug, AutoMerge

#16066 Add a note on how to build the Terminal in the OS repo
  src/project.inc
Labels: Issue-Docs
