Repository microsoft/terminal, pull requests merged in 2023-05, with the labels that each got.

#15258 Add default bindings for "move tab/pane to a new window"
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: AutoMerge

#15269 Preserve active attributes during VT resize operations
  src/host/outputStream.cpp
  src/host/ut_host/ScreenBufferTests.cpp
Labels: Product-Conhost, Area-Output, Area-VT, Issue-Bug, AutoMerge, Priority-1

#15257 Make reset button accessible
  src/cascadia/TerminalApp/ColorPickupFlyout.xaml
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge, Priority-3

#15263 Move session restore into a helper in AppHost
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
Labels: AutoMerge, Area-CodeHealth

#15273 Don't auto-dismiss the warning dialog on launch
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Severity-Blocking, Needs-Second, zBugBash-Consider

#15237 Add support to show close button for active tab only.
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/Theme.idl
Labels: Product-Terminal, AutoMerge, Issue-Task, Area-Theming, zBugBash-Consider

#15029 Add `til::property` and other winrt helpers
  .github/actions/spelling/allow/allow.txt
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/pch.h
  src/cascadia/UnitTests_Control/pch.h
  src/cascadia/UnitTests_TerminalCore/MockTermSettings.h
  src/cascadia/UnitTests_TerminalCore/TilWinRtHelpersTests.cpp
  src/cascadia/UnitTests_TerminalCore/UnitTests.vcxproj
  src/inc/til/winrt.h
Labels: Area-CodeHealth

#15262 Fix Present1 params when scrolling the entire viewport
  src/features.xml
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.r.cpp
  src/renderer/atlas/common.h
Labels: Issue-Bug, Product-Terminal, Priority-2, Area-AtlasEngine

#15283 Use Oklab for text and cursor contrast adjustments
  .github/actions/spelling/allow/names.txt
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect/expect.txt
  NOTICE.md
  doc/color_nudging.html
  src/buffer/out/TextColor.cpp
  src/buffer/out/TextColor.h
  src/cascadia/TerminalCore/Terminal.cpp
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/BackendD3D.h
  src/renderer/base/RenderSettings.cpp
  src/renderer/inc/RenderSettings.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/types/ColorFix.cpp
  src/types/inc/ColorFix.hpp
Labels: Issue-Feature, Area-Rendering, Product-Terminal, AutoMerge, zBugBash-Consider

#15298 Make conhost act in VtIo mode earlier in startup
  src/host/VtIo.cpp
  src/host/VtIo.hpp
Labels: Product-Conhost, Product-Conpty, Issue-Bug, Severity-Crash, Product-Terminal, Severity-Blocking, Area-DefApp, zBugBash-Consider

#15313 Update MUX to 2.8.4
  dep/nuget/packages.config
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TabRowControl.xaml
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/common.nugetversions.props
  src/common.nugetversions.targets
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Severity-Blocking, Priority-1, zBugBash-Consider

#15253 Fix an infinite loop when pressing `alt`
  src/cascadia/TerminalApp/TerminalWindow.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Severity-Blocking, zBugBash-Consider

#15254 Add an action for manually invoking the control context menu
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: zBugBash-Consider

#15323 Don't let a window be created with the literal name "new"
  src/cascadia/Remoting/Monarch.cpp
Labels: AutoMerge, zBugBash-Consider

#15295 Add support for CSI 18t
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Product-Conhost, Area-VT, Issue-Task

#14677 Prevent flickering in nushell due to FTCS marks
  src/host/screenInfo.cpp
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/invalidate.cpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/vtrenderer.hpp
Labels: Product-Conpty, Area-VT, Issue-Bug, zBugBash-Consider

#15336 Fix theoretical new-tab file drop crash
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal

#15280 Use a "virtual CWD" for each terminal window
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalApp/TerminalWindow.h
  src/cascadia/TerminalApp/TerminalWindow.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
  src/types/inc/utils.hpp
  src/types/ut_types/UtilsTests.cpp
  src/types/utils.cpp
  tools/bcz.cmd
Labels: Issue-Bug, Product-Terminal, Severity-Blocking, Priority-1, Area-Commandline, Area-Remoting, zBugBash-Consider

#15339 Restore the tab padding
  src/cascadia/TerminalApp/App.xaml
  src/cascadia/TerminalApp/MinMaxCloseControl.xaml
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Severity-Blocking, zBugBash-Consider

#15334 Fix race conditions in ControlCore
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/UnitTests_Control/pch.h
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge

#15333 Avoid recreating the bell MediaPlayer every time
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
Labels: Product-Terminal, AutoMerge, Area-Quality

#15337 Fix WindowEmperor exiting too early
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
  src/cascadia/WindowsTerminal/WindowEmperor.h
  src/cascadia/WindowsTerminal/WindowThread.cpp
  src/cascadia/WindowsTerminal/WindowThread.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge

#15332 Make path-string conversions cheaper
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsModel/PowershellCoreProfileGenerator.cpp
  src/types/utils.cpp
  src/winconpty/winconpty.cpp
Labels: AutoMerge, Area-CodeHealth

#15340 Don't dismiss the command palette when the new tab menu closes
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Issue-Bug, Product-Terminal, Severity-Blocking, zBugBash-Consider

#15325 Don't even try to MoveContent to the same window you started in
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: zBugBash-Consider

#15261 Add support for LNM (Line Feed/New Line Mode)
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITerminalApi.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/input/terminalInput.cpp
  src/terminal/input/terminalInput.hpp
Labels: Product-Conhost, Area-VT, Issue-Task, zBugBash-Consider

#15338 Fix DesktopWindowXamlSource related crashes when closing a window
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
  src/cascadia/WindowsTerminal/WindowThread.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Priority-3

#15357 AtlasEngine: Fix multiple minor issues
  src/inc/til/flat_set.h
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/Backend.cpp
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/common.h
Labels: Issue-Bug, Priority-2, Area-AtlasEngine

#15358 AtlasEngine: Fix han unification issues
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/DWriteTextAnalysis.cpp
  src/renderer/atlas/DWriteTextAnalysis.h
Labels: Issue-Bug, Priority-1, Area-AtlasEngine

#15353 AtlasEngine: Fix animated shaders
  src/renderer/atlas/AtlasEngine.r.cpp
Labels: Issue-Bug, Product-Terminal, Priority-2, Area-AtlasEngine

#15286 Manually pre-evaluate the starting directory when calling elevate-shim
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Issue-Bug, Product-Terminal, AutoMerge, Severity-Blocking, Area-Commandline, zBugBash-Consider

#15343 AtlasEngine: Clip box glyphs to their cells
  src/inc/til/flat_set.h
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/BackendD3D.h
Labels: Issue-Bug, Area-AtlasEngine

#15084 Add support for horizontal margin sequences
  .github/actions/spelling/expect/alphabet.txt
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/telemetry.cpp
  src/terminal/parser/telemetry.hpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Issue-Feature, Area-VT, Product-Terminal, zBugBash-Consider

#15378 Remove the pending update version from the About dialog
  src/cascadia/TerminalApp/AboutDialog.cpp
  src/cascadia/TerminalApp/AboutDialog.h
  src/cascadia/TerminalApp/AboutDialog.idl
  src/cascadia/TerminalApp/AboutDialog.xaml
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Priority-0

#15387 Manually close the ContentDialog in teardown
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Issue-Bug, Product-Terminal, Severity-Blocking, Area-Windowing

#15403 AtlasEngine: Fix Present() of out of bounds glyphs
  src/renderer/atlas/AtlasEngine.r.cpp
  src/renderer/atlas/BackendD2D.cpp
  src/renderer/atlas/BackendD2D.h
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/BackendD3D.h
  src/renderer/atlas/common.h
Labels: Area-Rendering, Issue-Bug, Product-Terminal, AutoMerge, Priority-0, Area-AtlasEngine

#15419 AtlasEngine: Fix nullptr crash when using soft fonts
  src/renderer/atlas/BackendD3D.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-1, Area-AtlasEngine

#15439 Fix VS profile command generation
  src/cascadia/TerminalSettingsModel/VsDevCmdGenerator.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Priority-2

#15427 AtlasEngine: Fix cursor invalidation for BackendD2D
  src/renderer/atlas/BackendD2D.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-1, Area-AtlasEngine

#15376 Add support for a "Move Tab to New Window" tab context menu item
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task

#15420 Fix `focusFollowMouse`
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Issue-Bug, Area-User Interface, Severity-Crash, Product-Terminal, AutoMerge

#15368 Add support for horizontal scrolling sequences
  .github/actions/spelling/expect/expect.txt
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/telemetry.cpp
  src/terminal/parser/telemetry.hpp
Labels: Product-Conhost, Area-VT, AutoMerge, Issue-Task

#15451 AGAIN, intentionally leak our App, so that we DON'T crash on exit
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
Labels: Issue-Bug

#15444 env: always expand PATH vars
  src/inc/til/env.h
Labels: Issue-Bug, Area-TerminalConnection, Product-Terminal, Priority-1

#15425 AtlasEngine: Improve scroll and swap chain invalidation
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
Labels: Issue-Bug, Product-Terminal, Priority-2, Area-AtlasEngine

#15423 Hotfix block selection linebreaks in conhost
  src/interactivity/win32/Clipboard.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, Priority-2

#15445 Exit the process after commandline-only invocations
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
Labels: Issue-Bug

#15484 Modernize til::static_map with C++20
  src/cascadia/TerminalSettingsModel/KeyChordSerialization.cpp
  src/inc/til/static_map.h
  src/types/colorTable.cpp
Labels: Area-CodeHealth
