Repository microsoft/terminal, pull requests merged in 2023-01, with the labels that each got.

#14521 Duplicated tabs open next to the current tab
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Area-Settings, Product-Terminal, AutoMerge, Issue-Task

#14653 Check for null lParam in WM_SETTINGSCHANGE
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Issue-Bug, AutoMerge

#14648 Fix missing paths when items dropped from archive
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/dll/TerminalControl.vcxproj
  src/cascadia/TerminalControl/pch.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge

#14661 Correct the cursor invalidation region
  src/renderer/base/renderer.cpp
Labels: Issue-Bug, AutoMerge

#14541 Introduce PseudoConsoleWindow a11y provider
  src/interactivity/base/InteractivityFactory.cpp
  src/interactivity/base/InteractivityFactory.hpp
  src/interactivity/base/PseudoConsoleWindowAccessibilityProvider.cpp
  src/interactivity/base/PseudoConsoleWindowAccessibilityProvider.hpp
  src/interactivity/base/lib/InteractivityBase.vcxproj
  src/interactivity/base/lib/InteractivityBase.vcxproj.filters
  src/interactivity/base/sources.inc
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge

#14497 Enable switching app theme based off of OS theme
  src/cascadia/TerminalSettingsEditor/GlobalAppearanceViewModel.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/SettingsUtils.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/Theme.cpp
  src/cascadia/TerminalSettingsModel/Theme.h
  src/cascadia/TerminalSettingsModel/Theme.idl
Labels: AutoMerge, Needs-Second, Area-Theming, zBugBash-Consider

#14650 Prevent horizontally scrolling wide chars erasing themselves
  src/host/output.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: Product-Conhost, Area-Output, Area-VT, Issue-Bug, AutoMerge, Severity-Blocking

#14672 Add the Theme schema for 1.16
  .github/actions/spelling/expect/expect.txt
  doc/cascadia/profiles.schema.json
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Area-Schema

#14668 Fix an issue where JsonUtils produces a bad error message
  src/cascadia/TerminalSettingsModel/JsonUtils.h
Labels: Issue-Bug, Area-Settings, Product-Terminal, AutoMerge, Needs-Second, Priority-3

#14678 [WPF] Add TermCore null checks to HwndTerminal
  src/cascadia/PublicTerminalCore/HwndTerminal.cpp
Labels: Issue-Bug, Severity-Crash, Product-Terminal, AutoMerge, Priority-1, Area-WPFControl

#14666 Update the Theme schema for 1.17
  doc/cascadia/profiles.schema.json
Labels: Issue-Bug, Product-Terminal, Needs-Second, Area-Schema

#14636 Make sure to update the selection pivot while circling
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/UnitTests_Control/ControlInteractivityTests.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, AutoMerge, Needs-Second, Priority-2

#14671 Fix some additional typos
  doc/Niksa.md
  doc/specs/drafts/#997 Non-Terminal-Panes.md
  scratch/ScratchIslandApp/WindowExe/WindowExe.vcxproj
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/host/ft_host/CJK_DbcsTests.cpp
  src/host/ft_uia/Common/ShortcutHelper.cs
  src/renderer/atlas/AtlasEngine.h
Labels: AutoMerge, Needs-Second

#14673 Ensure export and find tab context menu items work for unfocused tabs
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge

#14643 Make sure focused tab text color accounts for alpha
  src/cascadia/TerminalApp/TabBase.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Needs-Second

#14694 Add mutex to keyEvents in TermControlAutomationPeer
  src/cascadia/TerminalControl/TermControlAutomationPeer.cpp
  src/cascadia/TerminalControl/TermControlAutomationPeer.h
  src/cascadia/TerminalControl/pch.h
Labels: Issue-Bug, Area-TerminalControl, Severity-Crash, Needs-Author-Feedback, Product-Terminal, AutoMerge

#14640 Merge the PrintString functionality into AdaptDispatch
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalApiTest.cpp
  src/host/_stream.cpp
  src/host/cmdline.h
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/terminal/adapter/ITerminalApi.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Product-Conhost, Area-Rendering, Product-Conpty, Area-Output, Issue-Bug, Product-Terminal, AutoMerge, Issue-Task, Priority-1, Priority-2

#14572 Update Profile and Appearance VMs to use CSVM; remove nav state
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.idl
  src/cascadia/TerminalSettingsEditor/Profiles.h
  src/cascadia/TerminalSettingsEditor/Profiles.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Advanced.cpp
  src/cascadia/TerminalSettingsEditor/Profiles_Advanced.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.cpp
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Base.cpp
  src/cascadia/TerminalSettingsEditor/Profiles_Base.idl
Labels: Automerge-Not-Compatible

#14697 Make the PR template less unfriendly
  .github/PULL_REQUEST_TEMPLATE.md
Labels: AutoMerge

#14660 Remove the win10/win11 digit from our version number.
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
Labels: Area-User Interface, Product-Terminal, AutoMerge, Issue-Task, Needs-Second

#14704 Manually set the automation name of the default color scheme for screen reader
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
  src/cascadia/TerminalSettingsEditor/ColorSchemes.h
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge

#14700 Add support for IRM (Insert Replace Mode)
  src/host/ut_host/ScreenBufferTests.cpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/telemetry.cpp
  src/terminal/parser/telemetry.hpp
Labels: Product-Conhost, Area-VT, AutoMerge, Issue-Task

#14675 Only use Mica in the SUI if Mica is available
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Severity-Blocking, Needs-Second, Area-Settings UI, Area-Theming

#14587 Add color chips to the color scheme dropdown in Appearance
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
Labels: AutoMerge

#14706 Fix the selected color scheme list item container background being blue in Windows 10
  src/cascadia/TerminalSettingsEditor/ColorSchemes.xaml
Labels: AutoMerge

#14631 Automatically focus the ColorSchemeListView when we navigate to the ColorSchemes page
  src/cascadia/TerminalSettingsEditor/ColorSchemes.cpp
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge, Priority-1

#14637 Launch elevated instances via shell:AppFolder
  src/cascadia/ElevateShim/elevate-shim.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge

#14536 Use a dark titlebar when we've requested dark theme
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/SettingsUtils.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/Theme.cpp
  src/cascadia/TerminalSettingsModel/Theme.h
  src/cascadia/TerminalSettingsModel/Theme.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/BaseWindow.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
Labels: Issue-Bug, Product-Terminal, Issue-Task, Priority-3, Area-Windowing, Area-Theming

#14708 Update the titlebar visibility when we gain/lose focus too
  src/cascadia/WindowsTerminal/AppHost.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Needs-Second, Area-Theming

#14710 Code sign the contents of the Terminal package
  build/config/ESRPSigning_Terminal.json
  build/pipelines/release.yml
Labels: Issue-Bug, Needs-Second

#14714 Ensure TermControl is not closing when firing UIA events
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControlAutomationPeer.cpp
  src/cascadia/TerminalControl/TermControlAutomationPeer.h
Labels: Severity-Crash, Needs-Author-Feedback, Product-Terminal, AutoMerge, Priority-1

#14722 Resize our ContentDialog's when the window resizes
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, AutoMerge, Needs-Second, Priority-3

#14723 [UIA] Dispatch a TextChanged event on new output
  src/renderer/uia/UiaRenderer.cpp
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, AutoMerge

#14733 Generalize OpenConsoleProxy's HybridCRT logic
  src/cascadia/LocalTests_TerminalApp/TestHostApp/TestHostApp.vcxproj
  src/cascadia/PublicTerminalCore/PublicTerminalCore.vcxproj
  src/common.build.post.props
  src/cppwinrt.build.pre.props
  src/host/proxy/Host.Proxy.vcxproj
Labels: AutoMerge

#14735 Make all console output modes more strictly buffer state
  src/host/_stream.cpp
  src/host/ft_host/API_ModeTests.cpp
  src/host/getset.cpp
  src/host/outputStream.cpp
  src/host/renderData.cpp
  src/host/screenInfo.cpp
  src/host/settings.cpp
  src/host/settings.hpp
  src/host/srvinit.cpp
  src/host/telemetry.cpp
  src/host/ut_host/TextBufferTests.cpp
Labels: Product-Conhost, Area-Output, Issue-Bug, AutoMerge, Priority-2
