Repository microsoft/terminal, pull requests merged in 2024-06, with the labels that each got.

#17358 Fix two panes being closed when just one is
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/ScratchpadContent.cpp
  src/cascadia/TerminalApp/SettingsPaneContent.cpp
  src/cascadia/TerminalApp/TerminalPaneContent.cpp
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalConnection/ConptyConnection.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, Priority-1

#17369 Warn when using old MacType versions
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/TermControl.cpp
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/BackendD3D.h
  src/renderer/atlas/common.h
Labels: Area-Rendering, Severity-Crash, Product-Terminal, Issue-Task

#17281 Allow actions in the new tab dropdown
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionEntry.cpp
  src/cascadia/TerminalSettingsModel/ActionEntry.h
  src/cascadia/TerminalSettingsModel/ActionMap.cpp
  src/cascadia/TerminalSettingsModel/ActionMap.h
  src/cascadia/TerminalSettingsModel/ActionMap.idl
  src/cascadia/TerminalSettingsModel/Microsoft.Terminal.Settings.ModelLib.vcxproj
  src/cascadia/TerminalSettingsModel/NewTabMenuEntry.cpp
  src/cascadia/TerminalSettingsModel/NewTabMenuEntry.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/dll/Microsoft.Terminal.Settings.Model.vcxproj
Labels: Issue-Feature, Area-User Interface, Area-Settings, Product-Terminal, Issue-Task

#17386 Re-implement previewing, with the new TSF
  src/cascadia/TerminalApp/ActionPreviewHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/renderer/base/renderer.cpp
  src/renderer/inc/IRenderData.hpp
  src/tsf/Implementation.cpp
Labels: Area-Settings, Product-Terminal, Issue-Task, Area-CmdPal

#17444 Move colorbrewer into its own proper header
  .github/actions/spelling/allow/allow.txt
  .github/actions/spelling/expect/expect.txt
  NOTICE.md
  src/inc/til/colorbrewer.h
  src/renderer/atlas/AtlasEngine.r.cpp
  src/renderer/atlas/BackendD2D.cpp
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/atlas.vcxproj
Labels: Area-CodeHealth

#17443 Remove some unused TextBuffer methods
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/host/ut_host/TextBufferTests.cpp
Labels: Area-CodeHealth

#17442 Make the renderer optional
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/buffer/out/ut_textbuffer/ReflowTests.cpp
  src/buffer/out/ut_textbuffer/UTextAdapterTests.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalCore/Terminal.cpp
  src/host/screenInfo.cpp
  src/host/ut_host/TextBufferTests.cpp
  src/inc/test/CommonState.hpp
  src/renderer/base/RenderSettings.cpp
  src/renderer/inc/RenderSettings.hpp
  src/terminal/adapter/PageManager.cpp
  src/terminal/adapter/PageManager.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Product-Conhost, Area-VT

#17441 Add more ConsoleBench tests
  src/tools/ConsoleBench/ConsoleBench.exe.manifest
  src/tools/ConsoleBench/ConsoleBench.vcxproj
  src/tools/ConsoleBench/ConsoleBench.vcxproj.filters
  src/tools/ConsoleBench/arena.cpp
  src/tools/ConsoleBench/arena.h
  src/tools/ConsoleBench/conhost.cpp
  src/tools/ConsoleBench/conhost.h
  src/tools/ConsoleBench/main.cpp
  src/tools/ConsoleBench/utils.h
Labels: Area-Performance

#17464 Fix builtin glyph corruption in the D2D renderer
  src/renderer/atlas/BackendD2D.cpp
Labels: Issue-Bug, Priority-3, Area-AtlasEngine

#16916 Implement grapheme clusters
  .github/actions/spelling/expect/expect.txt
  src/buffer/out/Row.cpp
  src/buffer/out/textBuffer.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsEditor/RenderingViewModel.cpp
  src/cascadia/TerminalSettingsEditor/RenderingViewModel.h
  src/cascadia/TerminalSettingsEditor/RenderingViewModel.idl
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/EnumMappings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.h
  src/cascadia/TerminalSettingsModel/EnumMappings.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/inc/ControlProperties.h
  src/host/ConsoleArguments.cpp
  src/host/ConsoleArguments.hpp
  src/host/VtIo.cpp
  src/host/screenInfo.cpp
  src/host/settings.cpp
  src/host/settings.hpp
  src/host/srvinit.cpp
  src/host/ut_host/CodepointWidthDetectorTests.cpp
  src/host/ut_host/Host.UnitTests.vcxproj
  src/host/ut_host/Host.UnitTests.vcxproj.filters
  src/host/ut_host/sources
  src/inc/conpty-static.h
  src/propslib/RegistrySerialization.cpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/tools/GraphemeTableGen/GraphemeTableGen.csproj
  src/tools/GraphemeTableGen/Program.cs
  src/tools/GraphemeTestTableGen/GraphemeTestTableGen.csproj
  src/tools/GraphemeTestTableGen/Program.cs
  src/types/CodepointWidthDetector.cpp
  src/types/GlyphWidth.cpp
  src/types/inc/CodepointWidthDetector.hpp
  src/types/inc/GlyphWidth.hpp
  src/types/lib/types.vcxproj.filters
  src/types/ut_types/CodepointWidthDetectorTests.cpp
  src/types/ut_types/Types.Unit.Tests.vcxproj
  src/types/ut_types/sources
  src/winconpty/winconpty.cpp
  src/winconpty/winconpty.h
Labels: Issue-Feature, Product-Conhost, Area-Rendering, Product-Terminal

#16848 Add Quick Fix UI and support for custom CommandNotFound OSC
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/EventArgs.cpp
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalControl/TermControl.xaml
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/Command.cpp
  src/cascadia/TerminalSettingsModel/Command.h
  src/cascadia/TerminalSettingsModel/Command.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/features.xml
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/ITerminalApi.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
Labels: Area-TerminalControl, Product-Terminal, Issue-Task
