Repository microsoft/terminal, pull requests merged in 2024-05, with the labels that each got.

#17183 Some schema updates for 1.21
  doc/cascadia/profiles.schema.json
Labels: Area-Schema

#17129 Fix doskey macros for inputs with >1 consecutive whitespace
  src/host/alias.cpp
  src/host/alias.h
  src/host/ut_host/AliasTests.cpp
  src/inc/til.h
  src/renderer/atlas/BackendD3D.cpp
Labels: Product-Conhost, Product-Cmd.exe, Area-Server, Issue-Bug, Needs-Attention, Priority-2

#17182 Fix remaining buffer serialization bugs
  src/buffer/out/textBuffer.cpp
Labels: Area-Output, Issue-Bug, Product-Terminal, Priority-2

#17144 Fix clearing marks
  src/buffer/out/textBuffer.cpp
  src/cascadia/UnitTests_TerminalCore/ConptyRoundtripTests.cpp
  src/terminal/adapter/adaptDispatch.cpp
Labels: Needs-Attention

#17193 AtlasEngine: Fix several error handling bugs
  src/cascadia/TerminalControl/TermControl.cpp
  src/renderer/atlas/AtlasEngine.r.cpp
  src/renderer/atlas/BackendD2D.cpp
  src/renderer/atlas/BackendD2D.h
Labels: Issue-Bug, Product-Terminal, Priority-1, Area-AtlasEngine

#17199 Add nullptr checks to shared_ptr conversions
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Issue-Bug, Area-TerminalControl, Severity-Crash, Product-Terminal, Priority-0

#17213 Fix typing multiple emojis on Windows 10
  src/tsf/Implementation.cpp
Labels: Issue-Bug, Product-Terminal, Priority-0, Area-i18n

#17257 Fix race conditions in UiaTextRangeBase
  src/types/UiaTextRangeBase.cpp
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, Priority-3

#17259 Improve font related help text
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Product-Terminal, Issue-Task, Area-Settings UI

#17261 Remove spaces from snippets in the SXNUI
  src/cascadia/TerminalSettingsModel/ActionMap.cpp
  src/inc/til/string.h
Labels: Issue-Bug, Product-Terminal, Area-Suggestions

#17258 AtlasEngine: Improve robustness against weird font sizes
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/BackendD2D.cpp
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/BackendD3D.h
  src/renderer/atlas/common.h
Labels: Issue-Bug, Product-Terminal, Priority-3, Area-AtlasEngine

#17266 Fix lock warning during ReturnResponse
  src/cascadia/TerminalCore/TerminalApi.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, Priority-3

#17272 Localization Updates - main - 05/15/2024 03:05:01
  src/cascadia/TerminalSettingsEditor/Resources/de-DE/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/es-ES/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/fr-FR/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/it-IT/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/ja-JP/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/ko-KR/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/pt-BR/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/qps-ploc/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/qps-ploca/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/qps-plocm/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/ru-RU/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/zh-CN/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/zh-TW/Resources.resw
Labels: Needs-Author-Feedback

#16615 Add support for VT paging operations
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/UnitTests_TerminalCore/SelectionTest.cpp
  src/cascadia/UnitTests_TerminalCore/TerminalApiTest.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/terminal/adapter/DispatchTypes.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/ITerminalApi.hpp
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/adapter/PageManager.cpp
  src/terminal/adapter/PageManager.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/adaptDispatchGraphics.cpp
  src/terminal/adapter/lib/adapter.vcxproj
  src/terminal/adapter/lib/adapter.vcxproj.filters
  src/terminal/adapter/sources.inc
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
Labels: Product-Conhost, Area-VT, Product-Terminal, Issue-Task

#17304 Localization Updates - fix issues in Korean, Italian, Spanish
  src/cascadia/TerminalApp/Resources/es-ES/Resources.resw
  src/cascadia/TerminalApp/Resources/it-IT/Resources.resw
  src/cascadia/TerminalControl/Resources/it-IT/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/ko-KR/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/es-ES/Resources.resw
Labels: Needs-Author-Feedback
