Repository microsoft/terminal, pull requests merged in 2024-10, with the labels that each got.

#17989 Revert "Stop updating AutoSuggestBox on selection"
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
Labels: Issue-Bug, Product-Terminal, Priority-1, Area-Settings UI

#17993 Allow shift+enter in Terminal Chat's text box
  src/cascadia/QueryExtension/ExtensionPalette.cpp
  src/cascadia/QueryExtension/ExtensionPalette.xaml
Labels: Issue-Bug, Product-Terminal, Area-Chat

#17945 Add support for the S8C1T/S7C1T escape sequences
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/host/getset.cpp
  src/host/getset.h
  src/host/output.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/server.h
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/ITerminalApi.hpp
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/adapter/ut_adapter/inputTest.cpp
  src/terminal/input/terminalInput.cpp
  src/terminal/input/terminalInput.hpp
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/terminal/parser/OutputStateMachineEngine.hpp
  src/terminal/parser/stateMachine.cpp
Labels: Issue-Feature, Area-VT, Product-Terminal, AutoMerge

#17829 Avoid focus loops in ConPTY
  .github/actions/spelling/allow/apis.txt
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/UnitTests_TerminalCore/UnitTests.vcxproj
  src/host/PtySignalInputThread.cpp
  src/host/PtySignalInputThread.hpp
  src/host/exe/Host.EXE.vcxproj
  src/host/ft_fuzzer/Host.FuzzWrapper.vcxproj
  src/host/outputStream.cpp
  src/host/sources.inc
  src/host/ut_host/Host.UnitTests.vcxproj
  src/interactivity/base/InteractivityFactory.cpp
  src/interactivity/base/InteractivityFactory.hpp
  src/interactivity/base/ServiceLocator.cpp
  src/interactivity/inc/IInteractivityFactory.hpp
  src/interactivity/inc/ServiceLocator.hpp
  src/interactivity/win32/ut_interactivity_win32/Interactivity.Win32.UnitTests.vcxproj
  src/interactivity/win32/ut_interactivity_win32/sources
  src/terminal/adapter/InteractDispatch.cpp
  src/terminal/adapter/ut_adapter/sources
  src/terminal/parser/ut_parser/sources
Labels: Product-Conpty, Issue-Bug

#18022 Changed new tab index on tab close to next tab
  src/cascadia/TerminalApp/TabManagement.cpp
Labels: Issue-Feature, Area-User Interface, Product-Terminal

#18030 Fix hiding the icon when it's set to "none"
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal

#18021 OpenConsole.psm1 PSVersion check
  tools/OpenConsole.psm1
Labels: Needs-Attention, Product-Meta, Issue-Task, Area-CodeHealth

#18009 Add a policy for profile sources
  .github/actions/spelling/expect/04cdb9b77d6827c0202f51acd4205b017015bfff.txt
  .github/actions/spelling/expect/expect.txt
  policies/WindowsTerminal.admx
  policies/en-US/WindowsTerminal.adml
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/inc/til/winrt.h
Labels: Issue-Feature, Area-Settings, Product-Terminal

#18031 Localization Updates - 10/22/2024 03:06:53
  src/cascadia/CascadiaPackage/Resources/cs-CZ/Resources.resw
  src/cascadia/TerminalApp/Resources/cs-CZ/ContextMenu.resw
  src/cascadia/TerminalSettingsEditor/Resources/de-DE/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/es-ES/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/fr-FR/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/it-IT/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/ja-JP/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/ko-KR/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/pt-BR/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/qps-ploc/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/qps-ploca/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/qps-plocm/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/ru-RU/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/zh-CN/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/zh-TW/Resources.resw
Labels: Issue-Bug, Product-Terminal, Area-Localization

#18010 Stop updating AutoSuggestBox on selection redux
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
Labels: Issue-Bug, Area-Accessibility, Product-Terminal

#18116 Add icon override setting for newTabMenu entries
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalSettingsModel/ActionEntry.cpp
  src/cascadia/TerminalSettingsModel/ActionEntry.h
  src/cascadia/TerminalSettingsModel/NewTabMenuEntry.idl
  src/cascadia/TerminalSettingsModel/ProfileEntry.cpp
  src/cascadia/TerminalSettingsModel/ProfileEntry.h
Labels: Area-User Interface, Area-Settings, Product-Terminal, Issue-Task

#17962 New tokenization & integer parsing helpers
  src/cascadia/TerminalApp/Jumplist.cpp
  src/cascadia/TerminalSettingsModel/KeyChordSerialization.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/UIHelpers/Converters.cpp
  src/cascadia/UIHelpers/IconPathConverter.cpp
  src/common.build.pre.props
  src/inc/til/string.h
  src/terminal/parser/OutputStateMachineEngine.cpp
  src/til/ut_til/string.cpp
Labels: Area-CodeHealth

#18132 Fix High Contrast mode in Command Palette
  src/cascadia/TerminalApp/CommandPalette.xaml
Labels: Issue-Bug, Area-Accessibility, Product-Terminal

#18107 Add 'Move Tab' submenu to tab context menu
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
Labels: Issue-Bug, Area-Accessibility, Product-Terminal
