Repository microsoft/terminal, pull requests merged in 2024-04, with the labels that each got.

#16993 Fix bugs introduced in #16821 (custom font fallback)
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.cpp
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.h
Labels: Area-Rendering, Issue-Bug, Product-Terminal, Priority-1, Area-Settings UI

#16997 Add some docs on how to resolve `DEP0700` errors in VS
  doc/building.md
Labels: Issue-Docs

#16989 Add clamping of initial rows and columns settings
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/UnitTests_SettingsModel/DeserializationTests.cpp
Labels: Issue-Bug, Area-Settings, Product-Terminal, Priority-2

#16812 Fix selection expansion for Double-Width and Double-Height rows
  src/buffer/out/textBuffer.cpp
Labels: Needs-Attention

#17022 Buffer Restore: Fix serializing >32KiB
  src/buffer/out/textBuffer.cpp
Labels: Issue-Bug, Product-Terminal, Priority-1

#16951 Change default pane keybindings to duplicate, rather than use default profile
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-Settings, Product-Terminal, Issue-Task

#16938 Make marks a stable feature
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/features.xml
Labels: Area-TerminalControl, Product-Terminal, Issue-Scenario

#17030 Add more profile GUID tests
  src/cascadia/UnitTests_SettingsModel/ProfileTests.cpp
Labels: Product-Terminal, Issue-Task, Area-CodeHealth

#15500 Reduce cost of cursor invalidation
  src/buffer/out/LineRendition.hpp
  src/buffer/out/cursor.cpp
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/HwndTerminal.cpp
  src/host/getset.cpp
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
Labels: Product-Conhost, Area-Performance

#17006 Replace WinRT clipboard API with Win32 for copying
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/EventArgs.cpp
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/terminal/adapter/ITermDispatch.hpp
  src/terminal/adapter/ITerminalApi.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/adaptDispatch.hpp
  src/terminal/adapter/termDispatch.hpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
  src/terminal/parser/ut_parser/OutputEngineTest.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal

#17035 Localization Updates - main - associated with #16886
  src/cascadia/TerminalApp/Resources/de-DE/Resources.resw
  src/cascadia/TerminalApp/Resources/es-ES/Resources.resw
  src/cascadia/TerminalApp/Resources/fr-FR/Resources.resw
  src/cascadia/TerminalApp/Resources/it-IT/Resources.resw
  src/cascadia/TerminalApp/Resources/ja-JP/Resources.resw
  src/cascadia/TerminalApp/Resources/ko-KR/Resources.resw
  src/cascadia/TerminalApp/Resources/pt-BR/Resources.resw
  src/cascadia/TerminalApp/Resources/qps-ploc/Resources.resw
  src/cascadia/TerminalApp/Resources/qps-ploca/Resources.resw
  src/cascadia/TerminalApp/Resources/qps-plocm/Resources.resw
  src/cascadia/TerminalApp/Resources/ru-RU/Resources.resw
  src/cascadia/TerminalApp/Resources/zh-CN/Resources.resw
  src/cascadia/TerminalApp/Resources/zh-TW/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/de-DE/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/es-ES/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/fr-FR/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/it-IT/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/ja-JP/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/ko-KR/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/pt-BR/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/qps-ploc/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/qps-ploca/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/qps-plocm/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/ru-RU/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/zh-CN/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/zh-TW/Resources.resw
Labels: Needs-Author-Feedback

#17058 Fix window style under minimized state
  src/cascadia/TerminalApp/MinMaxCloseControl.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, Priority-3

#16611 Improve Search Highlighting
  src/buffer/out/search.cpp
  src/buffer/out/search.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/EventArgs.cpp
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/SearchBoxControl.cpp
  src/cascadia/TerminalControl/SearchBoxControl.h
  src/cascadia/TerminalControl/SearchBoxControl.idl
  src/cascadia/TerminalControl/SearchBoxControl.xaml
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalApi.cpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalCore/terminalrenderdata.cpp
  src/cascadia/UnitTests_TerminalCore/ScrollTest.cpp
  src/host/outputStream.cpp
  src/host/outputStream.hpp
  src/host/renderData.cpp
  src/host/renderData.hpp
  src/host/ut_host/VtIoTests.cpp
  src/inc/til/point.h
  src/inc/til/rect.h
  src/interactivity/onecore/BgfxEngine.cpp
  src/interactivity/onecore/BgfxEngine.hpp
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/base/RenderEngineBase.cpp
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/gdi/gdirenderer.hpp
  src/renderer/gdi/paint.cpp
  src/renderer/inc/IRenderData.hpp
  src/renderer/inc/IRenderEngine.hpp
  src/renderer/inc/RenderEngineBase.hpp
  src/renderer/uia/UiaRenderer.cpp
  src/renderer/uia/UiaRenderer.hpp
  src/renderer/vt/paint.cpp
  src/renderer/vt/vtrenderer.hpp
  src/renderer/wddmcon/WddmConRenderer.cpp
  src/renderer/wddmcon/WddmConRenderer.hpp
  src/terminal/adapter/ITerminalApi.hpp
  src/terminal/adapter/adaptDispatch.cpp
  src/terminal/adapter/ut_adapter/adapterTest.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Priority-2

#17100 Use float instead of double by default
  src/cascadia/TerminalApp/ActionPreviewHandlers.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TitlebarControl.cpp
  src/cascadia/TerminalApp/TitlebarControl.h
  src/cascadia/TerminalApp/TitlebarControl.idl
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/ControlInteractivity.idl
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/HwndTerminal.cpp
  src/cascadia/TerminalControl/HwndTerminal.hpp
  src/cascadia/TerminalControl/IControlAppearance.idl
  src/cascadia/TerminalControl/InteractivityAutomationPeer.cpp
  src/cascadia/TerminalControl/InteractivityAutomationPeer.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/ICoreAppearance.idl
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.idl
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/AppearanceConfig.cpp
  src/cascadia/TerminalSettingsModel/AppearanceConfig.h
  src/cascadia/TerminalSettingsModel/IAppearanceConfig.idl
  src/cascadia/TerminalSettingsModel/JsonUtils.h
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/UnitTests_Control/ControlCoreTests.cpp
  src/cascadia/UnitTests_Control/ControlInteractivityTests.cpp
  src/cascadia/UnitTests_SettingsModel/CommandTests.cpp
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/inc/ControlProperties.h
  src/types/IControlAccessibilityInfo.h
  src/types/TermControlUiaProvider.cpp
  src/types/TermControlUiaProvider.hpp
Labels: Area-CodeHealth

#17107 Fix TerminalPage not being released on window close
  src/cascadia/WindowsTerminal/NonClientIslandWindow.cpp
  src/cascadia/WindowsTerminal/NonClientIslandWindow.h
Labels: Issue-Bug, Product-Terminal, Priority-3, Area-Windowing

#17104 AtlasEngine: Fix custom shader time imprecision
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/BackendD3D.h
  src/renderer/atlas/common.h
Labels: Issue-Bug, Product-Terminal, Priority-3, Area-AtlasEngine

#17049 [1.20] Backport session persistence improvements
  .github/actions/spelling/expect/expect.txt
  src/cascadia/Remoting/GetWindowLayoutArgs.cpp
  src/cascadia/Remoting/GetWindowLayoutArgs.h
  src/cascadia/Remoting/Microsoft.Terminal.RemotingLib.vcxproj
  src/cascadia/Remoting/Monarch.cpp
  src/cascadia/Remoting/Monarch.h
  src/cascadia/Remoting/Monarch.idl
  src/cascadia/Remoting/Peasant.cpp
  src/cascadia/Remoting/Peasant.h
  src/cascadia/Remoting/Peasant.idl
  src/cascadia/Remoting/QuitAllRequestedArgs.cpp
  src/cascadia/Remoting/QuitAllRequestedArgs.h
  src/cascadia/Remoting/WindowManager.cpp
  src/cascadia/Remoting/WindowManager.h
  src/cascadia/Remoting/WindowManager.idl
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalApp/AppLogic.idl
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/SettingsTab.cpp
  src/cascadia/TerminalApp/SettingsTab.h
  src/cascadia/TerminalApp/TabBase.h
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalApp/TerminalWindow.h
  src/cascadia/TerminalApp/TerminalWindow.idl
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsModel/ApplicationState.cpp
  src/cascadia/TerminalSettingsModel/ApplicationState.h
  src/cascadia/TerminalSettingsModel/ApplicationState.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/UnitTests_Remoting/RemotingTests.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
  src/cascadia/WindowsTerminal/WindowEmperor.h
Labels: Issue-Bug, Product-Terminal, Area-CodeHealth, zBugBash-Consider

#17068 Fix persisting the size of a focus mode window
  src/cascadia/TerminalApp/TerminalWindow.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Priority-3

#17136 AtlasEngine: Improve debuggability
  src/renderer/atlas/BackendD3D.cpp
  tools/ConsoleTypes.natvis
Labels: Area-CodeHealth

#17148 Fix the DECTCEM reset position in the conpty stream
  src/renderer/vt/XtermEngine.cpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
Labels: Product-Conpty, Area-VT, Issue-Bug

#16789 Fix the bad default light theme selection background color
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Issue-Bug, Area-Settings, Product-Terminal, Priority-3

#17132 Fix search constantly triggering a scroll
  src/buffer/out/search.cpp
  src/buffer/out/search.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/host/ut_host/SearchTests.cpp
  src/interactivity/win32/find.cpp
  src/types/UiaTextRangeBase.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Priority-1
