Repository microsoft/terminal, pull requests merged in 2024-11, with the labels that each got.

#18109 Fix tab contrast colors when in high contrast
  src/cascadia/TerminalApp/TabBase.cpp
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, Priority-1

#18027 Use floating DIPs throughout the stack
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/ControlInteractivity.idl
  src/cascadia/TerminalControl/HwndTerminal.cpp
  src/cascadia/TerminalControl/HwndTerminal.hpp
  src/cascadia/TerminalControl/InteractivityAutomationPeer.cpp
  src/cascadia/TerminalControl/InteractivityAutomationPeer.h
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/UIHelpers/Converters.cpp
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
  src/cascadia/WindowsTerminal/IslandWindow.cpp
  src/cascadia/WindowsTerminal/IslandWindow.h
  src/types/IControlAccessibilityInfo.h
  src/types/TermControlUiaProvider.cpp
  src/types/TermControlUiaProvider.hpp
  src/types/TermControlUiaTextRange.cpp
Labels: Product-Terminal, Area-CodeHealth, Area-Windowing

#18188 Retain (and indicate) orphaned dynamic profiles
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Base_Orphaned.cpp
  src/cascadia/TerminalSettingsEditor/Profiles_Base_Orphaned.h
  src/cascadia/TerminalSettingsEditor/Profiles_Base_Orphaned.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Base_Orphaned.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/Profile.cpp
  src/cascadia/TerminalSettingsModel/Profile.h
  src/cascadia/TerminalSettingsModel/Profile.idl
Labels: Issue-Bug, Area-Settings, Product-Terminal, Priority-2

#17059 Allow copying with ANSI escape code control sequences
  doc/cascadia/profiles.schema.json
  src/buffer/out/textBuffer.cpp
  src/buffer/out/textBuffer.hpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/ControlInteractivity.idl
  src/cascadia/TerminalControl/HwndTerminal.cpp
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalCore/Terminal.hpp
  src/cascadia/TerminalCore/TerminalSelection.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.h
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
Labels: Issue-Feature, Area-Interaction, Product-Terminal

#18007 Escape single quotes while translating dropped Win32 paths
  src/cascadia/TerminalControl/TermControl.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal

#18229 Revert "Dedup command history by default (#17852)"
  src/host/settings.cpp
  src/propsheet/registry.cpp
Labels: Product-Conhost, Issue-Bug, Priority-3, Area-CookedRead

#18248 Fix infinite recursion in TSF
  src/tsf/Implementation.cpp
  src/tsf/Implementation.h
Labels: Issue-Bug, Product-Terminal, Priority-1
