Repository microsoft/terminal, pull requests merged in 2024-03, with the labels that each got.

#16825 Fix conpty rendering of control characters in the buffer
  src/renderer/vt/paint.cpp
Labels: Area-Rendering, Product-Conpty, Area-Output, Area-VT, Issue-Bug, Product-Terminal, Priority-3

#14073 Added experimental.pixelShaderImagePath
  samples/PixelShaders/BackgroundImage.hlsl
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/IControlAppearance.idl
  src/cascadia/TerminalCore/Terminal.cpp
  src/cascadia/TerminalSettingsModel/IAppearanceConfig.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/inc/ControlProperties.h
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/Backend.h
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/BackendD3D.h
  src/renderer/atlas/atlas.vcxproj
  src/renderer/atlas/common.h
  src/renderer/atlas/pch.h
  src/renderer/atlas/wic.cpp
  src/renderer/atlas/wic.h
  src/renderer/inc/IRenderEngine.hpp
Labels: Product-Terminal, Needs-Discussion, Area-AtlasEngine

#16824 Make ColorFromXOrgAppColorName both smaller and more correct
  src/types/colorTable.cpp
Labels: Area-CodeHealth

#16858 Update CommandPalette.cpp to ignore _filterTextChanged on TabSwitchMode
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Priority-2

#16871 Add support for turning off full-color Emoji
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/FontConfig.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/inc/ControlProperties.h
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/BackendD2D.cpp
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/common.h
  src/renderer/base/FontInfoDesired.cpp
  src/renderer/inc/FontInfoDesired.hpp
Labels: Area-Rendering, Area-Settings, Product-Terminal, Issue-Task, Priority-3

#16820 Clean up the Converters implementation
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.xaml
  src/cascadia/UIHelpers/Converters.cpp
  src/cascadia/UIHelpers/Converters.h
  src/cascadia/UIHelpers/Converters.idl
Labels: Area-CodeHealth

#16823 Add OriginTag to Command
  src/cascadia/TerminalSettingsModel/ActionMap.h
  src/cascadia/TerminalSettingsModel/ActionMapSerialization.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/Command.cpp
  src/cascadia/TerminalSettingsModel/Command.h
  src/cascadia/TerminalSettingsModel/Command.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/UnitTests_SettingsModel/CommandTests.cpp
  src/cascadia/UnitTests_SettingsModel/KeyBindingsTests.cpp
Labels: AutoMerge

#16873 Remove the "set default terminal" banner
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalSettingsModel/ApplicationState.idl
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
Labels: Issue-Bug, Area-Accessibility, Product-Terminal, Priority-3

#16809 Add a pile of 'experimental' settings to the profile SUI
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Advanced.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
Labels: Needs-Tag-Fix

#16894 AtlasEngine: Fix a OOB read when rendering PUA chars
  src/cascadia/TerminalSettingsModel/Command.cpp
  src/cascadia/TerminalSettingsModel/KeyChordSerialization.cpp
  src/inc/til.h
  src/inc/til/bytes.h
  src/inc/til/replace.h
  src/inc/til/type_traits.h
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/BackendD3D.h
  src/til/ut_til/ReplaceTests.cpp
  src/types/colorTable.cpp
Labels: Area-CodeHealth, Area-AtlasEngine

#16920 Add VSCode configs for better out-of-box LSP support
  .vscode/settings.json
Labels: Area-Build, AutoMerge

#16932 Enable /Ob1 in Debug builds
  src/common.build.pre.props
Labels: Area-Build

#16924 Make ploc translations predictable
  build/pipelines/daily-loc-submission.yml
  build/scripts/Generate-PseudoLocalizations.ps1
  scratch/ScratchIslandApp/Package/Resources/qps-ploc/Resources.resw
  scratch/ScratchIslandApp/Package/Resources/qps-ploca/Resources.resw
  scratch/ScratchIslandApp/Package/Resources/qps-plocm/Resources.resw
  src/cascadia/CascadiaPackage/Resources/qps-ploc/Resources.resw
  src/cascadia/CascadiaPackage/Resources/qps-ploca/Resources.resw
  src/cascadia/CascadiaPackage/Resources/qps-plocm/Resources.resw
  src/cascadia/TerminalApp/Resources/qps-ploc/ContextMenu.resw
  src/cascadia/TerminalApp/Resources/qps-ploc/Resources.resw
  src/cascadia/TerminalApp/Resources/qps-ploca/ContextMenu.resw
  src/cascadia/TerminalApp/Resources/qps-ploca/Resources.resw
  src/cascadia/TerminalApp/Resources/qps-plocm/ContextMenu.resw
  src/cascadia/TerminalApp/Resources/qps-plocm/Resources.resw
  src/cascadia/TerminalConnection/Resources/qps-ploc/Resources.resw
  src/cascadia/TerminalConnection/Resources/qps-ploca/Resources.resw
  src/cascadia/TerminalConnection/Resources/qps-plocm/Resources.resw
  src/cascadia/TerminalControl/Resources/qps-ploc/Resources.resw
  src/cascadia/TerminalControl/Resources/qps-ploca/Resources.resw
  src/cascadia/TerminalControl/Resources/qps-plocm/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/qps-ploc/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/qps-ploca/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/qps-plocm/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/qps-ploc/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/qps-ploca/Resources.resw
  src/cascadia/TerminalSettingsModel/Resources/qps-plocm/Resources.resw
  tools/ConvertTo-PseudoLocalization.ps1
Labels: Area-Build

#16170 Refactor Pane to be able to host non-terminal content
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/LocalTests_TerminalApp/pch.h
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/IPaneContent.idl
  src/cascadia/TerminalApp/Pane.cpp
  src/cascadia/TerminalApp/Pane.h
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalAppLib.vcxproj
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPaneContent.cpp
  src/cascadia/TerminalApp/TerminalPaneContent.h
  src/cascadia/TerminalApp/TerminalPaneContent.idl
  src/cascadia/TerminalApp/TerminalTab.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalApp/pch.h
Labels: Issue-Feature, Area-User Interface, Product-Terminal

#16939 AtlasEngine: Make Direct2D/3D and Present1 configurable
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/HwndTerminal.cpp
  src/cascadia/TerminalControl/IControlSettings.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettingsEditor/Rendering.xaml
  src/cascadia/TerminalSettingsEditor/RenderingViewModel.cpp
  src/cascadia/TerminalSettingsEditor/RenderingViewModel.h
  src/cascadia/TerminalSettingsEditor/RenderingViewModel.idl
  src/cascadia/TerminalSettingsEditor/Resources/de-DE/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/es-ES/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/fr-FR/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/it-IT/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/ja-JP/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/ko-KR/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/pt-BR/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/qps-ploc/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/qps-ploca/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/qps-plocm/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/ru-RU/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/zh-CN/Resources.resw
  src/cascadia/TerminalSettingsEditor/Resources/zh-TW/Resources.resw
  src/cascadia/TerminalSettingsModel/EnumMappings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.h
  src/cascadia/TerminalSettingsModel/EnumMappings.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/UnitTests_SettingsModel/SerializationTests.cpp
  src/cascadia/inc/ControlProperties.h
  src/cppwinrt.build.pre.props
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
  src/renderer/atlas/Backend.h
  src/renderer/atlas/common.h
  src/renderer/base/RenderEngineBase.cpp
  src/renderer/inc/IRenderEngine.hpp
  src/renderer/inc/RenderEngineBase.hpp
  src/renderer/uia/UiaRenderer.hpp
  src/renderer/wddmcon/WddmConRenderer.hpp
Labels: Issue-Bug, Product-Terminal, Area-AtlasEngine

#16821 Add support for customizing font fallback
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.cpp
  src/cascadia/TerminalSettingsEditor/Appearances.h
  src/cascadia/TerminalSettingsEditor/Appearances.idl
  src/cascadia/TerminalSettingsEditor/Appearances.xaml
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.cpp
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.h
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/ViewModelHelpers.h
  src/cascadia/UIHelpers/Converters.cpp
  src/cascadia/UIHelpers/Converters.h
  src/cascadia/UIHelpers/Converters.idl
  src/inc/til/string.h
  src/renderer/atlas/AtlasEngine.api.cpp
  src/renderer/atlas/AtlasEngine.cpp
  src/renderer/atlas/AtlasEngine.h
  src/renderer/atlas/AtlasEngine.r.cpp
  src/renderer/atlas/BackendD3D.cpp
  src/renderer/atlas/BackendD3D.h
  src/renderer/atlas/common.h
  src/til/ut_til/string.cpp
  tools/Lock-CascadiaFont.ps1
Labels: Area-Fonts, Area-Settings, Product-Terminal, Issue-Task

#16950 Fix `repositionCursorWithMouse` after the viewport starts scrolling
  src/cascadia/TerminalControl/ControlCore.cpp
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal

#16954 Remove VtApiRoutines
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalCore/ICoreSettings.idl
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Advanced.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/Profile.idl
  src/cascadia/TerminalSettingsModel/TerminalSettings.cpp
  src/cascadia/TerminalSettingsModel/TerminalSettings.h
  src/cascadia/inc/ControlProperties.h
  src/features.xml
  src/host/ConsoleArguments.cpp
  src/host/ConsoleArguments.hpp
  src/host/VtApiRoutines.cpp
  src/host/VtApiRoutines.h
  src/host/VtIo.cpp
  src/host/VtIo.hpp
  src/host/host-common.vcxitems
  src/host/lib/hostlib.vcxproj.filters
  src/host/sources.inc
  src/host/ut_host/ConsoleArgumentsTests.cpp
  src/inc/conpty-static.h
  src/renderer/vt/Xterm256Engine.hpp
  src/renderer/vt/state.cpp
  src/renderer/vt/vtrenderer.hpp
  src/server/ApiSorter.cpp
  src/server/IApiRoutines.h
  src/winconpty/winconpty.cpp
  src/winconpty/winconpty.h
Labels: Area-CodeHealth

#16948 Replace til::bit_cast with std::bit_cast
  src/buffer/out/TextColor.cpp
  src/buffer/out/textBuffer.cpp
  src/host/directio.cpp
  src/host/inputBuffer.cpp
  src/inc/consoletaeftemplates.hpp
  src/inc/til/bit.h
Labels: Area-CodeHealth

#16949 Add a WT_SETTINGS_DIR env variable that portable profiles can use
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
Labels: Area-Settings, Needs-Attention, Product-Terminal, Issue-Task

#16970 Buffer Restore: Fix turning off intense/faint
  src/buffer/out/textBuffer.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal, Priority-3

#16952 Replace til::some with til::small_vector
  src/inc/til/point.h
  src/inc/til/rect.h
  src/inc/til/rle.h
  src/inc/til/size.h
  src/inc/til/small_vector.h
  src/inc/til/some.h
  src/renderer/atlas/BackendD3D.h
  src/renderer/gdi/paint.cpp
  src/server/ApiMessage.h
  src/til/ut_til/BitmapTests.cpp
  src/til/ut_til/PointTests.cpp
  src/til/ut_til/RectangleTests.cpp
  src/til/ut_til/SizeTests.cpp
  src/til/ut_til/SmallVectorTests.cpp
  src/til/ut_til/SomeTests.cpp
  src/til/ut_til/UnicodeTests.cpp
  src/til/ut_til/sources
  src/til/ut_til/til.unit.tests.vcxproj
  src/til/ut_til/til.unit.tests.vcxproj.filters
  src/types/inc/IInputEvent.hpp
  src/types/inc/viewport.hpp
Labels: Area-CodeHealth
