Repository microsoft/terminal, pull requests merged in 2024-12, with the labels that each got.

#18252 Add 10.0.26100.0 to MaxVersionTested
  doc/cascadia/Unittesting-CppWinRT-Xaml.md
  scratch/ScratchIslandApp/Package/Package.appxmanifest
  src/cascadia/CascadiaPackage/Package-Can.appxmanifest
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/CascadiaPackage/Package-Pre.appxmanifest
  src/cascadia/CascadiaPackage/Package.appxmanifest
  src/cascadia/WindowsTerminal/WindowsTerminal.manifest
Labels: Issue-Bug, Area-Build, Product-Terminal

#18228 Properly implement WaitForData for ReadConsoleInput
  src/host/ApiRoutines.h
  src/host/directio.cpp
  src/host/inputBuffer.cpp
  src/host/inputBuffer.hpp
  src/host/readDataDirect.cpp
  src/host/ut_host/InputBufferTests.cpp
  src/server/ApiDispatchers.cpp
  src/server/IApiRoutines.h
Labels: Product-Conhost, Area-Server, Issue-Bug, Priority-2

#18015 Add New Tab Menu Customization to Settings UI
  .github/actions/spelling/allow/allow.txt
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.idl
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj.filters
  src/cascadia/TerminalSettingsEditor/NewTabMenu.cpp
  src/cascadia/TerminalSettingsEditor/NewTabMenu.h
  src/cascadia/TerminalSettingsEditor/NewTabMenu.idl
  src/cascadia/TerminalSettingsEditor/NewTabMenu.xaml
  src/cascadia/TerminalSettingsEditor/NewTabMenuViewModel.cpp
  src/cascadia/TerminalSettingsEditor/NewTabMenuViewModel.h
  src/cascadia/TerminalSettingsEditor/NewTabMenuViewModel.idl
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/SettingContainer.cpp
  src/cascadia/TerminalSettingsEditor/SettingContainer.h
  src/cascadia/TerminalSettingsEditor/SettingContainer.idl
  src/cascadia/TerminalSettingsEditor/SettingContainerStyle.xaml
  src/cascadia/TerminalSettingsEditor/ViewModelHelpers.h
  src/cascadia/TerminalSettingsModel/ActionEntry.cpp
  src/cascadia/TerminalSettingsModel/ActionEntry.h
  src/cascadia/TerminalSettingsModel/FolderEntry.cpp
  src/cascadia/TerminalSettingsModel/FolderEntry.h
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/MatchProfilesEntry.cpp
  src/cascadia/TerminalSettingsModel/MatchProfilesEntry.h
  src/cascadia/TerminalSettingsModel/NewTabMenuEntry.cpp
  src/cascadia/TerminalSettingsModel/NewTabMenuEntry.h
  src/cascadia/TerminalSettingsModel/NewTabMenuEntry.idl
  src/cascadia/TerminalSettingsModel/ProfileEntry.cpp
  src/cascadia/TerminalSettingsModel/ProfileEntry.h
  src/cascadia/TerminalSettingsModel/RemainingProfilesEntry.cpp
  src/cascadia/TerminalSettingsModel/RemainingProfilesEntry.h
  src/cascadia/TerminalSettingsModel/SeparatorEntry.cpp
  src/cascadia/TerminalSettingsModel/SeparatorEntry.h
Labels: Needs-Attention

#18276 Fix til string to integer routines
  src/inc/til/string.h
  src/til/ut_til/string.cpp
Labels: Issue-Bug, Area-CodeHealth, Priority-2

#18013 Open current working directory action.
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettingsModel/ActionAndArgs.cpp
  src/cascadia/TerminalSettingsModel/AllShortcutActions.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-Settings, Product-Terminal, Issue-Task

#17690 Add action for opening settings directory in file explorer
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.cpp
  src/cascadia/TerminalSettingsModel/ActionArgs.idl
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-User Interface, Product-Terminal, Issue-Task, Needs-Discussion

#18056 Closes #18055 - Updated README with Table Of Contents
  README.md
Labels: Issue-Docs, Product-Meta, Needs-Discussion

#17909 Add separate padding settings for left, top, right and bottom
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.cpp
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.h
  src/cascadia/TerminalSettingsEditor/ProfileViewModel.idl
  src/cascadia/TerminalSettingsEditor/Profiles_Appearance.xaml
Labels: Needs-Attention

#18306 Fix colored tab losing color when unselected
  src/cascadia/TerminalApp/TabBase.cpp
Labels: Issue-Bug, Area-User Interface, Product-Terminal

#18321 Simplify handle-uri window targeting
  src/cascadia/CascadiaPackage/Package-Can.appxmanifest
  src/cascadia/CascadiaPackage/Package-Dev.appxmanifest
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
Labels: Area-CodeHealth

#18325 Pass foreground rights to the emperor
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
Labels: Issue-Bug, Product-Terminal, Severity-Blocking, Priority-1, Area-Windowing
