Repository microsoft/terminal, pull requests merged in 2025-05, with the labels that each got.

#18899 Speculative: remove overeager line wrapping in AdaptDispatch
  src/terminal/adapter/adaptDispatch.cpp
Labels: Product-Conpty, Issue-Bug, Area-TerminalControl, Product-Terminal, Priority-2

#18911 Fix one source of mouse vanishing
  .github/actions/spelling/allow/apis.txt
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Issue-Bug, Product-Terminal, Priority-3, Area-Windowing

#18907 Add reset cache and settings buttons to SUI
  src/cascadia/TerminalSettingsEditor/Compatibility.cpp
  src/cascadia/TerminalSettingsEditor/Compatibility.h
  src/cascadia/TerminalSettingsEditor/Compatibility.idl
  src/cascadia/TerminalSettingsEditor/Compatibility.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
Labels: Issue-Feature, Product-Terminal, Area-SettingsUI

#18854 Implement custom text context menus to fix crashes
  .github/actions/spelling/expect/expect.txt
  src/cascadia/TerminalApp/AboutDialog.xaml
  src/cascadia/TerminalApp/CommandPalette.xaml
  src/cascadia/TerminalApp/MarkdownPaneContent.cpp
  src/cascadia/TerminalApp/MarkdownPaneContent.xaml
  src/cascadia/TerminalApp/ScratchpadContent.cpp
  src/cascadia/TerminalApp/SnippetsPaneContent.xaml
  src/cascadia/TerminalApp/SuggestionsControl.xaml
  src/cascadia/TerminalApp/TabHeaderControl.xaml
  src/cascadia/TerminalApp/TabRowControl.xaml
  src/cascadia/TerminalApp/TerminalPage.xaml
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalControl/SearchBoxControl.xaml
  src/cascadia/TerminalControl/TermControl.xaml
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/UIHelpers/Resources/en-US/Resources.resw
  src/cascadia/UIHelpers/TextMenuFlyout.cpp
  src/cascadia/UIHelpers/TextMenuFlyout.h
  src/cascadia/UIHelpers/TextMenuFlyout.idl
  src/cascadia/UIHelpers/UIHelpers.vcxproj
  src/cascadia/UIHelpers/UIHelpers.vcxproj.filters
  src/cascadia/UIHelpers/init.cpp
  src/cascadia/UIHelpers/pch.h
  src/cascadia/UIMarkdown/CodeBlock.xaml
  src/cascadia/UIMarkdown/MarkdownToXaml.cpp
  src/cascadia/UIMarkdown/UIMarkdown.vcxproj
  src/cascadia/UIMarkdown/UIMarkdown.vcxproj.filters
  src/cascadia/UIMarkdown/pch.h
Labels: zBugBash-Consider

#18126 Updated pane context menu
  src/cascadia/TerminalApp/Resources/en-US/Resources.resw
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalTab.h
  src/cascadia/TerminalControl/Resources/en-US/Resources.resw
  src/cascadia/TerminalControl/TermControl.xaml
  src/cascadia/TerminalControl/TerminalControlLib.vcxproj
Labels: Needs-Attention

#18912 Eagerly persist on WM_ENDSESSION
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
  src/cascadia/WindowsTerminal/WindowEmperor.h
Labels: zBugBash-Consider

#18559 Add Extensions page to Settings UI
  src/cascadia/CascadiaPackage/ProfileGeneratorIcons/AzureCloudShell.png
  src/cascadia/CascadiaPackage/ProfileGeneratorIcons/PowerShell.png
  src/cascadia/CascadiaPackage/ProfileGeneratorIcons/SSH.png
  src/cascadia/CascadiaPackage/ProfileGeneratorIcons/VisualStudio.png
  src/cascadia/CascadiaPackage/ProfileGeneratorIcons/WSL.png
  src/cascadia/CascadiaResources.build.items
  src/cascadia/TerminalSettingsEditor/AddProfile.xaml
  src/cascadia/TerminalSettingsEditor/CommonResources.xaml
  src/cascadia/TerminalSettingsEditor/Extensions.cpp
  src/cascadia/TerminalSettingsEditor/Extensions.h
  src/cascadia/TerminalSettingsEditor/Extensions.idl
  src/cascadia/TerminalSettingsEditor/Extensions.xaml
  src/cascadia/TerminalSettingsEditor/MainPage.cpp
  src/cascadia/TerminalSettingsEditor/MainPage.h
  src/cascadia/TerminalSettingsEditor/MainPage.idl
  src/cascadia/TerminalSettingsEditor/MainPage.xaml
  src/cascadia/TerminalSettingsEditor/Microsoft.Terminal.Settings.Editor.vcxproj
  src/cascadia/TerminalSettingsEditor/NewTabMenu.cpp
  src/cascadia/TerminalSettingsEditor/NewTabMenu.h
  src/cascadia/TerminalSettingsEditor/NewTabMenu.xaml
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/SettingContainerStyle.xaml
  src/cascadia/TerminalSettingsModel/ApplicationState.cpp
  src/cascadia/TerminalSettingsModel/ApplicationState.h
  src/cascadia/TerminalSettingsModel/ApplicationState.idl
  src/cascadia/TerminalSettingsModel/AzureCloudShellGenerator.cpp
  src/cascadia/TerminalSettingsModel/AzureCloudShellGenerator.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.cpp
  src/cascadia/TerminalSettingsModel/CascadiaSettings.h
  src/cascadia/TerminalSettingsModel/CascadiaSettings.idl
  src/cascadia/TerminalSettingsModel/CascadiaSettingsSerialization.cpp
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.cpp
  src/cascadia/TerminalSettingsModel/IDynamicProfileGenerator.h
  src/cascadia/TerminalSettingsModel/PowershellCoreProfileGenerator.cpp
  src/cascadia/TerminalSettingsModel/PowershellCoreProfileGenerator.h
  src/cascadia/TerminalSettingsModel/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/SshHostGenerator.cpp
  src/cascadia/TerminalSettingsModel/SshHostGenerator.h
  src/cascadia/TerminalSettingsModel/VisualStudioGenerator.cpp
  src/cascadia/TerminalSettingsModel/VisualStudioGenerator.h
  src/cascadia/TerminalSettingsModel/WslDistroGenerator.cpp
  src/cascadia/TerminalSettingsModel/WslDistroGenerator.h
Labels: zBugBash-Consider

#18942 fix: don't print bidi isolates LRI, RLI, FSI, PDI
  src/renderer/atlas/AtlasEngine.cpp
Labels: Issue-Bug, Product-Terminal, Area-AtlasEngine

#18814 Enable SSH Generator Feature Flag and polish UI
  src/cascadia/CascadiaPackage/ProfileIcons/{550ce7b8-d500-50ad-8a1a-c400c3262db3}.scale-100.png
  src/cascadia/CascadiaPackage/ProfileIcons/{550ce7b8-d500-50ad-8a1a-c400c3262db3}.scale-200.png
  src/cascadia/TerminalSettingsEditor/Extensions.cpp
  src/cascadia/TerminalSettingsEditor/Extensions.h
  src/cascadia/TerminalSettingsEditor/Extensions.idl
  src/cascadia/TerminalSettingsEditor/Extensions.xaml
  src/cascadia/TerminalSettingsModel/SshHostGenerator.cpp
  src/features.xml
Labels: Area-Settings, Product-Terminal, Issue-Task, zBugBash-Consider
