Repository microsoft/terminal, pull requests merged in 2025-03, with the labels that each got.

#18676 Fix a handoff deadlock if layout completes synchronously
  src/cascadia/TerminalConnection/CTerminalHandoff.cpp
  src/cascadia/TerminalConnection/CTerminalHandoff.h
  src/cascadia/TerminalConnection/ConptyConnection.cpp
  src/cascadia/TerminalConnection/ConptyConnection.h
  src/cascadia/TerminalConnection/ConptyConnection.idl
Labels: Issue-Bug, Area-TerminalControl, Product-Terminal, Priority-1

#18681 Fix a ConPTY startup hang with 0-param DA1 responses
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
Labels: Product-Conpty, Area-Input, Issue-Bug, Priority-3

#18684 Add support for language override to unpackaged/portable builds
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/pch.h
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/LaunchViewModel.cpp
  src/cascadia/TerminalSettingsEditor/LaunchViewModel.h
  src/cascadia/TerminalSettingsEditor/LaunchViewModel.idl
Labels: Issue-Feature, Issue-Bug, Area-Settings, Product-Terminal, Priority-3

#18632 Fix a shutdown race condition in ControlCore
  src/cascadia/TerminalApp/DebugTapConnection.cpp
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/HwndTerminal.cpp
  src/host/srvinit.cpp
  src/host/ut_host/ScreenBufferTests.cpp
  src/host/ut_host/SearchTests.cpp
  src/inc/test/CommonState.hpp
  src/interactivity/onecore/ConIoSrvComm.cpp
  src/renderer/base/renderer.cpp
  src/renderer/base/renderer.hpp
  src/renderer/base/thread.cpp
  src/renderer/base/thread.hpp
  src/renderer/inc/DummyRenderer.hpp
Labels: Issue-Bug, Severity-Crash, Product-Terminal, Area-Quality

#18518 Feat preview color scheme on mouse hover
  src/cascadia/TerminalApp/CommandPalette.cpp
  src/cascadia/TerminalApp/CommandPalette.h
Labels: Product-Terminal, Issue-Task, Area-CmdPal
