Repository microsoft/terminal, pull requests merged in 2025-08, with the labels that each got.

#19212 Fix title being stuck after toggling "showTerminalTitleInTitlebar"
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalPage.idl
  src/cascadia/TerminalApp/TerminalWindow.h
  src/cascadia/TerminalApp/TerminalWindow.idl
  src/cascadia/WindowsTerminal/AppHost.cpp
  src/cascadia/WindowsTerminal/AppHost.h
Labels: Issue-Bug, Area-UserInterface, Product-Terminal, Priority-3

#19089 ConPTY: Emit DSR CPR on resize
  src/host/PtySignalInputThread.cpp
  src/host/VtInputThread.cpp
  src/host/VtInputThread.hpp
  src/host/VtIo.cpp
  src/host/VtIo.hpp
  src/terminal/parser/InputStateMachineEngine.cpp
  src/terminal/parser/InputStateMachineEngine.hpp
  src/terminal/parser/ut_parser/InputEngineTest.cpp
Labels: Needs-Attention

#19220 Throttle incoming handoffs so WinUI can layout them
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
Labels: Issue-Bug, Area-UserInterface, Product-Terminal, Priority-1

#19067 Don't trim bracketed pastes
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalControl/ControlCore.cpp
  src/cascadia/TerminalControl/ControlCore.h
  src/cascadia/TerminalControl/ControlCore.idl
  src/cascadia/TerminalControl/ControlInteractivity.cpp
  src/cascadia/TerminalControl/ControlInteractivity.h
  src/cascadia/TerminalControl/ControlInteractivity.idl
  src/cascadia/TerminalControl/EventArgs.cpp
  src/cascadia/TerminalControl/EventArgs.h
  src/cascadia/TerminalControl/EventArgs.idl
  src/cascadia/TerminalControl/TermControl.cpp
  src/cascadia/TerminalControl/TermControl.h
  src/cascadia/TerminalControl/TermControl.idl
  src/cascadia/TerminalSettingsEditor/Interaction.cpp
  src/cascadia/TerminalSettingsEditor/Interaction.h
  src/cascadia/TerminalSettingsEditor/Interaction.idl
  src/cascadia/TerminalSettingsEditor/Interaction.xaml
  src/cascadia/TerminalSettingsEditor/InteractionViewModel.idl
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsModel/EnumMappings.cpp
  src/cascadia/TerminalSettingsModel/EnumMappings.h
  src/cascadia/TerminalSettingsModel/EnumMappings.idl
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/TerminalSettingsSerializationHelpers.h
  src/cascadia/UnitTests_SettingsModel/SerializationTests.cpp
Labels: Area-TerminalControl, Product-Terminal, Issue-Task

#17453 Implement snap-on-input/output for conhost
  src/host/_stream.cpp
  src/host/input.cpp
  src/host/screenInfo.cpp
  src/host/screenInfo.hpp
  src/interactivity/win32/Clipboard.cpp
Labels: Product-Conhost, Area-Input, Area-Interaction, Issue-Bug, Needs-Attention

#19247 Fix SnapOnOutput not always snapping
  src/host/screenInfo.cpp
Labels: Product-Conhost, Area-Output, Issue-Bug, Priority-3
