Repository microsoft/terminal, pull requests merged in 2025-02, with the labels that each got.

#18483 Fix Ctrl+Insert does not copy the selected text from Command Palette
  src/cascadia/TerminalApp/CommandPalette.cpp
Labels: Issue-Bug, Product-Terminal, Priority-3, Area-CmdPal

#18502 Add Oklab based color scheme "Ottosson"
  src/cascadia/TerminalSettingsModel/defaults.json
Labels: Area-Settings, Product-Terminal, Issue-Task

#18530 Remove `startOnUserLogin` from the settings; use OS APIs only
  doc/cascadia/profiles.schema.json
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/AppLogic.h
  src/cascadia/TerminalSettingsEditor/Launch.cpp
  src/cascadia/TerminalSettingsEditor/Launch.xaml
  src/cascadia/TerminalSettingsEditor/LaunchViewModel.cpp
  src/cascadia/TerminalSettingsEditor/LaunchViewModel.h
  src/cascadia/TerminalSettingsEditor/LaunchViewModel.idl
  src/cascadia/TerminalSettingsEditor/Resources/en-US/Resources.resw
  src/cascadia/TerminalSettingsEditor/SettingContainer.cpp
  src/cascadia/TerminalSettingsEditor/SettingContainer.h
  src/cascadia/TerminalSettingsEditor/SettingContainerStyle.xaml
  src/cascadia/TerminalSettingsModel/GlobalAppSettings.idl
  src/cascadia/TerminalSettingsModel/MTSMSettings.h
  src/cascadia/TerminalSettingsModel/defaults.json
  src/cascadia/UnitTests_SettingsModel/SerializationTests.cpp
Labels: Issue-Bug, Area-UserInterface, Product-Terminal, Priority-2

#18588 ConPTY: Fix shutdown if killed during startup
  src/host/VtIo.cpp
  src/host/VtIo.hpp
  src/host/srvinit.cpp
Labels: Product-Conpty, Area-Server, Issue-Bug

#18621 Fix leaking the contents of the first tab in the first window
  src/cascadia/WindowsTerminal/IslandWindow.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-1, Area-Windowing

#18622 Fix persistence of empty windows
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Issue-Bug, Product-Terminal, AutoMerge, Priority-3, Area-Windowing

#18620 Fix a crash when closing tabs
  src/cascadia/TerminalApp/TabBase.cpp
  src/cascadia/TerminalApp/TabManagement.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalTab.cpp
Labels: Issue-Bug, Severity-Crash, Product-Terminal, AutoMerge, Area-Quality

#18347 Add support for tabbing to embedded hyperlinks
  src/cascadia/TerminalCore/TerminalSelection.cpp
Labels: Issue-Feature, Area-Interaction, Issue-Bug, Area-TerminalControl, Product-Terminal, zBugBash-Consider

#18629 Reduce log spam on conhost exit
  src/host/srvinit.cpp
  src/server/ApiMessage.cpp
  src/server/ApiMessage.h
  src/server/ConDrvDeviceComm.cpp
  src/server/WaitBlock.cpp
Labels: Product-Conhost, Area-CodeHealth

#18628 Fix two sources of runtime exceptions
  src/cascadia/TerminalApp/AppLogic.cpp
  src/cascadia/TerminalApp/TabPaletteItem.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
Labels: Issue-Bug, Product-Terminal, Area-CodeHealth, Priority-3

#18602 Bugfix: don't round to nearest cell for mouse movements and VT mouse mode
  src/cascadia/TerminalControl/ControlInteractivity.cpp
Labels: Area-Interaction, Issue-Bug, Product-Terminal, Impact-Visual, Impact-Correctness

#18627 Fix panes being dropped when tearing off tabs
  src/cascadia/LocalTests_TerminalApp/TabTests.cpp
  src/cascadia/TerminalApp/AppActionHandlers.cpp
  src/cascadia/TerminalApp/TerminalPage.cpp
  src/cascadia/TerminalApp/TerminalPage.h
  src/cascadia/TerminalApp/TerminalWindow.cpp
Labels: Issue-Bug, Product-Terminal, Priority-1, Area-Windowing

#18623 Fix persistence of the last closed window
  src/cascadia/WindowsTerminal/WindowEmperor.cpp
  src/cascadia/WindowsTerminal/WindowEmperor.h
Labels: Issue-Bug, Product-Terminal, Priority-2, Area-Windowing

#18636 Fix dialogs not working across multiple windows
  src/cascadia/TerminalApp/TerminalWindow.cpp
  src/cascadia/TerminalApp/TerminalWindow.h
Labels: Issue-Bug, Product-Terminal, Priority-1, Area-Windowing
